IyEvdXNyL2Jpbi9lbnYgYmFzaApzZXQgLWV1byBwaXBlZmFpbAoKQ09ORklHX0RJUj0iJHtCVVpa
X0NPTkZJR19ESVI6LS9jb25maWd9IgoKZm9yIGZpbGUgaW4gIiR7Q09ORklHX0RJUn0vZ2VuZXJh
dGVkLmVudiIgIiR7Q09ORklHX0RJUn0vcnVudGltZS5lbnYiOyBkbwogIGlmIFtbIC1mICIkZmls
ZSIgXV07IHRoZW4KICAgIHNldCAtYQogICAgIyBzaGVsbGNoZWNrIGRpc2FibGU9U0MxMDkwCiAg
ICAuICIkZmlsZSIKICAgIHNldCArYQogIGZpCmRvbmUKCmlmIFtbIC16ICIke0JVWlpfUkVMQVlf
UFJJVkFURV9LRVk6LX0iIF1dOyB0aGVuCiAgcHJpbnRmICdNaXNzaW5nICVzL2dlbmVyYXRlZC5l
bnYuIFN0YXJ0IHRoZSByZWxheSBvbmNlIHNvIFVtYnJlbCBjYW4gZ2VuZXJhdGUgcmVsYXkgc2Vj
cmV0cy5cbicgIiRDT05GSUdfRElSIiA+JjIKICBleGl0IDc4CmZpCgpleGVjIC91c3IvbG9jYWwv
YmluL2J1enotYWRtaW4gIiRAIgo=
