IyEvdXNyL2Jpbi9lbnYgYmFzaApzZXQgLWV1byBwaXBlZmFpbAoKc291cmNlIC9vcHQvdW1icmVs
LWJ1enovc2VydmljZS11cmxzLnNoCgpDT05GSUdfRElSPSIke0JVWlpfQ09ORklHX0RJUjotL2Nv
bmZpZ30iClNFQ1JFVFNfRklMRT0iJHtDT05GSUdfRElSfS9nZW5lcmF0ZWQuZW52IgpSVU5USU1F
X0ZJTEU9IiR7Q09ORklHX0RJUn0vcnVudGltZS5lbnYiCk9XTkVSX0ZJTEU9IiR7Q09ORklHX0RJ
Un0vcmVsYXktb3duZXItcHVia2V5IgpQRU5ESU5HX09XTkVSX0ZJTEU9IiR7Q09ORklHX0RJUn0v
cGVuZGluZy1vd25lci1wdWJrZXkiClJFTEFZX1VSTF9GSUxFPSIke0NPTkZJR19ESVJ9L3JlbGF5
LXVybCIKTUVESUFfQkFTRV9VUkxfRklMRT0iJHtDT05GSUdfRElSfS9tZWRpYS1iYXNlLXVybCIK
Q09SU19PUklHSU5TX0ZJTEU9IiR7Q09ORklHX0RJUn0vY29ycy1vcmlnaW5zIgpSRVNFVF9SRVFV
RVNUX0ZJTEU9IiR7Q09ORklHX0RJUn0vcmVzZXQtcmVxdWVzdCIKUkVTRVRfQ09NUExFVEVEX0ZJ
TEU9IiR7Q09ORklHX0RJUn0vcmVzZXQtY29tcGxldGVkIgpSRVNFVF9FUlJPUl9GSUxFPSIke0NP
TkZJR19ESVJ9L3Jlc2V0LWVycm9yIgpSRUxBWV9TVE9QUEVEX0ZJTEU9IiR7Q09ORklHX0RJUn0v
cmVzZXQtcmVsYXktc3RvcHBlZCIKUkVTRVRfQUNLX0RJUj0iJHtDT05GSUdfRElSfS9yZXNldC1h
Y2tzIgpSRVNUQVJUX1JFUVVFU1RfRklMRT0iJHtDT05GSUdfRElSfS9yZXN0YXJ0LXJlcXVlc3Qi
ClJFU1RBUlRfQ09NUExFVEVEX0ZJTEU9IiR7Q09ORklHX0RJUn0vcmVzdGFydC1jb21wbGV0ZWQi
Ck1JTklPX0lOSVRJQUxJWkVEX0ZJTEU9IiR7Q09ORklHX0RJUn0vbWluaW8taW5pdGlhbGl6ZWQi
ClNUQVRFX0ZJTEU9IiR7Q09ORklHX0RJUn0vcmVsYXktc3RhdGUiCkdJVF9ESVI9IiR7QlVaWl9H
SVRfUkVQT19QQVRIOi0vZGF0YS9naXR9IgpHSVRfQ0FDSEVfRElSPSIke0JVWlpfR0lUX1BBQ0tf
Q0FDSEVfUEFUSDotL2RhdGEvZ2l0LWNhY2hlfSIKUkVMQVlfUElEPSIiCgpsb2coKSB7CiAgcHJp
bnRmICdbdW1icmVsLWJ1enpdICVzXG4nICIkKiIgPiYyCn0KCmZpcnN0X2xpbmUoKSB7CiAgbG9j
YWwgZmlsZT0iJDEiCiAgaWYgW1sgLWYgIiRmaWxlIiBdXTsgdGhlbgogICAgYXdrICdORiAmJiAk
MSAhfiAvXiMvIHsgZ3N1YigvXHIvLCAiIik7IGdzdWIoL1tbOnNwYWNlOl1dLywgIiIpOyBwcmlu
dDsgZXhpdCB9JyAiJGZpbGUiCiAgZmkKfQoKd3JpdGVfbWFya2VyKCkgewogIGxvY2FsIGRlc3Rp
bmF0aW9uPSIkMSIKICBsb2NhbCB2YWx1ZT0iJDIiCiAgbG9jYWwgdGVtcG9yYXJ5PSIke2Rlc3Rp
bmF0aW9ufS50bXAuJCQiCiAgcHJpbnRmICclc1xuJyAiJHZhbHVlIiA+ICIkdGVtcG9yYXJ5Igog
IG12ICIkdGVtcG9yYXJ5IiAiJGRlc3RpbmF0aW9uIgp9Cgp3cml0ZV9zdGF0ZSgpIHsKICB3cml0
ZV9tYXJrZXIgIiRTVEFURV9GSUxFIiAiJDEiCn0KCndyaXRlX3NoZWxsX3ZhcigpIHsKICBsb2Nh
bCBuYW1lPSIkMSIKICBsb2NhbCB2YWx1ZT0iJDIiCiAgcHJpbnRmICclcz0lcVxuJyAiJG5hbWUi
ICIkdmFsdWUiCn0KCmVuc3VyZV9oZXhfc2VjcmV0KCkgewogIGxvY2FsIG5hbWU9IiQxIgogIGlm
ICEgZ3JlcCAtRXEgIl4ke25hbWV9PVswLTlhLWZBLUZdezY0fSQiICIkU0VDUkVUU19GSUxFIiAy
Pi9kZXYvbnVsbDsgdGhlbgogICAgd3JpdGVfc2hlbGxfdmFyICIkbmFtZSIgIiQob3BlbnNzbCBy
YW5kIC1oZXggMzIpIiA+PiAiJFNFQ1JFVFNfRklMRSIKICBmaQp9CgplbnN1cmVfc2VjcmV0cygp
IHsKICB1bWFzayAwNzcKICB0b3VjaCAiJFNFQ1JFVFNfRklMRSIKICBjaG1vZCA2MDAgIiRTRUNS
RVRTX0ZJTEUiCiAgZW5zdXJlX2hleF9zZWNyZXQgQlVaWl9SRUxBWV9QUklWQVRFX0tFWQogIGVu
c3VyZV9oZXhfc2VjcmV0IEJVWlpfR0lUX0hPT0tfSE1BQ19TRUNSRVQKfQoKZGVyaXZlX21lZGlh
X2Jhc2VfdXJsKCkgewogIGxvY2FsIHJlbGF5X3VybD0iJDEiCiAgY2FzZSAiJHJlbGF5X3VybCIg
aW4KICAgIHdzczovLyopIHByaW50ZiAnaHR0cHM6Ly8lcy9tZWRpYVxuJyAiJHtyZWxheV91cmwj
d3NzOi8vfSIgOzsKICAgIHdzOi8vKikgcHJpbnRmICdodHRwOi8vJXMvbWVkaWFcbicgIiR7cmVs
YXlfdXJsI3dzOi8vfSIgOzsKICAgICopIHByaW50ZiAnaHR0cDovL2xvY2FsaG9zdDozMDAwL21l
ZGlhXG4nIDs7CiAgZXNhYwp9CgpkZXJpdmVfY29yc19vcmlnaW4oKSB7CiAgbG9jYWwgcmVsYXlf
dXJsPSIkMSIKICBjYXNlICIkcmVsYXlfdXJsIiBpbgogICAgd3NzOi8vKikgcHJpbnRmICdodHRw
czovLyVzXG4nICIke3JlbGF5X3VybCN3c3M6Ly99IiA7OwogICAgd3M6Ly8qKSBwcmludGYgJ2h0
dHA6Ly8lc1xuJyAiJHtyZWxheV91cmwjd3M6Ly99IiA7OwogICAgKikgcHJpbnRmICdodHRwOi8v
bG9jYWxob3N0OjMwMDBcbicgOzsKICBlc2FjCn0KCmxvYWRfb3duZXIoKSB7CiAgbG9jYWwgb3du
ZXJfcHVia2V5PSIke1JFTEFZX09XTkVSX1BVQktFWTotfSIKICBpZiBbWyAteiAiJG93bmVyX3B1
YmtleSIgXV07IHRoZW4KICAgIG93bmVyX3B1YmtleT0iJChmaXJzdF9saW5lICIkT1dORVJfRklM
RSIpIgogIGZpCiAgb3duZXJfcHVia2V5PSIkKHByaW50ZiAnJXMnICIkb3duZXJfcHVia2V5IiB8
IHRyICdBLUYnICdhLWYnKSIKICBpZiBbWyAiJG93bmVyX3B1YmtleSIgPX4gXlswLTlhLWZdezY0
fSQgXV07IHRoZW4KICAgIHByaW50ZiAnJXNcbicgIiRvd25lcl9wdWJrZXkiCiAgICByZXR1cm4g
MAogIGZpCiAgcmV0dXJuIDEKfQoKd3JpdGVfcnVudGltZSgpIHsKICBsb2NhbCBvd25lcl9wdWJr
ZXk9IiQxIgogIGxvY2FsIHJlbGF5X3VybD0iJDIiCiAgbG9jYWwgbWVkaWFfYmFzZV91cmwgY29y
c19vcmlnaW5zCgogIG1lZGlhX2Jhc2VfdXJsPSIke0JVWlpfTUVESUFfQkFTRV9VUkw6LSQoZmly
c3RfbGluZSAiJE1FRElBX0JBU0VfVVJMX0ZJTEUiKX0iCiAgbWVkaWFfYmFzZV91cmw9IiR7bWVk
aWFfYmFzZV91cmw6LSQoZGVyaXZlX21lZGlhX2Jhc2VfdXJsICIkcmVsYXlfdXJsIil9IgogIGNv
cnNfb3JpZ2lucz0iJHtCVVpaX0NPUlNfT1JJR0lOUzotJChmaXJzdF9saW5lICIkQ09SU19PUklH
SU5TX0ZJTEUiKX0iCiAgY29yc19vcmlnaW5zPSIke2NvcnNfb3JpZ2luczotJChkZXJpdmVfY29y
c19vcmlnaW4gIiRyZWxheV91cmwiKX0iCgogIHsKICAgIHdyaXRlX3NoZWxsX3ZhciBSRUxBWV9V
UkwgIiRyZWxheV91cmwiCiAgICB3cml0ZV9zaGVsbF92YXIgQlVaWl9NRURJQV9CQVNFX1VSTCAi
JG1lZGlhX2Jhc2VfdXJsIgogICAgd3JpdGVfc2hlbGxfdmFyIEJVWlpfQ09SU19PUklHSU5TICIk
Y29yc19vcmlnaW5zIgogICAgd3JpdGVfc2hlbGxfdmFyIFJFTEFZX09XTkVSX1BVQktFWSAiJG93
bmVyX3B1YmtleSIKICB9ID4gIiR7UlVOVElNRV9GSUxFfS50bXAiCiAgbXYgIiR7UlVOVElNRV9G
SUxFfS50bXAiICIkUlVOVElNRV9GSUxFIgogIGNobW9kIDYwMCAiJFJVTlRJTUVfRklMRSIKfQoK
bG9hZF9yZWxheV91cmwoKSB7CiAgbG9jYWwgcmVsYXlfdXJsCiAgcmVsYXlfdXJsPSIke1JFTEFZ
X1VSTDotJChmaXJzdF9saW5lICIkUkVMQVlfVVJMX0ZJTEUiKX0iCiAgaWYgW1sgLXogIiRyZWxh
eV91cmwiIF1dOyB0aGVuCiAgICByZXR1cm4gMQogIGZpCiAgaWYgW1sgISAiJHJlbGF5X3VybCIg
PX4gXndzcz86Ly9bXi9bOnNwYWNlOl1dKy8/JCBdXTsgdGhlbgogICAgbG9nICJJbnZhbGlkIHJl
bGF5IFVSTCAnJHtyZWxheV91cmx9Jy4gVXNlIGEgcm9vdCB3czovLyBvciB3c3M6Ly8gVVJMLiIK
ICAgIHJldHVybiAxCiAgZmkKICBwcmludGYgJyVzXG4nICIke3JlbGF5X3VybCUvfSIKfQoKc3Rh
cnRfcmVsYXkoKSB7CiAgbG9jYWwgb3duZXJfcHVia2V5PSIkMSIKICBsb2NhbCByZWxheV91cmw9
IiQyIgogIGVuc3VyZV9zZWNyZXRzCiAgd3JpdGVfcnVudGltZSAiJG93bmVyX3B1YmtleSIgIiRy
ZWxheV91cmwiCiAgc2V0IC1hCiAgIyBzaGVsbGNoZWNrIGRpc2FibGU9U0MxMDkwCiAgLiAiJFNF
Q1JFVFNfRklMRSIKICAjIHNoZWxsY2hlY2sgZGlzYWJsZT1TQzEwOTAKICAuICIkUlVOVElNRV9G
SUxFIgogIHNldCArYQogIHdyaXRlX3N0YXRlIHN0YXJ0aW5nCiAgbG9nICJTdGFydGluZyBCdXp6
IHJlbGF5IGZvciAke1JFTEFZX1VSTH0iCiAgL3Vzci9sb2NhbC9iaW4vYnV6ei1yZWxheSAmCiAg
UkVMQVlfUElEPSQhCn0KCnN0b3BfcmVsYXkoKSB7CiAgaWYgW1sgLW4gIiRSRUxBWV9QSUQiIF1d
ICYmIGtpbGwgLTAgIiRSRUxBWV9QSUQiIDI+L2Rldi9udWxsOyB0aGVuCiAgICB3cml0ZV9zdGF0
ZSBzdG9wcGluZwogICAgbG9nICJTdG9wcGluZyBCdXp6IHJlbGF5IgogICAga2lsbCAtVEVSTSAi
JFJFTEFZX1BJRCIKICAgIHdhaXQgIiRSRUxBWV9QSUQiIHx8IHRydWUKICBmaQogIFJFTEFZX1BJ
RD0iIgp9CgpjbGVhcl9kaXJlY3RvcnkoKSB7CiAgbG9jYWwgZGlyZWN0b3J5PSIkMSIKICBjYXNl
ICIkZGlyZWN0b3J5IiBpbgogICAgL2RhdGEvZ2l0fC9kYXRhL2dpdC1jYWNoZSkgOzsKICAgICop
CiAgICAgIGxvZyAiUmVmdXNpbmcgdG8gY2xlYXIgdW5leHBlY3RlZCBkaXJlY3Rvcnk6ICR7ZGly
ZWN0b3J5fSIKICAgICAgcmV0dXJuIDEKICAgICAgOzsKICBlc2FjCiAgZmluZCAiJGRpcmVjdG9y
eSIgLW1pbmRlcHRoIDEgLW1heGRlcHRoIDEgLWV4ZWMgcm0gLXJmIC0tIHt9ICsKfQoKd2FpdF9m
b3JfcmVzZXRfYWNrKCkgewogIGxvY2FsIHJlcXVlc3RfaWQ9IiQxIgogIGxvY2FsIG5hbWU9IiQy
IgogIGxvY2FsIHBhdGg9IiR7UkVTRVRfQUNLX0RJUn0vJHtuYW1lfS1yZWFkeSIKICB3aGlsZSBb
WyAiJChmaXJzdF9saW5lICIkcGF0aCIpIiAhPSAiJHJlcXVlc3RfaWQiIF1dOyBkbwogICAgaWYg
W1sgIiQoZmlyc3RfbGluZSAiJFJFU0VUX1JFUVVFU1RfRklMRSIpIiAhPSAiJHJlcXVlc3RfaWQi
IF1dOyB0aGVuCiAgICAgIHJldHVybiAxCiAgICBmaQogICAgc2xlZXAgMQogIGRvbmUKfQoKcGVy
Zm9ybV9yZXNldCgpIHsKICBsb2NhbCByZXF1ZXN0X2lkPSIkMSIKICBsb2NhbCBwZW5kaW5nX293
bmVyCiAgcGVuZGluZ19vd25lcj0iJChmaXJzdF9saW5lICIkUEVORElOR19PV05FUl9GSUxFIiki
CiAgcGVuZGluZ19vd25lcj0iJChwcmludGYgJyVzJyAiJHBlbmRpbmdfb3duZXIiIHwgdHIgJ0Et
RicgJ2EtZicpIgogIGlmIFtbICEgIiRwZW5kaW5nX293bmVyIiA9fiBeWzAtOWEtZl17NjR9JCBd
XTsgdGhlbgogICAgd3JpdGVfbWFya2VyICIkUkVTRVRfRVJST1JfRklMRSIgIlJlc2V0IHJlamVj
dGVkIGJlY2F1c2UgdGhlIHBlbmRpbmcgb3duZXIgcHVibGljIGtleSBpcyBpbnZhbGlkLiIKICAg
IHJtIC1mICIkUkVTRVRfUkVRVUVTVF9GSUxFIiAiJFBFTkRJTkdfT1dORVJfRklMRSIKICAgIHJl
dHVybiAxCiAgZmkKCiAgc3RvcF9yZWxheQogIHdyaXRlX3N0YXRlIHJlc2V0dGluZwogIHdyaXRl
X21hcmtlciAiJFJFTEFZX1NUT1BQRURfRklMRSIgIiRyZXF1ZXN0X2lkIgogIGxvZyAiV2FpdGlu
ZyBmb3IgZGF0YWJhc2UsIGNhY2hlLCBhbmQgb2JqZWN0IHN0b3JhZ2UgcmVzZXQgJHtyZXF1ZXN0
X2lkfSIKICBpZiAhIHdhaXRfZm9yX3Jlc2V0X2FjayAiJHJlcXVlc3RfaWQiIHBvc3RncmVzIHx8
CiAgICAgISB3YWl0X2Zvcl9yZXNldF9hY2sgIiRyZXF1ZXN0X2lkIiByZWRpcyB8fAogICAgICEg
d2FpdF9mb3JfcmVzZXRfYWNrICIkcmVxdWVzdF9pZCIgbWluaW87IHRoZW4KICAgIHdyaXRlX21h
cmtlciAiJFJFU0VUX0VSUk9SX0ZJTEUiICJSZXNldCBjb29yZGluYXRpb24gd2FzIGludGVycnVw
dGVkIGJlZm9yZSBzdG9yYWdlIHNlcnZpY2VzIHdlcmUgcmVhZHkuIgogICAgcmV0dXJuIDEKICBm
aQoKICBpZiAhIGNsZWFyX2RpcmVjdG9yeSAiJEdJVF9ESVIiIHx8ICEgY2xlYXJfZGlyZWN0b3J5
ICIkR0lUX0NBQ0hFX0RJUiI7IHRoZW4KICAgIHdyaXRlX21hcmtlciAiJFJFU0VUX0VSUk9SX0ZJ
TEUiICJSZXNldCBzdG9wcGVkIGJlY2F1c2UgcmVwb3NpdG9yeSBzdG9yYWdlIGNvdWxkIG5vdCBi
ZSBjbGVhcmVkLiIKICAgIHJldHVybiAxCiAgZmkKICBybSAtZiAiJFNFQ1JFVFNfRklMRSIgIiRS
VU5USU1FX0ZJTEUiCiAgaWYgISBtdiAiJFBFTkRJTkdfT1dORVJfRklMRSIgIiRPV05FUl9GSUxF
IjsgdGhlbgogICAgd3JpdGVfbWFya2VyICIkUkVTRVRfRVJST1JfRklMRSIgIlJlc2V0IHN0b3Bw
ZWQgYmVjYXVzZSB0aGUgcGVuZGluZyBvd25lciBrZXkgY291bGQgbm90IGJlIHByb21vdGVkLiIK
ICAgIHJldHVybiAxCiAgZmkKICBjaG1vZCA2MDAgIiRPV05FUl9GSUxFIgogIHdyaXRlX21hcmtl
ciAiJFJFU0VUX0NPTVBMRVRFRF9GSUxFIiAiJHJlcXVlc3RfaWQiCiAgcm0gLWYgIiRSRVNFVF9S
RVFVRVNUX0ZJTEUiICIkUkVTRVRfRVJST1JfRklMRSIgIiRSRUxBWV9TVE9QUEVEX0ZJTEUiCiAg
bG9nICJGdWxsIGFwcGxpY2F0aW9uIGRhdGEgcmVzZXQgJHtyZXF1ZXN0X2lkfSBjb21wbGV0ZSIK
fQoKc2h1dGRvd24oKSB7CiAgc3RvcF9yZWxheQogIGV4aXQgMAp9Cgp0cmFwIHNodXRkb3duIElO
VCBURVJNCm1rZGlyIC1wICIkQ09ORklHX0RJUiIgIiRSRVNFVF9BQ0tfRElSIiAiJEdJVF9ESVIi
ICIkR0lUX0NBQ0hFX0RJUiIKdW1hc2sgMDc3CmNvbmZpZ3VyZV9idXp6X3NlcnZpY2VfdXJscwoK
d2hpbGUgdHJ1ZTsgZG8KICByZXNldF9pZD0iJChmaXJzdF9saW5lICIkUkVTRVRfUkVRVUVTVF9G
SUxFIikiCiAgaWYgW1sgLW4gIiRyZXNldF9pZCIgJiYgIiQoZmlyc3RfbGluZSAiJFJFU0VUX0NP
TVBMRVRFRF9GSUxFIikiICE9ICIkcmVzZXRfaWQiIF1dOyB0aGVuCiAgICBwZXJmb3JtX3Jlc2V0
ICIkcmVzZXRfaWQiIHx8IHRydWUKICAgIHNsZWVwIDEKICAgIGNvbnRpbnVlCiAgZmkKCiAgcmVz
dGFydF9pZD0iJChmaXJzdF9saW5lICIkUkVTVEFSVF9SRVFVRVNUX0ZJTEUiKSIKICBpZiBbWyAt
biAiJHJlc3RhcnRfaWQiIF1dOyB0aGVuCiAgICB3cml0ZV9tYXJrZXIgIiRSRVNUQVJUX0NPTVBM
RVRFRF9GSUxFIiAiJHJlc3RhcnRfaWQiCiAgICBybSAtZiAiJFJFU1RBUlRfUkVRVUVTVF9GSUxF
IgogIGZpCgogIGlmICEgb3duZXJfcHVia2V5PSIkKGxvYWRfb3duZXIpIjsgdGhlbgogICAgd3Jp
dGVfc3RhdGUgd2FpdGluZy1mb3ItY29uZmlndXJhdGlvbgogICAgc2xlZXAgMgogICAgY29udGlu
dWUKICBmaQoKICBpZiAhIHJlbGF5X3VybD0iJChsb2FkX3JlbGF5X3VybCkiOyB0aGVuCiAgICB3
cml0ZV9zdGF0ZSB3YWl0aW5nLWZvci1jYW5vbmljYWwtdXJsCiAgICBzbGVlcCAyCiAgICBjb250
aW51ZQogIGZpCgogIGlmIFtbICIkKGZpcnN0X2xpbmUgIiRNSU5JT19JTklUSUFMSVpFRF9GSUxF
IikiICE9IHJlYWR5IF1dOyB0aGVuCiAgICB3cml0ZV9zdGF0ZSB3YWl0aW5nLWZvci1zdG9yYWdl
CiAgICBzbGVlcCAyCiAgICBjb250aW51ZQogIGZpCgogIHN0YXJ0X3JlbGF5ICIkb3duZXJfcHVi
a2V5IiAiJHJlbGF5X3VybCIKICBhY3Rpb249IiIKICB3aGlsZSBraWxsIC0wICIkUkVMQVlfUElE
IiAyPi9kZXYvbnVsbDsgZG8KICAgIHJlc2V0X2lkPSIkKGZpcnN0X2xpbmUgIiRSRVNFVF9SRVFV
RVNUX0ZJTEUiKSIKICAgIHJlc3RhcnRfaWQ9IiQoZmlyc3RfbGluZSAiJFJFU1RBUlRfUkVRVUVT
VF9GSUxFIikiCiAgICBpZiBbWyAtbiAiJHJlc2V0X2lkIiBdXTsgdGhlbgogICAgICBhY3Rpb249
cmVzZXQKICAgICAgYnJlYWsKICAgIGZpCiAgICBpZiBbWyAtbiAiJHJlc3RhcnRfaWQiIF1dOyB0
aGVuCiAgICAgIGFjdGlvbj1yZXN0YXJ0CiAgICAgIGJyZWFrCiAgICBmaQogICAgc2xlZXAgMgog
IGRvbmUKCiAgaWYgW1sgIiRhY3Rpb24iID09IHJlc2V0IF1dOyB0aGVuCiAgICBwZXJmb3JtX3Jl
c2V0ICIkcmVzZXRfaWQiIHx8IHRydWUKICAgIGNvbnRpbnVlCiAgZmkKICBpZiBbWyAiJGFjdGlv
biIgPT0gcmVzdGFydCBdXTsgdGhlbgogICAgc3RvcF9yZWxheQogICAgd3JpdGVfbWFya2VyICIk
UkVTVEFSVF9DT01QTEVURURfRklMRSIgIiRyZXN0YXJ0X2lkIgogICAgcm0gLWYgIiRSRVNUQVJU
X1JFUVVFU1RfRklMRSIKICAgIGxvZyAiTmV0d29yayBzZXR0aW5ncyBhcHBsaWVkOyByZXN0YXJ0
aW5nIHJlbGF5IgogICAgY29udGludWUKICBmaQoKICB3YWl0ICIkUkVMQVlfUElEIiB8fCB0cnVl
CiAgUkVMQVlfUElEPSIiCiAgd3JpdGVfc3RhdGUgcmV0cnlpbmctYWZ0ZXItZXhpdAogIGxvZyAi
UmVsYXkgcHJvY2VzcyBleGl0ZWQ7IHJldHJ5aW5nIgogIHNsZWVwIDMKZG9uZQo=
