IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoiIiJMb2NhbCBjb25maWd1cmF0aW9uIFVJIGZvciB0aGUg
VW1icmVsIEJ1enogcmVsYXkgcGFja2FnZS4iIiIKCmZyb20gX19mdXR1cmVfXyBpbXBvcnQgYW5u
b3RhdGlvbnMKCmltcG9ydCBoYXNobGliCmltcG9ydCBodHRwLmNsaWVudAppbXBvcnQganNvbgpp
bXBvcnQgbWltZXR5cGVzCmltcG9ydCBvcwppbXBvcnQgcmUKaW1wb3J0IHRlbXBmaWxlCmltcG9y
dCB0aHJlYWRpbmcKaW1wb3J0IHV1aWQKZnJvbSBodHRwIGltcG9ydCBIVFRQU3RhdHVzCmZyb20g
aHR0cC5zZXJ2ZXIgaW1wb3J0IEJhc2VIVFRQUmVxdWVzdEhhbmRsZXIsIFRocmVhZGluZ0hUVFBT
ZXJ2ZXIKZnJvbSBwYXRobGliIGltcG9ydCBQYXRoCmZyb20gdXJsbGliLnBhcnNlIGltcG9ydCB1
cmxzcGxpdAoKCkNPTkZJR19ESVIgPSBQYXRoKG9zLmVudmlyb24uZ2V0KCJCVVpaX0NPTkZJR19E
SVIiLCAiL2NvbmZpZyIpKQpTVEFUSUNfRElSID0gUGF0aChvcy5lbnZpcm9uLmdldCgiQlVaWl9T
RVRVUF9TVEFUSUNfRElSIiwgIi9hcHAvc3RhdGljIikpClJFTEFZX0hFQUxUSF9IT1NUID0gb3Mu
ZW52aXJvbi5nZXQoIkJVWlpfUkVMQVlfSEVBTFRIX0hPU1QiLCAiYnV6ei1yZWxheV9yZWxheV8x
IikKUkVMQVlfSEVBTFRIX1BPUlQgPSBpbnQob3MuZW52aXJvbi5nZXQoIkJVWlpfUkVMQVlfSEVB
TFRIX1BPUlQiLCAiODA4MCIpKQpERUZBVUxUX1JFTEFZX1VSTCA9IG9zLmVudmlyb24uZ2V0KCJC
VVpaX0RFRkFVTFRfUkVMQVlfVVJMIiwgIiIpCgpPV05FUl9GSUxFID0gQ09ORklHX0RJUiAvICJy
ZWxheS1vd25lci1wdWJrZXkiClBFTkRJTkdfT1dORVJfRklMRSA9IENPTkZJR19ESVIgLyAicGVu
ZGluZy1vd25lci1wdWJrZXkiClJFTEFZX1VSTF9GSUxFID0gQ09ORklHX0RJUiAvICJyZWxheS11
cmwiCk1FRElBX1VSTF9GSUxFID0gQ09ORklHX0RJUiAvICJtZWRpYS1iYXNlLXVybCIKQ09SU19G
SUxFID0gQ09ORklHX0RJUiAvICJjb3JzLW9yaWdpbnMiClJFU0VUX1JFUVVFU1RfRklMRSA9IENP
TkZJR19ESVIgLyAicmVzZXQtcmVxdWVzdCIKUkVTRVRfQ09NUExFVEVEX0ZJTEUgPSBDT05GSUdf
RElSIC8gInJlc2V0LWNvbXBsZXRlZCIKUkVTRVRfRVJST1JfRklMRSA9IENPTkZJR19ESVIgLyAi
cmVzZXQtZXJyb3IiClJFU1RBUlRfUkVRVUVTVF9GSUxFID0gQ09ORklHX0RJUiAvICJyZXN0YXJ0
LXJlcXVlc3QiClJFU1RBUlRfQ09NUExFVEVEX0ZJTEUgPSBDT05GSUdfRElSIC8gInJlc3RhcnQt
Y29tcGxldGVkIgpSRUxBWV9TVEFURV9GSUxFID0gQ09ORklHX0RJUiAvICJyZWxheS1zdGF0ZSIK
CkhFWF9LRVlfUkUgPSByZS5jb21waWxlKHIiXlswLTlhLWZBLUZdezY0fSQiKQpCRUNIMzJfQ0hB
UlNFVCA9ICJxcHpyeTl4OGdmMnR2ZHcwczNqbjU0a2hjZTZtdWE3bCIKQkVDSDMyX0xPT0tVUCA9
IHtjaGFyOiBpbmRleCBmb3IgaW5kZXgsIGNoYXIgaW4gZW51bWVyYXRlKEJFQ0gzMl9DSEFSU0VU
KX0KV1JJVEVfTE9DSyA9IHRocmVhZGluZy5Mb2NrKCkKCgpjbGFzcyBJbnB1dEVycm9yKFZhbHVl
RXJyb3IpOgogICAgIiIiQSBzYWZlIHZhbGlkYXRpb24gZXJyb3IgdGhhdCBjYW4gYmUgcmV0dXJu
ZWQgdG8gdGhlIFVJLiIiIgoKCmRlZiByZWFkX2ZpcnN0X2xpbmUocGF0aDogUGF0aCkgLT4gc3Ry
OgogICAgdHJ5OgogICAgICAgIGZvciBsaW5lIGluIHBhdGgucmVhZF90ZXh0KGVuY29kaW5nPSJ1
dGYtOCIpLnNwbGl0bGluZXMoKToKICAgICAgICAgICAgdmFsdWUgPSBsaW5lLnN0cmlwKCkKICAg
ICAgICAgICAgaWYgdmFsdWUgYW5kIG5vdCB2YWx1ZS5zdGFydHN3aXRoKCIjIik6CiAgICAgICAg
ICAgICAgICByZXR1cm4gdmFsdWUKICAgIGV4Y2VwdCBGaWxlTm90Rm91bmRFcnJvcjoKICAgICAg
ICBwYXNzCiAgICByZXR1cm4gIiIKCgpkZWYgYXRvbWljX3dyaXRlKHBhdGg6IFBhdGgsIHZhbHVl
OiBzdHIsIG1vZGU6IGludCA9IDBvNjAwKSAtPiBOb25lOgogICAgcGF0aC5wYXJlbnQubWtkaXIo
cGFyZW50cz1UcnVlLCBleGlzdF9vaz1UcnVlKQogICAgZGVzY3JpcHRvciwgdGVtcG9yYXJ5ID0g
dGVtcGZpbGUubWtzdGVtcChwcmVmaXg9ZiIue3BhdGgubmFtZX0uIiwgZGlyPXBhdGgucGFyZW50
KQogICAgdHJ5OgogICAgICAgIHdpdGggb3MuZmRvcGVuKGRlc2NyaXB0b3IsICJ3IiwgZW5jb2Rp
bmc9InV0Zi04IikgYXMgaGFuZGxlOgogICAgICAgICAgICBoYW5kbGUud3JpdGUodmFsdWUucnN0
cmlwKCJcbiIpICsgIlxuIikKICAgICAgICAgICAgaGFuZGxlLmZsdXNoKCkKICAgICAgICAgICAg
b3MuZnN5bmMoaGFuZGxlLmZpbGVubygpKQogICAgICAgIG9zLmNobW9kKHRlbXBvcmFyeSwgbW9k
ZSkKICAgICAgICBvcy5yZXBsYWNlKHRlbXBvcmFyeSwgcGF0aCkKICAgIGZpbmFsbHk6CiAgICAg
ICAgdHJ5OgogICAgICAgICAgICBvcy51bmxpbmsodGVtcG9yYXJ5KQogICAgICAgIGV4Y2VwdCBG
aWxlTm90Rm91bmRFcnJvcjoKICAgICAgICAgICAgcGFzcwoKCmRlZiBiZWNoMzJfcG9seW1vZCh2
YWx1ZXM6IGxpc3RbaW50XSkgLT4gaW50OgogICAgZ2VuZXJhdG9ycyA9ICgweDNCNkE1N0IyLCAw
eDI2NTA4RTZELCAweDFFQTExOUZBLCAweDNENDIzM0RELCAweDJBMTQ2MkIzKQogICAgY2hlY2tz
dW0gPSAxCiAgICBmb3IgdmFsdWUgaW4gdmFsdWVzOgogICAgICAgIHRvcCA9IGNoZWNrc3VtID4+
IDI1CiAgICAgICAgY2hlY2tzdW0gPSAoKGNoZWNrc3VtICYgMHgxRkZGRkZGKSA8PCA1KSBeIHZh
bHVlCiAgICAgICAgZm9yIGluZGV4LCBnZW5lcmF0b3IgaW4gZW51bWVyYXRlKGdlbmVyYXRvcnMp
OgogICAgICAgICAgICBpZiAodG9wID4+IGluZGV4KSAmIDE6CiAgICAgICAgICAgICAgICBjaGVj
a3N1bSBePSBnZW5lcmF0b3IKICAgIHJldHVybiBjaGVja3N1bQoKCmRlZiBiZWNoMzJfaHJwX2V4
cGFuZChocnA6IHN0cikgLT4gbGlzdFtpbnRdOgogICAgcmV0dXJuIFtvcmQoY2hhcikgPj4gNSBm
b3IgY2hhciBpbiBocnBdICsgWzBdICsgW29yZChjaGFyKSAmIDMxIGZvciBjaGFyIGluIGhycF0K
CgpkZWYgYmVjaDMyX2NoZWNrc3VtKGhycDogc3RyLCBkYXRhOiBsaXN0W2ludF0pIC0+IGxpc3Rb
aW50XToKICAgIHZhbHVlcyA9IGJlY2gzMl9ocnBfZXhwYW5kKGhycCkgKyBkYXRhICsgWzBdICog
NgogICAgcG9seW1vZCA9IGJlY2gzMl9wb2x5bW9kKHZhbHVlcykgXiAxCiAgICByZXR1cm4gWyhw
b2x5bW9kID4+ICg1ICogKDUgLSBpbmRleCkpKSAmIDMxIGZvciBpbmRleCBpbiByYW5nZSg2KV0K
CgpkZWYgY29udmVydF9iaXRzKAogICAgdmFsdWVzOiBieXRlcyB8IGxpc3RbaW50XSwgZnJvbV9i
aXRzOiBpbnQsIHRvX2JpdHM6IGludCwgcGFkOiBib29sCikgLT4gbGlzdFtpbnRdOgogICAgYWNj
dW11bGF0b3IgPSAwCiAgICBiaXRfY291bnQgPSAwCiAgICByZXN1bHQ6IGxpc3RbaW50XSA9IFtd
CiAgICBtYXhpbXVtX3ZhbHVlID0gKDEgPDwgdG9fYml0cykgLSAxCiAgICBtYXhpbXVtX2FjY3Vt
dWxhdG9yID0gKDEgPDwgKGZyb21fYml0cyArIHRvX2JpdHMgLSAxKSkgLSAxCiAgICBmb3IgdmFs
dWUgaW4gdmFsdWVzOgogICAgICAgIGlmIHZhbHVlIDwgMCBvciB2YWx1ZSA+PiBmcm9tX2JpdHM6
CiAgICAgICAgICAgIHJhaXNlIElucHV0RXJyb3IoIkludmFsaWQgQmVjaDMyIGRhdGEuIikKICAg
ICAgICBhY2N1bXVsYXRvciA9ICgoYWNjdW11bGF0b3IgPDwgZnJvbV9iaXRzKSB8IHZhbHVlKSAm
IG1heGltdW1fYWNjdW11bGF0b3IKICAgICAgICBiaXRfY291bnQgKz0gZnJvbV9iaXRzCiAgICAg
ICAgd2hpbGUgYml0X2NvdW50ID49IHRvX2JpdHM6CiAgICAgICAgICAgIGJpdF9jb3VudCAtPSB0
b19iaXRzCiAgICAgICAgICAgIHJlc3VsdC5hcHBlbmQoKGFjY3VtdWxhdG9yID4+IGJpdF9jb3Vu
dCkgJiBtYXhpbXVtX3ZhbHVlKQogICAgaWYgcGFkOgogICAgICAgIGlmIGJpdF9jb3VudDoKICAg
ICAgICAgICAgcmVzdWx0LmFwcGVuZCgoYWNjdW11bGF0b3IgPDwgKHRvX2JpdHMgLSBiaXRfY291
bnQpKSAmIG1heGltdW1fdmFsdWUpCiAgICBlbGlmIGJpdF9jb3VudCA+PSBmcm9tX2JpdHMgb3Ig
KChhY2N1bXVsYXRvciA8PCAodG9fYml0cyAtIGJpdF9jb3VudCkpICYgbWF4aW11bV92YWx1ZSk6
CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiSW52YWxpZCBCZWNoMzIgcGFkZGluZy4iKQogICAg
cmV0dXJuIHJlc3VsdAoKCmRlZiBiZWNoMzJfZW5jb2RlKGhycDogc3RyLCBwYXlsb2FkOiBieXRl
cykgLT4gc3RyOgogICAgZGF0YSA9IGNvbnZlcnRfYml0cyhwYXlsb2FkLCA4LCA1LCBUcnVlKQog
ICAgY29tYmluZWQgPSBkYXRhICsgYmVjaDMyX2NoZWNrc3VtKGhycCwgZGF0YSkKICAgIHJldHVy
biBocnAgKyAiMSIgKyAiIi5qb2luKEJFQ0gzMl9DSEFSU0VUW3ZhbHVlXSBmb3IgdmFsdWUgaW4g
Y29tYmluZWQpCgoKZGVmIGJlY2gzMl9kZWNvZGUodmFsdWU6IHN0cikgLT4gdHVwbGVbc3RyLCBi
eXRlc106CiAgICBpZiBub3QgdmFsdWUgb3IgKHZhbHVlLmxvd2VyKCkgIT0gdmFsdWUgYW5kIHZh
bHVlLnVwcGVyKCkgIT0gdmFsdWUpOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlRoZSBucHVi
IG11c3Qgbm90IG1peCB1cHBlcmNhc2UgYW5kIGxvd2VyY2FzZSBjaGFyYWN0ZXJzLiIpCiAgICBu
b3JtYWxpemVkID0gdmFsdWUubG93ZXIoKQogICAgc2VwYXJhdG9yID0gbm9ybWFsaXplZC5yZmlu
ZCgiMSIpCiAgICBpZiBzZXBhcmF0b3IgPCAxIG9yIHNlcGFyYXRvciArIDcgPiBsZW4obm9ybWFs
aXplZCk6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiSW52YWxpZCBCZWNoMzIgcHVibGljIGtl
eS4iKQogICAgaHJwID0gbm9ybWFsaXplZFs6c2VwYXJhdG9yXQogICAgdHJ5OgogICAgICAgIGRh
dGEgPSBbQkVDSDMyX0xPT0tVUFtjaGFyXSBmb3IgY2hhciBpbiBub3JtYWxpemVkW3NlcGFyYXRv
ciArIDEgOl1dCiAgICBleGNlcHQgS2V5RXJyb3IgYXMgZXhjOgogICAgICAgIHJhaXNlIElucHV0
RXJyb3IoIkludmFsaWQgQmVjaDMyIHB1YmxpYyBrZXkuIikgZnJvbSBleGMKICAgIGlmIGJlY2gz
Ml9wb2x5bW9kKGJlY2gzMl9ocnBfZXhwYW5kKGhycCkgKyBkYXRhKSAhPSAxOgogICAgICAgIHJh
aXNlIElucHV0RXJyb3IoIlRoZSBucHViIGNoZWNrc3VtIGlzIGludmFsaWQuIikKICAgIHBheWxv
YWQgPSBieXRlcyhjb252ZXJ0X2JpdHMoZGF0YVs6LTZdLCA1LCA4LCBGYWxzZSkpCiAgICByZXR1
cm4gaHJwLCBwYXlsb2FkCgoKZGVmIHBhcnNlX3B1YmxpY19rZXkocmF3X3ZhbHVlOiBvYmplY3Qp
IC0+IHR1cGxlW3N0ciwgc3RyLCBib29sXToKICAgIGlmIG5vdCBpc2luc3RhbmNlKHJhd192YWx1
ZSwgc3RyKToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJFbnRlciBhIE5vc3RyIHB1YmxpYyBr
ZXkuIikKICAgIHZhbHVlID0gcmF3X3ZhbHVlLnN0cmlwKCkKICAgIGlmIHZhbHVlLmxvd2VyKCku
c3RhcnRzd2l0aCgibm9zdHI6Iik6CiAgICAgICAgdmFsdWUgPSB2YWx1ZVs2Ol0KICAgIGxvd2Vy
ZWQgPSB2YWx1ZS5sb3dlcigpCiAgICBpZiBsb3dlcmVkLnN0YXJ0c3dpdGgoIm5zZWMiKSBvciAi
cHJpdmF0ZSBrZXkiIGluIGxvd2VyZWQ6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiUHJpdmF0
ZSBrZXlzIGFuZCBuc2VjIHZhbHVlcyBhcmUgcmVqZWN0ZWQuIEVudGVyIGFuIG5wdWIgb3IgcHVi
bGljLWtleSBoZXguIikKICAgIGlmIEhFWF9LRVlfUkUuZnVsbG1hdGNoKHZhbHVlKToKICAgICAg
ICBwdWJsaWNfaGV4ID0gdmFsdWUubG93ZXIoKQogICAgICAgIHJldHVybiBwdWJsaWNfaGV4LCBi
ZWNoMzJfZW5jb2RlKCJucHViIiwgYnl0ZXMuZnJvbWhleChwdWJsaWNfaGV4KSksIFRydWUKICAg
IGlmIGxvd2VyZWQuc3RhcnRzd2l0aCgibnB1YjEiKToKICAgICAgICBocnAsIHBheWxvYWQgPSBi
ZWNoMzJfZGVjb2RlKHZhbHVlKQogICAgICAgIGlmIGhycCAhPSAibnB1YiIgb3IgbGVuKHBheWxv
YWQpICE9IDMyOgogICAgICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJFbnRlciBhIHZhbGlkIDMy
LWJ5dGUgbnB1Yi4iKQogICAgICAgIHJldHVybiBwYXlsb2FkLmhleCgpLCBiZWNoMzJfZW5jb2Rl
KCJucHViIiwgcGF5bG9hZCksIEZhbHNlCiAgICByYWlzZSBJbnB1dEVycm9yKCJFbnRlciBhbiBu
cHViIG9yIGEgNjQtY2hhcmFjdGVyIGhleGFkZWNpbWFsIE5vc3RyIHB1YmxpYyBrZXkuIikKCgpk
ZWYgdmFsaWRhdGVfcmVsYXlfdXJsKHJhd192YWx1ZTogb2JqZWN0KSAtPiBzdHI6CiAgICBpZiBu
b3QgaXNpbnN0YW5jZShyYXdfdmFsdWUsIHN0cikgb3Igbm90IHJhd192YWx1ZS5zdHJpcCgpOgog
ICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlJlbGF5IFVSTCBpcyByZXF1aXJlZC4iKQogICAgdmFs
dWUgPSByYXdfdmFsdWUuc3RyaXAoKQogICAgdHJ5OgogICAgICAgIHBhcnNlZCA9IHVybHNwbGl0
KHZhbHVlKQogICAgICAgIF8gPSBwYXJzZWQucG9ydAogICAgZXhjZXB0IFZhbHVlRXJyb3IgYXMg
ZXhjOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlJlbGF5IFVSTCBoYXMgYW4gaW52YWxpZCBo
b3N0IG9yIHBvcnQuIikgZnJvbSBleGMKICAgIGlmIHBhcnNlZC5zY2hlbWUgbm90IGluIHsid3Mi
LCAid3NzIn0gb3Igbm90IHBhcnNlZC5ob3N0bmFtZToKICAgICAgICByYWlzZSBJbnB1dEVycm9y
KCJSZWxheSBVUkwgbXVzdCBzdGFydCB3aXRoIHdzOi8vIG9yIHdzczovLyBhbmQgaW5jbHVkZSBh
IGhvc3QuIikKICAgIGlmIHBhcnNlZC51c2VybmFtZSBvciBwYXJzZWQucGFzc3dvcmQgb3IgcGFy
c2VkLnF1ZXJ5IG9yIHBhcnNlZC5mcmFnbWVudDoKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJS
ZWxheSBVUkwgY2Fubm90IGNvbnRhaW4gY3JlZGVudGlhbHMsIGEgcXVlcnksIG9yIGEgZnJhZ21l
bnQuIikKICAgIGlmIHBhcnNlZC5wYXRoIG5vdCBpbiB7IiIsICIvIn06CiAgICAgICAgcmFpc2Ug
SW5wdXRFcnJvcigiVGhpcyBwYWNrYWdlIGV4cG9zZXMgQnV6eiBhdCB0aGUgaG9zdG5hbWUgcm9v
dDsgcmVtb3ZlIHRoZSBVUkwgcGF0aC4iKQogICAgcmV0dXJuIGYie3BhcnNlZC5zY2hlbWV9Oi8v
e3BhcnNlZC5uZXRsb2N9IgoKCmRlZiB2YWxpZGF0ZV9tZWRpYV91cmwocmF3X3ZhbHVlOiBvYmpl
Y3QpIC0+IHN0cjoKICAgIGlmIG5vdCBpc2luc3RhbmNlKHJhd192YWx1ZSwgc3RyKSBvciBub3Qg
cmF3X3ZhbHVlLnN0cmlwKCk6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiTWVkaWEgYmFzZSBV
UkwgaXMgcmVxdWlyZWQuIikKICAgIHZhbHVlID0gcmF3X3ZhbHVlLnN0cmlwKCkucnN0cmlwKCIv
IikKICAgIHRyeToKICAgICAgICBwYXJzZWQgPSB1cmxzcGxpdCh2YWx1ZSkKICAgICAgICBfID0g
cGFyc2VkLnBvcnQKICAgIGV4Y2VwdCBWYWx1ZUVycm9yIGFzIGV4YzoKICAgICAgICByYWlzZSBJ
bnB1dEVycm9yKCJNZWRpYSBiYXNlIFVSTCBoYXMgYW4gaW52YWxpZCBob3N0IG9yIHBvcnQuIikg
ZnJvbSBleGMKICAgIGlmIHBhcnNlZC5zY2hlbWUgbm90IGluIHsiaHR0cCIsICJodHRwcyJ9IG9y
IG5vdCBwYXJzZWQuaG9zdG5hbWU6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiTWVkaWEgYmFz
ZSBVUkwgbXVzdCBzdGFydCB3aXRoIGh0dHA6Ly8gb3IgaHR0cHM6Ly8gYW5kIGluY2x1ZGUgYSBo
b3N0LiIpCiAgICBpZiBwYXJzZWQudXNlcm5hbWUgb3IgcGFyc2VkLnBhc3N3b3JkIG9yIHBhcnNl
ZC5xdWVyeSBvciBwYXJzZWQuZnJhZ21lbnQ6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiTWVk
aWEgYmFzZSBVUkwgY2Fubm90IGNvbnRhaW4gY3JlZGVudGlhbHMsIGEgcXVlcnksIG9yIGEgZnJh
Z21lbnQuIikKICAgIHJldHVybiB2YWx1ZQoKCmRlZiB2YWxpZGF0ZV9jb3JzX29yaWdpbnMocmF3
X3ZhbHVlOiBvYmplY3QpIC0+IHN0cjoKICAgIGlmIG5vdCBpc2luc3RhbmNlKHJhd192YWx1ZSwg
c3RyKToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJBbGxvd2VkIG9yaWdpbnMgbXVzdCBiZSBh
IGNvbW1hLXNlcGFyYXRlZCBsaXN0LiIpCiAgICBub3JtYWxpemVkOiBsaXN0W3N0cl0gPSBbXQog
ICAgZm9yIHJhd19vcmlnaW4gaW4gcmF3X3ZhbHVlLnNwbGl0KCIsIik6CiAgICAgICAgb3JpZ2lu
ID0gcmF3X29yaWdpbi5zdHJpcCgpLnJzdHJpcCgiLyIpCiAgICAgICAgaWYgbm90IG9yaWdpbjoK
ICAgICAgICAgICAgY29udGludWUKICAgICAgICB0cnk6CiAgICAgICAgICAgIHBhcnNlZCA9IHVy
bHNwbGl0KG9yaWdpbikKICAgICAgICAgICAgXyA9IHBhcnNlZC5wb3J0CiAgICAgICAgZXhjZXB0
IFZhbHVlRXJyb3IgYXMgZXhjOgogICAgICAgICAgICByYWlzZSBJbnB1dEVycm9yKGYiQWxsb3dl
ZCBvcmlnaW4gaXMgaW52YWxpZDoge29yaWdpbn0iKSBmcm9tIGV4YwogICAgICAgIGlmIHBhcnNl
ZC5zY2hlbWUgbm90IGluIHsiaHR0cCIsICJodHRwcyIsICJ0YXVyaSJ9IG9yIG5vdCBwYXJzZWQu
aG9zdG5hbWU6CiAgICAgICAgICAgIHJhaXNlIElucHV0RXJyb3IoZiJBbGxvd2VkIG9yaWdpbiBt
dXN0IGJlIGFuIGh0dHAsIGh0dHBzLCBvciB0YXVyaSBvcmlnaW46IHtvcmlnaW59IikKICAgICAg
ICBpZiBwYXJzZWQudXNlcm5hbWUgb3IgcGFyc2VkLnBhc3N3b3JkIG9yIHBhcnNlZC5xdWVyeSBv
ciBwYXJzZWQuZnJhZ21lbnQ6CiAgICAgICAgICAgIHJhaXNlIElucHV0RXJyb3IoZiJBbGxvd2Vk
IG9yaWdpbiBjYW5ub3QgY29udGFpbiBjcmVkZW50aWFscywgYSBxdWVyeSwgb3IgYSBmcmFnbWVu
dDoge29yaWdpbn0iKQogICAgICAgIGlmIHBhcnNlZC5wYXRoIG5vdCBpbiB7IiIsICIvIn06CiAg
ICAgICAgICAgIHJhaXNlIElucHV0RXJyb3IoZiJBbGxvd2VkIG9yaWdpbiBjYW5ub3QgY29udGFp
biBhIHBhdGg6IHtvcmlnaW59IikKICAgICAgICBub3JtYWxpemVkLmFwcGVuZChmIntwYXJzZWQu
c2NoZW1lfTovL3twYXJzZWQubmV0bG9jfSIpCiAgICBpZiBub3Qgbm9ybWFsaXplZDoKICAgICAg
ICByYWlzZSBJbnB1dEVycm9yKCJBZGQgYXQgbGVhc3Qgb25lIGFsbG93ZWQgb3JpZ2luOyBhbiBl
bXB0eSBsaXN0IGVuYWJsZXMgcGVybWlzc2l2ZSBDT1JTLiIpCiAgICByZXR1cm4gIiwiLmpvaW4o
ZGljdC5mcm9ta2V5cyhub3JtYWxpemVkKSkKCgpkZWYgcmVsYXlfaXNfcmVhZHkoKSAtPiBib29s
OgogICAgY29ubmVjdGlvbjogaHR0cC5jbGllbnQuSFRUUENvbm5lY3Rpb24gfCBOb25lID0gTm9u
ZQogICAgdHJ5OgogICAgICAgIGNvbm5lY3Rpb24gPSBodHRwLmNsaWVudC5IVFRQQ29ubmVjdGlv
bigKICAgICAgICAgICAgUkVMQVlfSEVBTFRIX0hPU1QsIFJFTEFZX0hFQUxUSF9QT1JULCB0aW1l
b3V0PTAuNzUKICAgICAgICApCiAgICAgICAgY29ubmVjdGlvbi5yZXF1ZXN0KCJHRVQiLCAiL19y
ZWFkaW5lc3MiKQogICAgICAgIHJldHVybiBjb25uZWN0aW9uLmdldHJlc3BvbnNlKCkuc3RhdHVz
ID09IEhUVFBTdGF0dXMuT0sKICAgIGV4Y2VwdCAoT1NFcnJvciwgaHR0cC5jbGllbnQuSFRUUEV4
Y2VwdGlvbik6CiAgICAgICAgcmV0dXJuIEZhbHNlCiAgICBmaW5hbGx5OgogICAgICAgIGlmIGNv
bm5lY3Rpb246CiAgICAgICAgICAgIGNvbm5lY3Rpb24uY2xvc2UoKQoKCmRlZiBjdXJyZW50X2tl
eSgpIC0+IHR1cGxlW3N0ciwgc3RyXSB8IE5vbmU6CiAgICB2YWx1ZSA9IHJlYWRfZmlyc3RfbGlu
ZShPV05FUl9GSUxFKQogICAgdHJ5OgogICAgICAgIHB1YmxpY19oZXgsIG5wdWIsIF8gPSBwYXJz
ZV9wdWJsaWNfa2V5KHZhbHVlKQogICAgICAgIHJldHVybiBwdWJsaWNfaGV4LCBucHViCiAgICBl
eGNlcHQgSW5wdXRFcnJvcjoKICAgICAgICByZXR1cm4gTm9uZQoKCmRlZiBzdGF0dXNfcGF5bG9h
ZCgpIC0+IGRpY3Rbc3RyLCBvYmplY3RdOgogICAga2V5ID0gY3VycmVudF9rZXkoKQogICAgcmVs
YXlfdXJsID0gcmVhZF9maXJzdF9saW5lKFJFTEFZX1VSTF9GSUxFKQogICAgcmVzZXRfaWQgPSBy
ZWFkX2ZpcnN0X2xpbmUoUkVTRVRfUkVRVUVTVF9GSUxFKQogICAgcmVzdGFydF9pZCA9IHJlYWRf
Zmlyc3RfbGluZShSRVNUQVJUX1JFUVVFU1RfRklMRSkKICAgIHN0YXRlID0gcmVhZF9maXJzdF9s
aW5lKFJFTEFZX1NUQVRFX0ZJTEUpIG9yICgid2FpdGluZy1mb3ItY29uZmlndXJhdGlvbiIgaWYg
bm90IGtleSBlbHNlICJzdGFydGluZyIpCiAgICByZXR1cm4gewogICAgICAgICJjb25maWd1cmVk
Ijoga2V5IGlzIG5vdCBOb25lIGFuZCBib29sKHJlbGF5X3VybCksCiAgICAgICAgIm93bmVyQ29u
ZmlndXJlZCI6IGtleSBpcyBub3QgTm9uZSwKICAgICAgICAib3duZXJIZXgiOiBrZXlbMF0gaWYg
a2V5IGVsc2UgIiIsCiAgICAgICAgIm93bmVyTnB1YiI6IGtleVsxXSBpZiBrZXkgZWxzZSAiIiwK
ICAgICAgICAiZGVmYXVsdFJlbGF5VXJsIjogREVGQVVMVF9SRUxBWV9VUkwsCiAgICAgICAgInJl
bGF5VXJsIjogcmVsYXlfdXJsLAogICAgICAgICJtZWRpYUJhc2VVcmwiOiByZWFkX2ZpcnN0X2xp
bmUoTUVESUFfVVJMX0ZJTEUpLAogICAgICAgICJjb3JzT3JpZ2lucyI6IHJlYWRfZmlyc3RfbGlu
ZShDT1JTX0ZJTEUpLAogICAgICAgICJyZWxheVJlYWR5IjogYm9vbChrZXkpIGFuZCBib29sKHJl
bGF5X3VybCkgYW5kIHJlbGF5X2lzX3JlYWR5KCksCiAgICAgICAgInJlbGF5U3RhdGUiOiBzdGF0
ZSwKICAgICAgICAicmVzZXR0aW5nIjogYm9vbChyZXNldF9pZCksCiAgICAgICAgInJlc2V0UmVx
dWVzdElkIjogcmVzZXRfaWQsCiAgICAgICAgImxhc3RSZXNldElkIjogcmVhZF9maXJzdF9saW5l
KFJFU0VUX0NPTVBMRVRFRF9GSUxFKSwKICAgICAgICAicmVzZXRFcnJvciI6IHJlYWRfZmlyc3Rf
bGluZShSRVNFVF9FUlJPUl9GSUxFKSwKICAgICAgICAicmVzdGFydGluZyI6IGJvb2wocmVzdGFy
dF9pZCksCiAgICAgICAgInJlc3RhcnRSZXF1ZXN0SWQiOiByZXN0YXJ0X2lkLAogICAgICAgICJs
YXN0UmVzdGFydElkIjogcmVhZF9maXJzdF9saW5lKFJFU1RBUlRfQ09NUExFVEVEX0ZJTEUpLAog
ICAgfQoKCmRlZiBhcHBseV9jb25maWd1cmF0aW9uKHBheWxvYWQ6IGRpY3Rbc3RyLCBvYmplY3Rd
KSAtPiB0dXBsZVtpbnQsIGRpY3Rbc3RyLCBvYmplY3RdXToKICAgIHB1YmxpY19oZXgsIG5wdWIs
IHJhd19oZXggPSBwYXJzZV9wdWJsaWNfa2V5KHBheWxvYWQuZ2V0KCJvd25lcktleSIpKQogICAg
aWYgcmF3X2hleCBhbmQgcGF5bG9hZC5nZXQoImNvbmZpcm1QdWJsaWNIZXgiKSBpcyBub3QgVHJ1
ZToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKAogICAgICAgICAgICAiQSByYXcgNjQtY2hhcmFj
dGVyIGhleCB2YWx1ZSBjYW4gYmUgZWl0aGVyIHB1YmxpYyBvciBwcml2YXRlIG1hdGVyaWFsLiBD
b25maXJtIHRoYXQgdGhpcyB2YWx1ZSBpcyBhIHB1YmxpYyBrZXkuIgogICAgICAgICkKICAgIHJl
bGF5X3VybCA9IHZhbGlkYXRlX3JlbGF5X3VybChwYXlsb2FkLmdldCgicmVsYXlVcmwiKSkKICAg
IG1lZGlhX3VybCA9IHZhbGlkYXRlX21lZGlhX3VybChwYXlsb2FkLmdldCgibWVkaWFCYXNlVXJs
IikpCiAgICBjb3JzX29yaWdpbnMgPSB2YWxpZGF0ZV9jb3JzX29yaWdpbnMocGF5bG9hZC5nZXQo
ImNvcnNPcmlnaW5zIikpCgogICAgd2l0aCBXUklURV9MT0NLOgogICAgICAgIGV4aXN0aW5nID0g
Y3VycmVudF9rZXkoKQogICAgICAgIGV4aXN0aW5nX2hleCA9IGV4aXN0aW5nWzBdIGlmIGV4aXN0
aW5nIGVsc2UgIiIKICAgICAgICBuZXR3b3JrX2NoYW5nZWQgPSBhbnkoCiAgICAgICAgICAgICgK
ICAgICAgICAgICAgICAgIHJlYWRfZmlyc3RfbGluZShSRUxBWV9VUkxfRklMRSkgIT0gcmVsYXlf
dXJsLAogICAgICAgICAgICAgICAgcmVhZF9maXJzdF9saW5lKE1FRElBX1VSTF9GSUxFKSAhPSBt
ZWRpYV91cmwsCiAgICAgICAgICAgICAgICByZWFkX2ZpcnN0X2xpbmUoQ09SU19GSUxFKSAhPSBj
b3JzX29yaWdpbnMsCiAgICAgICAgICAgICkKICAgICAgICApCgogICAgICAgIGlmIGV4aXN0aW5n
X2hleCBhbmQgZXhpc3RpbmdfaGV4ICE9IHB1YmxpY19oZXg6CiAgICAgICAgICAgIGlmIHBheWxv
YWQuZ2V0KCJjb25maXJtUmVzZXQiKSBpcyBub3QgVHJ1ZSBvciBwYXlsb2FkLmdldCgicmVzZXRQ
aHJhc2UiKSAhPSAiUkVTRVQiOgogICAgICAgICAgICAgICAgcmV0dXJuIEhUVFBTdGF0dXMuQ09O
RkxJQ1QsIHsKICAgICAgICAgICAgICAgICAgICAiZXJyb3IiOiAiQ2hhbmdpbmcgdGhlIG93bmVy
IHJlcXVpcmVzIGEgZnVsbCBkYXRhIHJlc2V0IGFuZCB0aGUgZXhhY3QgUkVTRVQgY29uZmlybWF0
aW9uLiIsCiAgICAgICAgICAgICAgICAgICAgInJlcXVpcmVzUmVzZXQiOiBUcnVlLAogICAgICAg
ICAgICAgICAgfQogICAgICAgICAgICBpZiByZWFkX2ZpcnN0X2xpbmUoUkVTRVRfUkVRVUVTVF9G
SUxFKToKICAgICAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVzLkNPTkZMSUNULCB7ImVycm9y
IjogIkEgZGF0YSByZXNldCBpcyBhbHJlYWR5IGluIHByb2dyZXNzLiJ9CiAgICAgICAgICAgIHJl
cXVlc3RfaWQgPSB1dWlkLnV1aWQ0KCkuaGV4CiAgICAgICAgICAgIGF0b21pY193cml0ZShQRU5E
SU5HX09XTkVSX0ZJTEUsIHB1YmxpY19oZXgpCiAgICAgICAgICAgIGF0b21pY193cml0ZShSRUxB
WV9VUkxfRklMRSwgcmVsYXlfdXJsKQogICAgICAgICAgICBhdG9taWNfd3JpdGUoTUVESUFfVVJM
X0ZJTEUsIG1lZGlhX3VybCkKICAgICAgICAgICAgYXRvbWljX3dyaXRlKENPUlNfRklMRSwgY29y
c19vcmlnaW5zKQogICAgICAgICAgICBSRVNFVF9FUlJPUl9GSUxFLnVubGluayhtaXNzaW5nX29r
PVRydWUpCiAgICAgICAgICAgIGF0b21pY193cml0ZShSRVNFVF9SRVFVRVNUX0ZJTEUsIHJlcXVl
c3RfaWQpCiAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVzLkFDQ0VQVEVELCB7CiAgICAgICAg
ICAgICAgICAibWVzc2FnZSI6ICJGdWxsIGFwcGxpY2F0aW9uIGRhdGEgcmVzZXQgc3RhcnRlZC4i
LAogICAgICAgICAgICAgICAgInJlc2V0UmVxdWVzdElkIjogcmVxdWVzdF9pZCwKICAgICAgICAg
ICAgICAgICJvd25lckhleCI6IHB1YmxpY19oZXgsCiAgICAgICAgICAgICAgICAib3duZXJOcHVi
IjogbnB1YiwKICAgICAgICAgICAgfQoKICAgICAgICBhdG9taWNfd3JpdGUoUkVMQVlfVVJMX0ZJ
TEUsIHJlbGF5X3VybCkKICAgICAgICBhdG9taWNfd3JpdGUoTUVESUFfVVJMX0ZJTEUsIG1lZGlh
X3VybCkKICAgICAgICBhdG9taWNfd3JpdGUoQ09SU19GSUxFLCBjb3JzX29yaWdpbnMpCgogICAg
ICAgIGlmIG5vdCBleGlzdGluZ19oZXg6CiAgICAgICAgICAgIGF0b21pY193cml0ZShPV05FUl9G
SUxFLCBwdWJsaWNfaGV4KQogICAgICAgICAgICByZXR1cm4gSFRUUFN0YXR1cy5BQ0NFUFRFRCwg
ewogICAgICAgICAgICAgICAgIm1lc3NhZ2UiOiAiQ29uZmlndXJhdGlvbiBzYXZlZC4gQ3VycmVu
dCBzdGFydHVwIHN0YXR1cyBpcyBzaG93biBhYm92ZS4iLAogICAgICAgICAgICAgICAgIm93bmVy
SGV4IjogcHVibGljX2hleCwKICAgICAgICAgICAgICAgICJvd25lck5wdWIiOiBucHViLAogICAg
ICAgICAgICB9CgogICAgICAgIGlmIG5ldHdvcmtfY2hhbmdlZDoKICAgICAgICAgICAgcmVxdWVz
dF9pZCA9IHV1aWQudXVpZDQoKS5oZXgKICAgICAgICAgICAgYXRvbWljX3dyaXRlKFJFU1RBUlRf
UkVRVUVTVF9GSUxFLCByZXF1ZXN0X2lkKQogICAgICAgICAgICByZXR1cm4gSFRUUFN0YXR1cy5B
Q0NFUFRFRCwgewogICAgICAgICAgICAgICAgIm1lc3NhZ2UiOiAiTmV0d29yayBzZXR0aW5ncyBz
YXZlZC4gQ3VycmVudCByZXN0YXJ0IHN0YXR1cyBpcyBzaG93biBhYm92ZS4iLAogICAgICAgICAg
ICAgICAgInJlc3RhcnRSZXF1ZXN0SWQiOiByZXF1ZXN0X2lkLAogICAgICAgICAgICAgICAgIm93
bmVySGV4IjogcHVibGljX2hleCwKICAgICAgICAgICAgICAgICJvd25lck5wdWIiOiBucHViLAog
ICAgICAgICAgICB9CgogICAgICAgIHJldHVybiBIVFRQU3RhdHVzLk9LLCB7CiAgICAgICAgICAg
ICJtZXNzYWdlIjogIkNvbmZpZ3VyYXRpb24gaXMgYWxyZWFkeSBjdXJyZW50LiIsCiAgICAgICAg
ICAgICJvd25lckhleCI6IHB1YmxpY19oZXgsCiAgICAgICAgICAgICJvd25lck5wdWIiOiBucHVi
LAogICAgICAgIH0KCgpjbGFzcyBTZXR1cEhhbmRsZXIoQmFzZUhUVFBSZXF1ZXN0SGFuZGxlcik6
CiAgICBzZXJ2ZXJfdmVyc2lvbiA9ICJCdXp6U2V0dXAvMS4wIgoKICAgIGRlZiBsb2dfbWVzc2Fn
ZShzZWxmLCBmb3JtYXRfc3RyaW5nOiBzdHIsICphcmdzOiBvYmplY3QpIC0+IE5vbmU6CiAgICAg
ICAgcHJpbnQoZiJbYnV6ei1zZXR1cF0ge3NlbGYuYWRkcmVzc19zdHJpbmcoKX0ge2Zvcm1hdF9z
dHJpbmcgJSBhcmdzfSIsIGZsdXNoPVRydWUpCgogICAgZGVmIHNlY3VyaXR5X2hlYWRlcnMoc2Vs
ZiwgY29udGVudF90eXBlOiBzdHIpIC0+IE5vbmU6CiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigi
Q29udGVudC1UeXBlIiwgY29udGVudF90eXBlKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkNh
Y2hlLUNvbnRyb2wiLCAibm8tc3RvcmUiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIlgtQ29u
dGVudC1UeXBlLU9wdGlvbnMiLCAibm9zbmlmZiIpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigi
WC1GcmFtZS1PcHRpb25zIiwgIkRFTlkiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIlJlZmVy
cmVyLVBvbGljeSIsICJuby1yZWZlcnJlciIpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigKICAg
ICAgICAgICAgIkNvbnRlbnQtU2VjdXJpdHktUG9saWN5IiwKICAgICAgICAgICAgImRlZmF1bHQt
c3JjICdzZWxmJzsgc2NyaXB0LXNyYyAnc2VsZic7IHN0eWxlLXNyYyAnc2VsZic7IGNvbm5lY3Qt
c3JjICdzZWxmJzsgZnJhbWUtYW5jZXN0b3JzICdub25lJzsgYmFzZS11cmkgJ25vbmUnOyBmb3Jt
LWFjdGlvbiAnc2VsZiciLAogICAgICAgICkKCiAgICBkZWYgc2VuZF9qc29uKHNlbGYsIHN0YXR1
czogaW50LCBwYXlsb2FkOiBkaWN0W3N0ciwgb2JqZWN0XSkgLT4gTm9uZToKICAgICAgICBib2R5
ID0ganNvbi5kdW1wcyhwYXlsb2FkLCBzZXBhcmF0b3JzPSgiLCIsICI6IikpLmVuY29kZSgidXRm
LTgiKQogICAgICAgIHNlbGYuc2VuZF9yZXNwb25zZShzdGF0dXMpCiAgICAgICAgc2VsZi5zZWN1
cml0eV9oZWFkZXJzKCJhcHBsaWNhdGlvbi9qc29uOyBjaGFyc2V0PXV0Zi04IikKICAgICAgICBz
ZWxmLnNlbmRfaGVhZGVyKCJDb250ZW50LUxlbmd0aCIsIHN0cihsZW4oYm9keSkpKQogICAgICAg
IHNlbGYuZW5kX2hlYWRlcnMoKQogICAgICAgIHNlbGYud2ZpbGUud3JpdGUoYm9keSkKCiAgICBk
ZWYgZG9fR0VUKHNlbGYpIC0+IE5vbmU6ICAjIG5vcWE6IE44MDIKICAgICAgICBpZiBzZWxmLnBh
dGggPT0gIi9hcGkvc3RhdHVzIjoKICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oSFRUUFN0YXR1
cy5PSywgc3RhdHVzX3BheWxvYWQoKSkKICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgc3RhdGlj
X2ZpbGVzID0gewogICAgICAgICAgICAiLyI6ICJpbmRleC5odG1sIiwKICAgICAgICAgICAgIi9p
bmRleC5odG1sIjogImluZGV4Lmh0bWwiLAogICAgICAgICAgICAiL2FwcC5qcyI6ICJhcHAuanMi
LAogICAgICAgICAgICAiL3N0eWxlcy5jc3MiOiAic3R5bGVzLmNzcyIsCiAgICAgICAgfQogICAg
ICAgIGZpbGVuYW1lID0gc3RhdGljX2ZpbGVzLmdldChzZWxmLnBhdGgpCiAgICAgICAgaWYgbm90
IGZpbGVuYW1lOgogICAgICAgICAgICBzZWxmLnNlbmRfZXJyb3IoSFRUUFN0YXR1cy5OT1RfRk9V
TkQpCiAgICAgICAgICAgIHJldHVybgogICAgICAgIHBhdGggPSBTVEFUSUNfRElSIC8gZmlsZW5h
bWUKICAgICAgICB0cnk6CiAgICAgICAgICAgIGJvZHkgPSBwYXRoLnJlYWRfYnl0ZXMoKQogICAg
ICAgIGV4Y2VwdCBGaWxlTm90Rm91bmRFcnJvcjoKICAgICAgICAgICAgc2VsZi5zZW5kX2Vycm9y
KEhUVFBTdGF0dXMuTk9UX0ZPVU5EKQogICAgICAgICAgICByZXR1cm4KICAgICAgICBjb250ZW50
X3R5cGUgPSBtaW1ldHlwZXMuZ3Vlc3NfdHlwZShwYXRoLm5hbWUpWzBdIG9yICJhcHBsaWNhdGlv
bi9vY3RldC1zdHJlYW0iCiAgICAgICAgc2VsZi5zZW5kX3Jlc3BvbnNlKEhUVFBTdGF0dXMuT0sp
CiAgICAgICAgc2VsZi5zZWN1cml0eV9oZWFkZXJzKGYie2NvbnRlbnRfdHlwZX07IGNoYXJzZXQ9
dXRmLTgiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkVUYWciLCBoYXNobGliLnNoYTI1Nihi
b2R5KS5oZXhkaWdlc3QoKSkKICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKCJDb250ZW50LUxlbmd0
aCIsIHN0cihsZW4oYm9keSkpKQogICAgICAgIHNlbGYuZW5kX2hlYWRlcnMoKQogICAgICAgIHNl
bGYud2ZpbGUud3JpdGUoYm9keSkKCiAgICBkZWYgZG9fUE9TVChzZWxmKSAtPiBOb25lOiAgIyBu
b3FhOiBOODAyCiAgICAgICAgaWYgc2VsZi5oZWFkZXJzLmdldCgiWC1CdXp6LVNldHVwIikgIT0g
IjEiOgogICAgICAgICAgICBzZWxmLnNlbmRfanNvbihIVFRQU3RhdHVzLkZPUkJJRERFTiwgeyJl
cnJvciI6ICJNaXNzaW5nIGxvY2FsIHNldHVwIHJlcXVlc3QgaGVhZGVyLiJ9KQogICAgICAgICAg
ICByZXR1cm4KICAgICAgICBpZiBzZWxmLmhlYWRlcnMuZ2V0X2NvbnRlbnRfdHlwZSgpICE9ICJh
cHBsaWNhdGlvbi9qc29uIjoKICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oSFRUUFN0YXR1cy5V
TlNVUFBPUlRFRF9NRURJQV9UWVBFLCB7ImVycm9yIjogIlVzZSBhcHBsaWNhdGlvbi9qc29uLiJ9
KQogICAgICAgICAgICByZXR1cm4KICAgICAgICB0cnk6CiAgICAgICAgICAgIGNvbnRlbnRfbGVu
Z3RoID0gaW50KHNlbGYuaGVhZGVycy5nZXQoIkNvbnRlbnQtTGVuZ3RoIiwgIjAiKSkKICAgICAg
ICBleGNlcHQgVmFsdWVFcnJvcjoKICAgICAgICAgICAgY29udGVudF9sZW5ndGggPSAwCiAgICAg
ICAgaWYgY29udGVudF9sZW5ndGggPD0gMCBvciBjb250ZW50X2xlbmd0aCA+IDE2Mzg0OgogICAg
ICAgICAgICBzZWxmLnNlbmRfanNvbihIVFRQU3RhdHVzLlJFUVVFU1RfRU5USVRZX1RPT19MQVJH
RSwgeyJlcnJvciI6ICJJbnZhbGlkIHJlcXVlc3Qgc2l6ZS4ifSkKICAgICAgICAgICAgcmV0dXJu
CiAgICAgICAgdHJ5OgogICAgICAgICAgICBwYXlsb2FkID0ganNvbi5sb2FkcyhzZWxmLnJmaWxl
LnJlYWQoY29udGVudF9sZW5ndGgpKQogICAgICAgICAgICBpZiBub3QgaXNpbnN0YW5jZShwYXls
b2FkLCBkaWN0KToKICAgICAgICAgICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlJlcXVlc3QgYm9k
eSBtdXN0IGJlIGFuIG9iamVjdC4iKQogICAgICAgICAgICBpZiBzZWxmLnBhdGggPT0gIi9hcGkv
cHJldmlldy1rZXkiOgogICAgICAgICAgICAgICAgcHVibGljX2hleCwgbnB1YiwgcmF3X2hleCA9
IHBhcnNlX3B1YmxpY19rZXkocGF5bG9hZC5nZXQoIm93bmVyS2V5IikpCiAgICAgICAgICAgICAg
ICBzZWxmLnNlbmRfanNvbigKICAgICAgICAgICAgICAgICAgICBIVFRQU3RhdHVzLk9LLAogICAg
ICAgICAgICAgICAgICAgIHsib3duZXJIZXgiOiBwdWJsaWNfaGV4LCAib3duZXJOcHViIjogbnB1
YiwgInJhd0hleCI6IHJhd19oZXh9LAogICAgICAgICAgICAgICAgKQogICAgICAgICAgICAgICAg
cmV0dXJuCiAgICAgICAgICAgIGlmIHNlbGYucGF0aCA9PSAiL2FwaS9hcHBseSI6CiAgICAgICAg
ICAgICAgICBzdGF0dXMsIHJlc3BvbnNlID0gYXBwbHlfY29uZmlndXJhdGlvbihwYXlsb2FkKQog
ICAgICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oc3RhdHVzLCByZXNwb25zZSkKICAgICAgICAg
ICAgICAgIHJldHVybgogICAgICAgICAgICBzZWxmLnNlbmRfanNvbihIVFRQU3RhdHVzLk5PVF9G
T1VORCwgeyJlcnJvciI6ICJOb3QgZm91bmQuIn0pCiAgICAgICAgZXhjZXB0IChqc29uLkpTT05E
ZWNvZGVFcnJvciwgSW5wdXRFcnJvcikgYXMgZXhjOgogICAgICAgICAgICBzZWxmLnNlbmRfanNv
bihIVFRQU3RhdHVzLkJBRF9SRVFVRVNULCB7ImVycm9yIjogc3RyKGV4Yyl9KQoKCmRlZiBtYWlu
KCkgLT4gTm9uZToKICAgIENPTkZJR19ESVIubWtkaXIocGFyZW50cz1UcnVlLCBleGlzdF9vaz1U
cnVlKQogICAgc2VydmVyID0gVGhyZWFkaW5nSFRUUFNlcnZlcigoIjAuMC4wLjAiLCA4MDgwKSwg
U2V0dXBIYW5kbGVyKQogICAgcHJpbnQoIltidXp6LXNldHVwXSBsaXN0ZW5pbmcgb24gMC4wLjAu
MDo4MDgwIiwgZmx1c2g9VHJ1ZSkKICAgIHNlcnZlci5zZXJ2ZV9mb3JldmVyKCkKCgppZiBfX25h
bWVfXyA9PSAiX19tYWluX18iOgogICAgbWFpbigpCg==
