OnJvb3QgewogIGNvbG9yLXNjaGVtZTogbGlnaHQ7CiAgLS1wYWdlOiAjZjNmNWYyOwogIC0tc3Vy
ZmFjZTogI2ZmZmZmZjsKICAtLWluazogIzE3MWExODsKICAtLW11dGVkOiAjNjI2OTY1OwogIC0t
bGluZTogI2Q4ZGRkODsKICAtLXN0cm9uZy1saW5lOiAjYWViN2IwOwogIC0tYWNjZW50OiAjMTc2
YjUyOwogIC0tYWNjZW50LWRhcms6ICMwZDRhMzk7CiAgLS1hY2NlbnQtc29mdDogI2U4ZjRlZTsK
ICAtLXdhcm5pbmc6ICM4MDUzMTE7CiAgLS13YXJuaW5nLXNvZnQ6ICNmZmY0ZGM7CiAgLS1kYW5n
ZXI6ICNhNTJhMzI7CiAgLS1kYW5nZXItc29mdDogI2ZmZjBmMDsKICAtLWZvY3VzOiAjMTY2ZGEz
OwogIGZvbnQtZmFtaWx5OiBJbnRlciwgdWktc2Fucy1zZXJpZiwgc3lzdGVtLXVpLCAtYXBwbGUt
c3lzdGVtLCBCbGlua01hY1N5c3RlbUZvbnQsICJTZWdvZSBVSSIsIHNhbnMtc2VyaWY7CiAgZm9u
dC1zaXplOiAxNnB4OwogIGxldHRlci1zcGFjaW5nOiAwOwp9CgoqIHsKICBib3gtc2l6aW5nOiBi
b3JkZXItYm94Owp9Cgpib2R5IHsKICBtaW4td2lkdGg6IDMyMHB4OwogIG1hcmdpbjogMDsKICBi
YWNrZ3JvdW5kOiB2YXIoLS1wYWdlKTsKICBjb2xvcjogdmFyKC0taW5rKTsKfQoKYnV0dG9uLApp
bnB1dCB7CiAgZm9udDogaW5oZXJpdDsKICBsZXR0ZXItc3BhY2luZzogMDsKfQoKLnNoZWxsIHsK
ICB3aWR0aDogbWluKDc2MHB4LCBjYWxjKDEwMCUgLSAzMnB4KSk7CiAgbWFyZ2luOiAwIGF1dG87
CiAgcGFkZGluZzogMzRweCAwIDI4cHg7Cn0KCi5tYXN0aGVhZCwKLmZvcm0tYWN0aW9ucywKZm9v
dGVyIHsKICBkaXNwbGF5OiBmbGV4OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAganVzdGlmeS1j
b250ZW50OiBzcGFjZS1iZXR3ZWVuOwogIGdhcDogMjBweDsKfQoKLmV5ZWJyb3csCi5zdGVwIHsK
ICBtYXJnaW46IDAgMCA1cHg7CiAgY29sb3I6IHZhcigtLWFjY2VudCk7CiAgZm9udC1zaXplOiAw
LjcycmVtOwogIGZvbnQtd2VpZ2h0OiA3NjA7CiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTsK
fQoKaDEsCmgyLApwIHsKICBtYXJnaW4tdG9wOiAwOwp9CgpoMSB7CiAgbWFyZ2luLWJvdHRvbTog
MDsKICBmb250LXNpemU6IDIuMjVyZW07CiAgbGluZS1oZWlnaHQ6IDEuMDU7Cn0KCmgyIHsKICBt
YXJnaW4tYm90dG9tOiAwOwogIGZvbnQtc2l6ZTogMS4xcmVtOwogIGxpbmUtaGVpZ2h0OiAxLjM7
Cn0KCi5zdGF0dXMgewogIGRpc3BsYXk6IGlubGluZS1mbGV4OwogIG1pbi1oZWlnaHQ6IDM0cHg7
CiAgYWxpZ24taXRlbXM6IGNlbnRlcjsKICBnYXA6IDhweDsKICBwYWRkaW5nOiAwIDExcHg7CiAg
Ym9yZGVyOiAxcHggc29saWQgdmFyKC0tbGluZSk7CiAgYm9yZGVyLXJhZGl1czogNnB4OwogIGJh
Y2tncm91bmQ6IHZhcigtLXN1cmZhY2UpOwogIGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1z
aXplOiAwLjhyZW07CiAgZm9udC13ZWlnaHQ6IDcwMDsKfQoKLnN0YXR1cy1kb3QgewogIHdpZHRo
OiA4cHg7CiAgaGVpZ2h0OiA4cHg7CiAgZmxleDogMCAwIGF1dG87CiAgYm9yZGVyLXJhZGl1czog
NTAlOwogIGJhY2tncm91bmQ6ICM4NThiODc7Cn0KCi5zdGF0dXNbZGF0YS1zdGF0ZT0icmVhZHki
XSAuc3RhdHVzLWRvdCB7CiAgYmFja2dyb3VuZDogIzE4ODM1ZjsKfQoKLnN0YXR1c1tkYXRhLXN0
YXRlPSJ3b3JraW5nIl0gLnN0YXR1cy1kb3QgewogIGJhY2tncm91bmQ6ICNjNTdkMTk7Cn0KCi5z
dGF0dXNbZGF0YS1zdGF0ZT0iZXJyb3IiXSAuc3RhdHVzLWRvdCB7CiAgYmFja2dyb3VuZDogdmFy
KC0tZGFuZ2VyKTsKfQoKLm5vdGljZSB7CiAgZGlzcGxheTogZ3JpZDsKICBncmlkLXRlbXBsYXRl
LWNvbHVtbnM6IDMwcHggMWZyOwogIGdhcDogMTJweDsKICBtYXJnaW46IDI0cHggMCAxNHB4Owog
IHBhZGRpbmc6IDEzcHggMTRweDsKICBib3JkZXI6IDFweCBzb2xpZCAjZTJjNTg2OwogIGJvcmRl
ci1yYWRpdXM6IDZweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS13YXJuaW5nLXNvZnQpOwp9Cgoubm90
aWNlLW1hcmsgewogIGRpc3BsYXk6IGdyaWQ7CiAgd2lkdGg6IDI3cHg7CiAgaGVpZ2h0OiAyN3B4
OwogIHBsYWNlLWl0ZW1zOiBjZW50ZXI7CiAgYm9yZGVyOiAxcHggc29saWQgI2JlOGIzMjsKICBi
b3JkZXItcmFkaXVzOiA1MCU7CiAgY29sb3I6IHZhcigtLXdhcm5pbmcpOwogIGZvbnQtd2VpZ2h0
OiA4MDA7Cn0KCi5ub3RpY2UgaDIgewogIGNvbG9yOiAjNjM0MDBiOwogIGZvbnQtc2l6ZTogMC45
cmVtOwp9Cgoubm90aWNlIHAgewogIG1hcmdpbjogM3B4IDAgMDsKICBjb2xvcjogIzczNTMxZDsK
ICBmb250LXNpemU6IDAuOHJlbTsKICBsaW5lLWhlaWdodDogMS40NTsKfQoKZm9ybSwKLmNvbXBs
ZXRpb24gewogIG92ZXJmbG93OiBoaWRkZW47CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tbGlu
ZSk7CiAgYm9yZGVyLXJhZGl1czogOHB4OwogIGJhY2tncm91bmQ6IHZhcigtLXN1cmZhY2UpOwp9
CgouZm9ybS1zZWN0aW9uLAoucmVzZXQtcGFuZWwsCi5jb21wbGV0aW9uIHsKICBwYWRkaW5nOiAy
NHB4Owp9CgouZm9ybS1zZWN0aW9uICsgLmZvcm0tc2VjdGlvbiwKLnJlc2V0LXBhbmVsIHsKICBi
b3JkZXItdG9wOiAxcHggc29saWQgdmFyKC0tbGluZSk7Cn0KCi5zZWN0aW9uLWhlYWRpbmcgewog
IG1hcmdpbi1ib3R0b206IDE4cHg7Cn0KCmxhYmVsLAouZGV0YWlsLWxhYmVsIHsKICBkaXNwbGF5
OiBibG9jazsKICBtYXJnaW4tYm90dG9tOiA3cHg7CiAgZm9udC1zaXplOiAwLjgycmVtOwogIGZv
bnQtd2VpZ2h0OiA3MjA7Cn0KCmlucHV0W3R5cGU9InRleHQiXSwKaW5wdXRbdHlwZT0idXJsIl0g
ewogIHdpZHRoOiAxMDAlOwogIG1pbi1oZWlnaHQ6IDQ0cHg7CiAgcGFkZGluZzogOXB4IDExcHg7
CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tc3Ryb25nLWxpbmUpOwogIGJvcmRlci1yYWRpdXM6
IDVweDsKICBvdXRsaW5lOiBub25lOwogIGJhY2tncm91bmQ6ICNmZmY7CiAgY29sb3I6IHZhcigt
LWluayk7Cn0KCmlucHV0OmZvY3VzIHsKICBib3JkZXItY29sb3I6IHZhcigtLWZvY3VzKTsKICBi
b3gtc2hhZG93OiAwIDAgMCAzcHggcmdiYSgyMiwgMTA5LCAxNjMsIDAuMTMpOwp9CgouZmllbGQt
bWVzc2FnZSB7CiAgbWluLWhlaWdodDogMThweDsKICBtYXJnaW46IDZweCAwIDA7CiAgY29sb3I6
IHZhcigtLW11dGVkKTsKICBmb250LXNpemU6IDAuNzZyZW07CiAgbGluZS1oZWlnaHQ6IDEuNDsK
fQoKLmZpZWxkLW1lc3NhZ2VbZGF0YS1raW5kPSJlcnJvciJdIHsKICBjb2xvcjogdmFyKC0tZGFu
Z2VyKTsKfQoKLmZpZWxkLW1lc3NhZ2VbZGF0YS1raW5kPSJzdWNjZXNzIl0gewogIGNvbG9yOiB2
YXIoLS1hY2NlbnQpOwp9CgoudmVyaWZpZWQta2V5IHsKICBkaXNwbGF5OiBncmlkOwogIGdhcDog
NXB4OwogIG1hcmdpbi10b3A6IDEycHg7CiAgcGFkZGluZzogMTFweCAxMnB4OwogIGJvcmRlci1s
ZWZ0OiAzcHggc29saWQgdmFyKC0tYWNjZW50KTsKICBiYWNrZ3JvdW5kOiB2YXIoLS1hY2NlbnQt
c29mdCk7CiAgY29sb3I6IHZhcigtLWFjY2VudC1kYXJrKTsKICBmb250LXNpemU6IDAuNzdyZW07
Cn0KCi52ZXJpZmllZC1rZXkgc3BhbiB7CiAgb3ZlcmZsb3ctd3JhcDogYW55d2hlcmU7CiAgZm9u
dC1mYW1pbHk6IHVpLW1vbm9zcGFjZSwgU0ZNb25vLVJlZ3VsYXIsIE1lbmxvLCBDb25zb2xhcywg
bW9ub3NwYWNlOwp9CgoudmVyaWZpZWQta2V5IC5rZXktaGV4IHsKICBjb2xvcjogIzQ4NjE1OTsK
ICBmb250LXNpemU6IDAuN3JlbTsKfQoKLmNoZWNrLXJvdyB7CiAgZGlzcGxheTogZmxleDsKICBh
bGlnbi1pdGVtczogZmxleC1zdGFydDsKICBnYXA6IDlweDsKICBtYXJnaW46IDE0cHggMCAwOwog
IGNvbG9yOiAjNDc0ZTQ5OwogIGZvbnQtc2l6ZTogMC44cmVtOwogIGZvbnQtd2VpZ2h0OiA1NTA7
CiAgbGluZS1oZWlnaHQ6IDEuNDsKfQoKLmNoZWNrLXJvdyBpbnB1dCB7CiAgd2lkdGg6IDE4cHg7
CiAgaGVpZ2h0OiAxOHB4OwogIGZsZXg6IDAgMCBhdXRvOwogIG1hcmdpbjogMDsKICBhY2NlbnQt
Y29sb3I6IHZhcigtLWFjY2VudCk7Cn0KCi5tb2RlLW9wdGlvbnMgewogIGRpc3BsYXk6IGdyaWQ7
CiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnIgMWZyOwogIGdhcDogMTBweDsKICBtYXJnaW46
IDAgMCAxNHB4OwogIHBhZGRpbmc6IDA7CiAgYm9yZGVyOiAwOwp9CgoubW9kZS1vcHRpb24gewog
IGRpc3BsYXk6IGZsZXg7CiAgbWluLXdpZHRoOiAwOwogIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0
OwogIGdhcDogMTBweDsKICBtYXJnaW46IDA7CiAgcGFkZGluZzogMTNweDsKICBib3JkZXI6IDFw
eCBzb2xpZCB2YXIoLS1saW5lKTsKICBib3JkZXItcmFkaXVzOiA2cHg7CiAgY3Vyc29yOiBwb2lu
dGVyOwp9CgoubW9kZS1vcHRpb246aGFzKGlucHV0OmNoZWNrZWQpIHsKICBib3JkZXItY29sb3I6
IHZhcigtLWFjY2VudCk7CiAgYmFja2dyb3VuZDogdmFyKC0tYWNjZW50LXNvZnQpOwp9CgoubW9k
ZS1vcHRpb24gaW5wdXQgewogIHdpZHRoOiAxN3B4OwogIGhlaWdodDogMTdweDsKICBmbGV4OiAw
IDAgYXV0bzsKICBtYXJnaW46IDFweCAwIDA7CiAgYWNjZW50LWNvbG9yOiB2YXIoLS1hY2NlbnQp
Owp9CgoubW9kZS1vcHRpb24gc3Ryb25nLAoubW9kZS1vcHRpb24gc21hbGwgewogIGRpc3BsYXk6
IGJsb2NrOwp9CgoubW9kZS1vcHRpb24gc3Ryb25nIHsKICBmb250LXNpemU6IDAuODRyZW07Cn0K
Ci5tb2RlLW9wdGlvbiBzbWFsbCB7CiAgbWFyZ2luLXRvcDogM3B4OwogIGNvbG9yOiB2YXIoLS1t
dXRlZCk7CiAgZm9udC1zaXplOiAwLjczcmVtOwogIGZvbnQtd2VpZ2h0OiA1MDA7CiAgbGluZS1o
ZWlnaHQ6IDEuMzU7Cn0KCi5jb25uZWN0aW9uLWRldGFpbCB7CiAgcGFkZGluZzogMTNweCAxNHB4
OwogIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWxpbmUpOwogIGJvcmRlci1yYWRpdXM6IDZweDsK
ICBiYWNrZ3JvdW5kOiAjZmFmYmY5Owp9CgouY29ubmVjdGlvbi1kZXRhaWwgY29kZSwKLmNvcHkt
ZmllbGQgY29kZSB7CiAgZGlzcGxheTogYmxvY2s7CiAgb3ZlcmZsb3ctd3JhcDogYW55d2hlcmU7
CiAgY29sb3I6ICMyYjM2MzA7CiAgZm9udC1mYW1pbHk6IHVpLW1vbm9zcGFjZSwgU0ZNb25vLVJl
Z3VsYXIsIE1lbmxvLCBDb25zb2xhcywgbW9ub3NwYWNlOwogIGZvbnQtc2l6ZTogMC44cmVtOwp9
CgouY29ubmVjdGlvbi1kZXRhaWwgcCB7CiAgbWFyZ2luOiA3cHggMCAwOwogIGNvbG9yOiB2YXIo
LS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjczcmVtOwogIGxpbmUtaGVpZ2h0OiAxLjQ7Cn0KCi5y
ZXZpZXctc2VjdGlvbiB7CiAgYmFja2dyb3VuZDogI2ZhZmJmOTsKfQoKLnN1bW1hcnktbGlzdCB7
CiAgZGlzcGxheTogZ3JpZDsKICBnYXA6IDEwcHg7CiAgbWFyZ2luOiAwOwp9Cgouc3VtbWFyeS1s
aXN0ID4gZGl2IHsKICBkaXNwbGF5OiBncmlkOwogIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMTI1
cHggbWlubWF4KDAsIDFmcik7CiAgZ2FwOiAxNHB4Owp9Cgouc3VtbWFyeS1saXN0IGR0IHsKICBj
b2xvcjogdmFyKC0tbXV0ZWQpOwogIGZvbnQtc2l6ZTogMC43NXJlbTsKICBmb250LXdlaWdodDog
NzAwOwp9Cgouc3VtbWFyeS1saXN0IGRkIHsKICBtaW4td2lkdGg6IDA7CiAgbWFyZ2luOiAwOwog
IG92ZXJmbG93LXdyYXA6IGFueXdoZXJlOwogIGZvbnQtZmFtaWx5OiB1aS1tb25vc3BhY2UsIFNG
TW9uby1SZWd1bGFyLCBNZW5sbywgQ29uc29sYXMsIG1vbm9zcGFjZTsKICBmb250LXNpemU6IDAu
NzZyZW07Cn0KCi5yZXNldC1wYW5lbCB7CiAgYmFja2dyb3VuZDogdmFyKC0tZGFuZ2VyLXNvZnQp
Owp9CgoucmVzZXQtcGFuZWwgaDIgewogIGNvbG9yOiAjN2MxZDI0Owp9CgoucmVzZXQtcGFuZWwg
PiBwOm5vdCguc3RlcCkgewogIG1hcmdpbjogN3B4IDAgMTVweDsKICBjb2xvcjogIzc0MzYzYTsK
ICBmb250LXNpemU6IDAuOHJlbTsKICBsaW5lLWhlaWdodDogMS41Owp9CgouZGFuZ2VyLXN0ZXAg
ewogIGNvbG9yOiB2YXIoLS1kYW5nZXIpOwp9CgoucmVzZXQtcGFuZWwgLmNoZWNrLXJvdyB7CiAg
bWFyZ2luLWJvdHRvbTogMTVweDsKfQoKLmZvcm0tYWN0aW9ucyB7CiAgbWluLWhlaWdodDogNzhw
eDsKICBwYWRkaW5nOiAxNXB4IDI0cHg7CiAgYm9yZGVyLXRvcDogMXB4IHNvbGlkIHZhcigtLWxp
bmUpOwogIGJhY2tncm91bmQ6ICNmNmY4ZjU7Cn0KCi5hY3Rpb24tdGl0bGUgewogIG1hcmdpbi1i
b3R0b206IDJweDsKICBmb250LXNpemU6IDAuODRyZW07CiAgZm9udC13ZWlnaHQ6IDc1MDsKfQoK
LmFjdGlvbi1kZXRhaWwgewogIG1hcmdpbi1ib3R0b206IDA7CiAgY29sb3I6IHZhcigtLW11dGVk
KTsKICBmb250LXNpemU6IDAuNzNyZW07CiAgbGluZS1oZWlnaHQ6IDEuNDsKfQoKYnV0dG9uIHsK
ICBtaW4taGVpZ2h0OiA0MnB4OwogIHBhZGRpbmc6IDAgMTZweDsKICBib3JkZXI6IDFweCBzb2xp
ZCB2YXIoLS1hY2NlbnQtZGFyayk7CiAgYm9yZGVyLXJhZGl1czogNXB4OwogIGJhY2tncm91bmQ6
IHZhcigtLWFjY2VudCk7CiAgY29sb3I6ICNmZmY7CiAgY3Vyc29yOiBwb2ludGVyOwogIGZvbnQt
d2VpZ2h0OiA3NDA7Cn0KCmJ1dHRvbjpob3ZlciB7CiAgYmFja2dyb3VuZDogdmFyKC0tYWNjZW50
LWRhcmspOwp9CgpidXR0b246ZGlzYWJsZWQgewogIGN1cnNvcjogd2FpdDsKICBvcGFjaXR5OiAw
LjU1Owp9Cgouc2Vjb25kYXJ5LWJ1dHRvbiB7CiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1zdHJvbmct
bGluZSk7CiAgYmFja2dyb3VuZDogI2ZmZjsKICBjb2xvcjogdmFyKC0taW5rKTsKfQoKLnNlY29u
ZGFyeS1idXR0b246aG92ZXIgewogIGJhY2tncm91bmQ6ICNlZGYwZWM7Cn0KCi5kYW5nZXItYnV0
dG9uIHsKICBib3JkZXItY29sb3I6ICM3NjFiMjI7CiAgYmFja2dyb3VuZDogdmFyKC0tZGFuZ2Vy
KTsKfQoKLmRhbmdlci1idXR0b246aG92ZXIgewogIGJhY2tncm91bmQ6ICM3NjFiMjI7Cn0KCi5j
b21wbGV0aW9uIGgyIHsKICBmb250LXNpemU6IDEuMzVyZW07Cn0KCi5jb21wbGV0aW9uLWNvcHkg
ewogIG1heC13aWR0aDogNjUwcHg7CiAgbWFyZ2luOiA4cHggMCAxOHB4OwogIGNvbG9yOiB2YXIo
LS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjg0cmVtOwogIGxpbmUtaGVpZ2h0OiAxLjU1Owp9Cgou
Y29weS1maWVsZCB7CiAgZGlzcGxheTogZ3JpZDsKICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IG1p
bm1heCgwLCAxZnIpIGF1dG87CiAgYWxpZ24taXRlbXM6IGNlbnRlcjsKICBnYXA6IDEycHg7CiAg
bWFyZ2luLWJvdHRvbTogMThweDsKICBwYWRkaW5nOiAxMHB4IDEwcHggMTBweCAxM3B4OwogIGJv
cmRlcjogMXB4IHNvbGlkICM5YWM2YjQ7CiAgYm9yZGVyLXJhZGl1czogNnB4OwogIGJhY2tncm91
bmQ6IHZhcigtLWFjY2VudC1zb2Z0KTsKfQoKLmlkZW50aXR5LW5vdGUgewogIG1hcmdpbjogMTdw
eCAwIDE0cHg7CiAgY29sb3I6IHZhcigtLW11dGVkKTsKICBmb250LXNpemU6IDAuNzhyZW07CiAg
bGluZS1oZWlnaHQ6IDEuNDU7Cn0KCi5yZXN1bHQgewogIG1hcmdpbi10b3A6IDEycHg7CiAgcGFk
ZGluZzogMTFweCAxM3B4OwogIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWxpbmUpOwogIGJvcmRl
ci1yYWRpdXM6IDVweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS1zdXJmYWNlKTsKICBmb250LXNpemU6
IDAuOHJlbTsKfQoKLnJlc3VsdC5zdWNjZXNzIHsKICBib3JkZXItY29sb3I6ICM5YWM2YjQ7CiAg
YmFja2dyb3VuZDogdmFyKC0tYWNjZW50LXNvZnQpOwogIGNvbG9yOiB2YXIoLS1hY2NlbnQtZGFy
ayk7Cn0KCi5yZXN1bHQuZXJyb3IgewogIGJvcmRlci1jb2xvcjogI2RmYTdhYjsKICBiYWNrZ3Jv
dW5kOiB2YXIoLS1kYW5nZXItc29mdCk7CiAgY29sb3I6ICM3YjIwMjc7Cn0KCi5yZXN1bHQud29y
a2luZyB7CiAgYm9yZGVyLWNvbG9yOiAjZTBjMjhkOwogIGJhY2tncm91bmQ6IHZhcigtLXdhcm5p
bmctc29mdCk7CiAgY29sb3I6ICM2ZTQ4MGU7Cn0KCmZvb3RlciB7CiAganVzdGlmeS1jb250ZW50
OiBmbGV4LXN0YXJ0OwogIHBhZGRpbmc6IDE3cHggMnB4IDA7CiAgY29sb3I6IHZhcigtLW11dGVk
KTsKICBmb250LXNpemU6IDAuNzRyZW07Cn0KCmNvZGUgewogIGZvbnQtZmFtaWx5OiB1aS1tb25v
c3BhY2UsIFNGTW9uby1SZWd1bGFyLCBNZW5sbywgQ29uc29sYXMsIG1vbm9zcGFjZTsKICBmb250
LXNpemU6IDAuOTJlbTsKfQoKLmhpZGRlbiB7CiAgZGlzcGxheTogbm9uZSAhaW1wb3J0YW50Owp9
CgoudmlzdWFsbHktaGlkZGVuIHsKICBwb3NpdGlvbjogYWJzb2x1dGU7CiAgd2lkdGg6IDFweDsK
ICBoZWlnaHQ6IDFweDsKICBwYWRkaW5nOiAwOwogIG1hcmdpbjogLTFweDsKICBvdmVyZmxvdzog
aGlkZGVuOwogIGNsaXA6IHJlY3QoMCwgMCwgMCwgMCk7CiAgd2hpdGUtc3BhY2U6IG5vd3JhcDsK
ICBib3JkZXI6IDA7Cn0KCkBtZWRpYSAobWF4LXdpZHRoOiA2MjBweCkgewogIC5zaGVsbCB7CiAg
ICB3aWR0aDogbWluKDEwMCUgLSAyMHB4LCA3NjBweCk7CiAgICBwYWRkaW5nLXRvcDogMjJweDsK
ICB9CgogIC5tYXN0aGVhZCwKICAuZm9ybS1hY3Rpb25zIHsKICAgIGFsaWduLWl0ZW1zOiBmbGV4
LXN0YXJ0OwogICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsKICB9CgogIC5tYXN0aGVhZCB7CiAg
ICBnYXA6IDEzcHg7CiAgfQoKICBoMSB7CiAgICBmb250LXNpemU6IDEuODVyZW07CiAgfQoKICAu
Zm9ybS1zZWN0aW9uLAogIC5yZXNldC1wYW5lbCwKICAuY29tcGxldGlvbiwKICAuZm9ybS1hY3Rp
b25zIHsKICAgIHBhZGRpbmc6IDE5cHggMTZweDsKICB9CgogIC5tb2RlLW9wdGlvbnMgewogICAg
Z3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnI7CiAgfQoKICAuc3VtbWFyeS1saXN0ID4gZGl2IHsK
ICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMWZyOwogICAgZ2FwOiAzcHg7CiAgfQoKICAuY29w
eS1maWVsZCB7CiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IDFmcjsKICB9CgogIC5jb3B5LWZp
ZWxkIGJ1dHRvbiwKICAuZm9ybS1hY3Rpb25zIGJ1dHRvbiB7CiAgICB3aWR0aDogMTAwJTsKICB9
Cn0K
