IyEvYmluL3NoCnNldCAtZXUKCkNPTkZJR19ESVI9IiR7QlVaWl9DT05GSUdfRElSOi0vY29uZmln
fSIKQkFDS1VQX0RJUj0iJHtCVVpaX0JBQ0tVUF9ESVI6LS9iYWNrdXBzfSIKU09VUkNFX1JPT1Q9
IiR7QlVaWl9CQUNLVVBfU09VUkNFX1JPT1Q6LS9zb3VyY2V9IgpSRVFVRVNUX0ZJTEU9IiR7Q09O
RklHX0RJUn0vYmFja3VwLXJlcXVlc3QiClNUQVRFX0ZJTEU9IiR7Q09ORklHX0RJUn0vYmFja3Vw
LXN0YXRlIgpQUk9HUkVTU19GSUxFPSIke0NPTkZJR19ESVJ9L2JhY2t1cC1wcm9ncmVzcyIKTUVT
U0FHRV9GSUxFPSIke0NPTkZJR19ESVJ9L2JhY2t1cC1tZXNzYWdlIgpDVVJSRU5UX0lEX0ZJTEU9
IiR7Q09ORklHX0RJUn0vYmFja3VwLWN1cnJlbnQtaWQiCkxBVEVTVF9OQU1FX0ZJTEU9IiR7Q09O
RklHX0RJUn0vYmFja3VwLWxhdGVzdC1uYW1lIgpMQVRFU1RfU0laRV9GSUxFPSIke0NPTkZJR19E
SVJ9L2JhY2t1cC1sYXRlc3Qtc2l6ZSIKTEFURVNUX1NIQV9GSUxFPSIke0NPTkZJR19ESVJ9L2Jh
Y2t1cC1sYXRlc3Qtc2hhMjU2IgpMQVRFU1RfQ1JFQVRFRF9GSUxFPSIke0NPTkZJR19ESVJ9L2Jh
Y2t1cC1sYXRlc3QtY3JlYXRlZC1hdCIKSEVBUlRCRUFUX0ZJTEU9IiR7Q09ORklHX0RJUn0vb3Bl
cmF0aW9ucy1oZWFydGJlYXQiClNUT1JBR0VfRklMRT0iJHtDT05GSUdfRElSfS9zdG9yYWdlLXN0
YXRzIgpBQ0tfRElSPSIke0NPTkZJR19ESVJ9L2JhY2t1cC1hY2tzIgpNQVhfQllURVM9IiR7QlVa
Wl9CQUNLVVBfTUFYX0JZVEVTOi01MzY4NzA5MTIwMH0iClBBQ0tBR0VfVkVSU0lPTj0iJHtCVVpa
X1BBQ0tBR0VfVkVSU0lPTjotdW5rbm93bn0iClBPU1RHUkVTX0hPU1Q9IiR7QlVaWl9QT1NUR1JF
U19IT1NUOi1idXp6LXJlbGF5X3Bvc3RncmVzXzF9IgpQT1NUR1JFU19EQj0iJHtQT1NUR1JFU19E
QjotYnV6en0iClBPU1RHUkVTX1VTRVI9IiR7UE9TVEdSRVNfVVNFUjotYnV6en0iCjogIiR7UE9T
VEdSRVNfUEFTU1dPUkQ6P1BPU1RHUkVTX1BBU1NXT1JEIGlzIHJlcXVpcmVkfSIKCnVtYXNrIDA3
NwoKbG9nKCkgewogIHByaW50ZiAnW3VtYnJlbC1idXp6LW9wZXJhdGlvbnNdICVzXG4nICIkKiIg
PiYyCn0KCnJlYWRfbWFya2VyKCkgewogIGlmIFsgLWYgIiQxIiBdOyB0aGVuCiAgICBzZWQgLW4g
Jy9bXls6c3BhY2U6XV0vIHsgcy9bWzpzcGFjZTpdXS8vZzsgcDsgcTsgfScgIiQxIgogIGZpCn0K
CndyaXRlX21hcmtlcigpIHsKICBkZXN0aW5hdGlvbj0iJDEiCiAgdmFsdWU9IiQyIgogIHRlbXBv
cmFyeT0iJHtkZXN0aW5hdGlvbn0udG1wLiQkIgogIHByaW50ZiAnJXNcbicgIiR2YWx1ZSIgPiAi
JHRlbXBvcmFyeSIKICBtdiAiJHRlbXBvcmFyeSIgIiRkZXN0aW5hdGlvbiIKfQoKd3JpdGVfc3Rh
dGUoKSB7CiAgd3JpdGVfbWFya2VyICIkU1RBVEVfRklMRSIgIiQxIgogIHdyaXRlX21hcmtlciAi
JFBST0dSRVNTX0ZJTEUiICIkMiIKICB3cml0ZV9tYXJrZXIgIiRNRVNTQUdFX0ZJTEUiICIkMyIK
fQoKdmFsaWRfcmVxdWVzdF9pZCgpIHsKICBwcmludGYgJyVzJyAiJDEiIHwgZ3JlcCAtRXEgJ15b
MC05YS1mXXs4fS1bMC05YS1mXXs0fS1bMC05YS1mXXs0fS1bMC05YS1mXXs0fS1bMC05YS1mXXsx
Mn0kJwp9CgpkaXJlY3Rvcnlfa2liKCkgewogIGlmIFsgLWQgIiQxIiBdOyB0aGVuCiAgICBkdSAt
c2sgIiQxIiAyPi9kZXYvbnVsbCB8IGF3ayAnTlIgPT0gMSB7IHByaW50ICQxICsgMCB9JwogIGVs
c2UKICAgIHByaW50ZiAnMFxuJwogIGZpCn0KCndyaXRlX3N0b3JhZ2Vfc3RhdHMoKSB7CiAgdGVt
cG9yYXJ5PSIke1NUT1JBR0VfRklMRX0udG1wLiQkIgogIHsKICAgIHByaW50ZiAnbWVhc3VyZWRf
YXQ9JXNcbicgIiQoZGF0ZSAtdSArJVktJW0tJWRUJUg6JU06JVNaKSIKICAgIHByaW50ZiAnY29u
ZmlnX2tpYj0lc1xuJyAiJChkaXJlY3Rvcnlfa2liICIkQ09ORklHX0RJUiIpIgogICAgcHJpbnRm
ICdwb3N0Z3Jlc19raWI9JXNcbicgIiQoZGlyZWN0b3J5X2tpYiAiJHtTT1VSQ0VfUk9PVH0vcG9z
dGdyZXMiKSIKICAgIHByaW50ZiAncmVkaXNfa2liPSVzXG4nICIkKGRpcmVjdG9yeV9raWIgIiR7
U09VUkNFX1JPT1R9L3JlZGlzIikiCiAgICBwcmludGYgJ21pbmlvX2tpYj0lc1xuJyAiJChkaXJl
Y3Rvcnlfa2liICIke1NPVVJDRV9ST09UfS9taW5pbyIpIgogICAgcHJpbnRmICdnaXRfa2liPSVz
XG4nICIkKGRpcmVjdG9yeV9raWIgIiR7U09VUkNFX1JPT1R9L2dpdCIpIgogICAgcHJpbnRmICdn
aXRfY2FjaGVfa2liPSVzXG4nICIkKGRpcmVjdG9yeV9raWIgIiR7U09VUkNFX1JPT1R9L2dpdC1j
YWNoZSIpIgogICAgcHJpbnRmICdiYWNrdXBzX2tpYj0lc1xuJyAiJChkaXJlY3Rvcnlfa2liICIk
QkFDS1VQX0RJUiIpIgogIH0gPiAiJHRlbXBvcmFyeSIKICBtdiAiJHRlbXBvcmFyeSIgIiRTVE9S
QUdFX0ZJTEUiCn0KCmhlYXJ0YmVhdF9sb29wKCkgewogIHdoaWxlIHRydWU7IGRvCiAgICB3cml0
ZV9tYXJrZXIgIiRIRUFSVEJFQVRfRklMRSIgIiQoZGF0ZSArJXMpIgogICAgc2xlZXAgNQogIGRv
bmUKfQoKc3RvcmFnZV9sb29wKCkgewogIHdoaWxlIHRydWU7IGRvCiAgICB3cml0ZV9zdG9yYWdl
X3N0YXRzIHx8IHRydWUKICAgIHNsZWVwIDYwCiAgZG9uZQp9Cgp3YWl0X2Zvcl9hY2soKSB7CiAg
cmVxdWVzdF9pZD0iJDEiCiAgc2VydmljZT0iJDIiCiAgYWNrX2ZpbGU9IiR7QUNLX0RJUn0vJHtz
ZXJ2aWNlfS1zdG9wcGVkIgogIGF0dGVtcHRzPTAKICB3aGlsZSBbICIkKHJlYWRfbWFya2VyICIk
YWNrX2ZpbGUiKSIgIT0gIiRyZXF1ZXN0X2lkIiBdOyBkbwogICAgaWYgWyAiJChyZWFkX21hcmtl
ciAiJFJFUVVFU1RfRklMRSIpIiAhPSAiJHJlcXVlc3RfaWQiIF07IHRoZW4KICAgICAgcmV0dXJu
IDEKICAgIGZpCiAgICBhdHRlbXB0cz0kKChhdHRlbXB0cyArIDEpKQogICAgaWYgWyAiJGF0dGVt
cHRzIiAtZ2UgMTIwIF07IHRoZW4KICAgICAgcmV0dXJuIDEKICAgIGZpCiAgICBzbGVlcCAxCiAg
ZG9uZQp9CgpkYXRhYmFzZV9zaXplX2tpYigpIHsKICBQR1BBU1NXT1JEPSIkUE9TVEdSRVNfUEFT
U1dPUkQiIHBzcWwgXAogICAgLWggIiRQT1NUR1JFU19IT1NUIiBcCiAgICAtVSAiJFBPU1RHUkVT
X1VTRVIiIFwKICAgIC1kICIkUE9TVEdSRVNfREIiIFwKICAgIC1BdHFjICJTRUxFQ1QgcGdfZGF0
YWJhc2Vfc2l6ZShjdXJyZW50X2RhdGFiYXNlKCkpIC8gMTAyNCIgMj4vZGV2L251bGwKfQoKY29w
eV9iYWNrdXBfY29uZmlnKCkgewogIGRlc3RpbmF0aW9uPSIkMSIKICBta2RpciAtcCAiJGRlc3Rp
bmF0aW9uIgogIGZvciBuYW1lIGluIFwKICAgIHJlbGF5LW93bmVyLXB1YmtleSBcCiAgICByZWxh
eS11cmwgXAogICAgbWVkaWEtYmFzZS11cmwgXAogICAgY29ycy1vcmlnaW5zIFwKICAgIGNvbW11
bml0eS1tb2RlIFwKICAgIGdlbmVyYXRlZC5lbnYKICBkbwogICAgaWYgWyAtZiAiJHtDT05GSUdf
RElSfS8ke25hbWV9IiBdOyB0aGVuCiAgICAgIGNwICIke0NPTkZJR19ESVJ9LyR7bmFtZX0iICIk
e2Rlc3RpbmF0aW9ufS8ke25hbWV9IgogICAgICBjaG1vZCA2MDAgIiR7ZGVzdGluYXRpb259LyR7
bmFtZX0iCiAgICBmaQogIGRvbmUKfQoKZmFpbF9iYWNrdXAoKSB7CiAgbWVzc2FnZT0iJDEiCiAg
bG9nICIkbWVzc2FnZSIKICB3cml0ZV9zdGF0ZSBlcnJvciAwICIkbWVzc2FnZSIKICBybSAtZiAi
JFJFUVVFU1RfRklMRSIKfQoKcGVyZm9ybV9iYWNrdXAoKSB7CiAgcmVxdWVzdF9pZD0iJDEiCiAg
c3RhZ2U9IiR7QkFDS1VQX0RJUn0vLnN0YWdlLSR7cmVxdWVzdF9pZH0iCiAgcGFydGlhbD0iJHtC
QUNLVVBfRElSfS8ucGFydGlhbC0ke3JlcXVlc3RfaWR9LnRhciIKICBjcmVhdGVkX2F0PSIkKGRh
dGUgLXUgKyVZLSVtLSVkVCVIOiVNOiVTWikiCiAgdGltZXN0YW1wPSIkKGRhdGUgLXUgKyVZJW0l
ZFQlSCVNJVNaKSIKICBzaG9ydF9pZD0iJChwcmludGYgJyVzJyAiJHJlcXVlc3RfaWQiIHwgY3V0
IC1jMS04KSIKICBhcmNoaXZlX25hbWU9ImJ1enotcmVsYXktYmFja3VwLSR7dGltZXN0YW1wfS0k
e3Nob3J0X2lkfS50YXIiCiAgYXJjaGl2ZV9wYXRoPSIke0JBQ0tVUF9ESVJ9LyR7YXJjaGl2ZV9u
YW1lfSIKCiAgcm0gLXJmICIkc3RhZ2UiCiAgcm0gLWYgIiRwYXJ0aWFsIgogIG1rZGlyIC1wICIk
c3RhZ2UvY29uZmlnIgogIHdyaXRlX21hcmtlciAiJENVUlJFTlRfSURfRklMRSIgIiRyZXF1ZXN0
X2lkIgogIHdyaXRlX3N0YXRlIHBhdXNpbmcgNSAiUGF1c2luZyByZWxheSB3cml0ZXMiCgogIGlm
ICEgd2FpdF9mb3JfYWNrICIkcmVxdWVzdF9pZCIgcmVsYXkgfHwgISB3YWl0X2Zvcl9hY2sgIiRy
ZXF1ZXN0X2lkIiBtaW5pbzsgdGhlbgogICAgcm0gLXJmICIkc3RhZ2UiCiAgICBmYWlsX2JhY2t1
cCAiQ291bGQgbm90IHBhdXNlIHJlbGF5IGFuZCBvYmplY3Qgc3RvcmFnZSBzYWZlbHkiCiAgICBy
ZXR1cm4gMQogIGZpCgogIHdyaXRlX3N0YXRlIHByZXBhcmluZyAxNSAiQ2hlY2tpbmcgYmFja3Vw
IHNpemUgYW5kIGZyZWUgc3BhY2UiCiAgZGF0YWJhc2Vfa2liPSIkKGRhdGFiYXNlX3NpemVfa2li
IHx8IHByaW50ZiAnMCcpIgogIGNhc2UgIiRkYXRhYmFzZV9raWIiIGluCiAgICAnJ3wqWyEwLTld
KikKICAgICAgcm0gLXJmICIkc3RhZ2UiCiAgICAgIGZhaWxfYmFja3VwICJDb3VsZCBub3QgbWVh
c3VyZSB0aGUgUG9zdGdyZVNRTCBkYXRhYmFzZSBzYWZlbHkiCiAgICAgIHJldHVybiAxCiAgICAg
IDs7CiAgZXNhYwogIHNvdXJjZV9raWI9JCgoCiAgICAkKGRpcmVjdG9yeV9raWIgIiR7U09VUkNF
X1JPT1R9L2dpdCIpICsKICAgICQoZGlyZWN0b3J5X2tpYiAiJHtTT1VSQ0VfUk9PVH0vbWluaW8i
KSArCiAgICAkKGRpcmVjdG9yeV9raWIgIiRDT05GSUdfRElSIikgKwogICAgZGF0YWJhc2Vfa2li
CiAgKSkKICBjYXNlICIkTUFYX0JZVEVTIiBpbgogICAgJyd8KlshMC05XSopCiAgICAgIHJtIC1y
ZiAiJHN0YWdlIgogICAgICBmYWlsX2JhY2t1cCAiQ29uZmlndXJlZCBiYWNrdXAgc2l6ZSBsaW1p
dCBpcyBpbnZhbGlkIgogICAgICByZXR1cm4gMQogICAgICA7OwogIGVzYWMKICBtYXhfa2liPSQo
KE1BWF9CWVRFUyAvIDEwMjQpKQogIGF2YWlsYWJsZV9raWI9IiQoZGYgLVBrICIkQkFDS1VQX0RJ
UiIgfCBhd2sgJ05SID09IDIgeyBwcmludCAkNCArIDAgfScpIgogIGNhc2UgIiRhdmFpbGFibGVf
a2liIiBpbgogICAgJyd8KlshMC05XSopCiAgICAgIHJtIC1yZiAiJHN0YWdlIgogICAgICBmYWls
X2JhY2t1cCAiQ291bGQgbm90IG1lYXN1cmUgZnJlZSBiYWNrdXAgc3RvcmFnZSIKICAgICAgcmV0
dXJuIDEKICAgICAgOzsKICBlc2FjCiAgcmVxdWlyZWRfa2liPSQoKHNvdXJjZV9raWIgKiAyICsg
NTI0Mjg4KSkKICBpZiBbICIkc291cmNlX2tpYiIgLWd0ICIkbWF4X2tpYiIgXTsgdGhlbgogICAg
cm0gLXJmICIkc3RhZ2UiCiAgICBmYWlsX2JhY2t1cCAiQmFja3VwIHNvdXJjZSBleGNlZWRzIHRo
ZSBjb25maWd1cmVkIGV4cG9ydCBsaW1pdCIKICAgIHJldHVybiAxCiAgZmkKICBpZiBbICIkYXZh
aWxhYmxlX2tpYiIgLWx0ICIkcmVxdWlyZWRfa2liIiBdOyB0aGVuCiAgICBybSAtcmYgIiRzdGFn
ZSIKICAgIGZhaWxfYmFja3VwICJOb3QgZW5vdWdoIGZyZWUgc3BhY2UgdG8gYnVpbGQgdGhlIGJh
Y2t1cCBhcmNoaXZlIHNhZmVseSIKICAgIHJldHVybiAxCiAgZmkKCiAgd3JpdGVfc3RhdGUgZHVt
cGluZy1kYXRhYmFzZSAyNSAiQ3JlYXRpbmcgYSBjb25zaXN0ZW50IFBvc3RncmVTUUwgZHVtcCIK
ICBpZiAhIFBHUEFTU1dPUkQ9IiRQT1NUR1JFU19QQVNTV09SRCIgcGdfZHVtcCBcCiAgICAtaCAi
JFBPU1RHUkVTX0hPU1QiIFwKICAgIC1VICIkUE9TVEdSRVNfVVNFUiIgXAogICAgLWQgIiRQT1NU
R1JFU19EQiIgXAogICAgLS1mb3JtYXQ9Y3VzdG9tIFwKICAgIC0tZmlsZT0iJHtzdGFnZX0vcG9z
dGdyZXMuZHVtcCIKICB0aGVuCiAgICBybSAtcmYgIiRzdGFnZSIKICAgIGZhaWxfYmFja3VwICJQ
b3N0Z3JlU1FMIGJhY2t1cCBmYWlsZWQiCiAgICByZXR1cm4gMQogIGZpCgogIHdyaXRlX3N0YXRl
IGFyY2hpdmluZyA0NSAiQXJjaGl2aW5nIGNvbmZpZ3VyYXRpb24gYW5kIHJlbGF5IGlkZW50aXR5
IgogIGNvcHlfYmFja3VwX2NvbmZpZyAiJHtzdGFnZX0vY29uZmlnIgogIGlmICEgdGFyIC1jemYg
IiR7c3RhZ2V9L2NvbmZpZy50YXIuZ3oiIC1DICIke3N0YWdlfS9jb25maWciIC47IHRoZW4KICAg
IHJtIC1yZiAiJHN0YWdlIgogICAgZmFpbF9iYWNrdXAgIkNvbmZpZ3VyYXRpb24gYXJjaGl2ZSBm
YWlsZWQiCiAgICByZXR1cm4gMQogIGZpCiAgcm0gLXJmICIke3N0YWdlfS9jb25maWciCgogIHdy
aXRlX3N0YXRlIGFyY2hpdmluZyA2MCAiQXJjaGl2aW5nIGdpdCByZXBvc2l0b3JpZXMiCiAgaWYg
ISB0YXIgLWN6ZiAiJHtzdGFnZX0vZ2l0LnRhci5neiIgLUMgIiR7U09VUkNFX1JPT1R9L2dpdCIg
LjsgdGhlbgogICAgcm0gLXJmICIkc3RhZ2UiCiAgICBmYWlsX2JhY2t1cCAiR2l0IHJlcG9zaXRv
cnkgYXJjaGl2ZSBmYWlsZWQiCiAgICByZXR1cm4gMQogIGZpCgogIHdyaXRlX3N0YXRlIGFyY2hp
dmluZyA3NSAiQXJjaGl2aW5nIG9iamVjdCBzdG9yYWdlIgogIGlmICEgdGFyIC1jemYgIiR7c3Rh
Z2V9L21pbmlvLnRhci5neiIgLUMgIiR7U09VUkNFX1JPT1R9L21pbmlvIiAuOyB0aGVuCiAgICBy
bSAtcmYgIiRzdGFnZSIKICAgIGZhaWxfYmFja3VwICJPYmplY3Qgc3RvcmFnZSBhcmNoaXZlIGZh
aWxlZCIKICAgIHJldHVybiAxCiAgZmkKCiAgY2FzZSAiJFBBQ0tBR0VfVkVSU0lPTiIgaW4KICAg
ICpbIUEtWmEtejAtOS5fLV0qKSBwYWNrYWdlX3ZlcnNpb249dW5rbm93biA7OwogICAgKikgcGFj
a2FnZV92ZXJzaW9uPSIkUEFDS0FHRV9WRVJTSU9OIiA7OwogIGVzYWMKICBjYXQgPiAiJHtzdGFn
ZX0vbWFuaWZlc3QuanNvbiIgPDxFT0YKewogICJmb3JtYXRfdmVyc2lvbiI6IDEsCiAgImFwcF9p
ZCI6ICJidXp6LXJlbGF5IiwKICAicGFja2FnZV92ZXJzaW9uIjogIiR7cGFja2FnZV92ZXJzaW9u
fSIsCiAgImNyZWF0ZWRfYXQiOiAiJHtjcmVhdGVkX2F0fSIsCiAgImNvbXBvbmVudHMiOiBbInBv
c3RncmVzLmR1bXAiLCAiY29uZmlnLnRhci5neiIsICJnaXQudGFyLmd6IiwgIm1pbmlvLnRhci5n
eiJdLAogICJleGNsdWRlZF9yZWJ1aWxkYWJsZV9zdGF0ZSI6IFsicmVkaXMiLCAiZ2l0LWNhY2hl
Il0KfQpFT0YKICAoCiAgICBjZCAiJHN0YWdlIgogICAgc2hhMjU2c3VtIG1hbmlmZXN0Lmpzb24g
cG9zdGdyZXMuZHVtcCBjb25maWcudGFyLmd6IGdpdC50YXIuZ3ogbWluaW8udGFyLmd6ID4gU0hB
MjU2U1VNUwogICkKCiAgd3JpdGVfc3RhdGUgZmluYWxpemluZyA5MCAiRmluYWxpemluZyBhbmQg
Y2hlY2tzdW1taW5nIGFyY2hpdmUiCiAgaWYgISB0YXIgLWNmICIkcGFydGlhbCIgXAogICAgLUMg
IiRzdGFnZSIgXAogICAgbWFuaWZlc3QuanNvbiBTSEEyNTZTVU1TIHBvc3RncmVzLmR1bXAgY29u
ZmlnLnRhci5neiBnaXQudGFyLmd6IG1pbmlvLnRhci5negogIHRoZW4KICAgIHJtIC1yZiAiJHN0
YWdlIgogICAgcm0gLWYgIiRwYXJ0aWFsIgogICAgZmFpbF9iYWNrdXAgIkZpbmFsIGJhY2t1cCBh
cmNoaXZlIGZhaWxlZCIKICAgIHJldHVybiAxCiAgZmkKICBtdiAiJHBhcnRpYWwiICIkYXJjaGl2
ZV9wYXRoIgogIGNobW9kIDYwMCAiJGFyY2hpdmVfcGF0aCIKICBjaG93biAxMDAwOjEwMDAgIiRh
cmNoaXZlX3BhdGgiIDI+L2Rldi9udWxsIHx8IHRydWUKCiAgYXJjaGl2ZV9zaXplPSIkKHdjIC1j
IDwgIiRhcmNoaXZlX3BhdGgiIHwgdHIgLWQgJ1s6c3BhY2U6XScpIgogIGFyY2hpdmVfc2hhPSIk
KHNoYTI1NnN1bSAiJGFyY2hpdmVfcGF0aCIgfCBhd2sgJ3sgcHJpbnQgJDEgfScpIgogIHdyaXRl
X21hcmtlciAiJExBVEVTVF9OQU1FX0ZJTEUiICIkYXJjaGl2ZV9uYW1lIgogIHdyaXRlX21hcmtl
ciAiJExBVEVTVF9TSVpFX0ZJTEUiICIkYXJjaGl2ZV9zaXplIgogIHdyaXRlX21hcmtlciAiJExB
VEVTVF9TSEFfRklMRSIgIiRhcmNoaXZlX3NoYSIKICB3cml0ZV9tYXJrZXIgIiRMQVRFU1RfQ1JF
QVRFRF9GSUxFIiAiJGNyZWF0ZWRfYXQiCiAgZmluZCAiJEJBQ0tVUF9ESVIiIC1tYXhkZXB0aCAx
IC10eXBlIGYgLW5hbWUgJ2J1enotcmVsYXktYmFja3VwLSoudGFyJyAhIC1uYW1lICIkYXJjaGl2
ZV9uYW1lIiAtZGVsZXRlCiAgcm0gLXJmICIkc3RhZ2UiCiAgcm0gLWYgIiRSRVFVRVNUX0ZJTEUi
CiAgd3JpdGVfc3RhdGUgY29tcGxldGVkIDEwMCAiQmFja3VwIHJlYWR5IHRvIGRvd25sb2FkIgog
IHdyaXRlX3N0b3JhZ2Vfc3RhdHMgfHwgdHJ1ZQogIGxvZyAiQmFja3VwICR7YXJjaGl2ZV9uYW1l
fSBjb21wbGV0ZWQiCn0KCnNodXRkb3duKCkgewogIGtpbGwgIiRIRUFSVEJFQVRfUElEIiAiJFNU
T1JBR0VfUElEIiAyPi9kZXYvbnVsbCB8fCB0cnVlCiAgd2FpdCAiJEhFQVJUQkVBVF9QSUQiICIk
U1RPUkFHRV9QSUQiIDI+L2Rldi9udWxsIHx8IHRydWUKICBleGl0IDAKfQoKbWtkaXIgLXAgIiRD
T05GSUdfRElSIiAiJEJBQ0tVUF9ESVIiICIkQUNLX0RJUiIgXAogICIke1NPVVJDRV9ST09UfS9n
aXQiICIke1NPVVJDRV9ST09UfS9taW5pbyIKaGVhcnRiZWF0X2xvb3AgJgpIRUFSVEJFQVRfUElE
PSQhCnN0b3JhZ2VfbG9vcCAmClNUT1JBR0VfUElEPSQhCnRyYXAgc2h1dGRvd24gSU5UIFRFUk0K
CndoaWxlIHRydWU7IGRvCiAgcmVxdWVzdF9pZD0iJChyZWFkX21hcmtlciAiJFJFUVVFU1RfRklM
RSIpIgogIGlmIFsgLW4gIiRyZXF1ZXN0X2lkIiBdOyB0aGVuCiAgICBpZiB2YWxpZF9yZXF1ZXN0
X2lkICIkcmVxdWVzdF9pZCI7IHRoZW4KICAgICAgcGVyZm9ybV9iYWNrdXAgIiRyZXF1ZXN0X2lk
IiB8fCB0cnVlCiAgICBlbHNlCiAgICAgIGZhaWxfYmFja3VwICJCYWNrdXAgcmVxdWVzdCBpZGVu
dGlmaWVyIGlzIGludmFsaWQiCiAgICBmaQogIGZpCiAgc2xlZXAgMgpkb25lCg==
