OnJvb3QgewogIGNvbG9yLXNjaGVtZTogbGlnaHQ7CiAgLS1wYWdlOiAjZjRmNWYyOwogIC0tc3Vy
ZmFjZTogI2ZmZmZmZjsKICAtLWluazogIzE3MWExODsKICAtLW11dGVkOiAjNjI2OTY1OwogIC0t
bGluZTogI2Q5ZGRkODsKICAtLXN0cm9uZy1saW5lOiAjYjhjMGJhOwogIC0tYWNjZW50OiAjMTc2
YjUyOwogIC0tYWNjZW50LWRhcms6ICMwZDRhMzk7CiAgLS1hY2NlbnQtc29mdDogI2U3ZjNlZDsK
ICAtLXdhcm5pbmc6ICM4YTVhMTI7CiAgLS13YXJuaW5nLXNvZnQ6ICNmZmY0ZGM7CiAgLS1kYW5n
ZXI6ICNhNTJhMzI7CiAgLS1kYW5nZXItc29mdDogI2ZmZjBmMDsKICAtLWZvY3VzOiAjMTY3N2I4
OwogIGZvbnQtZmFtaWx5OiBJbnRlciwgdWktc2Fucy1zZXJpZiwgc3lzdGVtLXVpLCAtYXBwbGUt
c3lzdGVtLCBCbGlua01hY1N5c3RlbUZvbnQsICJTZWdvZSBVSSIsIHNhbnMtc2VyaWY7CiAgZm9u
dC1zaXplOiAxNnB4OwogIGxldHRlci1zcGFjaW5nOiAwOwp9CgoqIHsKICBib3gtc2l6aW5nOiBi
b3JkZXItYm94Owp9Cgpib2R5IHsKICBtaW4td2lkdGg6IDMyMHB4OwogIG1hcmdpbjogMDsKICBi
YWNrZ3JvdW5kOiB2YXIoLS1wYWdlKTsKICBjb2xvcjogdmFyKC0taW5rKTsKfQoKYnV0dG9uLApp
bnB1dCB7CiAgZm9udDogaW5oZXJpdDsKICBsZXR0ZXItc3BhY2luZzogMDsKfQoKLnNoZWxsIHsK
ICB3aWR0aDogbWluKDkyMHB4LCBjYWxjKDEwMCUgLSAzMnB4KSk7CiAgbWFyZ2luOiAwIGF1dG87
CiAgcGFkZGluZzogNDRweCAwIDM2cHg7Cn0KCi5tYXN0aGVhZCwKLnNlY3Rpb24taGVhZGluZywK
LmZvcm0tYWN0aW9ucywKZm9vdGVyIHsKICBkaXNwbGF5OiBmbGV4OwogIGFsaWduLWl0ZW1zOiBj
ZW50ZXI7CiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuOwogIGdhcDogMjRweDsKfQoK
LmV5ZWJyb3csCi5zdGVwIHsKICBtYXJnaW46IDAgMCA3cHg7CiAgY29sb3I6IHZhcigtLWFjY2Vu
dCk7CiAgZm9udC1zaXplOiAwLjc1cmVtOwogIGZvbnQtd2VpZ2h0OiA3NTA7CiAgdGV4dC10cmFu
c2Zvcm06IHVwcGVyY2FzZTsKfQoKaDEsCmgyLApwIHsKICBtYXJnaW4tdG9wOiAwOwp9CgpoMSB7
CiAgbWFyZ2luLWJvdHRvbTogMDsKICBmb250LXNpemU6IDMuMzVyZW07CiAgbGluZS1oZWlnaHQ6
IDE7Cn0KCmgyIHsKICBtYXJnaW4tYm90dG9tOiAwOwogIGZvbnQtc2l6ZTogMS4ycmVtOwogIGxp
bmUtaGVpZ2h0OiAxLjI1Owp9Cgouc3RhdHVzIHsKICBkaXNwbGF5OiBpbmxpbmUtZmxleDsKICBt
aW4taGVpZ2h0OiAzNnB4OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAgZ2FwOiA5cHg7CiAgcGFk
ZGluZzogMCAxMnB4OwogIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWxpbmUpOwogIGJvcmRlci1y
YWRpdXM6IDZweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS1zdXJmYWNlKTsKICBjb2xvcjogdmFyKC0t
bXV0ZWQpOwogIGZvbnQtc2l6ZTogMC44NHJlbTsKICBmb250LXdlaWdodDogNzAwOwp9Cgouc3Rh
dHVzLWRvdCB7CiAgd2lkdGg6IDlweDsKICBoZWlnaHQ6IDlweDsKICBmbGV4OiAwIDAgYXV0bzsK
ICBib3JkZXItcmFkaXVzOiA1MCU7CiAgYmFja2dyb3VuZDogIzhiOTE4ZDsKfQoKLnN0YXR1c1tk
YXRhLXN0YXRlPSJyZWFkeSJdIC5zdGF0dXMtZG90IHsKICBiYWNrZ3JvdW5kOiAjMTg4MzVmOwp9
Cgouc3RhdHVzW2RhdGEtc3RhdGU9IndvcmtpbmciXSAuc3RhdHVzLWRvdCB7CiAgYmFja2dyb3Vu
ZDogI2QyOGExZjsKfQoKLnN0YXR1c1tkYXRhLXN0YXRlPSJlcnJvciJdIC5zdGF0dXMtZG90IHsK
ICBiYWNrZ3JvdW5kOiB2YXIoLS1kYW5nZXIpOwp9Cgoubm90aWNlIHsKICBkaXNwbGF5OiBncmlk
OwogIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMzRweCAxZnI7CiAgZ2FwOiAxNHB4OwogIG1hcmdp
bjogMzBweCAwIDE4cHg7CiAgcGFkZGluZzogMTZweDsKICBib3JkZXI6IDFweCBzb2xpZCAjZThj
YTkzOwogIGJvcmRlci1yYWRpdXM6IDZweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS13YXJuaW5nLXNv
ZnQpOwp9Cgoubm90aWNlLW1hcmsgewogIGRpc3BsYXk6IGdyaWQ7CiAgd2lkdGg6IDMwcHg7CiAg
aGVpZ2h0OiAzMHB4OwogIHBsYWNlLWl0ZW1zOiBjZW50ZXI7CiAgYm9yZGVyOiAxcHggc29saWQg
I2M3OTQzZTsKICBib3JkZXItcmFkaXVzOiA1MCU7CiAgY29sb3I6IHZhcigtLXdhcm5pbmcpOwog
IGZvbnQtd2VpZ2h0OiA4MDA7Cn0KCi5ub3RpY2UgaDIgewogIGNvbG9yOiAjNjU0MDA5OwogIGZv
bnQtc2l6ZTogMC45OHJlbTsKfQoKLm5vdGljZSBwIHsKICBtYXJnaW46IDVweCAwIDA7CiAgY29s
b3I6ICM3NjU1MWU7CiAgZm9udC1zaXplOiAwLjlyZW07CiAgbGluZS1oZWlnaHQ6IDEuNTsKfQoK
Zm9ybSB7CiAgb3ZlcmZsb3c6IGhpZGRlbjsKICBib3JkZXI6IDFweCBzb2xpZCB2YXIoLS1saW5l
KTsKICBib3JkZXItcmFkaXVzOiA4cHg7CiAgYmFja2dyb3VuZDogdmFyKC0tc3VyZmFjZSk7Cn0K
Ci5mb3JtLXNlY3Rpb24sCi5yZXNldC1wYW5lbCB7CiAgcGFkZGluZzogMzBweDsKICBib3JkZXIt
Ym90dG9tOiAxcHggc29saWQgdmFyKC0tbGluZSk7Cn0KCi5zZWN0aW9uLWhlYWRpbmcgewogIGFs
aWduLWl0ZW1zOiBmbGV4LXN0YXJ0OwogIG1hcmdpbi1ib3R0b206IDI1cHg7Cn0KCi5zZWN0aW9u
LWhlYWRpbmcgPiBwIHsKICBtYXgtd2lkdGg6IDM3MHB4OwogIG1hcmdpbi1ib3R0b206IDA7CiAg
Y29sb3I6IHZhcigtLW11dGVkKTsKICBmb250LXNpemU6IDAuODhyZW07CiAgbGluZS1oZWlnaHQ6
IDEuNDU7CiAgdGV4dC1hbGlnbjogcmlnaHQ7Cn0KCmxhYmVsIHsKICBkaXNwbGF5OiBibG9jazsK
ICBtYXJnaW4tYm90dG9tOiA4cHg7CiAgZm9udC1zaXplOiAwLjg2cmVtOwogIGZvbnQtd2VpZ2h0
OiA3MjA7Cn0KCmlucHV0W3R5cGU9InRleHQiXSwKaW5wdXRbdHlwZT0idXJsIl0gewogIHdpZHRo
OiAxMDAlOwogIG1pbi1oZWlnaHQ6IDQ2cHg7CiAgcGFkZGluZzogMTBweCAxMnB4OwogIGJvcmRl
cjogMXB4IHNvbGlkIHZhcigtLXN0cm9uZy1saW5lKTsKICBib3JkZXItcmFkaXVzOiA1cHg7CiAg
b3V0bGluZTogbm9uZTsKICBiYWNrZ3JvdW5kOiAjZmZmOwogIGNvbG9yOiB2YXIoLS1pbmspOwp9
CgppbnB1dDpmb2N1cyB7CiAgYm9yZGVyLWNvbG9yOiB2YXIoLS1mb2N1cyk7CiAgYm94LXNoYWRv
dzogMCAwIDAgM3B4IHJnYmEoMjIsIDExOSwgMTg0LCAwLjEzKTsKfQoKLmZpZWxkLW1lc3NhZ2Us
Ci5oaW50IHsKICBtYXJnaW46IDdweCAwIDA7CiAgY29sb3I6IHZhcigtLW11dGVkKTsKICBmb250
LXNpemU6IDAuNzhyZW07CiAgbGluZS1oZWlnaHQ6IDEuNDU7Cn0KCi5maWVsZC1tZXNzYWdlW2Rh
dGEta2luZD0iZXJyb3IiXSB7CiAgY29sb3I6IHZhcigtLWRhbmdlcik7Cn0KCi5maWVsZC1tZXNz
YWdlW2RhdGEta2luZD0ic3VjY2VzcyJdIHsKICBjb2xvcjogdmFyKC0tYWNjZW50KTsKfQoKLmVx
dWl2YWxlbnRzIHsKICBkaXNwbGF5OiBncmlkOwogIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMWZy
IDFmcjsKICBtYXJnaW4tdG9wOiAxOHB4OwogIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWxpbmUp
OwogIGJvcmRlci1yYWRpdXM6IDVweDsKICBiYWNrZ3JvdW5kOiAjZmFmYmY5Owp9CgouZXF1aXZh
bGVudHMgPiBkaXYgewogIG1pbi13aWR0aDogMDsKICBwYWRkaW5nOiAxMnB4IDE0cHg7Cn0KCi5l
cXVpdmFsZW50cyA+IGRpdiArIGRpdiB7CiAgYm9yZGVyLWxlZnQ6IDFweCBzb2xpZCB2YXIoLS1s
aW5lKTsKfQoKLmVxdWl2YWxlbnRzIHNwYW4gewogIGRpc3BsYXk6IGJsb2NrOwogIG1hcmdpbi1i
b3R0b206IDVweDsKICBjb2xvcjogdmFyKC0tbXV0ZWQpOwogIGZvbnQtc2l6ZTogMC42OXJlbTsK
ICBmb250LXdlaWdodDogNzUwOwogIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7Cn0KCi5lcXVp
dmFsZW50cyBvdXRwdXQgewogIGRpc3BsYXk6IGJsb2NrOwogIG92ZXJmbG93OiBoaWRkZW47CiAg
Y29sb3I6ICMzMDM2MzI7CiAgZm9udC1mYW1pbHk6IHVpLW1vbm9zcGFjZSwgU0ZNb25vLVJlZ3Vs
YXIsIE1lbmxvLCBDb25zb2xhcywgbW9ub3NwYWNlOwogIGZvbnQtc2l6ZTogMC43N3JlbTsKICBs
aW5lLWhlaWdodDogMS4zNTsKICBvdmVyZmxvdy13cmFwOiBhbnl3aGVyZTsKfQoKLmNoZWNrLXJv
dyB7CiAgZGlzcGxheTogZmxleDsKICBhbGlnbi1pdGVtczogZmxleC1zdGFydDsKICBnYXA6IDEw
cHg7CiAgbWFyZ2luOiAxOHB4IDAgMDsKICBjb2xvcjogIzQ3NGU0OTsKICBmb250LXNpemU6IDAu
ODJyZW07CiAgZm9udC13ZWlnaHQ6IDU1MDsKICBsaW5lLWhlaWdodDogMS40Owp9CgouY2hlY2st
cm93IGlucHV0IHsKICB3aWR0aDogMThweDsKICBoZWlnaHQ6IDE4cHg7CiAgZmxleDogMCAwIGF1
dG87CiAgbWFyZ2luOiAxcHggMCAwOwogIGFjY2VudC1jb2xvcjogdmFyKC0tYWNjZW50KTsKfQoK
LmZpZWxkLWdyaWQgewogIGRpc3BsYXk6IGdyaWQ7CiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiBy
ZXBlYXQoMiwgbWlubWF4KDAsIDFmcikpOwogIGdhcDogMjFweDsKfQoKLmZpZWxkLXdpZGUgewog
IGdyaWQtY29sdW1uOiAxIC8gLTE7Cn0KCi5yZXNldC1wYW5lbCB7CiAgYmFja2dyb3VuZDogdmFy
KC0tZGFuZ2VyLXNvZnQpOwp9CgoucmVzZXQtcGFuZWwgaDIgewogIGNvbG9yOiAjN2MxZDI0Owp9
CgoucmVzZXQtcGFuZWwgPiBwOm5vdCguc3RlcCkgewogIG1heC13aWR0aDogNzAwcHg7CiAgbWFy
Z2luOiA5cHggMCAxOHB4OwogIGNvbG9yOiAjNzQzNjNhOwogIGZvbnQtc2l6ZTogMC44OHJlbTsK
ICBsaW5lLWhlaWdodDogMS41NTsKfQoKLmRhbmdlci1zdGVwIHsKICBjb2xvcjogdmFyKC0tZGFu
Z2VyKTsKfQoKLnJlc2V0LXBhbmVsIC5jaGVjay1yb3cgewogIG1hcmdpbi1ib3R0b206IDE4cHg7
Cn0KCi5mb3JtLWFjdGlvbnMgewogIG1pbi1oZWlnaHQ6IDg4cHg7CiAgcGFkZGluZzogMThweCAz
MHB4OwogIGJhY2tncm91bmQ6ICNmYWZiZjk7Cn0KCi5hY3Rpb24tdGl0bGUgewogIG1hcmdpbi1i
b3R0b206IDNweDsKICBmb250LXNpemU6IDAuOXJlbTsKICBmb250LXdlaWdodDogNzUwOwp9Cgou
YWN0aW9uLWRldGFpbCB7CiAgbWFyZ2luLWJvdHRvbTogMDsKICBjb2xvcjogdmFyKC0tbXV0ZWQp
OwogIGZvbnQtc2l6ZTogMC43N3JlbTsKICBsaW5lLWhlaWdodDogMS40Owp9CgpidXR0b24gewog
IG1pbi1oZWlnaHQ6IDQ0cHg7CiAgcGFkZGluZzogMCAxOHB4OwogIGJvcmRlcjogMXB4IHNvbGlk
IHZhcigtLWFjY2VudC1kYXJrKTsKICBib3JkZXItcmFkaXVzOiA1cHg7CiAgYmFja2dyb3VuZDog
dmFyKC0tYWNjZW50KTsKICBjb2xvcjogI2ZmZjsKICBjdXJzb3I6IHBvaW50ZXI7CiAgZm9udC13
ZWlnaHQ6IDc1MDsKfQoKYnV0dG9uOmhvdmVyIHsKICBiYWNrZ3JvdW5kOiB2YXIoLS1hY2NlbnQt
ZGFyayk7Cn0KCmJ1dHRvbjpkaXNhYmxlZCB7CiAgY3Vyc29yOiB3YWl0OwogIG9wYWNpdHk6IDAu
NTU7Cn0KCi5kYW5nZXItYnV0dG9uIHsKICBib3JkZXItY29sb3I6ICM3NjFiMjI7CiAgYmFja2dy
b3VuZDogdmFyKC0tZGFuZ2VyKTsKfQoKLmRhbmdlci1idXR0b246aG92ZXIgewogIGJhY2tncm91
bmQ6ICM3NjFiMjI7Cn0KCi5yZXN1bHQgewogIG1hcmdpbi10b3A6IDE0cHg7CiAgcGFkZGluZzog
MTNweCAxNXB4OwogIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWxpbmUpOwogIGJvcmRlci1yYWRp
dXM6IDVweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS1zdXJmYWNlKTsKICBmb250LXNpemU6IDAuODZy
ZW07Cn0KCi5yZXN1bHQuc3VjY2VzcyB7CiAgYm9yZGVyLWNvbG9yOiAjOWFjNmI0OwogIGJhY2tn
cm91bmQ6IHZhcigtLWFjY2VudC1zb2Z0KTsKICBjb2xvcjogdmFyKC0tYWNjZW50LWRhcmspOwp9
CgoucmVzdWx0LmVycm9yIHsKICBib3JkZXItY29sb3I6ICNkZmE3YWI7CiAgYmFja2dyb3VuZDog
dmFyKC0tZGFuZ2VyLXNvZnQpOwogIGNvbG9yOiAjN2IyMDI3Owp9CgoucmVzdWx0Lndvcmtpbmcg
ewogIGJvcmRlci1jb2xvcjogI2UwYzI4ZDsKICBiYWNrZ3JvdW5kOiB2YXIoLS13YXJuaW5nLXNv
ZnQpOwogIGNvbG9yOiAjNmU0ODBlOwp9Cgpmb290ZXIgewogIHBhZGRpbmc6IDIxcHggMnB4IDA7
CiAgY29sb3I6IHZhcigtLW11dGVkKTsKICBmb250LXNpemU6IDAuNzhyZW07Cn0KCmZvb3RlciBw
IHsKICBtYXJnaW4tYm90dG9tOiAwOwp9Cgpmb290ZXIgYSB7CiAgY29sb3I6IHZhcigtLWFjY2Vu
dC1kYXJrKTsKfQoKY29kZSB7CiAgZm9udC1mYW1pbHk6IHVpLW1vbm9zcGFjZSwgU0ZNb25vLVJl
Z3VsYXIsIE1lbmxvLCBDb25zb2xhcywgbW9ub3NwYWNlOwogIGZvbnQtc2l6ZTogMC45MmVtOwp9
CgouaGlkZGVuIHsKICBkaXNwbGF5OiBub25lICFpbXBvcnRhbnQ7Cn0KCkBtZWRpYSAobWF4LXdp
ZHRoOiA2ODBweCkgewogIGgxIHsKICAgIGZvbnQtc2l6ZTogMnJlbTsKICB9CgogIC5zaGVsbCB7
CiAgICB3aWR0aDogbWluKDEwMCUgLSAyMHB4LCA5MjBweCk7CiAgICBwYWRkaW5nLXRvcDogMjVw
eDsKICB9CgogIC5tYXN0aGVhZCwKICAuc2VjdGlvbi1oZWFkaW5nLAogIC5mb3JtLWFjdGlvbnMs
CiAgZm9vdGVyIHsKICAgIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0OwogICAgZmxleC1kaXJlY3Rp
b246IGNvbHVtbjsKICB9CgogIC5tYXN0aGVhZCB7CiAgICBnYXA6IDE2cHg7CiAgfQoKICAuc2Vj
dGlvbi1oZWFkaW5nID4gcCB7CiAgICB0ZXh0LWFsaWduOiBsZWZ0OwogIH0KCiAgLmZvcm0tc2Vj
dGlvbiwKICAucmVzZXQtcGFuZWwsCiAgLmZvcm0tYWN0aW9ucyB7CiAgICBwYWRkaW5nOiAyMnB4
IDE4cHg7CiAgfQoKICAuZXF1aXZhbGVudHMgewogICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAx
ZnI7CiAgfQoKICAuZXF1aXZhbGVudHMgPiBkaXYgKyBkaXYgewogICAgYm9yZGVyLXRvcDogMXB4
IHNvbGlkIHZhcigtLWxpbmUpOwogICAgYm9yZGVyLWxlZnQ6IDA7CiAgfQoKICAuZm9ybS1hY3Rp
b25zIGJ1dHRvbiB7CiAgICB3aWR0aDogMTAwJTsKICB9CgogIGZvb3RlciB7CiAgICBnYXA6IDhw
eDsKICB9Cn0K
