bWFwICRodHRwX3VwZ3JhZGUgJGNvbm5lY3Rpb25fdXBncmFkZSB7CiAgICBkZWZhdWx0IHVwZ3Jh
ZGU7CiAgICAnJyAgICAgIGNsb3NlOwp9CgpzZXJ2ZXIgewogICAgbGlzdGVuIDgwODA7CiAgICBz
ZXJ2ZXJfbmFtZSBfOwogICAgY2xpZW50X21heF9ib2R5X3NpemUgNTAwbTsKCiAgICBsb2NhdGlv
biA9IC9zZXR1cCB7CiAgICAgICAgcmV0dXJuIDMwMiAvc2V0dXAvOwogICAgfQoKICAgIGxvY2F0
aW9uIF5+IC9zZXR1cC8gewogICAgICAgIHByb3h5X3Bhc3MgaHR0cDovL2NvbmZpZzo4MDgwLzsK
ICAgICAgICBwcm94eV9odHRwX3ZlcnNpb24gMS4xOwogICAgICAgIHByb3h5X3NldF9oZWFkZXIg
SG9zdCAkaHR0cF9ob3N0OwogICAgICAgIHByb3h5X3NldF9oZWFkZXIgWC1Gb3J3YXJkZWQtSG9z
dCAkaHR0cF9ob3N0OwogICAgICAgIHByb3h5X3NldF9oZWFkZXIgWC1Gb3J3YXJkZWQtUHJvdG8g
JHNjaGVtZTsKICAgICAgICBwcm94eV9zZXRfaGVhZGVyIFgtRm9yd2FyZGVkLUZvciAkcHJveHlf
YWRkX3hfZm9yd2FyZGVkX2ZvcjsKICAgICAgICBwcm94eV9idWZmZXJpbmcgb2ZmOwogICAgfQoK
ICAgIGxvY2F0aW9uIC8gewogICAgICAgIHByb3h5X3Bhc3MgaHR0cDovL3JlbGF5OjMwMDA7CiAg
ICAgICAgcHJveHlfaHR0cF92ZXJzaW9uIDEuMTsKICAgICAgICBwcm94eV9zZXRfaGVhZGVyIEhv
c3QgJGh0dHBfaG9zdDsKICAgICAgICBwcm94eV9zZXRfaGVhZGVyIFgtRm9yd2FyZGVkLUhvc3Qg
JGh0dHBfaG9zdDsKICAgICAgICBwcm94eV9zZXRfaGVhZGVyIFgtRm9yd2FyZGVkLVByb3RvICRz
Y2hlbWU7CiAgICAgICAgcHJveHlfc2V0X2hlYWRlciBYLUZvcndhcmRlZC1Gb3IgJHByb3h5X2Fk
ZF94X2ZvcndhcmRlZF9mb3I7CiAgICAgICAgcHJveHlfc2V0X2hlYWRlciBVcGdyYWRlICRodHRw
X3VwZ3JhZGU7CiAgICAgICAgcHJveHlfc2V0X2hlYWRlciBDb25uZWN0aW9uICRjb25uZWN0aW9u
X3VwZ3JhZGU7CiAgICAgICAgcHJveHlfcmVhZF90aW1lb3V0IDM2MDBzOwogICAgICAgIHByb3h5
X3NlbmRfdGltZW91dCAzNjAwczsKICAgICAgICBwcm94eV9idWZmZXJpbmcgb2ZmOwogICAgfQp9
Cg==
