Y29uc3QgZm9ybSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNzZXR1cC1mb3JtIik7CmNvbnN0
IGNvbmZpZ3VyZWRWaWV3ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2NvbmZpZ3VyZWQtdmll
dyIpOwpjb25zdCBvd25lcklucHV0ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI293bmVyLWtl
eSIpOwpjb25zdCBvd25lck1lc3NhZ2UgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjb3duZXIt
bWVzc2FnZSIpOwpjb25zdCB2ZXJpZmllZEtleSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiN2
ZXJpZmllZC1rZXkiKTsKY29uc3Qgb3duZXJIZXggPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIj
b3duZXItaGV4Iik7CmNvbnN0IG93bmVyTnB1YiA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNv
d25lci1ucHViIik7CmNvbnN0IGhleENvbmZpcm1Sb3cgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9y
KCIjaGV4LWNvbmZpcm0tcm93Iik7CmNvbnN0IGNvbmZpcm1QdWJsaWNIZXggPSBkb2N1bWVudC5x
dWVyeVNlbGVjdG9yKCIjY29uZmlybS1wdWJsaWMtaGV4Iik7CmNvbnN0IG1vZGVJbnB1dHMgPSBb
Li4uZG9jdW1lbnQucXVlcnlTZWxlY3RvckFsbCgnaW5wdXRbbmFtZT0iY29tbXVuaXR5TW9kZSJd
JyldOwpjb25zdCBjb21tdW5pdHlDb250cm9scyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNj
b21tdW5pdHktY29udHJvbHMiKTsKY29uc3QgY2Fub25pY2FsTG9jayA9IGRvY3VtZW50LnF1ZXJ5
U2VsZWN0b3IoIiNjYW5vbmljYWwtbG9jayIpOwpjb25zdCBsb2NhbERldGFpbCA9IGRvY3VtZW50
LnF1ZXJ5U2VsZWN0b3IoIiNsb2NhbC1kZXRhaWwiKTsKY29uc3QgcHVibGljRGV0YWlsID0gZG9j
dW1lbnQucXVlcnlTZWxlY3RvcigiI3B1YmxpYy1kZXRhaWwiKTsKY29uc3QgbG9jYWxDb21tdW5p
dHlVcmwgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbG9jYWwtY29tbXVuaXR5LXVybCIpOwpj
b25zdCBwdWJsaWNDb21tdW5pdHlVcmwgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjcHVibGlj
LWNvbW11bml0eS11cmwiKTsKY29uc3QgcmV2aWV3T3duZXIgPSBkb2N1bWVudC5xdWVyeVNlbGVj
dG9yKCIjcmV2aWV3LW93bmVyIik7CmNvbnN0IHJldmlld0NvbW11bml0eVVybCA9IGRvY3VtZW50
LnF1ZXJ5U2VsZWN0b3IoIiNyZXZpZXctY29tbXVuaXR5LXVybCIpOwpjb25zdCByZXNldFBhbmVs
ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI3Jlc2V0LXBhbmVsIik7CmNvbnN0IGNvbmZpcm1S
ZXNldCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNjb25maXJtLXJlc2V0Iik7CmNvbnN0IHJl
c2V0UGhyYXNlID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI3Jlc2V0LXBocmFzZSIpOwpjb25z
dCBzdWJtaXRCdXR0b24gPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjc3VibWl0LWJ1dHRvbiIp
Owpjb25zdCBhY3Rpb25UaXRsZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNhY3Rpb24tdGl0
bGUiKTsKY29uc3QgYWN0aW9uRGV0YWlsID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2FjdGlv
bi1kZXRhaWwiKTsKY29uc3QgcmVzdWx0ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI3Jlc3Vs
dCIpOwpjb25zdCBzdGF0dXNCYWRnZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNyZWxheS1z
dGF0dXMiKTsKY29uc3Qgc3RhdHVzVGV4dCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNyZWxh
eS1zdGF0dXMtdGV4dCIpOwpjb25zdCBjb25maWd1cmVkQ29tbXVuaXR5VXJsID0gZG9jdW1lbnQu
cXVlcnlTZWxlY3RvcigiI2NvbmZpZ3VyZWQtY29tbXVuaXR5LXVybCIpOwpjb25zdCBjb25maWd1
cmVkT3duZXIgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjY29uZmlndXJlZC1vd25lciIpOwpj
b25zdCBjb25maWd1cmVkTW9kZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNjb25maWd1cmVk
LW1vZGUiKTsKY29uc3QgZWRpdEJ1dHRvbiA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNlZGl0
LWJ1dHRvbiIpOwpjb25zdCBjb3B5Q29tbXVuaXR5VXJsID0gZG9jdW1lbnQucXVlcnlTZWxlY3Rv
cigiI2NvcHktY29tbXVuaXR5LXVybCIpOwpjb25zdCBvcGVyYXRpb25zUGFuZWwgPSBkb2N1bWVu
dC5xdWVyeVNlbGVjdG9yKCIjb3BlcmF0aW9ucy1wYW5lbCIpOwpjb25zdCBiYWNrdXBQYW5lbCA9
IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNiYWNrdXAtcGFuZWwiKTsKY29uc3QgcmVzdG9yZVBh
bmVsID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI3Jlc3RvcmUtcGFuZWwiKTsKY29uc3QgbWV0
cmljc0ZyZXNobmVzcyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNtZXRyaWNzLWZyZXNobmVz
cyIpOwpjb25zdCBtZXRyaWNSZWxheSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNtZXRyaWMt
cmVsYXkiKTsKY29uc3QgbWV0cmljVXB0aW1lID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI21l
dHJpYy11cHRpbWUiKTsKY29uc3QgbWV0cmljVmVyc2lvbiA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0
b3IoIiNtZXRyaWMtdmVyc2lvbiIpOwpjb25zdCBtZXRyaWNDb25uZWN0aW9ucyA9IGRvY3VtZW50
LnF1ZXJ5U2VsZWN0b3IoIiNtZXRyaWMtY29ubmVjdGlvbnMiKTsKY29uc3QgbWV0cmljTWVtYmVy
cyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNtZXRyaWMtbWVtYmVycyIpOwpjb25zdCBtZXRy
aWNDaGFubmVscyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNtZXRyaWMtY2hhbm5lbHMiKTsK
Y29uc3QgbWV0cmljTWVzc2FnZXMgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbWV0cmljLW1l
c3NhZ2VzIik7CmNvbnN0IG1ldHJpY0V2ZW50cyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNt
ZXRyaWMtZXZlbnRzIik7CmNvbnN0IG1ldHJpY1N0b3JhZ2UgPSBkb2N1bWVudC5xdWVyeVNlbGVj
dG9yKCIjbWV0cmljLXN0b3JhZ2UiKTsKY29uc3QgbWV0cmljQWN0aXZpdHkgPSBkb2N1bWVudC5x
dWVyeVNlbGVjdG9yKCIjbWV0cmljLWFjdGl2aXR5Iik7CmNvbnN0IGhlYWx0aFBvc3RncmVzID0g
ZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2hlYWx0aC1wb3N0Z3JlcyIpOwpjb25zdCBoZWFsdGhS
ZWRpcyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNoZWFsdGgtcmVkaXMiKTsKY29uc3QgaGVh
bHRoTWluaW8gPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjaGVhbHRoLW1pbmlvIik7CmNvbnN0
IGhlYWx0aFdvcmtlciA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNoZWFsdGgtd29ya2VyIik7
CmNvbnN0IGFja25vd2xlZGdlU2Vuc2l0aXZlID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2Fj
a25vd2xlZGdlLXNlbnNpdGl2ZSIpOwpjb25zdCBjcmVhdGVCYWNrdXAgPSBkb2N1bWVudC5xdWVy
eVNlbGVjdG9yKCIjY3JlYXRlLWJhY2t1cCIpOwpjb25zdCBkb3dubG9hZEJhY2t1cCA9IGRvY3Vt
ZW50LnF1ZXJ5U2VsZWN0b3IoIiNkb3dubG9hZC1iYWNrdXAiKTsKY29uc3QgYmFja3VwU3RhdGUg
PSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjYmFja3VwLXN0YXRlIik7CmNvbnN0IGJhY2t1cFBy
b2dyZXNzID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2JhY2t1cC1wcm9ncmVzcyIpOwpjb25z
dCBiYWNrdXBQcm9ncmVzc0JhciA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNiYWNrdXAtcHJv
Z3Jlc3MtYmFyIik7CmNvbnN0IGJhY2t1cE1lc3NhZ2UgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9y
KCIjYmFja3VwLW1lc3NhZ2UiKTsKY29uc3QgYXJjaGl2ZURldGFpbHMgPSBkb2N1bWVudC5xdWVy
eVNlbGVjdG9yKCIjYXJjaGl2ZS1kZXRhaWxzIik7CmNvbnN0IGJhY2t1cENyZWF0ZWQgPSBkb2N1
bWVudC5xdWVyeVNlbGVjdG9yKCIjYmFja3VwLWNyZWF0ZWQiKTsKY29uc3QgYmFja3VwU2l6ZSA9
IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNiYWNrdXAtc2l6ZSIpOwpjb25zdCBiYWNrdXBTaGEg
PSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjYmFja3VwLXNoYSIpOwoKbGV0IHN0YXR1cyA9IG51
bGw7CmxldCBwcmV2aWV3ID0gbnVsbDsKbGV0IHByZXZpZXdUaW1lciA9IG51bGw7CmxldCBmb3Jt
VG91Y2hlZCA9IGZhbHNlOwpsZXQgZWRpdGluZyA9IGZhbHNlOwoKYXN5bmMgZnVuY3Rpb24gYXBp
KHBhdGgsIG9wdGlvbnMgPSB7fSkgewogIGNvbnN0IHJlc3BvbnNlID0gYXdhaXQgZmV0Y2gocGF0
aCwgewogICAgLi4ub3B0aW9ucywKICAgIGhlYWRlcnM6IHsKICAgICAgIkNvbnRlbnQtVHlwZSI6
ICJhcHBsaWNhdGlvbi9qc29uIiwKICAgICAgIlgtQnV6ei1TZXR1cCI6ICIxIiwKICAgICAgLi4u
KG9wdGlvbnMuaGVhZGVycyB8fCB7fSksCiAgICB9LAogIH0pOwogIGNvbnN0IHBheWxvYWQgPSBh
d2FpdCByZXNwb25zZS5qc29uKCk7CiAgaWYgKCFyZXNwb25zZS5vaykgewogICAgY29uc3QgZXJy
b3IgPSBuZXcgRXJyb3IocGF5bG9hZC5lcnJvciB8fCBgUmVxdWVzdCBmYWlsZWQgKCR7cmVzcG9u
c2Uuc3RhdHVzfSlgKTsKICAgIGVycm9yLnBheWxvYWQgPSBwYXlsb2FkOwogICAgdGhyb3cgZXJy
b3I7CiAgfQogIHJldHVybiBwYXlsb2FkOwp9CgpmdW5jdGlvbiBzZXRTdGF0dXMoc3RhdGUsIHRl
eHQpIHsKICBzdGF0dXNCYWRnZS5kYXRhc2V0LnN0YXRlID0gc3RhdGU7CiAgc3RhdHVzVGV4dC50
ZXh0Q29udGVudCA9IHRleHQ7Cn0KCmZ1bmN0aW9uIHNlbGVjdGVkTW9kZSgpIHsKICByZXR1cm4g
bW9kZUlucHV0cy5maW5kKChpbnB1dCkgPT4gaW5wdXQuY2hlY2tlZCk/LnZhbHVlIHx8ICJsb2Nh
bCI7Cn0KCmZ1bmN0aW9uIHNlbGVjdGVkQ29tbXVuaXR5VXJsKCkgewogIGlmIChzdGF0dXM/LmNv
bmZpZ3VyZWQpIHsKICAgIHJldHVybiBzdGF0dXMuY29tbXVuaXR5VXJsIHx8ICIiOwogIH0KICBy
ZXR1cm4gc2VsZWN0ZWRNb2RlKCkgPT09ICJsb2NhbCIKICAgID8gc3RhdHVzPy5sb2NhbENvbW11
bml0eVVybCB8fCAiIgogICAgOiBwdWJsaWNDb21tdW5pdHlVcmwudmFsdWUudHJpbSgpOwp9Cgpm
dW5jdGlvbiBzZXRTZWxlY3RlZE1vZGUobW9kZSkgewogIGNvbnN0IHNlbGVjdGVkID0gbW9kZUlu
cHV0cy5maW5kKChpbnB1dCkgPT4gaW5wdXQudmFsdWUgPT09IG1vZGUpIHx8IG1vZGVJbnB1dHNb
MF07CiAgc2VsZWN0ZWQuY2hlY2tlZCA9IHRydWU7Cn0KCmZ1bmN0aW9uIHJlbmRlck1vZGUoKSB7
CiAgY29uc3QgbG9jYWwgPSBzZWxlY3RlZE1vZGUoKSA9PT0gImxvY2FsIjsKICBsb2NhbERldGFp
bC5jbGFzc0xpc3QudG9nZ2xlKCJoaWRkZW4iLCAhbG9jYWwpOwogIHB1YmxpY0RldGFpbC5jbGFz
c0xpc3QudG9nZ2xlKCJoaWRkZW4iLCBsb2NhbCk7CiAgcHVibGljQ29tbXVuaXR5VXJsLnJlcXVp
cmVkID0gIWxvY2FsOwogIHN5bmNSZXZpZXcoKTsKfQoKZnVuY3Rpb24gcmVuZGVyQ29tbXVuaXR5
TG9jaygpIHsKICBjb25zdCBsb2NrZWQgPSBCb29sZWFuKHN0YXR1cz8uY29uZmlndXJlZCk7CiAg
Y29tbXVuaXR5Q29udHJvbHMuZGlzYWJsZWQgPSBsb2NrZWQ7CiAgcHVibGljQ29tbXVuaXR5VXJs
LmRpc2FibGVkID0gbG9ja2VkOwogIGNhbm9uaWNhbExvY2suY2xhc3NMaXN0LnRvZ2dsZSgiaGlk
ZGVuIiwgIWxvY2tlZCk7Cn0KCmZ1bmN0aW9uIHN5bmNSZXZpZXcoKSB7CiAgcmV2aWV3T3duZXIu
dGV4dENvbnRlbnQgPSBwcmV2aWV3Py5vd25lck5wdWIgfHwgIk5vdCB2ZXJpZmllZCI7CiAgcmV2
aWV3Q29tbXVuaXR5VXJsLnRleHRDb250ZW50ID0gc2VsZWN0ZWRDb21tdW5pdHlVcmwoKSB8fCAi
Tm90IHNlbGVjdGVkIjsKfQoKZnVuY3Rpb24gcG9wdWxhdGVDb25maWd1cmVkVmlldygpIHsKICBj
b25maWd1cmVkQ29tbXVuaXR5VXJsLnRleHRDb250ZW50ID0gc3RhdHVzPy5jb21tdW5pdHlVcmwg
fHwgIlVuYXZhaWxhYmxlIjsKICBjb25maWd1cmVkT3duZXIudGV4dENvbnRlbnQgPSBzdGF0dXM/
Lm93bmVyTnB1YiB8fCAiVW5hdmFpbGFibGUiOwogIGNvbmZpZ3VyZWRNb2RlLnRleHRDb250ZW50
ID0gc3RhdHVzPy5jb21tdW5pdHlNb2RlID09PSAicHVibGljIgogICAgPyAiUHVibGljIGNvbW11
bml0eSIKICAgIDogIkxvY2FsIHRlc3RpbmciOwp9CgpmdW5jdGlvbiBoeWRyYXRlRm9ybSgpIHsK
ICBvd25lcklucHV0LnZhbHVlID0gc3RhdHVzPy5vd25lck5wdWIgfHwgIiI7CiAgc2V0U2VsZWN0
ZWRNb2RlKHN0YXR1cz8uY29tbXVuaXR5TW9kZSB8fCAibG9jYWwiKTsKICBwdWJsaWNDb21tdW5p
dHlVcmwudmFsdWUgPSBzdGF0dXM/LmNvbW11bml0eU1vZGUgPT09ICJwdWJsaWMiCiAgICA/IHN0
YXR1cy5jb21tdW5pdHlVcmwgfHwgIiIKICAgIDogIiI7CiAgbG9jYWxDb21tdW5pdHlVcmwudGV4
dENvbnRlbnQgPSBzdGF0dXM/LmxvY2FsQ29tbXVuaXR5VXJsIHx8ICJVbmF2YWlsYWJsZSI7CiAg
cmVuZGVyTW9kZSgpOwogIHJlbmRlckNvbW11bml0eUxvY2soKTsKICBpZiAob3duZXJJbnB1dC52
YWx1ZSkgewogICAgdm9pZCBwcmV2aWV3T3duZXJLZXkoKTsKICB9IGVsc2UgewogICAgY2xlYXJQ
cmV2aWV3KCk7CiAgfQp9CgpmdW5jdGlvbiByZW5kZXJTdGF0dXMobmV4dFN0YXR1cykgewogIHN0
YXR1cyA9IG5leHRTdGF0dXM7CiAgaWYgKHN0YXR1cy5yZXNldHRpbmcpIHsKICAgIHNldFN0YXR1
cygid29ya2luZyIsICJSZXNldHRpbmcgYXBwbGljYXRpb24gZGF0YSIpOwogIH0gZWxzZSBpZiAo
c3RhdHVzLmJhY2t1cD8ucnVubmluZyB8fCBzdGF0dXMucmVsYXlTdGF0ZSA9PT0gImJhY2t1cC1w
YXVzZWQiKSB7CiAgICBzZXRTdGF0dXMoIndvcmtpbmciLCAiQ3JlYXRpbmcgYmFja3VwIik7CiAg
fSBlbHNlIGlmIChzdGF0dXMucmVzdGFydGluZykgewogICAgc2V0U3RhdHVzKCJ3b3JraW5nIiwg
IlJlc3RhcnRpbmcgcmVsYXkiKTsKICB9IGVsc2UgaWYgKHN0YXR1cy5yZWxheVJlYWR5KSB7CiAg
ICBzZXRTdGF0dXMoInJlYWR5IiwgIlJlbGF5IHJlYWR5Iik7CiAgfSBlbHNlIGlmICghc3RhdHVz
LmNvbmZpZ3VyZWQpIHsKICAgIHNldFN0YXR1cygid2FpdGluZyIsICJTZXR1cCByZXF1aXJlZCIp
OwogIH0gZWxzZSBpZiAoc3RhdHVzLnJlbGF5U3RhdGUgPT09ICJyZXRyeWluZy1hZnRlci1leGl0
IikgewogICAgc2V0U3RhdHVzKCJlcnJvciIsICJSZWxheSBzdGFydCBmYWlsZWQ7IHJldHJ5aW5n
Iik7CiAgfSBlbHNlIGlmIChzdGF0dXMucmVsYXlTdGF0ZSA9PT0gIndhaXRpbmctZm9yLXN0b3Jh
Z2UiKSB7CiAgICBzZXRTdGF0dXMoIndvcmtpbmciLCAiV2FpdGluZyBmb3Igb2JqZWN0IHN0b3Jh
Z2UiKTsKICB9IGVsc2UgaWYgKHN0YXR1cy5yZWxheVN0YXRlID09PSAic3RvcHBpbmciKSB7CiAg
ICBzZXRTdGF0dXMoIndvcmtpbmciLCAiUmVsYXkgc3RvcHBpbmciKTsKICB9IGVsc2UgewogICAg
c2V0U3RhdHVzKCJ3b3JraW5nIiwgIlJlbGF5IHN0YXJ0aW5nIik7CiAgfQoKICBsb2NhbENvbW11
bml0eVVybC50ZXh0Q29udGVudCA9IHN0YXR1cy5sb2NhbENvbW11bml0eVVybCB8fCAiVW5hdmFp
bGFibGUiOwogIGNvbnN0IHNob3dDb25maWd1cmVkID0gc3RhdHVzLmNvbmZpZ3VyZWQgJiYgIWVk
aXRpbmc7CiAgY29uZmlndXJlZFZpZXcuY2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIXNob3dD
b25maWd1cmVkKTsKICBmb3JtLmNsYXNzTGlzdC50b2dnbGUoImhpZGRlbiIsIHNob3dDb25maWd1
cmVkKTsKICBvcGVyYXRpb25zUGFuZWwuY2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIXN0YXR1
cy5jb25maWd1cmVkKTsKICBiYWNrdXBQYW5lbC5jbGFzc0xpc3QudG9nZ2xlKCJoaWRkZW4iLCAh
c3RhdHVzLmNvbmZpZ3VyZWQpOwogIHJlc3RvcmVQYW5lbC5jbGFzc0xpc3QudG9nZ2xlKCJoaWRk
ZW4iLCAhc3RhdHVzLmNvbmZpZ3VyZWQpOwogIGlmIChzaG93Q29uZmlndXJlZCkgewogICAgcG9w
dWxhdGVDb25maWd1cmVkVmlldygpOwogIH0gZWxzZSBpZiAoIWZvcm1Ub3VjaGVkKSB7CiAgICBo
eWRyYXRlRm9ybSgpOwogIH0KICByZW5kZXJDb21tdW5pdHlMb2NrKCk7CiAgcmVuZGVyT3BlcmF0
aW9ucygpOwogIHJlbmRlckJhY2t1cCgpOwogIHVwZGF0ZU93bmVyQ2hhbmdlU3RhdGUoKTsKfQoK
ZnVuY3Rpb24gZm9ybWF0TnVtYmVyKHZhbHVlKSB7CiAgcmV0dXJuIE51bWJlci5pc0Zpbml0ZSh2
YWx1ZSkgPyBuZXcgSW50bC5OdW1iZXJGb3JtYXQoKS5mb3JtYXQodmFsdWUpIDogIi0tIjsKfQoK
ZnVuY3Rpb24gZm9ybWF0Qnl0ZXModmFsdWUpIHsKICBpZiAoIU51bWJlci5pc0Zpbml0ZSh2YWx1
ZSkpIHJldHVybiAiLS0iOwogIGNvbnN0IHVuaXRzID0gWyJCIiwgIktCIiwgIk1CIiwgIkdCIiwg
IlRCIl07CiAgbGV0IGFtb3VudCA9IE1hdGgubWF4KDAsIHZhbHVlKTsKICBsZXQgaW5kZXggPSAw
OwogIHdoaWxlIChhbW91bnQgPj0gMTAyNCAmJiBpbmRleCA8IHVuaXRzLmxlbmd0aCAtIDEpIHsK
ICAgIGFtb3VudCAvPSAxMDI0OwogICAgaW5kZXggKz0gMTsKICB9CiAgcmV0dXJuIGAke2Ftb3Vu
dCA+PSAxMCB8fCBpbmRleCA9PT0gMCA/IGFtb3VudC50b0ZpeGVkKDApIDogYW1vdW50LnRvRml4
ZWQoMSl9ICR7dW5pdHNbaW5kZXhdfWA7Cn0KCmZ1bmN0aW9uIGZvcm1hdER1cmF0aW9uKHZhbHVl
KSB7CiAgaWYgKCFOdW1iZXIuaXNGaW5pdGUodmFsdWUpKSByZXR1cm4gIi0tIjsKICBjb25zdCBz
ZWNvbmRzID0gTWF0aC5tYXgoMCwgTWF0aC5mbG9vcih2YWx1ZSkpOwogIGNvbnN0IGRheXMgPSBN
YXRoLmZsb29yKHNlY29uZHMgLyA4NjQwMCk7CiAgY29uc3QgaG91cnMgPSBNYXRoLmZsb29yKChz
ZWNvbmRzICUgODY0MDApIC8gMzYwMCk7CiAgY29uc3QgbWludXRlcyA9IE1hdGguZmxvb3IoKHNl
Y29uZHMgJSAzNjAwKSAvIDYwKTsKICBpZiAoZGF5cykgcmV0dXJuIGAke2RheXN9ZCAke2hvdXJz
fWhgOwogIGlmIChob3VycykgcmV0dXJuIGAke2hvdXJzfWggJHttaW51dGVzfW1gOwogIHJldHVy
biBgJHttaW51dGVzfW1gOwp9CgpmdW5jdGlvbiBmb3JtYXRUaW1lc3RhbXAodmFsdWUpIHsKICBp
ZiAoIXZhbHVlKSByZXR1cm4gIk5vdCBvYnNlcnZlZCI7CiAgY29uc3QgcGFyc2VkID0gbmV3IERh
dGUodmFsdWUpOwogIHJldHVybiBOdW1iZXIuaXNOYU4ocGFyc2VkLmdldFRpbWUoKSkgPyAiVW5h
dmFpbGFibGUiIDogcGFyc2VkLnRvTG9jYWxlU3RyaW5nKCk7Cn0KCmZ1bmN0aW9uIHJlbmRlckhl
YWx0aChlbGVtZW50LCBsYWJlbCwgdmFsdWUpIHsKICBlbGVtZW50LmRhdGFzZXQuc3RhdGUgPSB2
YWx1ZSA9PT0gdHJ1ZSA/ICJyZWFkeSIgOiB2YWx1ZSA9PT0gZmFsc2UgPyAiZXJyb3IiIDogInVu
a25vd24iOwogIGVsZW1lbnQudGV4dENvbnRlbnQgPSBgJHtsYWJlbH06ICR7dmFsdWUgPT09IHRy
dWUgPyAiY29ubmVjdGVkIiA6IHZhbHVlID09PSBmYWxzZSA/ICJ1bmF2YWlsYWJsZSIgOiAidW5r
bm93biJ9YDsKfQoKZnVuY3Rpb24gcmVuZGVyT3BlcmF0aW9ucygpIHsKICBpZiAoIXN0YXR1cz8u
Y29uZmlndXJlZCkgcmV0dXJuOwogIGNvbnN0IG9wZXJhdGlvbnMgPSBzdGF0dXMub3BlcmF0aW9u
cyB8fCB7fTsKICBjb25zdCBjb3VudHMgPSBvcGVyYXRpb25zLmNvdW50cyB8fCB7fTsKICBjb25z
dCBjb25uZWN0aXZpdHkgPSBvcGVyYXRpb25zLmNvbm5lY3Rpdml0eSB8fCB7fTsKICBtZXRyaWNS
ZWxheS50ZXh0Q29udGVudCA9IG9wZXJhdGlvbnMucmVsYXlSZWFkeSA/ICJSZWFkeSIgOiBvcGVy
YXRpb25zLnJlbGF5UmVhY2hhYmxlID8gIk5vdCByZWFkeSIgOiAiU3RvcHBlZCI7CiAgbWV0cmlj
VXB0aW1lLnRleHRDb250ZW50ID0gZm9ybWF0RHVyYXRpb24ob3BlcmF0aW9ucy51cHRpbWVTZWNv
bmRzKTsKICBtZXRyaWNWZXJzaW9uLnRleHRDb250ZW50ID0gb3BlcmF0aW9ucy5yZWxheVZlcnNp
b24gfHwgb3BlcmF0aW9ucy5wYWNrYWdlVmVyc2lvbiB8fCAiLS0iOwogIG1ldHJpY0Nvbm5lY3Rp
b25zLnRleHRDb250ZW50ID0gZm9ybWF0TnVtYmVyKGNvdW50cy5hY3RpdmVDb25uZWN0aW9ucyk7
CiAgbWV0cmljTWVtYmVycy50ZXh0Q29udGVudCA9IGZvcm1hdE51bWJlcihjb3VudHMubWVtYmVy
Q291bnQpOwogIG1ldHJpY0NoYW5uZWxzLnRleHRDb250ZW50ID0gZm9ybWF0TnVtYmVyKGNvdW50
cy5jaGFubmVsQ291bnQpOwogIG1ldHJpY01lc3NhZ2VzLnRleHRDb250ZW50ID0gZm9ybWF0TnVt
YmVyKGNvdW50cy5tZXNzYWdlQ291bnQpOwogIG1ldHJpY0V2ZW50cy50ZXh0Q29udGVudCA9IGZv
cm1hdE51bWJlcihjb3VudHMuZXZlbnRzUmVjZWl2ZWRTaW5jZVN0YXJ0KTsKICBtZXRyaWNTdG9y
YWdlLnRleHRDb250ZW50ID0gZm9ybWF0Qnl0ZXMob3BlcmF0aW9ucy5zdG9yYWdlPy5kYXRhQnl0
ZXMpOwogIG1ldHJpY0FjdGl2aXR5LnRleHRDb250ZW50ID0gZm9ybWF0VGltZXN0YW1wKG9wZXJh
dGlvbnMubGFzdE9ic2VydmVkQWN0aXZpdHlBdCk7CiAgbWV0cmljc0ZyZXNobmVzcy50ZXh0Q29u
dGVudCA9IG9wZXJhdGlvbnMuc3RvcmFnZT8ubWVhc3VyZWRBdAogICAgPyBgU3RvcmFnZSBtZWFz
dXJlZCAke2Zvcm1hdFRpbWVzdGFtcChvcGVyYXRpb25zLnN0b3JhZ2UubWVhc3VyZWRBdCl9YAog
ICAgOiAiTGl2ZSBoZWFsdGgiOwogIHJlbmRlckhlYWx0aChoZWFsdGhQb3N0Z3JlcywgIlBvc3Rn
cmVzIiwgY29ubmVjdGl2aXR5LnBvc3RncmVzKTsKICByZW5kZXJIZWFsdGgoaGVhbHRoUmVkaXMs
ICJSZWRpcyIsIGNvbm5lY3Rpdml0eS5yZWRpcyk7CiAgcmVuZGVySGVhbHRoKGhlYWx0aE1pbmlv
LCAiTWluSU8iLCBjb25uZWN0aXZpdHkub2JqZWN0U3RvcmFnZSk7CiAgcmVuZGVySGVhbHRoKGhl
YWx0aFdvcmtlciwgIkJhY2t1cCB3b3JrZXIiLCBjb25uZWN0aXZpdHkub3BlcmF0aW9uc1dvcmtl
cik7Cn0KCmZ1bmN0aW9uIHJlbmRlckJhY2t1cCgpIHsKICBpZiAoIXN0YXR1cz8uY29uZmlndXJl
ZCkgcmV0dXJuOwogIGNvbnN0IGJhY2t1cCA9IHN0YXR1cy5iYWNrdXAgfHwge307CiAgY29uc3Qg
bGF0ZXN0ID0gYmFja3VwLmxhdGVzdCB8fCB7fTsKICBiYWNrdXBTdGF0ZS50ZXh0Q29udGVudCA9
IGJhY2t1cC5ydW5uaW5nID8gYCR7YmFja3VwLnByb2dyZXNzIHx8IDB9JWAgOiBiYWNrdXAuc3Rh
dGUgfHwgIklkbGUiOwogIGJhY2t1cFByb2dyZXNzLmNsYXNzTGlzdC50b2dnbGUoImhpZGRlbiIs
ICFiYWNrdXAucnVubmluZyk7CiAgYmFja3VwUHJvZ3Jlc3NCYXIuc3R5bGUud2lkdGggPSBgJHti
YWNrdXAucHJvZ3Jlc3MgfHwgMH0lYDsKICBiYWNrdXBNZXNzYWdlLnRleHRDb250ZW50ID0gYmFj
a3VwLm1lc3NhZ2UgfHwgIk5vIGJhY2t1cCBpcyBydW5uaW5nLiI7CiAgY3JlYXRlQmFja3VwLmRp
c2FibGVkID0gQm9vbGVhbihiYWNrdXAucnVubmluZyB8fCAhYmFja3VwLndvcmtlck9ubGluZSk7
CiAgYWNrbm93bGVkZ2VTZW5zaXRpdmUuZGlzYWJsZWQgPSBCb29sZWFuKGJhY2t1cC5ydW5uaW5n
KTsKICBkb3dubG9hZEJhY2t1cC5jbGFzc0xpc3QudG9nZ2xlKCJoaWRkZW4iLCAhbGF0ZXN0LmF2
YWlsYWJsZSk7CiAgYXJjaGl2ZURldGFpbHMuY2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIWxh
dGVzdC5hdmFpbGFibGUpOwogIGlmIChsYXRlc3QuYXZhaWxhYmxlKSB7CiAgICBkb3dubG9hZEJh
Y2t1cC5ocmVmID0gbGF0ZXN0LmRvd25sb2FkVXJsOwogICAgZG93bmxvYWRCYWNrdXAuZG93bmxv
YWQgPSBsYXRlc3QubmFtZTsKICAgIGJhY2t1cENyZWF0ZWQudGV4dENvbnRlbnQgPSBmb3JtYXRU
aW1lc3RhbXAobGF0ZXN0LmNyZWF0ZWRBdCk7CiAgICBiYWNrdXBTaXplLnRleHRDb250ZW50ID0g
Zm9ybWF0Qnl0ZXMobGF0ZXN0LnNpemVCeXRlcyk7CiAgICBiYWNrdXBTaGEudGV4dENvbnRlbnQg
PSBsYXRlc3Quc2hhMjU2IHx8ICJVbmF2YWlsYWJsZSI7CiAgfQp9CgpmdW5jdGlvbiBzaG93UmVz
dWx0KGtpbmQsIG1lc3NhZ2UpIHsKICByZXN1bHQuY2xhc3NOYW1lID0gYHJlc3VsdCAke2tpbmR9
YDsKICByZXN1bHQudGV4dENvbnRlbnQgPSBtZXNzYWdlOwp9CgpmdW5jdGlvbiBoaWRlUmVzdWx0
KCkgewogIHJlc3VsdC5jbGFzc05hbWUgPSAicmVzdWx0IGhpZGRlbiI7CiAgcmVzdWx0LnRleHRD
b250ZW50ID0gIiI7Cn0KCmZ1bmN0aW9uIGNsZWFyUHJldmlldyhtZXNzYWdlID0gIiIpIHsKICBw
cmV2aWV3ID0gbnVsbDsKICB2ZXJpZmllZEtleS5jbGFzc0xpc3QuYWRkKCJoaWRkZW4iKTsKICBv
d25lckhleC50ZXh0Q29udGVudCA9ICIiOwogIG93bmVyTnB1Yi50ZXh0Q29udGVudCA9ICIiOwog
IG93bmVyTWVzc2FnZS50ZXh0Q29udGVudCA9IG1lc3NhZ2U7CiAgb3duZXJNZXNzYWdlLmRhdGFz
ZXQua2luZCA9IG1lc3NhZ2UgPyAiZXJyb3IiIDogIiI7CiAgaGV4Q29uZmlybVJvdy5jbGFzc0xp
c3QuYWRkKCJoaWRkZW4iKTsKICBjb25maXJtUHVibGljSGV4LmNoZWNrZWQgPSBmYWxzZTsKICBz
eW5jUmV2aWV3KCk7CiAgdXBkYXRlT3duZXJDaGFuZ2VTdGF0ZSgpOwp9Cgphc3luYyBmdW5jdGlv
biBwcmV2aWV3T3duZXJLZXkoKSB7CiAgY29uc3QgdmFsdWUgPSBvd25lcklucHV0LnZhbHVlLnRy
aW0oKTsKICBpZiAoIXZhbHVlKSB7CiAgICBjbGVhclByZXZpZXcoKTsKICAgIHJldHVybjsKICB9
CiAgaWYgKC9eKG5vc3RyOik/bnNlYy9pLnRlc3QodmFsdWUpIHx8IC9wcml2YXRlIGtleS9pLnRl
c3QodmFsdWUpKSB7CiAgICBjbGVhclByZXZpZXcoIlByaXZhdGUga2V5cyBhbmQgbnNlYyB2YWx1
ZXMgYXJlIHJlamVjdGVkLiIpOwogICAgcmV0dXJuOwogIH0KICB0cnkgewogICAgY29uc3QgcmVz
cG9uc2UgPSBhd2FpdCBhcGkoImFwaS9wcmV2aWV3LWtleSIsIHsKICAgICAgbWV0aG9kOiAiUE9T
VCIsCiAgICAgIGJvZHk6IEpTT04uc3RyaW5naWZ5KHsgb3duZXJLZXk6IHZhbHVlIH0pLAogICAg
fSk7CiAgICBpZiAob3duZXJJbnB1dC52YWx1ZS50cmltKCkgIT09IHZhbHVlKSB7CiAgICAgIHJl
dHVybjsKICAgIH0KICAgIHByZXZpZXcgPSByZXNwb25zZTsKICAgIG93bmVySGV4LnRleHRDb250
ZW50ID0gcHJldmlldy5vd25lckhleDsKICAgIG93bmVyTnB1Yi50ZXh0Q29udGVudCA9IHByZXZp
ZXcub3duZXJOcHViOwogICAgb3duZXJNZXNzYWdlLnRleHRDb250ZW50ID0gIk93bmVyIHB1Ymxp
YyBrZXkgdmVyaWZpZWQuIjsKICAgIG93bmVyTWVzc2FnZS5kYXRhc2V0LmtpbmQgPSAic3VjY2Vz
cyI7CiAgICB2ZXJpZmllZEtleS5jbGFzc0xpc3QucmVtb3ZlKCJoaWRkZW4iKTsKICAgIGhleENv
bmZpcm1Sb3cuY2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIXByZXZpZXcucmF3SGV4KTsKICB9
IGNhdGNoIChlcnJvcikgewogICAgY2xlYXJQcmV2aWV3KGVycm9yLm1lc3NhZ2UpOwogIH0KICBz
eW5jUmV2aWV3KCk7CiAgdXBkYXRlT3duZXJDaGFuZ2VTdGF0ZSgpOwp9CgpmdW5jdGlvbiB1cGRh
dGVPd25lckNoYW5nZVN0YXRlKCkgewogIGNvbnN0IG93bmVyQ2hhbmdlZCA9IEJvb2xlYW4oCiAg
ICBzdGF0dXM/Lm93bmVyQ29uZmlndXJlZCAmJiBwcmV2aWV3Py5vd25lckhleCAmJiBwcmV2aWV3
Lm93bmVySGV4ICE9PSBzdGF0dXMub3duZXJIZXgKICApOwogIHJlc2V0UGFuZWwuY2xhc3NMaXN0
LnRvZ2dsZSgiaGlkZGVuIiwgIW93bmVyQ2hhbmdlZCk7CiAgaWYgKG93bmVyQ2hhbmdlZCkgewog
ICAgc3VibWl0QnV0dG9uLnRleHRDb250ZW50ID0gIlJlc2V0IGRhdGEgYW5kIGNoYW5nZSBvd25l
ciI7CiAgICBzdWJtaXRCdXR0b24uY2xhc3NMaXN0LmFkZCgiZGFuZ2VyLWJ1dHRvbiIpOwogICAg
YWN0aW9uVGl0bGUudGV4dENvbnRlbnQgPSAiRGVzdHJ1Y3RpdmUgb3duZXIgY2hhbmdlIjsKICAg
IGFjdGlvbkRldGFpbC50ZXh0Q29udGVudCA9ICJBIGZ1bGwgYXBwbGljYXRpb24gZGF0YSByZXNl
dCBpcyByZXF1aXJlZC4iOwogIH0gZWxzZSBpZiAoc3RhdHVzPy5vd25lckNvbmZpZ3VyZWQpIHsK
ICAgIHN1Ym1pdEJ1dHRvbi50ZXh0Q29udGVudCA9ICJTYXZlIGNvbmZpZ3VyYXRpb24iOwogICAg
c3VibWl0QnV0dG9uLmNsYXNzTGlzdC5yZW1vdmUoImRhbmdlci1idXR0b24iKTsKICAgIGFjdGlv
blRpdGxlLnRleHRDb250ZW50ID0gIlJldmlldyBjaGFuZ2VzIjsKICAgIGFjdGlvbkRldGFpbC50
ZXh0Q29udGVudCA9ICJUaGUgY2Fub25pY2FsIENvbW11bml0eSBVUkwgaXMgbG9ja2VkIGFmdGVy
IGluaXRpYWxpemF0aW9uLiI7CiAgfSBlbHNlIHsKICAgIHN1Ym1pdEJ1dHRvbi50ZXh0Q29udGVu
dCA9ICJTYXZlIGFuZCBzdGFydCByZWxheSI7CiAgICBzdWJtaXRCdXR0b24uY2xhc3NMaXN0LnJl
bW92ZSgiZGFuZ2VyLWJ1dHRvbiIpOwogICAgYWN0aW9uVGl0bGUudGV4dENvbnRlbnQgPSAiUmVh
ZHkgdG8gY29uZmlndXJlIjsKICAgIGFjdGlvbkRldGFpbC50ZXh0Q29udGVudCA9ICJPbmx5IHRo
ZSB2ZXJpZmllZCBwdWJsaWMga2V5IGlzIHNhdmVkLiI7CiAgfQp9Cgpvd25lcklucHV0LmFkZEV2
ZW50TGlzdGVuZXIoImlucHV0IiwgKCkgPT4gewogIGZvcm1Ub3VjaGVkID0gdHJ1ZTsKICBwcmV2
aWV3ID0gbnVsbDsKICB2ZXJpZmllZEtleS5jbGFzc0xpc3QuYWRkKCJoaWRkZW4iKTsKICBjb25m
aXJtUHVibGljSGV4LmNoZWNrZWQgPSBmYWxzZTsKICBoZXhDb25maXJtUm93LmNsYXNzTGlzdC5h
ZGQoImhpZGRlbiIpOwogIG93bmVyTWVzc2FnZS50ZXh0Q29udGVudCA9ICJWZXJpZnlpbmcgcHVi
bGljIGtleS4uLiI7CiAgb3duZXJNZXNzYWdlLmRhdGFzZXQua2luZCA9ICIiOwogIHN5bmNSZXZp
ZXcoKTsKICB1cGRhdGVPd25lckNoYW5nZVN0YXRlKCk7CiAgd2luZG93LmNsZWFyVGltZW91dChw
cmV2aWV3VGltZXIpOwogIHByZXZpZXdUaW1lciA9IHdpbmRvdy5zZXRUaW1lb3V0KHByZXZpZXdP
d25lcktleSwgMjUwKTsKfSk7Cgptb2RlSW5wdXRzLmZvckVhY2goKGlucHV0KSA9PiB7CiAgaW5w
dXQuYWRkRXZlbnRMaXN0ZW5lcigiY2hhbmdlIiwgKCkgPT4gewogICAgZm9ybVRvdWNoZWQgPSB0
cnVlOwogICAgcmVuZGVyTW9kZSgpOwogIH0pOwp9KTsKCnB1YmxpY0NvbW11bml0eVVybC5hZGRF
dmVudExpc3RlbmVyKCJpbnB1dCIsICgpID0+IHsKICBmb3JtVG91Y2hlZCA9IHRydWU7CiAgc3lu
Y1JldmlldygpOwp9KTsKCltjb25maXJtUHVibGljSGV4LCBjb25maXJtUmVzZXQsIHJlc2V0UGhy
YXNlXS5mb3JFYWNoKChlbGVtZW50KSA9PiB7CiAgZWxlbWVudC5hZGRFdmVudExpc3RlbmVyKCJp
bnB1dCIsICgpID0+IHsKICAgIGZvcm1Ub3VjaGVkID0gdHJ1ZTsKICB9KTsKfSk7CgplZGl0QnV0
dG9uLmFkZEV2ZW50TGlzdGVuZXIoImNsaWNrIiwgKCkgPT4gewogIGVkaXRpbmcgPSB0cnVlOwog
IGZvcm1Ub3VjaGVkID0gZmFsc2U7CiAgaGlkZVJlc3VsdCgpOwogIHJlbmRlclN0YXR1cyhzdGF0
dXMpOwogIG93bmVySW5wdXQuZm9jdXMoKTsKfSk7Cgpjb3B5Q29tbXVuaXR5VXJsLmFkZEV2ZW50
TGlzdGVuZXIoImNsaWNrIiwgYXN5bmMgKCkgPT4gewogIGNvbnN0IHZhbHVlID0gc3RhdHVzPy5j
b21tdW5pdHlVcmwgfHwgIiI7CiAgaWYgKCF2YWx1ZSkgcmV0dXJuOwogIHRyeSB7CiAgICBhd2Fp
dCBuYXZpZ2F0b3IuY2xpcGJvYXJkLndyaXRlVGV4dCh2YWx1ZSk7CiAgICBjb3B5Q29tbXVuaXR5
VXJsLnRleHRDb250ZW50ID0gIkNvcGllZCI7CiAgICB3aW5kb3cuc2V0VGltZW91dCgoKSA9PiB7
CiAgICAgIGNvcHlDb21tdW5pdHlVcmwudGV4dENvbnRlbnQgPSAiQ29weSBjb21tdW5pdHkgVVJM
IjsKICAgIH0sIDE2MDApOwogIH0gY2F0Y2ggKF9lcnJvcikgewogICAgc2hvd1Jlc3VsdCgiZXJy
b3IiLCAiQ29weSBmYWlsZWQuIFNlbGVjdCBhbmQgY29weSB0aGUgQ29tbXVuaXR5IFVSTCBtYW51
YWxseS4iKTsKICB9Cn0pOwoKY3JlYXRlQmFja3VwLmFkZEV2ZW50TGlzdGVuZXIoImNsaWNrIiwg
YXN5bmMgKCkgPT4gewogIGlmICghYWNrbm93bGVkZ2VTZW5zaXRpdmUuY2hlY2tlZCkgewogICAg
c2hvd1Jlc3VsdCgiZXJyb3IiLCAiQ29uZmlybSB0aGF0IHRoZSBhcmNoaXZlIGNvbnRhaW5zIHNl
bnNpdGl2ZSBwcml2YXRlIGRhdGEuIik7CiAgICByZXR1cm47CiAgfQogIGNyZWF0ZUJhY2t1cC5k
aXNhYmxlZCA9IHRydWU7CiAgc2hvd1Jlc3VsdCgid29ya2luZyIsICJTdGFydGluZyBiYWNrdXAu
Li4iKTsKICB0cnkgewogICAgY29uc3QgcmVzcG9uc2UgPSBhd2FpdCBhcGkoImFwaS9iYWNrdXBz
IiwgewogICAgICBtZXRob2Q6ICJQT1NUIiwKICAgICAgYm9keTogSlNPTi5zdHJpbmdpZnkoeyBh
Y2tub3dsZWRnZVNlbnNpdGl2ZTogdHJ1ZSB9KSwKICAgIH0pOwogICAgc2hvd1Jlc3VsdCgic3Vj
Y2VzcyIsIHJlc3BvbnNlLm1lc3NhZ2UpOwogICAgYXdhaXQgcmVmcmVzaFN0YXR1cygpOwogIH0g
Y2F0Y2ggKGVycm9yKSB7CiAgICBzaG93UmVzdWx0KCJlcnJvciIsIGVycm9yLm1lc3NhZ2UpOwog
IH0gZmluYWxseSB7CiAgICBjcmVhdGVCYWNrdXAuZGlzYWJsZWQgPSBCb29sZWFuKHN0YXR1cz8u
YmFja3VwPy5ydW5uaW5nIHx8ICFzdGF0dXM/LmJhY2t1cD8ud29ya2VyT25saW5lKTsKICB9Cn0p
OwoKZm9ybS5hZGRFdmVudExpc3RlbmVyKCJzdWJtaXQiLCBhc3luYyAoZXZlbnQpID0+IHsKICBl
dmVudC5wcmV2ZW50RGVmYXVsdCgpOwogIHNob3dSZXN1bHQoIndvcmtpbmciLCAiU2F2aW5nIGNv
bmZpZ3VyYXRpb24uLi4iKTsKICBzdWJtaXRCdXR0b24uZGlzYWJsZWQgPSB0cnVlOwogIHRyeSB7
CiAgICBhd2FpdCBwcmV2aWV3T3duZXJLZXkoKTsKICAgIGlmICghcHJldmlldykgewogICAgICB0
aHJvdyBuZXcgRXJyb3Iob3duZXJNZXNzYWdlLnRleHRDb250ZW50IHx8ICJFbnRlciBhIHZhbGlk
IHB1YmxpYyBrZXkuIik7CiAgICB9CiAgICBjb25zdCBjb21tdW5pdHlNb2RlID0gc2VsZWN0ZWRN
b2RlKCk7CiAgICBjb25zdCBjb21tdW5pdHlVcmwgPSBzZWxlY3RlZENvbW11bml0eVVybCgpOwog
ICAgaWYgKCFjb21tdW5pdHlVcmwpIHsKICAgICAgdGhyb3cgbmV3IEVycm9yKCJFbnRlciBvciBz
ZWxlY3QgYSBDb21tdW5pdHkgVVJMLiIpOwogICAgfQogICAgY29uc3QgcmVzcG9uc2UgPSBhd2Fp
dCBhcGkoImFwaS9hcHBseSIsIHsKICAgICAgbWV0aG9kOiAiUE9TVCIsCiAgICAgIGJvZHk6IEpT
T04uc3RyaW5naWZ5KHsKICAgICAgICBvd25lcktleTogb3duZXJJbnB1dC52YWx1ZSwKICAgICAg
ICBjb25maXJtUHVibGljSGV4OiBjb25maXJtUHVibGljSGV4LmNoZWNrZWQsCiAgICAgICAgY29t
bXVuaXR5TW9kZSwKICAgICAgICBjb21tdW5pdHlVcmw6IGNvbW11bml0eU1vZGUgPT09ICJwdWJs
aWMiID8gY29tbXVuaXR5VXJsIDogIiIsCiAgICAgICAgY29uZmlybVJlc2V0OiBjb25maXJtUmVz
ZXQuY2hlY2tlZCwKICAgICAgICByZXNldFBocmFzZTogcmVzZXRQaHJhc2UudmFsdWUsCiAgICAg
IH0pLAogICAgfSk7CiAgICBzaG93UmVzdWx0KCJzdWNjZXNzIiwgcmVzcG9uc2UubWVzc2FnZSk7
CiAgICByZXNldFBocmFzZS52YWx1ZSA9ICIiOwogICAgY29uZmlybVJlc2V0LmNoZWNrZWQgPSBm
YWxzZTsKICAgIGZvcm1Ub3VjaGVkID0gZmFsc2U7CiAgICBlZGl0aW5nID0gZmFsc2U7CiAgICBh
d2FpdCByZWZyZXNoU3RhdHVzKCk7CiAgfSBjYXRjaCAoZXJyb3IpIHsKICAgIHNob3dSZXN1bHQo
ImVycm9yIiwgZXJyb3IubWVzc2FnZSk7CiAgfSBmaW5hbGx5IHsKICAgIHN1Ym1pdEJ1dHRvbi5k
aXNhYmxlZCA9IGZhbHNlOwogIH0KfSk7Cgphc3luYyBmdW5jdGlvbiByZWZyZXNoU3RhdHVzKCkg
ewogIHRyeSB7CiAgICBjb25zdCByZXNwb25zZSA9IGF3YWl0IGZldGNoKCJhcGkvc3RhdHVzIiwg
eyBjYWNoZTogIm5vLXN0b3JlIiB9KTsKICAgIGlmICghcmVzcG9uc2Uub2spIHsKICAgICAgdGhy
b3cgbmV3IEVycm9yKGBTdGF0dXMgcmVxdWVzdCBmYWlsZWQgKCR7cmVzcG9uc2Uuc3RhdHVzfSlg
KTsKICAgIH0KICAgIHJlbmRlclN0YXR1cyhhd2FpdCByZXNwb25zZS5qc29uKCkpOwogIH0gY2F0
Y2ggKF9lcnJvcikgewogICAgc2V0U3RhdHVzKCJlcnJvciIsICJTZXR1cCBzZXJ2aWNlIHVuYXZh
aWxhYmxlIik7CiAgfQp9CgpyZWZyZXNoU3RhdHVzKCk7CndpbmRvdy5zZXRJbnRlcnZhbChyZWZy
ZXNoU3RhdHVzLCAzMDAwKTsK
