IyEvdXNyL2Jpbi9lbnYgYmFzaApzZXQgLWV1byBwaXBlZmFpbAoKQ09ORklHX0RJUj0iJHtCVVpa
X0NPTkZJR19ESVI6LS9jb25maWd9IgpTRUNSRVRTX0ZJTEU9IiR7Q09ORklHX0RJUn0vZ2VuZXJh
dGVkLmVudiIKUlVOVElNRV9GSUxFPSIke0NPTkZJR19ESVJ9L3J1bnRpbWUuZW52IgpPV05FUl9G
SUxFPSIke0NPTkZJR19ESVJ9L3JlbGF5LW93bmVyLXB1YmtleSIKUEVORElOR19PV05FUl9GSUxF
PSIke0NPTkZJR19ESVJ9L3BlbmRpbmctb3duZXItcHVia2V5IgpSRUxBWV9VUkxfRklMRT0iJHtD
T05GSUdfRElSfS9yZWxheS11cmwiCk1FRElBX0JBU0VfVVJMX0ZJTEU9IiR7Q09ORklHX0RJUn0v
bWVkaWEtYmFzZS11cmwiCkNPUlNfT1JJR0lOU19GSUxFPSIke0NPTkZJR19ESVJ9L2NvcnMtb3Jp
Z2lucyIKUkVTRVRfUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiClJF
U0VUX0NPTVBMRVRFRF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LWNvbXBsZXRlZCIKUkVTRVRf
RVJST1JfRklMRT0iJHtDT05GSUdfRElSfS9yZXNldC1lcnJvciIKUkVMQVlfU1RPUFBFRF9GSUxF
PSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlbGF5LXN0b3BwZWQiClJFU0VUX0FDS19ESVI9IiR7Q09O
RklHX0RJUn0vcmVzZXQtYWNrcyIKUkVTVEFSVF9SRVFVRVNUX0ZJTEU9IiR7Q09ORklHX0RJUn0v
cmVzdGFydC1yZXF1ZXN0IgpSRVNUQVJUX0NPTVBMRVRFRF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jl
c3RhcnQtY29tcGxldGVkIgpNSU5JT19JTklUSUFMSVpFRF9GSUxFPSIke0NPTkZJR19ESVJ9L21p
bmlvLWluaXRpYWxpemVkIgpTVEFURV9GSUxFPSIke0NPTkZJR19ESVJ9L3JlbGF5LXN0YXRlIgpH
SVRfRElSPSIke0JVWlpfR0lUX1JFUE9fUEFUSDotL2RhdGEvZ2l0fSIKR0lUX0NBQ0hFX0RJUj0i
JHtCVVpaX0dJVF9QQUNLX0NBQ0hFX1BBVEg6LS9kYXRhL2dpdC1jYWNoZX0iClJFTEFZX1BJRD0i
IgoKbG9nKCkgewogIHByaW50ZiAnW3VtYnJlbC1idXp6XSAlc1xuJyAiJCoiID4mMgp9CgpmaXJz
dF9saW5lKCkgewogIGxvY2FsIGZpbGU9IiQxIgogIGlmIFtbIC1mICIkZmlsZSIgXV07IHRoZW4K
ICAgIGF3ayAnTkYgJiYgJDEgIX4gL14jLyB7IGdzdWIoL1xyLywgIiIpOyBnc3ViKC9bWzpzcGFj
ZTpdXS8sICIiKTsgcHJpbnQ7IGV4aXQgfScgIiRmaWxlIgogIGZpCn0KCndyaXRlX21hcmtlcigp
IHsKICBsb2NhbCBkZXN0aW5hdGlvbj0iJDEiCiAgbG9jYWwgdmFsdWU9IiQyIgogIGxvY2FsIHRl
bXBvcmFyeT0iJHtkZXN0aW5hdGlvbn0udG1wLiQkIgogIHByaW50ZiAnJXNcbicgIiR2YWx1ZSIg
PiAiJHRlbXBvcmFyeSIKICBtdiAiJHRlbXBvcmFyeSIgIiRkZXN0aW5hdGlvbiIKfQoKd3JpdGVf
c3RhdGUoKSB7CiAgd3JpdGVfbWFya2VyICIkU1RBVEVfRklMRSIgIiQxIgp9Cgp3cml0ZV9zaGVs
bF92YXIoKSB7CiAgbG9jYWwgbmFtZT0iJDEiCiAgbG9jYWwgdmFsdWU9IiQyIgogIHByaW50ZiAn
JXM9JXFcbicgIiRuYW1lIiAiJHZhbHVlIgp9CgplbnN1cmVfaGV4X3NlY3JldCgpIHsKICBsb2Nh
bCBuYW1lPSIkMSIKICBpZiAhIGdyZXAgLUVxICJeJHtuYW1lfT1bMC05YS1mQS1GXXs2NH0kIiAi
JFNFQ1JFVFNfRklMRSIgMj4vZGV2L251bGw7IHRoZW4KICAgIHdyaXRlX3NoZWxsX3ZhciAiJG5h
bWUiICIkKG9wZW5zc2wgcmFuZCAtaGV4IDMyKSIgPj4gIiRTRUNSRVRTX0ZJTEUiCiAgZmkKfQoK
ZW5zdXJlX3NlY3JldHMoKSB7CiAgdW1hc2sgMDc3CiAgdG91Y2ggIiRTRUNSRVRTX0ZJTEUiCiAg
Y2htb2QgNjAwICIkU0VDUkVUU19GSUxFIgogIGVuc3VyZV9oZXhfc2VjcmV0IEJVWlpfUkVMQVlf
UFJJVkFURV9LRVkKICBlbnN1cmVfaGV4X3NlY3JldCBCVVpaX0dJVF9IT09LX0hNQUNfU0VDUkVU
Cn0KCmRlcml2ZV9tZWRpYV9iYXNlX3VybCgpIHsKICBsb2NhbCByZWxheV91cmw9IiQxIgogIGNh
c2UgIiRyZWxheV91cmwiIGluCiAgICB3c3M6Ly8qKSBwcmludGYgJ2h0dHBzOi8vJXMvbWVkaWFc
bicgIiR7cmVsYXlfdXJsI3dzczovL30iIDs7CiAgICB3czovLyopIHByaW50ZiAnaHR0cDovLyVz
L21lZGlhXG4nICIke3JlbGF5X3VybCN3czovL30iIDs7CiAgICAqKSBwcmludGYgJ2h0dHA6Ly9s
b2NhbGhvc3Q6MzAwMC9tZWRpYVxuJyA7OwogIGVzYWMKfQoKZGVyaXZlX2NvcnNfb3JpZ2luKCkg
ewogIGxvY2FsIHJlbGF5X3VybD0iJDEiCiAgY2FzZSAiJHJlbGF5X3VybCIgaW4KICAgIHdzczov
LyopIHByaW50ZiAnaHR0cHM6Ly8lc1xuJyAiJHtyZWxheV91cmwjd3NzOi8vfSIgOzsKICAgIHdz
Oi8vKikgcHJpbnRmICdodHRwOi8vJXNcbicgIiR7cmVsYXlfdXJsI3dzOi8vfSIgOzsKICAgICop
IHByaW50ZiAnaHR0cDovL2xvY2FsaG9zdDozMDAwXG4nIDs7CiAgZXNhYwp9Cgpsb2FkX293bmVy
KCkgewogIGxvY2FsIG93bmVyX3B1YmtleT0iJHtSRUxBWV9PV05FUl9QVUJLRVk6LX0iCiAgaWYg
W1sgLXogIiRvd25lcl9wdWJrZXkiIF1dOyB0aGVuCiAgICBvd25lcl9wdWJrZXk9IiQoZmlyc3Rf
bGluZSAiJE9XTkVSX0ZJTEUiKSIKICBmaQogIG93bmVyX3B1YmtleT0iJChwcmludGYgJyVzJyAi
JG93bmVyX3B1YmtleSIgfCB0ciAnQS1GJyAnYS1mJykiCiAgaWYgW1sgIiRvd25lcl9wdWJrZXki
ID1+IF5bMC05YS1mXXs2NH0kIF1dOyB0aGVuCiAgICBwcmludGYgJyVzXG4nICIkb3duZXJfcHVi
a2V5IgogICAgcmV0dXJuIDAKICBmaQogIHJldHVybiAxCn0KCndyaXRlX3J1bnRpbWUoKSB7CiAg
bG9jYWwgb3duZXJfcHVia2V5PSIkMSIKICBsb2NhbCByZWxheV91cmw9IiQyIgogIGxvY2FsIG1l
ZGlhX2Jhc2VfdXJsIGNvcnNfb3JpZ2lucwoKICBtZWRpYV9iYXNlX3VybD0iJHtCVVpaX01FRElB
X0JBU0VfVVJMOi0kKGZpcnN0X2xpbmUgIiRNRURJQV9CQVNFX1VSTF9GSUxFIil9IgogIG1lZGlh
X2Jhc2VfdXJsPSIke21lZGlhX2Jhc2VfdXJsOi0kKGRlcml2ZV9tZWRpYV9iYXNlX3VybCAiJHJl
bGF5X3VybCIpfSIKICBjb3JzX29yaWdpbnM9IiR7QlVaWl9DT1JTX09SSUdJTlM6LSQoZmlyc3Rf
bGluZSAiJENPUlNfT1JJR0lOU19GSUxFIil9IgogIGNvcnNfb3JpZ2lucz0iJHtjb3JzX29yaWdp
bnM6LSQoZGVyaXZlX2NvcnNfb3JpZ2luICIkcmVsYXlfdXJsIil9IgoKICB7CiAgICB3cml0ZV9z
aGVsbF92YXIgUkVMQVlfVVJMICIkcmVsYXlfdXJsIgogICAgd3JpdGVfc2hlbGxfdmFyIEJVWlpf
TUVESUFfQkFTRV9VUkwgIiRtZWRpYV9iYXNlX3VybCIKICAgIHdyaXRlX3NoZWxsX3ZhciBCVVpa
X0NPUlNfT1JJR0lOUyAiJGNvcnNfb3JpZ2lucyIKICAgIHdyaXRlX3NoZWxsX3ZhciBSRUxBWV9P
V05FUl9QVUJLRVkgIiRvd25lcl9wdWJrZXkiCiAgfSA+ICIke1JVTlRJTUVfRklMRX0udG1wIgog
IG12ICIke1JVTlRJTUVfRklMRX0udG1wIiAiJFJVTlRJTUVfRklMRSIKICBjaG1vZCA2MDAgIiRS
VU5USU1FX0ZJTEUiCn0KCmxvYWRfcmVsYXlfdXJsKCkgewogIGxvY2FsIHJlbGF5X3VybAogIHJl
bGF5X3VybD0iJHtSRUxBWV9VUkw6LSQoZmlyc3RfbGluZSAiJFJFTEFZX1VSTF9GSUxFIil9Igog
IGlmIFtbIC16ICIkcmVsYXlfdXJsIiBdXTsgdGhlbgogICAgcmV0dXJuIDEKICBmaQogIGlmIFtb
ICEgIiRyZWxheV91cmwiID1+IF53c3M/Oi8vW14vWzpzcGFjZTpdXSsvPyQgXV07IHRoZW4KICAg
IGxvZyAiSW52YWxpZCByZWxheSBVUkwgJyR7cmVsYXlfdXJsfScuIFVzZSBhIHJvb3Qgd3M6Ly8g
b3Igd3NzOi8vIFVSTC4iCiAgICByZXR1cm4gMQogIGZpCiAgcHJpbnRmICclc1xuJyAiJHtyZWxh
eV91cmwlL30iCn0KCnN0YXJ0X3JlbGF5KCkgewogIGxvY2FsIG93bmVyX3B1YmtleT0iJDEiCiAg
bG9jYWwgcmVsYXlfdXJsPSIkMiIKICBlbnN1cmVfc2VjcmV0cwogIHdyaXRlX3J1bnRpbWUgIiRv
d25lcl9wdWJrZXkiICIkcmVsYXlfdXJsIgogIHNldCAtYQogICMgc2hlbGxjaGVjayBkaXNhYmxl
PVNDMTA5MAogIC4gIiRTRUNSRVRTX0ZJTEUiCiAgIyBzaGVsbGNoZWNrIGRpc2FibGU9U0MxMDkw
CiAgLiAiJFJVTlRJTUVfRklMRSIKICBzZXQgK2EKICB3cml0ZV9zdGF0ZSBzdGFydGluZwogIGxv
ZyAiU3RhcnRpbmcgQnV6eiByZWxheSBmb3IgJHtSRUxBWV9VUkx9IgogIC91c3IvbG9jYWwvYmlu
L2J1enotcmVsYXkgJgogIFJFTEFZX1BJRD0kIQp9CgpzdG9wX3JlbGF5KCkgewogIGlmIFtbIC1u
ICIkUkVMQVlfUElEIiBdXSAmJiBraWxsIC0wICIkUkVMQVlfUElEIiAyPi9kZXYvbnVsbDsgdGhl
bgogICAgd3JpdGVfc3RhdGUgc3RvcHBpbmcKICAgIGxvZyAiU3RvcHBpbmcgQnV6eiByZWxheSIK
ICAgIGtpbGwgLVRFUk0gIiRSRUxBWV9QSUQiCiAgICB3YWl0ICIkUkVMQVlfUElEIiB8fCB0cnVl
CiAgZmkKICBSRUxBWV9QSUQ9IiIKfQoKY2xlYXJfZGlyZWN0b3J5KCkgewogIGxvY2FsIGRpcmVj
dG9yeT0iJDEiCiAgY2FzZSAiJGRpcmVjdG9yeSIgaW4KICAgIC9kYXRhL2dpdHwvZGF0YS9naXQt
Y2FjaGUpIDs7CiAgICAqKQogICAgICBsb2cgIlJlZnVzaW5nIHRvIGNsZWFyIHVuZXhwZWN0ZWQg
ZGlyZWN0b3J5OiAke2RpcmVjdG9yeX0iCiAgICAgIHJldHVybiAxCiAgICAgIDs7CiAgZXNhYwog
IGZpbmQgIiRkaXJlY3RvcnkiIC1taW5kZXB0aCAxIC1tYXhkZXB0aCAxIC1leGVjIHJtIC1yZiAt
LSB7fSArCn0KCndhaXRfZm9yX3Jlc2V0X2FjaygpIHsKICBsb2NhbCByZXF1ZXN0X2lkPSIkMSIK
ICBsb2NhbCBuYW1lPSIkMiIKICBsb2NhbCBwYXRoPSIke1JFU0VUX0FDS19ESVJ9LyR7bmFtZX0t
cmVhZHkiCiAgd2hpbGUgW1sgIiQoZmlyc3RfbGluZSAiJHBhdGgiKSIgIT0gIiRyZXF1ZXN0X2lk
IiBdXTsgZG8KICAgIGlmIFtbICIkKGZpcnN0X2xpbmUgIiRSRVNFVF9SRVFVRVNUX0ZJTEUiKSIg
IT0gIiRyZXF1ZXN0X2lkIiBdXTsgdGhlbgogICAgICByZXR1cm4gMQogICAgZmkKICAgIHNsZWVw
IDEKICBkb25lCn0KCnBlcmZvcm1fcmVzZXQoKSB7CiAgbG9jYWwgcmVxdWVzdF9pZD0iJDEiCiAg
bG9jYWwgcGVuZGluZ19vd25lcgogIHBlbmRpbmdfb3duZXI9IiQoZmlyc3RfbGluZSAiJFBFTkRJ
TkdfT1dORVJfRklMRSIpIgogIHBlbmRpbmdfb3duZXI9IiQocHJpbnRmICclcycgIiRwZW5kaW5n
X293bmVyIiB8IHRyICdBLUYnICdhLWYnKSIKICBpZiBbWyAhICIkcGVuZGluZ19vd25lciIgPX4g
XlswLTlhLWZdezY0fSQgXV07IHRoZW4KICAgIHdyaXRlX21hcmtlciAiJFJFU0VUX0VSUk9SX0ZJ
TEUiICJSZXNldCByZWplY3RlZCBiZWNhdXNlIHRoZSBwZW5kaW5nIG93bmVyIHB1YmxpYyBrZXkg
aXMgaW52YWxpZC4iCiAgICBybSAtZiAiJFJFU0VUX1JFUVVFU1RfRklMRSIgIiRQRU5ESU5HX09X
TkVSX0ZJTEUiCiAgICByZXR1cm4gMQogIGZpCgogIHN0b3BfcmVsYXkKICB3cml0ZV9zdGF0ZSBy
ZXNldHRpbmcKICB3cml0ZV9tYXJrZXIgIiRSRUxBWV9TVE9QUEVEX0ZJTEUiICIkcmVxdWVzdF9p
ZCIKICBsb2cgIldhaXRpbmcgZm9yIGRhdGFiYXNlLCBjYWNoZSwgYW5kIG9iamVjdCBzdG9yYWdl
IHJlc2V0ICR7cmVxdWVzdF9pZH0iCiAgaWYgISB3YWl0X2Zvcl9yZXNldF9hY2sgIiRyZXF1ZXN0
X2lkIiBwb3N0Z3JlcyB8fAogICAgICEgd2FpdF9mb3JfcmVzZXRfYWNrICIkcmVxdWVzdF9pZCIg
cmVkaXMgfHwKICAgICAhIHdhaXRfZm9yX3Jlc2V0X2FjayAiJHJlcXVlc3RfaWQiIG1pbmlvOyB0
aGVuCiAgICB3cml0ZV9tYXJrZXIgIiRSRVNFVF9FUlJPUl9GSUxFIiAiUmVzZXQgY29vcmRpbmF0
aW9uIHdhcyBpbnRlcnJ1cHRlZCBiZWZvcmUgc3RvcmFnZSBzZXJ2aWNlcyB3ZXJlIHJlYWR5LiIK
ICAgIHJldHVybiAxCiAgZmkKCiAgaWYgISBjbGVhcl9kaXJlY3RvcnkgIiRHSVRfRElSIiB8fCAh
IGNsZWFyX2RpcmVjdG9yeSAiJEdJVF9DQUNIRV9ESVIiOyB0aGVuCiAgICB3cml0ZV9tYXJrZXIg
IiRSRVNFVF9FUlJPUl9GSUxFIiAiUmVzZXQgc3RvcHBlZCBiZWNhdXNlIHJlcG9zaXRvcnkgc3Rv
cmFnZSBjb3VsZCBub3QgYmUgY2xlYXJlZC4iCiAgICByZXR1cm4gMQogIGZpCiAgcm0gLWYgIiRT
RUNSRVRTX0ZJTEUiICIkUlVOVElNRV9GSUxFIgogIGlmICEgbXYgIiRQRU5ESU5HX09XTkVSX0ZJ
TEUiICIkT1dORVJfRklMRSI7IHRoZW4KICAgIHdyaXRlX21hcmtlciAiJFJFU0VUX0VSUk9SX0ZJ
TEUiICJSZXNldCBzdG9wcGVkIGJlY2F1c2UgdGhlIHBlbmRpbmcgb3duZXIga2V5IGNvdWxkIG5v
dCBiZSBwcm9tb3RlZC4iCiAgICByZXR1cm4gMQogIGZpCiAgY2htb2QgNjAwICIkT1dORVJfRklM
RSIKICB3cml0ZV9tYXJrZXIgIiRSRVNFVF9DT01QTEVURURfRklMRSIgIiRyZXF1ZXN0X2lkIgog
IHJtIC1mICIkUkVTRVRfUkVRVUVTVF9GSUxFIiAiJFJFU0VUX0VSUk9SX0ZJTEUiICIkUkVMQVlf
U1RPUFBFRF9GSUxFIgogIGxvZyAiRnVsbCBhcHBsaWNhdGlvbiBkYXRhIHJlc2V0ICR7cmVxdWVz
dF9pZH0gY29tcGxldGUiCn0KCnNodXRkb3duKCkgewogIHN0b3BfcmVsYXkKICBleGl0IDAKfQoK
dHJhcCBzaHV0ZG93biBJTlQgVEVSTQpta2RpciAtcCAiJENPTkZJR19ESVIiICIkUkVTRVRfQUNL
X0RJUiIgIiRHSVRfRElSIiAiJEdJVF9DQUNIRV9ESVIiCnVtYXNrIDA3NwoKd2hpbGUgdHJ1ZTsg
ZG8KICByZXNldF9pZD0iJChmaXJzdF9saW5lICIkUkVTRVRfUkVRVUVTVF9GSUxFIikiCiAgaWYg
W1sgLW4gIiRyZXNldF9pZCIgJiYgIiQoZmlyc3RfbGluZSAiJFJFU0VUX0NPTVBMRVRFRF9GSUxF
IikiICE9ICIkcmVzZXRfaWQiIF1dOyB0aGVuCiAgICBwZXJmb3JtX3Jlc2V0ICIkcmVzZXRfaWQi
IHx8IHRydWUKICAgIHNsZWVwIDEKICAgIGNvbnRpbnVlCiAgZmkKCiAgcmVzdGFydF9pZD0iJChm
aXJzdF9saW5lICIkUkVTVEFSVF9SRVFVRVNUX0ZJTEUiKSIKICBpZiBbWyAtbiAiJHJlc3RhcnRf
aWQiIF1dOyB0aGVuCiAgICB3cml0ZV9tYXJrZXIgIiRSRVNUQVJUX0NPTVBMRVRFRF9GSUxFIiAi
JHJlc3RhcnRfaWQiCiAgICBybSAtZiAiJFJFU1RBUlRfUkVRVUVTVF9GSUxFIgogIGZpCgogIGlm
ICEgb3duZXJfcHVia2V5PSIkKGxvYWRfb3duZXIpIjsgdGhlbgogICAgd3JpdGVfc3RhdGUgd2Fp
dGluZy1mb3ItY29uZmlndXJhdGlvbgogICAgc2xlZXAgMgogICAgY29udGludWUKICBmaQoKICBp
ZiAhIHJlbGF5X3VybD0iJChsb2FkX3JlbGF5X3VybCkiOyB0aGVuCiAgICB3cml0ZV9zdGF0ZSB3
YWl0aW5nLWZvci1jYW5vbmljYWwtdXJsCiAgICBzbGVlcCAyCiAgICBjb250aW51ZQogIGZpCgog
IGlmIFtbICIkKGZpcnN0X2xpbmUgIiRNSU5JT19JTklUSUFMSVpFRF9GSUxFIikiICE9IHJlYWR5
IF1dOyB0aGVuCiAgICB3cml0ZV9zdGF0ZSB3YWl0aW5nLWZvci1zdG9yYWdlCiAgICBzbGVlcCAy
CiAgICBjb250aW51ZQogIGZpCgogIHN0YXJ0X3JlbGF5ICIkb3duZXJfcHVia2V5IiAiJHJlbGF5
X3VybCIKICBhY3Rpb249IiIKICB3aGlsZSBraWxsIC0wICIkUkVMQVlfUElEIiAyPi9kZXYvbnVs
bDsgZG8KICAgIHJlc2V0X2lkPSIkKGZpcnN0X2xpbmUgIiRSRVNFVF9SRVFVRVNUX0ZJTEUiKSIK
ICAgIHJlc3RhcnRfaWQ9IiQoZmlyc3RfbGluZSAiJFJFU1RBUlRfUkVRVUVTVF9GSUxFIikiCiAg
ICBpZiBbWyAtbiAiJHJlc2V0X2lkIiBdXTsgdGhlbgogICAgICBhY3Rpb249cmVzZXQKICAgICAg
YnJlYWsKICAgIGZpCiAgICBpZiBbWyAtbiAiJHJlc3RhcnRfaWQiIF1dOyB0aGVuCiAgICAgIGFj
dGlvbj1yZXN0YXJ0CiAgICAgIGJyZWFrCiAgICBmaQogICAgc2xlZXAgMgogIGRvbmUKCiAgaWYg
W1sgIiRhY3Rpb24iID09IHJlc2V0IF1dOyB0aGVuCiAgICBwZXJmb3JtX3Jlc2V0ICIkcmVzZXRf
aWQiIHx8IHRydWUKICAgIGNvbnRpbnVlCiAgZmkKICBpZiBbWyAiJGFjdGlvbiIgPT0gcmVzdGFy
dCBdXTsgdGhlbgogICAgc3RvcF9yZWxheQogICAgd3JpdGVfbWFya2VyICIkUkVTVEFSVF9DT01Q
TEVURURfRklMRSIgIiRyZXN0YXJ0X2lkIgogICAgcm0gLWYgIiRSRVNUQVJUX1JFUVVFU1RfRklM
RSIKICAgIGxvZyAiTmV0d29yayBzZXR0aW5ncyBhcHBsaWVkOyByZXN0YXJ0aW5nIHJlbGF5Igog
ICAgY29udGludWUKICBmaQoKICB3YWl0ICIkUkVMQVlfUElEIiB8fCB0cnVlCiAgUkVMQVlfUElE
PSIiCiAgd3JpdGVfc3RhdGUgc3RvcHBlZAogIGxvZyAiUmVsYXkgcHJvY2VzcyBleGl0ZWQ7IHJl
dHJ5aW5nIgogIHNsZWVwIDMKZG9uZQo=
