IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoiIiJMb2NhbCBjb25maWd1cmF0aW9uIFVJIGZvciB0aGUg
VW1icmVsIEJ1enogcmVsYXkgcGFja2FnZS4iIiIKCmZyb20gX19mdXR1cmVfXyBpbXBvcnQgYW5u
b3RhdGlvbnMKCmltcG9ydCBoYXNobGliCmltcG9ydCBodHRwLmNsaWVudAppbXBvcnQganNvbgpp
bXBvcnQgbWltZXR5cGVzCmltcG9ydCBvcwppbXBvcnQgcmUKaW1wb3J0IHN0YXQKaW1wb3J0IHRl
bXBmaWxlCmltcG9ydCB0aHJlYWRpbmcKaW1wb3J0IHRpbWUKaW1wb3J0IHV1aWQKZnJvbSBkYXRl
dGltZSBpbXBvcnQgZGF0ZXRpbWUsIHRpbWV6b25lCmZyb20gaHR0cCBpbXBvcnQgSFRUUFN0YXR1
cwpmcm9tIGh0dHAuc2VydmVyIGltcG9ydCBCYXNlSFRUUFJlcXVlc3RIYW5kbGVyLCBUaHJlYWRp
bmdIVFRQU2VydmVyCmZyb20gcGF0aGxpYiBpbXBvcnQgUGF0aApmcm9tIHVybGxpYi5wYXJzZSBp
bXBvcnQgdXJsc3BsaXQKCgpDT05GSUdfRElSID0gUGF0aChvcy5lbnZpcm9uLmdldCgiQlVaWl9D
T05GSUdfRElSIiwgIi9jb25maWciKSkKU1RBVElDX0RJUiA9IFBhdGgob3MuZW52aXJvbi5nZXQo
IkJVWlpfU0VUVVBfU1RBVElDX0RJUiIsICIvYXBwL3N0YXRpYyIpKQpSRUxBWV9IRUFMVEhfSE9T
VCA9IG9zLmVudmlyb24uZ2V0KCJCVVpaX1JFTEFZX0hFQUxUSF9IT1NUIiwgImJ1enotcmVsYXlf
cmVsYXlfMSIpClJFTEFZX0hFQUxUSF9QT1JUID0gaW50KG9zLmVudmlyb24uZ2V0KCJCVVpaX1JF
TEFZX0hFQUxUSF9QT1JUIiwgIjgwODAiKSkKUkVMQVlfTUVUUklDU19IT1NUID0gb3MuZW52aXJv
bi5nZXQoIkJVWlpfUkVMQVlfTUVUUklDU19IT1NUIiwgUkVMQVlfSEVBTFRIX0hPU1QpClJFTEFZ
X01FVFJJQ1NfUE9SVCA9IGludChvcy5lbnZpcm9uLmdldCgiQlVaWl9SRUxBWV9NRVRSSUNTX1BP
UlQiLCAiOTEwMiIpKQpNSU5JT19IRUFMVEhfSE9TVCA9IG9zLmVudmlyb24uZ2V0KCJCVVpaX01J
TklPX0hFQUxUSF9IT1NUIiwgImJ1enotcmVsYXktbWluaW8iKQpNSU5JT19IRUFMVEhfUE9SVCA9
IGludChvcy5lbnZpcm9uLmdldCgiQlVaWl9NSU5JT19IRUFMVEhfUE9SVCIsICI5MDAwIikpCkRF
RkFVTFRfUkVMQVlfVVJMID0gb3MuZW52aXJvbi5nZXQoIkJVWlpfREVGQVVMVF9SRUxBWV9VUkwi
LCAiIikKUEFDS0FHRV9WRVJTSU9OID0gb3MuZW52aXJvbi5nZXQoIkJVWlpfUEFDS0FHRV9WRVJT
SU9OIiwgInVua25vd24iKQpCQUNLVVBfRElSID0gUGF0aChvcy5lbnZpcm9uLmdldCgiQlVaWl9C
QUNLVVBfRElSIiwgIi9iYWNrdXBzIikpCkJBQ0tVUF9NQVhfQllURVMgPSBpbnQob3MuZW52aXJv
bi5nZXQoIkJVWlpfQkFDS1VQX01BWF9CWVRFUyIsICI1MzY4NzA5MTIwMCIpKQoKT1dORVJfRklM
RSA9IENPTkZJR19ESVIgLyAicmVsYXktb3duZXItcHVia2V5IgpQRU5ESU5HX09XTkVSX0ZJTEUg
PSBDT05GSUdfRElSIC8gInBlbmRpbmctb3duZXItcHVia2V5IgpSRUxBWV9VUkxfRklMRSA9IENP
TkZJR19ESVIgLyAicmVsYXktdXJsIgpNRURJQV9VUkxfRklMRSA9IENPTkZJR19ESVIgLyAibWVk
aWEtYmFzZS11cmwiCkNPUlNfRklMRSA9IENPTkZJR19ESVIgLyAiY29ycy1vcmlnaW5zIgpDT01N
VU5JVFlfTU9ERV9GSUxFID0gQ09ORklHX0RJUiAvICJjb21tdW5pdHktbW9kZSIKUkVTRVRfUkVR
VUVTVF9GSUxFID0gQ09ORklHX0RJUiAvICJyZXNldC1yZXF1ZXN0IgpSRVNFVF9DT01QTEVURURf
RklMRSA9IENPTkZJR19ESVIgLyAicmVzZXQtY29tcGxldGVkIgpSRVNFVF9FUlJPUl9GSUxFID0g
Q09ORklHX0RJUiAvICJyZXNldC1lcnJvciIKUkVTVEFSVF9SRVFVRVNUX0ZJTEUgPSBDT05GSUdf
RElSIC8gInJlc3RhcnQtcmVxdWVzdCIKUkVTVEFSVF9DT01QTEVURURfRklMRSA9IENPTkZJR19E
SVIgLyAicmVzdGFydC1jb21wbGV0ZWQiClJFTEFZX1NUQVRFX0ZJTEUgPSBDT05GSUdfRElSIC8g
InJlbGF5LXN0YXRlIgpCQUNLVVBfUkVRVUVTVF9GSUxFID0gQ09ORklHX0RJUiAvICJiYWNrdXAt
cmVxdWVzdCIKQkFDS1VQX1NUQVRFX0ZJTEUgPSBDT05GSUdfRElSIC8gImJhY2t1cC1zdGF0ZSIK
QkFDS1VQX1BST0dSRVNTX0ZJTEUgPSBDT05GSUdfRElSIC8gImJhY2t1cC1wcm9ncmVzcyIKQkFD
S1VQX01FU1NBR0VfRklMRSA9IENPTkZJR19ESVIgLyAiYmFja3VwLW1lc3NhZ2UiCkJBQ0tVUF9D
VVJSRU5UX0lEX0ZJTEUgPSBDT05GSUdfRElSIC8gImJhY2t1cC1jdXJyZW50LWlkIgpCQUNLVVBf
TEFURVNUX05BTUVfRklMRSA9IENPTkZJR19ESVIgLyAiYmFja3VwLWxhdGVzdC1uYW1lIgpCQUNL
VVBfTEFURVNUX1NJWkVfRklMRSA9IENPTkZJR19ESVIgLyAiYmFja3VwLWxhdGVzdC1zaXplIgpC
QUNLVVBfTEFURVNUX1NIQV9GSUxFID0gQ09ORklHX0RJUiAvICJiYWNrdXAtbGF0ZXN0LXNoYTI1
NiIKQkFDS1VQX0xBVEVTVF9DUkVBVEVEX0ZJTEUgPSBDT05GSUdfRElSIC8gImJhY2t1cC1sYXRl
c3QtY3JlYXRlZC1hdCIKT1BFUkFUSU9OU19IRUFSVEJFQVRfRklMRSA9IENPTkZJR19ESVIgLyAi
b3BlcmF0aW9ucy1oZWFydGJlYXQiClNUT1JBR0VfU1RBVFNfRklMRSA9IENPTkZJR19ESVIgLyAi
c3RvcmFnZS1zdGF0cyIKQUNUSVZJVFlfQ09VTlRfRklMRSA9IENPTkZJR19ESVIgLyAiYWN0aXZp
dHktb2JzZXJ2ZWQtY291bnQiCkFDVElWSVRZX0FUX0ZJTEUgPSBDT05GSUdfRElSIC8gImFjdGl2
aXR5LW9ic2VydmVkLWF0IgoKSEVYX0tFWV9SRSA9IHJlLmNvbXBpbGUociJeWzAtOWEtZkEtRl17
NjR9JCIpCkJBQ0tVUF9OQU1FX1JFID0gcmUuY29tcGlsZShyIl5idXp6LXJlbGF5LWJhY2t1cC1b
MC05XXs4fVRbMC05XXs2fVotWzAtOWEtZl17OH1cLnRhciQiKQpQUk9NRVRIRVVTX1NBTVBMRV9S
RSA9IHJlLmNvbXBpbGUoCiAgICByIl4oW2EtekEtWl86XVthLXpBLVowLTlfOl0qKSg/Olx7W15c
clxuXSpcfSk/XHMrKFstK10/KD86WzAtOV0rKD86XC5bMC05XSopP3xcLlswLTldKykoPzpbZUVd
Wy0rXT9bMC05XSspPykkIgopCkJFQ0gzMl9DSEFSU0VUID0gInFwenJ5OXg4Z2YydHZkdzBzM2pu
NTRraGNlNm11YTdsIgpCRUNIMzJfTE9PS1VQID0ge2NoYXI6IGluZGV4IGZvciBpbmRleCwgY2hh
ciBpbiBlbnVtZXJhdGUoQkVDSDMyX0NIQVJTRVQpfQpXUklURV9MT0NLID0gdGhyZWFkaW5nLkxv
Y2soKQpTVEFUU19MT0NLID0gdGhyZWFkaW5nLkxvY2soKQpBQ1RJVklUWV9MT0NLID0gdGhyZWFk
aW5nLkxvY2soKQpTVEFUU19DQUNIRTogdHVwbGVbZmxvYXQsIGRpY3Rbc3RyLCBvYmplY3RdXSB8
IE5vbmUgPSBOb25lCkRFU0tUT1BfT1JJR0lOUyA9ICgidGF1cmk6Ly9sb2NhbGhvc3QiLCAiaHR0
cDovL3RhdXJpLmxvY2FsaG9zdCIpCgoKY2xhc3MgSW5wdXRFcnJvcihWYWx1ZUVycm9yKToKICAg
ICIiIkEgc2FmZSB2YWxpZGF0aW9uIGVycm9yIHRoYXQgY2FuIGJlIHJldHVybmVkIHRvIHRoZSBV
SS4iIiIKCgpkZWYgcmVhZF9maXJzdF9saW5lKHBhdGg6IFBhdGgpIC0+IHN0cjoKICAgIHRyeToK
ICAgICAgICBmb3IgbGluZSBpbiBwYXRoLnJlYWRfdGV4dChlbmNvZGluZz0idXRmLTgiKS5zcGxp
dGxpbmVzKCk6CiAgICAgICAgICAgIHZhbHVlID0gbGluZS5zdHJpcCgpCiAgICAgICAgICAgIGlm
IHZhbHVlIGFuZCBub3QgdmFsdWUuc3RhcnRzd2l0aCgiIyIpOgogICAgICAgICAgICAgICAgcmV0
dXJuIHZhbHVlCiAgICBleGNlcHQgRmlsZU5vdEZvdW5kRXJyb3I6CiAgICAgICAgcGFzcwogICAg
cmV0dXJuICIiCgoKZGVmIGF0b21pY193cml0ZShwYXRoOiBQYXRoLCB2YWx1ZTogc3RyLCBtb2Rl
OiBpbnQgPSAwbzYwMCkgLT4gTm9uZToKICAgIHBhdGgucGFyZW50Lm1rZGlyKHBhcmVudHM9VHJ1
ZSwgZXhpc3Rfb2s9VHJ1ZSkKICAgIGRlc2NyaXB0b3IsIHRlbXBvcmFyeSA9IHRlbXBmaWxlLm1r
c3RlbXAocHJlZml4PWYiLntwYXRoLm5hbWV9LiIsIGRpcj1wYXRoLnBhcmVudCkKICAgIHRyeToK
ICAgICAgICB3aXRoIG9zLmZkb3BlbihkZXNjcmlwdG9yLCAidyIsIGVuY29kaW5nPSJ1dGYtOCIp
IGFzIGhhbmRsZToKICAgICAgICAgICAgaGFuZGxlLndyaXRlKHZhbHVlLnJzdHJpcCgiXG4iKSAr
ICJcbiIpCiAgICAgICAgICAgIGhhbmRsZS5mbHVzaCgpCiAgICAgICAgICAgIG9zLmZzeW5jKGhh
bmRsZS5maWxlbm8oKSkKICAgICAgICBvcy5jaG1vZCh0ZW1wb3JhcnksIG1vZGUpCiAgICAgICAg
b3MucmVwbGFjZSh0ZW1wb3JhcnksIHBhdGgpCiAgICBmaW5hbGx5OgogICAgICAgIHRyeToKICAg
ICAgICAgICAgb3MudW5saW5rKHRlbXBvcmFyeSkKICAgICAgICBleGNlcHQgRmlsZU5vdEZvdW5k
RXJyb3I6CiAgICAgICAgICAgIHBhc3MKCgpkZWYgYmVjaDMyX3BvbHltb2QodmFsdWVzOiBsaXN0
W2ludF0pIC0+IGludDoKICAgIGdlbmVyYXRvcnMgPSAoMHgzQjZBNTdCMiwgMHgyNjUwOEU2RCwg
MHgxRUExMTlGQSwgMHgzRDQyMzNERCwgMHgyQTE0NjJCMykKICAgIGNoZWNrc3VtID0gMQogICAg
Zm9yIHZhbHVlIGluIHZhbHVlczoKICAgICAgICB0b3AgPSBjaGVja3N1bSA+PiAyNQogICAgICAg
IGNoZWNrc3VtID0gKChjaGVja3N1bSAmIDB4MUZGRkZGRikgPDwgNSkgXiB2YWx1ZQogICAgICAg
IGZvciBpbmRleCwgZ2VuZXJhdG9yIGluIGVudW1lcmF0ZShnZW5lcmF0b3JzKToKICAgICAgICAg
ICAgaWYgKHRvcCA+PiBpbmRleCkgJiAxOgogICAgICAgICAgICAgICAgY2hlY2tzdW0gXj0gZ2Vu
ZXJhdG9yCiAgICByZXR1cm4gY2hlY2tzdW0KCgpkZWYgYmVjaDMyX2hycF9leHBhbmQoaHJwOiBz
dHIpIC0+IGxpc3RbaW50XToKICAgIHJldHVybiBbb3JkKGNoYXIpID4+IDUgZm9yIGNoYXIgaW4g
aHJwXSArIFswXSArIFtvcmQoY2hhcikgJiAzMSBmb3IgY2hhciBpbiBocnBdCgoKZGVmIGJlY2gz
Ml9jaGVja3N1bShocnA6IHN0ciwgZGF0YTogbGlzdFtpbnRdKSAtPiBsaXN0W2ludF06CiAgICB2
YWx1ZXMgPSBiZWNoMzJfaHJwX2V4cGFuZChocnApICsgZGF0YSArIFswXSAqIDYKICAgIHBvbHlt
b2QgPSBiZWNoMzJfcG9seW1vZCh2YWx1ZXMpIF4gMQogICAgcmV0dXJuIFsocG9seW1vZCA+PiAo
NSAqICg1IC0gaW5kZXgpKSkgJiAzMSBmb3IgaW5kZXggaW4gcmFuZ2UoNildCgoKZGVmIGNvbnZl
cnRfYml0cygKICAgIHZhbHVlczogYnl0ZXMgfCBsaXN0W2ludF0sIGZyb21fYml0czogaW50LCB0
b19iaXRzOiBpbnQsIHBhZDogYm9vbAopIC0+IGxpc3RbaW50XToKICAgIGFjY3VtdWxhdG9yID0g
MAogICAgYml0X2NvdW50ID0gMAogICAgcmVzdWx0OiBsaXN0W2ludF0gPSBbXQogICAgbWF4aW11
bV92YWx1ZSA9ICgxIDw8IHRvX2JpdHMpIC0gMQogICAgbWF4aW11bV9hY2N1bXVsYXRvciA9ICgx
IDw8IChmcm9tX2JpdHMgKyB0b19iaXRzIC0gMSkpIC0gMQogICAgZm9yIHZhbHVlIGluIHZhbHVl
czoKICAgICAgICBpZiB2YWx1ZSA8IDAgb3IgdmFsdWUgPj4gZnJvbV9iaXRzOgogICAgICAgICAg
ICByYWlzZSBJbnB1dEVycm9yKCJJbnZhbGlkIEJlY2gzMiBkYXRhLiIpCiAgICAgICAgYWNjdW11
bGF0b3IgPSAoKGFjY3VtdWxhdG9yIDw8IGZyb21fYml0cykgfCB2YWx1ZSkgJiBtYXhpbXVtX2Fj
Y3VtdWxhdG9yCiAgICAgICAgYml0X2NvdW50ICs9IGZyb21fYml0cwogICAgICAgIHdoaWxlIGJp
dF9jb3VudCA+PSB0b19iaXRzOgogICAgICAgICAgICBiaXRfY291bnQgLT0gdG9fYml0cwogICAg
ICAgICAgICByZXN1bHQuYXBwZW5kKChhY2N1bXVsYXRvciA+PiBiaXRfY291bnQpICYgbWF4aW11
bV92YWx1ZSkKICAgIGlmIHBhZDoKICAgICAgICBpZiBiaXRfY291bnQ6CiAgICAgICAgICAgIHJl
c3VsdC5hcHBlbmQoKGFjY3VtdWxhdG9yIDw8ICh0b19iaXRzIC0gYml0X2NvdW50KSkgJiBtYXhp
bXVtX3ZhbHVlKQogICAgZWxpZiBiaXRfY291bnQgPj0gZnJvbV9iaXRzIG9yICgoYWNjdW11bGF0
b3IgPDwgKHRvX2JpdHMgLSBiaXRfY291bnQpKSAmIG1heGltdW1fdmFsdWUpOgogICAgICAgIHJh
aXNlIElucHV0RXJyb3IoIkludmFsaWQgQmVjaDMyIHBhZGRpbmcuIikKICAgIHJldHVybiByZXN1
bHQKCgpkZWYgYmVjaDMyX2VuY29kZShocnA6IHN0ciwgcGF5bG9hZDogYnl0ZXMpIC0+IHN0cjoK
ICAgIGRhdGEgPSBjb252ZXJ0X2JpdHMocGF5bG9hZCwgOCwgNSwgVHJ1ZSkKICAgIGNvbWJpbmVk
ID0gZGF0YSArIGJlY2gzMl9jaGVja3N1bShocnAsIGRhdGEpCiAgICByZXR1cm4gaHJwICsgIjEi
ICsgIiIuam9pbihCRUNIMzJfQ0hBUlNFVFt2YWx1ZV0gZm9yIHZhbHVlIGluIGNvbWJpbmVkKQoK
CmRlZiBiZWNoMzJfZGVjb2RlKHZhbHVlOiBzdHIpIC0+IHR1cGxlW3N0ciwgYnl0ZXNdOgogICAg
aWYgbm90IHZhbHVlIG9yICh2YWx1ZS5sb3dlcigpICE9IHZhbHVlIGFuZCB2YWx1ZS51cHBlcigp
ICE9IHZhbHVlKToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJUaGUgbnB1YiBtdXN0IG5vdCBt
aXggdXBwZXJjYXNlIGFuZCBsb3dlcmNhc2UgY2hhcmFjdGVycy4iKQogICAgbm9ybWFsaXplZCA9
IHZhbHVlLmxvd2VyKCkKICAgIHNlcGFyYXRvciA9IG5vcm1hbGl6ZWQucmZpbmQoIjEiKQogICAg
aWYgc2VwYXJhdG9yIDwgMSBvciBzZXBhcmF0b3IgKyA3ID4gbGVuKG5vcm1hbGl6ZWQpOgogICAg
ICAgIHJhaXNlIElucHV0RXJyb3IoIkludmFsaWQgQmVjaDMyIHB1YmxpYyBrZXkuIikKICAgIGhy
cCA9IG5vcm1hbGl6ZWRbOnNlcGFyYXRvcl0KICAgIHRyeToKICAgICAgICBkYXRhID0gW0JFQ0gz
Ml9MT09LVVBbY2hhcl0gZm9yIGNoYXIgaW4gbm9ybWFsaXplZFtzZXBhcmF0b3IgKyAxIDpdXQog
ICAgZXhjZXB0IEtleUVycm9yIGFzIGV4YzoKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJJbnZh
bGlkIEJlY2gzMiBwdWJsaWMga2V5LiIpIGZyb20gZXhjCiAgICBpZiBiZWNoMzJfcG9seW1vZChi
ZWNoMzJfaHJwX2V4cGFuZChocnApICsgZGF0YSkgIT0gMToKICAgICAgICByYWlzZSBJbnB1dEVy
cm9yKCJUaGUgbnB1YiBjaGVja3N1bSBpcyBpbnZhbGlkLiIpCiAgICBwYXlsb2FkID0gYnl0ZXMo
Y29udmVydF9iaXRzKGRhdGFbOi02XSwgNSwgOCwgRmFsc2UpKQogICAgcmV0dXJuIGhycCwgcGF5
bG9hZAoKCmRlZiBwYXJzZV9wdWJsaWNfa2V5KHJhd192YWx1ZTogb2JqZWN0KSAtPiB0dXBsZVtz
dHIsIHN0ciwgYm9vbF06CiAgICBpZiBub3QgaXNpbnN0YW5jZShyYXdfdmFsdWUsIHN0cik6CiAg
ICAgICAgcmFpc2UgSW5wdXRFcnJvcigiRW50ZXIgYSBOb3N0ciBwdWJsaWMga2V5LiIpCiAgICB2
YWx1ZSA9IHJhd192YWx1ZS5zdHJpcCgpCiAgICBpZiB2YWx1ZS5sb3dlcigpLnN0YXJ0c3dpdGgo
Im5vc3RyOiIpOgogICAgICAgIHZhbHVlID0gdmFsdWVbNjpdCiAgICBsb3dlcmVkID0gdmFsdWUu
bG93ZXIoKQogICAgaWYgbG93ZXJlZC5zdGFydHN3aXRoKCJuc2VjIikgb3IgInByaXZhdGUga2V5
IiBpbiBsb3dlcmVkOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlByaXZhdGUga2V5cyBhbmQg
bnNlYyB2YWx1ZXMgYXJlIHJlamVjdGVkLiBFbnRlciBhbiBucHViIG9yIHB1YmxpYy1rZXkgaGV4
LiIpCiAgICBpZiBIRVhfS0VZX1JFLmZ1bGxtYXRjaCh2YWx1ZSk6CiAgICAgICAgcHVibGljX2hl
eCA9IHZhbHVlLmxvd2VyKCkKICAgICAgICByZXR1cm4gcHVibGljX2hleCwgYmVjaDMyX2VuY29k
ZSgibnB1YiIsIGJ5dGVzLmZyb21oZXgocHVibGljX2hleCkpLCBUcnVlCiAgICBpZiBsb3dlcmVk
LnN0YXJ0c3dpdGgoIm5wdWIxIik6CiAgICAgICAgaHJwLCBwYXlsb2FkID0gYmVjaDMyX2RlY29k
ZSh2YWx1ZSkKICAgICAgICBpZiBocnAgIT0gIm5wdWIiIG9yIGxlbihwYXlsb2FkKSAhPSAzMjoK
ICAgICAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiRW50ZXIgYSB2YWxpZCAzMi1ieXRlIG5wdWIu
IikKICAgICAgICByZXR1cm4gcGF5bG9hZC5oZXgoKSwgYmVjaDMyX2VuY29kZSgibnB1YiIsIHBh
eWxvYWQpLCBGYWxzZQogICAgcmFpc2UgSW5wdXRFcnJvcigiRW50ZXIgYW4gbnB1YiBvciBhIDY0
LWNoYXJhY3RlciBoZXhhZGVjaW1hbCBOb3N0ciBwdWJsaWMga2V5LiIpCgoKZGVmIHZhbGlkYXRl
X3JlbGF5X3VybChyYXdfdmFsdWU6IG9iamVjdCkgLT4gc3RyOgogICAgaWYgbm90IGlzaW5zdGFu
Y2UocmF3X3ZhbHVlLCBzdHIpIG9yIG5vdCByYXdfdmFsdWUuc3RyaXAoKToKICAgICAgICByYWlz
ZSBJbnB1dEVycm9yKCJSZWxheSBVUkwgaXMgcmVxdWlyZWQuIikKICAgIHZhbHVlID0gcmF3X3Zh
bHVlLnN0cmlwKCkKICAgIHRyeToKICAgICAgICBwYXJzZWQgPSB1cmxzcGxpdCh2YWx1ZSkKICAg
ICAgICBfID0gcGFyc2VkLnBvcnQKICAgIGV4Y2VwdCBWYWx1ZUVycm9yIGFzIGV4YzoKICAgICAg
ICByYWlzZSBJbnB1dEVycm9yKCJSZWxheSBVUkwgaGFzIGFuIGludmFsaWQgaG9zdCBvciBwb3J0
LiIpIGZyb20gZXhjCiAgICBpZiBwYXJzZWQuc2NoZW1lIG5vdCBpbiB7IndzIiwgIndzcyJ9IG9y
IG5vdCBwYXJzZWQuaG9zdG5hbWU6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiUmVsYXkgVVJM
IG11c3Qgc3RhcnQgd2l0aCB3czovLyBvciB3c3M6Ly8gYW5kIGluY2x1ZGUgYSBob3N0LiIpCiAg
ICBpZiBwYXJzZWQudXNlcm5hbWUgb3IgcGFyc2VkLnBhc3N3b3JkIG9yIHBhcnNlZC5xdWVyeSBv
ciBwYXJzZWQuZnJhZ21lbnQ6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiUmVsYXkgVVJMIGNh
bm5vdCBjb250YWluIGNyZWRlbnRpYWxzLCBhIHF1ZXJ5LCBvciBhIGZyYWdtZW50LiIpCiAgICBp
ZiBwYXJzZWQucGF0aCBub3QgaW4geyIiLCAiLyJ9OgogICAgICAgIHJhaXNlIElucHV0RXJyb3Io
IlRoaXMgcGFja2FnZSBleHBvc2VzIEJ1enogYXQgdGhlIGhvc3RuYW1lIHJvb3Q7IHJlbW92ZSB0
aGUgVVJMIHBhdGguIikKICAgIHJldHVybiBmIntwYXJzZWQuc2NoZW1lfTovL3twYXJzZWQubmV0
bG9jfSIKCgpkZWYgZGVyaXZlX3J1bnRpbWVfdXJscyhyZWxheV91cmw6IHN0cikgLT4gdHVwbGVb
c3RyLCBzdHJdOgogICAgcGFyc2VkID0gdXJsc3BsaXQodmFsaWRhdGVfcmVsYXlfdXJsKHJlbGF5
X3VybCkpCiAgICBodHRwX3NjaGVtZSA9ICJodHRwcyIgaWYgcGFyc2VkLnNjaGVtZSA9PSAid3Nz
IiBlbHNlICJodHRwIgogICAgb3JpZ2luID0gZiJ7aHR0cF9zY2hlbWV9Oi8ve3BhcnNlZC5uZXRs
b2N9IgogICAgY29yc19vcmlnaW5zID0gIiwiLmpvaW4oKG9yaWdpbiwgKkRFU0tUT1BfT1JJR0lO
UykpCiAgICByZXR1cm4gZiJ7b3JpZ2lufS9tZWRpYSIsIGNvcnNfb3JpZ2lucwoKCmRlZiBzZWxl
Y3RfY29tbXVuaXR5X3VybChwYXlsb2FkOiBkaWN0W3N0ciwgb2JqZWN0XSkgLT4gdHVwbGVbc3Ry
LCBzdHJdOgogICAgbW9kZSA9IHBheWxvYWQuZ2V0KCJjb21tdW5pdHlNb2RlIikKICAgIGlmIG1v
ZGUgPT0gImxvY2FsIjoKICAgICAgICBpZiBub3QgREVGQVVMVF9SRUxBWV9VUkw6CiAgICAgICAg
ICAgIHJhaXNlIElucHV0RXJyb3IoIlRoZSBsb2NhbCBDb21tdW5pdHkgVVJMIGNvdWxkIG5vdCBi
ZSBkaXNjb3ZlcmVkLiIpCiAgICAgICAgcmV0dXJuIG1vZGUsIHZhbGlkYXRlX3JlbGF5X3VybChE
RUZBVUxUX1JFTEFZX1VSTCkKICAgIGlmIG1vZGUgPT0gInB1YmxpYyI6CiAgICAgICAgcmVsYXlf
dXJsID0gdmFsaWRhdGVfcmVsYXlfdXJsKHBheWxvYWQuZ2V0KCJjb21tdW5pdHlVcmwiKSkKICAg
ICAgICBpZiBub3QgcmVsYXlfdXJsLnN0YXJ0c3dpdGgoIndzczovLyIpOgogICAgICAgICAgICBy
YWlzZSBJbnB1dEVycm9yKCJBIHB1YmxpYyBDb21tdW5pdHkgVVJMIG11c3Qgc3RhcnQgd2l0aCB3
c3M6Ly8uIikKICAgICAgICByZXR1cm4gbW9kZSwgcmVsYXlfdXJsCiAgICByYWlzZSBJbnB1dEVy
cm9yKCJDaG9vc2UgTG9jYWwgdGVzdGluZyBvciBQdWJsaWMgY29tbXVuaXR5LiIpCgoKZGVmIGh0
dHBfZ2V0KGhvc3Q6IHN0ciwgcG9ydDogaW50LCBwYXRoOiBzdHIsIGxpbWl0OiBpbnQgPSAyICog
MTAyNCAqIDEwMjQpIC0+IHR1cGxlW2ludCwgYnl0ZXNdOgogICAgY29ubmVjdGlvbjogaHR0cC5j
bGllbnQuSFRUUENvbm5lY3Rpb24gfCBOb25lID0gTm9uZQogICAgdHJ5OgogICAgICAgIGNvbm5l
Y3Rpb24gPSBodHRwLmNsaWVudC5IVFRQQ29ubmVjdGlvbihob3N0LCBwb3J0LCB0aW1lb3V0PTAu
NzUpCiAgICAgICAgY29ubmVjdGlvbi5yZXF1ZXN0KCJHRVQiLCBwYXRoKQogICAgICAgIHJlc3Bv
bnNlID0gY29ubmVjdGlvbi5nZXRyZXNwb25zZSgpCiAgICAgICAgYm9keSA9IHJlc3BvbnNlLnJl
YWQobGltaXQgKyAxKQogICAgICAgIGlmIGxlbihib2R5KSA+IGxpbWl0OgogICAgICAgICAgICBy
YWlzZSBWYWx1ZUVycm9yKCJJbnRlcm5hbCByZXNwb25zZSBleGNlZWRlZCB0aGUgYWxsb3dlZCBz
aXplLiIpCiAgICAgICAgcmV0dXJuIHJlc3BvbnNlLnN0YXR1cywgYm9keQogICAgZmluYWxseToK
ICAgICAgICBpZiBjb25uZWN0aW9uOgogICAgICAgICAgICBjb25uZWN0aW9uLmNsb3NlKCkKCgpk
ZWYgaW50ZXJuYWxfanNvbihob3N0OiBzdHIsIHBvcnQ6IGludCwgcGF0aDogc3RyKSAtPiB0dXBs
ZVtpbnQgfCBOb25lLCBkaWN0W3N0ciwgb2JqZWN0XV06CiAgICB0cnk6CiAgICAgICAgc3RhdHVz
LCBib2R5ID0gaHR0cF9nZXQoaG9zdCwgcG9ydCwgcGF0aCwgNjQgKiAxMDI0KQogICAgICAgIHBh
cnNlZCA9IGpzb24ubG9hZHMoYm9keS5kZWNvZGUoInV0Zi04IikpCiAgICAgICAgcmV0dXJuIHN0
YXR1cywgcGFyc2VkIGlmIGlzaW5zdGFuY2UocGFyc2VkLCBkaWN0KSBlbHNlIHt9CiAgICBleGNl
cHQgKE9TRXJyb3IsIFZhbHVlRXJyb3IsIFVuaWNvZGVEZWNvZGVFcnJvciwganNvbi5KU09ORGVj
b2RlRXJyb3IsIGh0dHAuY2xpZW50LkhUVFBFeGNlcHRpb24pOgogICAgICAgIHJldHVybiBOb25l
LCB7fQoKCmRlZiBwYXJzZV9wcm9tZXRoZXVzX21ldHJpY3MoYm9keTogc3RyKSAtPiBkaWN0W3N0
ciwgZmxvYXRdOgogICAgdG90YWxzOiBkaWN0W3N0ciwgZmxvYXRdID0ge30KICAgIGZvciBsaW5l
IGluIGJvZHkuc3BsaXRsaW5lcygpOgogICAgICAgIGlmIG5vdCBsaW5lIG9yIGxpbmUuc3RhcnRz
d2l0aCgiIyIpOgogICAgICAgICAgICBjb250aW51ZQogICAgICAgIG1hdGNoID0gUFJPTUVUSEVV
U19TQU1QTEVfUkUuZnVsbG1hdGNoKGxpbmUuc3RyaXAoKSkKICAgICAgICBpZiBub3QgbWF0Y2g6
CiAgICAgICAgICAgIGNvbnRpbnVlCiAgICAgICAgbmFtZSwgcmF3X3ZhbHVlID0gbWF0Y2guZ3Jv
dXBzKCkKICAgICAgICB0cnk6CiAgICAgICAgICAgIHZhbHVlID0gZmxvYXQocmF3X3ZhbHVlKQog
ICAgICAgIGV4Y2VwdCBWYWx1ZUVycm9yOgogICAgICAgICAgICBjb250aW51ZQogICAgICAgIGlm
IHZhbHVlICE9IHZhbHVlIG9yIHZhbHVlIGluIHtmbG9hdCgiaW5mIiksIGZsb2F0KCItaW5mIil9
OgogICAgICAgICAgICBjb250aW51ZQogICAgICAgIHRvdGFsc1tuYW1lXSA9IHRvdGFscy5nZXQo
bmFtZSwgMC4wKSArIHZhbHVlCiAgICByZXR1cm4gdG90YWxzCgoKZGVmIHJlbGF5X21ldHJpY3Mo
KSAtPiBkaWN0W3N0ciwgaW50IHwgTm9uZV06CiAgICByZXN1bHQ6IGRpY3Rbc3RyLCBpbnQgfCBO
b25lXSA9IHsKICAgICAgICAiYWN0aXZlQ29ubmVjdGlvbnMiOiBOb25lLAogICAgICAgICJldmVu
dHNSZWNlaXZlZFNpbmNlU3RhcnQiOiBOb25lLAogICAgICAgICJyZXF1ZXN0c1NpbmNlU3RhcnQi
OiBOb25lLAogICAgICAgICJtZXNzYWdlQ291bnQiOiBOb25lLAogICAgICAgICJjaGFubmVsQ291
bnQiOiBOb25lLAogICAgICAgICJtZW1iZXJDb3VudCI6IE5vbmUsCiAgICAgICAgInVzZXJDb3Vu
dCI6IE5vbmUsCiAgICB9CiAgICB0cnk6CiAgICAgICAgc3RhdHVzLCBib2R5ID0gaHR0cF9nZXQo
UkVMQVlfTUVUUklDU19IT1NULCBSRUxBWV9NRVRSSUNTX1BPUlQsICIvbWV0cmljcyIpCiAgICAg
ICAgaWYgc3RhdHVzICE9IEhUVFBTdGF0dXMuT0s6CiAgICAgICAgICAgIHJldHVybiByZXN1bHQK
ICAgICAgICB0b3RhbHMgPSBwYXJzZV9wcm9tZXRoZXVzX21ldHJpY3MoYm9keS5kZWNvZGUoInV0
Zi04IikpCiAgICBleGNlcHQgKE9TRXJyb3IsIFZhbHVlRXJyb3IsIFVuaWNvZGVEZWNvZGVFcnJv
ciwgaHR0cC5jbGllbnQuSFRUUEV4Y2VwdGlvbik6CiAgICAgICAgcmV0dXJuIHJlc3VsdAoKICAg
IG1hcHBpbmcgPSB7CiAgICAgICAgImFjdGl2ZUNvbm5lY3Rpb25zIjogImJ1enpfd3NfY29ubmVj
dGlvbnNfYWN0aXZlIiwKICAgICAgICAiZXZlbnRzUmVjZWl2ZWRTaW5jZVN0YXJ0IjogImJ1enpf
ZXZlbnRzX3JlY2VpdmVkX3RvdGFsIiwKICAgICAgICAicmVxdWVzdHNTaW5jZVN0YXJ0IjogImh0
dHBfcmVxdWVzdHNfdG90YWwiLAogICAgICAgICJtZXNzYWdlQ291bnQiOiAiYnV6el90b3RhbF9t
ZXNzYWdlcyIsCiAgICAgICAgImNoYW5uZWxDb3VudCI6ICJidXp6X3RvdGFsX2NoYW5uZWxzIiwK
ICAgICAgICAibWVtYmVyQ291bnQiOiAiYnV6el90b3RhbF9yZWxheV9tZW1iZXJzIiwKICAgICAg
ICAidXNlckNvdW50IjogImJ1enpfdG90YWxfdXNlcnMiLAogICAgfQogICAgZm9yIG91dHB1dF9u
YW1lLCBtZXRyaWNfbmFtZSBpbiBtYXBwaW5nLml0ZW1zKCk6CiAgICAgICAgaWYgbWV0cmljX25h
bWUgaW4gdG90YWxzOgogICAgICAgICAgICByZXN1bHRbb3V0cHV0X25hbWVdID0gbWF4KDAsIGlu
dCh0b3RhbHNbbWV0cmljX25hbWVdKSkKICAgIG9ic2VydmVfYWN0aXZpdHkocmVzdWx0WyJldmVu
dHNSZWNlaXZlZFNpbmNlU3RhcnQiXSkKICAgIHJldHVybiByZXN1bHQKCgpkZWYgb2JzZXJ2ZV9h
Y3Rpdml0eShldmVudF9jb3VudDogaW50IHwgTm9uZSkgLT4gTm9uZToKICAgIGlmIGV2ZW50X2Nv
dW50IGlzIE5vbmU6CiAgICAgICAgcmV0dXJuCiAgICB3aXRoIEFDVElWSVRZX0xPQ0s6CiAgICAg
ICAgdHJ5OgogICAgICAgICAgICBwcmV2aW91cyA9IGludChyZWFkX2ZpcnN0X2xpbmUoQUNUSVZJ
VFlfQ09VTlRfRklMRSkpCiAgICAgICAgZXhjZXB0IFZhbHVlRXJyb3I6CiAgICAgICAgICAgIHBy
ZXZpb3VzID0gZXZlbnRfY291bnQKICAgICAgICBpZiBldmVudF9jb3VudCA+IHByZXZpb3VzOgog
ICAgICAgICAgICBhdG9taWNfd3JpdGUoCiAgICAgICAgICAgICAgICBBQ1RJVklUWV9BVF9GSUxF
LAogICAgICAgICAgICAgICAgZGF0ZXRpbWUubm93KHRpbWV6b25lLnV0YykuaXNvZm9ybWF0KHRp
bWVzcGVjPSJzZWNvbmRzIikucmVwbGFjZSgiKzAwOjAwIiwgIloiKSwKICAgICAgICAgICAgKQog
ICAgICAgIGF0b21pY193cml0ZShBQ1RJVklUWV9DT1VOVF9GSUxFLCBzdHIoZXZlbnRfY291bnQp
KQoKCmRlZiByZWFkX3N0b3JhZ2Vfc3RhdHMoKSAtPiBkaWN0W3N0ciwgb2JqZWN0XToKICAgIGFs
bG93ZWQgPSB7CiAgICAgICAgImNvbmZpZ19raWIiLAogICAgICAgICJwb3N0Z3Jlc19raWIiLAog
ICAgICAgICJyZWRpc19raWIiLAogICAgICAgICJtaW5pb19raWIiLAogICAgICAgICJnaXRfa2li
IiwKICAgICAgICAiZ2l0X2NhY2hlX2tpYiIsCiAgICAgICAgImJhY2t1cHNfa2liIiwKICAgIH0K
ICAgIHZhbHVlczogZGljdFtzdHIsIGludF0gPSB7bmFtZTogMCBmb3IgbmFtZSBpbiBhbGxvd2Vk
fQogICAgbWVhc3VyZWRfYXQgPSAiIgogICAgdHJ5OgogICAgICAgIGxpbmVzID0gU1RPUkFHRV9T
VEFUU19GSUxFLnJlYWRfdGV4dChlbmNvZGluZz0idXRmLTgiKS5zcGxpdGxpbmVzKCkKICAgIGV4
Y2VwdCBGaWxlTm90Rm91bmRFcnJvcjoKICAgICAgICBsaW5lcyA9IFtdCiAgICBmb3IgbGluZSBp
biBsaW5lczoKICAgICAgICBrZXksIHNlcGFyYXRvciwgdmFsdWUgPSBsaW5lLnBhcnRpdGlvbigi
PSIpCiAgICAgICAgaWYgbm90IHNlcGFyYXRvcjoKICAgICAgICAgICAgY29udGludWUKICAgICAg
ICBpZiBrZXkgPT0gIm1lYXN1cmVkX2F0IjoKICAgICAgICAgICAgbWVhc3VyZWRfYXQgPSB2YWx1
ZSBpZiBsZW4odmFsdWUpIDw9IDMyIGVsc2UgIiIKICAgICAgICBlbGlmIGtleSBpbiBhbGxvd2Vk
OgogICAgICAgICAgICB0cnk6CiAgICAgICAgICAgICAgICB2YWx1ZXNba2V5XSA9IG1heCgwLCBp
bnQodmFsdWUpKQogICAgICAgICAgICBleGNlcHQgVmFsdWVFcnJvcjoKICAgICAgICAgICAgICAg
IHBhc3MKICAgIGRhdGFfa2liID0gc3VtKHZhbHVlIGZvciBrZXksIHZhbHVlIGluIHZhbHVlcy5p
dGVtcygpIGlmIGtleSAhPSAiYmFja3Vwc19raWIiKQogICAgcmV0dXJuIHsKICAgICAgICAibWVh
c3VyZWRBdCI6IG1lYXN1cmVkX2F0LAogICAgICAgICJkYXRhQnl0ZXMiOiBkYXRhX2tpYiAqIDEw
MjQsCiAgICAgICAgImJhY2t1cEJ5dGVzIjogdmFsdWVzWyJiYWNrdXBzX2tpYiJdICogMTAyNCwK
ICAgICAgICAiY29tcG9uZW50cyI6IHsKICAgICAgICAgICAgImRhdGFiYXNlIjogdmFsdWVzWyJw
b3N0Z3Jlc19raWIiXSAqIDEwMjQsCiAgICAgICAgICAgICJvYmplY3RTdG9yYWdlIjogdmFsdWVz
WyJtaW5pb19raWIiXSAqIDEwMjQsCiAgICAgICAgICAgICJyZXBvc2l0b3JpZXMiOiB2YWx1ZXNb
ImdpdF9raWIiXSAqIDEwMjQsCiAgICAgICAgICAgICJjYWNoZSI6ICh2YWx1ZXNbInJlZGlzX2tp
YiJdICsgdmFsdWVzWyJnaXRfY2FjaGVfa2liIl0pICogMTAyNCwKICAgICAgICAgICAgImNvbmZp
Z3VyYXRpb24iOiB2YWx1ZXNbImNvbmZpZ19raWIiXSAqIDEwMjQsCiAgICAgICAgfSwKICAgIH0K
CgpkZWYgb3BlcmF0aW9uc19vbmxpbmUoKSAtPiBib29sOgogICAgdHJ5OgogICAgICAgIGhlYXJ0
YmVhdCA9IGludChyZWFkX2ZpcnN0X2xpbmUoT1BFUkFUSU9OU19IRUFSVEJFQVRfRklMRSkpCiAg
ICBleGNlcHQgVmFsdWVFcnJvcjoKICAgICAgICByZXR1cm4gRmFsc2UKICAgIHJldHVybiAwIDw9
IGludCh0aW1lLnRpbWUoKSkgLSBoZWFydGJlYXQgPD0gMjAKCgpkZWYgb3BlcmF0aW9uYWxfc3Rh
dHMoKSAtPiBkaWN0W3N0ciwgb2JqZWN0XToKICAgIGdsb2JhbCBTVEFUU19DQUNIRQogICAgbm93
ID0gdGltZS5tb25vdG9uaWMoKQogICAgd2l0aCBTVEFUU19MT0NLOgogICAgICAgIGlmIFNUQVRT
X0NBQ0hFIGFuZCBub3cgLSBTVEFUU19DQUNIRVswXSA8IDQ6CiAgICAgICAgICAgIHJldHVybiBT
VEFUU19DQUNIRVsxXQoKICAgICAgICBzdGF0dXNfY29kZSwgcmVsYXlfc3RhdHVzID0gaW50ZXJu
YWxfanNvbihSRUxBWV9IRUFMVEhfSE9TVCwgUkVMQVlfSEVBTFRIX1BPUlQsICIvX3N0YXR1cyIp
CiAgICAgICAgcmVhZGluZXNzX2NvZGUsIHJlYWRpbmVzcyA9IGludGVybmFsX2pzb24oCiAgICAg
ICAgICAgIFJFTEFZX0hFQUxUSF9IT1NULCBSRUxBWV9IRUFMVEhfUE9SVCwgIi9fcmVhZGluZXNz
IgogICAgICAgICkKICAgICAgICBtaW5pb19zdGF0dXM6IGludCB8IE5vbmUgPSBOb25lCiAgICAg
ICAgdHJ5OgogICAgICAgICAgICBtaW5pb19zdGF0dXMsIF8gPSBodHRwX2dldCgKICAgICAgICAg
ICAgICAgIE1JTklPX0hFQUxUSF9IT1NULCBNSU5JT19IRUFMVEhfUE9SVCwgIi9taW5pby9oZWFs
dGgvcmVhZHkiLCA0MDk2CiAgICAgICAgICAgICkKICAgICAgICBleGNlcHQgKE9TRXJyb3IsIFZh
bHVlRXJyb3IsIGh0dHAuY2xpZW50LkhUVFBFeGNlcHRpb24pOgogICAgICAgICAgICBwYXNzCgog
ICAgICAgIHJlYWR5ID0gcmVhZGluZXNzX2NvZGUgPT0gSFRUUFN0YXR1cy5PSwogICAgICAgIHBv
c3RncmVzID0gVHJ1ZSBpZiByZWFkeSBlbHNlIHJlYWRpbmVzcy5nZXQoInBvc3RncmVzIikKICAg
ICAgICByZWRpcyA9IFRydWUgaWYgcmVhZHkgZWxzZSByZWFkaW5lc3MuZ2V0KCJyZWRpcyIpCiAg
ICAgICAgaWYgbm90IGlzaW5zdGFuY2UocG9zdGdyZXMsIGJvb2wpOgogICAgICAgICAgICBwb3N0
Z3JlcyA9IE5vbmUKICAgICAgICBpZiBub3QgaXNpbnN0YW5jZShyZWRpcywgYm9vbCk6CiAgICAg
ICAgICAgIHJlZGlzID0gTm9uZQoKICAgICAgICBtZXRyaWNzID0gcmVsYXlfbWV0cmljcygpCiAg
ICAgICAgc25hcHNob3Q6IGRpY3Rbc3RyLCBvYmplY3RdID0gewogICAgICAgICAgICAibWV0YWRh
dGFPbmx5IjogVHJ1ZSwKICAgICAgICAgICAgInBhY2thZ2VWZXJzaW9uIjogUEFDS0FHRV9WRVJT
SU9OLAogICAgICAgICAgICAicmVsYXlWZXJzaW9uIjogcmVsYXlfc3RhdHVzLmdldCgidmVyc2lv
biIpIGlmIHN0YXR1c19jb2RlID09IEhUVFBTdGF0dXMuT0sgZWxzZSBOb25lLAogICAgICAgICAg
ICAidXB0aW1lU2Vjb25kcyI6IHJlbGF5X3N0YXR1cy5nZXQoInVwdGltZV9zZWNvbmRzIikgaWYg
c3RhdHVzX2NvZGUgPT0gSFRUUFN0YXR1cy5PSyBlbHNlIE5vbmUsCiAgICAgICAgICAgICJyZWxh
eVJlYWNoYWJsZSI6IHN0YXR1c19jb2RlID09IEhUVFBTdGF0dXMuT0ssCiAgICAgICAgICAgICJy
ZWxheVJlYWR5IjogcmVhZHksCiAgICAgICAgICAgICJyZWxheVN0YXRlIjogcmVhZF9maXJzdF9s
aW5lKFJFTEFZX1NUQVRFX0ZJTEUpIG9yICJ1bmtub3duIiwKICAgICAgICAgICAgImNvbm5lY3Rp
dml0eSI6IHsKICAgICAgICAgICAgICAgICJwb3N0Z3JlcyI6IHBvc3RncmVzLAogICAgICAgICAg
ICAgICAgInJlZGlzIjogcmVkaXMsCiAgICAgICAgICAgICAgICAib2JqZWN0U3RvcmFnZSI6IG1p
bmlvX3N0YXR1cyA9PSBIVFRQU3RhdHVzLk9LIGlmIG1pbmlvX3N0YXR1cyBpcyBub3QgTm9uZSBl
bHNlIE5vbmUsCiAgICAgICAgICAgICAgICAib3BlcmF0aW9uc1dvcmtlciI6IG9wZXJhdGlvbnNf
b25saW5lKCksCiAgICAgICAgICAgIH0sCiAgICAgICAgICAgICJjb3VudHMiOiBtZXRyaWNzLAog
ICAgICAgICAgICAibGFzdE9ic2VydmVkQWN0aXZpdHlBdCI6IHJlYWRfZmlyc3RfbGluZShBQ1RJ
VklUWV9BVF9GSUxFKSwKICAgICAgICAgICAgInN0b3JhZ2UiOiByZWFkX3N0b3JhZ2Vfc3RhdHMo
KSwKICAgICAgICB9CiAgICAgICAgU1RBVFNfQ0FDSEUgPSAobm93LCBzbmFwc2hvdCkKICAgICAg
ICByZXR1cm4gc25hcHNob3QKCgpkZWYgY3VycmVudF9rZXkoKSAtPiB0dXBsZVtzdHIsIHN0cl0g
fCBOb25lOgogICAgdmFsdWUgPSByZWFkX2ZpcnN0X2xpbmUoT1dORVJfRklMRSkKICAgIHRyeToK
ICAgICAgICBwdWJsaWNfaGV4LCBucHViLCBfID0gcGFyc2VfcHVibGljX2tleSh2YWx1ZSkKICAg
ICAgICByZXR1cm4gcHVibGljX2hleCwgbnB1YgogICAgZXhjZXB0IElucHV0RXJyb3I6CiAgICAg
ICAgcmV0dXJuIE5vbmUKCgpkZWYgbGF0ZXN0X2JhY2t1cF9wYXRoKCkgLT4gUGF0aCB8IE5vbmU6
CiAgICBuYW1lID0gcmVhZF9maXJzdF9saW5lKEJBQ0tVUF9MQVRFU1RfTkFNRV9GSUxFKQogICAg
aWYgbm90IEJBQ0tVUF9OQU1FX1JFLmZ1bGxtYXRjaChuYW1lKToKICAgICAgICByZXR1cm4gTm9u
ZQogICAgcGF0aCA9IEJBQ0tVUF9ESVIgLyBuYW1lCiAgICB0cnk6CiAgICAgICAgbWV0YWRhdGEg
PSBwYXRoLmxzdGF0KCkKICAgIGV4Y2VwdCBGaWxlTm90Rm91bmRFcnJvcjoKICAgICAgICByZXR1
cm4gTm9uZQogICAgaWYgcGF0aC5pc19zeW1saW5rKCkgb3Igbm90IHN0YXQuU19JU1JFRyhtZXRh
ZGF0YS5zdF9tb2RlKToKICAgICAgICByZXR1cm4gTm9uZQogICAgcmV0dXJuIHBhdGgKCgpkZWYg
YmFja3VwX3N0YXR1c19wYXlsb2FkKCkgLT4gZGljdFtzdHIsIG9iamVjdF06CiAgICByZXF1ZXN0
X2lkID0gcmVhZF9maXJzdF9saW5lKEJBQ0tVUF9SRVFVRVNUX0ZJTEUpCiAgICBsYXRlc3RfcGF0
aCA9IGxhdGVzdF9iYWNrdXBfcGF0aCgpCiAgICBsYXRlc3Rfc2l6ZSA9IDAKICAgIGlmIGxhdGVz
dF9wYXRoOgogICAgICAgIHRyeToKICAgICAgICAgICAgbGF0ZXN0X3NpemUgPSBsYXRlc3RfcGF0
aC5zdGF0KCkuc3Rfc2l6ZQogICAgICAgIGV4Y2VwdCBGaWxlTm90Rm91bmRFcnJvcjoKICAgICAg
ICAgICAgbGF0ZXN0X3BhdGggPSBOb25lCiAgICB0cnk6CiAgICAgICAgcHJvZ3Jlc3MgPSBtYXgo
MCwgbWluKDEwMCwgaW50KHJlYWRfZmlyc3RfbGluZShCQUNLVVBfUFJPR1JFU1NfRklMRSkgb3Ig
IjAiKSkpCiAgICBleGNlcHQgVmFsdWVFcnJvcjoKICAgICAgICBwcm9ncmVzcyA9IDAKICAgIHJl
dHVybiB7CiAgICAgICAgInN0YXRlIjogcmVhZF9maXJzdF9saW5lKEJBQ0tVUF9TVEFURV9GSUxF
KSBvciAiaWRsZSIsCiAgICAgICAgInByb2dyZXNzIjogcHJvZ3Jlc3MsCiAgICAgICAgIm1lc3Nh
Z2UiOiByZWFkX2ZpcnN0X2xpbmUoQkFDS1VQX01FU1NBR0VfRklMRSksCiAgICAgICAgInJ1bm5p
bmciOiBib29sKHJlcXVlc3RfaWQpLAogICAgICAgICJyZXF1ZXN0SWQiOiByZXF1ZXN0X2lkLAog
ICAgICAgICJ3b3JrZXJPbmxpbmUiOiBvcGVyYXRpb25zX29ubGluZSgpLAogICAgICAgICJtYXhC
eXRlcyI6IEJBQ0tVUF9NQVhfQllURVMsCiAgICAgICAgImxhdGVzdCI6IHsKICAgICAgICAgICAg
ImF2YWlsYWJsZSI6IGxhdGVzdF9wYXRoIGlzIG5vdCBOb25lLAogICAgICAgICAgICAibmFtZSI6
IGxhdGVzdF9wYXRoLm5hbWUgaWYgbGF0ZXN0X3BhdGggZWxzZSAiIiwKICAgICAgICAgICAgInNp
emVCeXRlcyI6IGxhdGVzdF9zaXplLAogICAgICAgICAgICAic2hhMjU2IjogcmVhZF9maXJzdF9s
aW5lKEJBQ0tVUF9MQVRFU1RfU0hBX0ZJTEUpIGlmIGxhdGVzdF9wYXRoIGVsc2UgIiIsCiAgICAg
ICAgICAgICJjcmVhdGVkQXQiOiByZWFkX2ZpcnN0X2xpbmUoQkFDS1VQX0xBVEVTVF9DUkVBVEVE
X0ZJTEUpIGlmIGxhdGVzdF9wYXRoIGVsc2UgIiIsCiAgICAgICAgICAgICJkb3dubG9hZFVybCI6
ICIvYXBpL2JhY2t1cHMvZG93bmxvYWQiIGlmIGxhdGVzdF9wYXRoIGVsc2UgIiIsCiAgICAgICAg
fSwKICAgICAgICAicmVzdG9yZUF2YWlsYWJsZSI6IEZhbHNlLAogICAgfQoKCmRlZiByZXF1ZXN0
X2JhY2t1cChwYXlsb2FkOiBkaWN0W3N0ciwgb2JqZWN0XSkgLT4gdHVwbGVbaW50LCBkaWN0W3N0
ciwgb2JqZWN0XV06CiAgICBpZiBwYXlsb2FkLmdldCgiYWNrbm93bGVkZ2VTZW5zaXRpdmUiKSBp
cyBub3QgVHJ1ZToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJDb25maXJtIHRoYXQgdGhlIGRv
d25sb2FkZWQgYXJjaGl2ZSBjb250YWlucyBzZW5zaXRpdmUgcHJpdmF0ZSBkYXRhLiIpCiAgICB3
aXRoIFdSSVRFX0xPQ0s6CiAgICAgICAga2V5ID0gY3VycmVudF9rZXkoKQogICAgICAgIGlmIG5v
dCBrZXkgb3Igbm90IHJlYWRfZmlyc3RfbGluZShSRUxBWV9VUkxfRklMRSk6CiAgICAgICAgICAg
IHJldHVybiBIVFRQU3RhdHVzLkNPTkZMSUNULCB7ImVycm9yIjogIkNvbmZpZ3VyZSBhbmQgc3Rh
cnQgdGhlIGNvbW11bml0eSBmaXJzdC4ifQogICAgICAgIGlmIHJlYWRfZmlyc3RfbGluZShSRVNF
VF9SRVFVRVNUX0ZJTEUpIG9yIHJlYWRfZmlyc3RfbGluZShSRVNUQVJUX1JFUVVFU1RfRklMRSk6
CiAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVzLkNPTkZMSUNULCB7CiAgICAgICAgICAgICAg
ICAiZXJyb3IiOiAiV2FpdCBmb3IgdGhlIGN1cnJlbnQgcmVzZXQgb3IgcmVzdGFydCB0byBmaW5p
c2ggYmVmb3JlIGNyZWF0aW5nIGEgYmFja3VwLiIKICAgICAgICAgICAgfQogICAgICAgIGlmIHJl
YWRfZmlyc3RfbGluZShCQUNLVVBfUkVRVUVTVF9GSUxFKToKICAgICAgICAgICAgcmV0dXJuIEhU
VFBTdGF0dXMuQ09ORkxJQ1QsIHsiZXJyb3IiOiAiQSBiYWNrdXAgaXMgYWxyZWFkeSBpbiBwcm9n
cmVzcy4ifQogICAgICAgIGlmIG5vdCBvcGVyYXRpb25zX29ubGluZSgpOgogICAgICAgICAgICBy
ZXR1cm4gSFRUUFN0YXR1cy5TRVJWSUNFX1VOQVZBSUxBQkxFLCB7CiAgICAgICAgICAgICAgICAi
ZXJyb3IiOiAiVGhlIGludGVybmFsIGJhY2t1cCB3b3JrZXIgaXMgbm90IGF2YWlsYWJsZS4iCiAg
ICAgICAgICAgIH0KICAgICAgICByZXF1ZXN0X2lkID0gc3RyKHV1aWQudXVpZDQoKSkKICAgICAg
ICBhdG9taWNfd3JpdGUoQkFDS1VQX0NVUlJFTlRfSURfRklMRSwgcmVxdWVzdF9pZCkKICAgICAg
ICBhdG9taWNfd3JpdGUoQkFDS1VQX1NUQVRFX0ZJTEUsICJxdWV1ZWQiKQogICAgICAgIGF0b21p
Y193cml0ZShCQUNLVVBfUFJPR1JFU1NfRklMRSwgIjAiKQogICAgICAgIGF0b21pY193cml0ZShC
QUNLVVBfTUVTU0FHRV9GSUxFLCAiQmFja3VwIHF1ZXVlZCIpCiAgICAgICAgYXRvbWljX3dyaXRl
KEJBQ0tVUF9SRVFVRVNUX0ZJTEUsIHJlcXVlc3RfaWQpCiAgICAgICAgcmV0dXJuIEhUVFBTdGF0
dXMuQUNDRVBURUQsIHsKICAgICAgICAgICAgIm1lc3NhZ2UiOiAiQmFja3VwIHN0YXJ0ZWQuIFJl
bGF5IHdyaXRlcyB3aWxsIHBhdXNlIGJyaWVmbHkuIiwKICAgICAgICAgICAgImJhY2t1cFJlcXVl
c3RJZCI6IHJlcXVlc3RfaWQsCiAgICAgICAgfQoKCmRlZiBzdGF0dXNfcGF5bG9hZCgpIC0+IGRp
Y3Rbc3RyLCBvYmplY3RdOgogICAga2V5ID0gY3VycmVudF9rZXkoKQogICAgcmVsYXlfdXJsID0g
cmVhZF9maXJzdF9saW5lKFJFTEFZX1VSTF9GSUxFKQogICAgc3RvcmVkX21vZGUgPSByZWFkX2Zp
cnN0X2xpbmUoQ09NTVVOSVRZX01PREVfRklMRSkKICAgIHRyeToKICAgICAgICBsb2NhbF91cmwg
PSB2YWxpZGF0ZV9yZWxheV91cmwoREVGQVVMVF9SRUxBWV9VUkwpIGlmIERFRkFVTFRfUkVMQVlf
VVJMIGVsc2UgIiIKICAgIGV4Y2VwdCBJbnB1dEVycm9yOgogICAgICAgIGxvY2FsX3VybCA9ICIi
CiAgICBpZiBzdG9yZWRfbW9kZSBub3QgaW4geyJsb2NhbCIsICJwdWJsaWMifToKICAgICAgICBz
dG9yZWRfbW9kZSA9ICJsb2NhbCIgaWYgbm90IHJlbGF5X3VybCBvciByZWxheV91cmwgPT0gbG9j
YWxfdXJsIGVsc2UgInB1YmxpYyIKICAgIHJlc2V0X2lkID0gcmVhZF9maXJzdF9saW5lKFJFU0VU
X1JFUVVFU1RfRklMRSkKICAgIHJlc3RhcnRfaWQgPSByZWFkX2ZpcnN0X2xpbmUoUkVTVEFSVF9S
RVFVRVNUX0ZJTEUpCiAgICBzdGF0ZSA9IHJlYWRfZmlyc3RfbGluZShSRUxBWV9TVEFURV9GSUxF
KSBvciAoIndhaXRpbmctZm9yLWNvbmZpZ3VyYXRpb24iIGlmIG5vdCBrZXkgZWxzZSAic3RhcnRp
bmciKQogICAgc3RhdHMgPSBvcGVyYXRpb25hbF9zdGF0cygpCiAgICByZXR1cm4gewogICAgICAg
ICJjb25maWd1cmVkIjoga2V5IGlzIG5vdCBOb25lIGFuZCBib29sKHJlbGF5X3VybCksCiAgICAg
ICAgIm93bmVyQ29uZmlndXJlZCI6IGtleSBpcyBub3QgTm9uZSwKICAgICAgICAib3duZXJIZXgi
OiBrZXlbMF0gaWYga2V5IGVsc2UgIiIsCiAgICAgICAgIm93bmVyTnB1YiI6IGtleVsxXSBpZiBr
ZXkgZWxzZSAiIiwKICAgICAgICAibG9jYWxDb21tdW5pdHlVcmwiOiBsb2NhbF91cmwsCiAgICAg
ICAgImNvbW11bml0eU1vZGUiOiBzdG9yZWRfbW9kZSwKICAgICAgICAiY29tbXVuaXR5VXJsIjog
cmVsYXlfdXJsLAogICAgICAgICJyZWxheVJlYWR5IjogYm9vbChrZXkpIGFuZCBib29sKHJlbGF5
X3VybCkgYW5kIHN0YXRzWyJyZWxheVJlYWR5Il0sCiAgICAgICAgInJlbGF5U3RhdGUiOiBzdGF0
ZSwKICAgICAgICAicmVzZXR0aW5nIjogYm9vbChyZXNldF9pZCksCiAgICAgICAgInJlc2V0UmVx
dWVzdElkIjogcmVzZXRfaWQsCiAgICAgICAgImxhc3RSZXNldElkIjogcmVhZF9maXJzdF9saW5l
KFJFU0VUX0NPTVBMRVRFRF9GSUxFKSwKICAgICAgICAicmVzZXRFcnJvciI6IHJlYWRfZmlyc3Rf
bGluZShSRVNFVF9FUlJPUl9GSUxFKSwKICAgICAgICAicmVzdGFydGluZyI6IGJvb2wocmVzdGFy
dF9pZCksCiAgICAgICAgInJlc3RhcnRSZXF1ZXN0SWQiOiByZXN0YXJ0X2lkLAogICAgICAgICJs
YXN0UmVzdGFydElkIjogcmVhZF9maXJzdF9saW5lKFJFU1RBUlRfQ09NUExFVEVEX0ZJTEUpLAog
ICAgICAgICJvcGVyYXRpb25zIjogc3RhdHMsCiAgICAgICAgImJhY2t1cCI6IGJhY2t1cF9zdGF0
dXNfcGF5bG9hZCgpLAogICAgfQoKCmRlZiBhcHBseV9jb25maWd1cmF0aW9uKHBheWxvYWQ6IGRp
Y3Rbc3RyLCBvYmplY3RdKSAtPiB0dXBsZVtpbnQsIGRpY3Rbc3RyLCBvYmplY3RdXToKICAgIHB1
YmxpY19oZXgsIG5wdWIsIHJhd19oZXggPSBwYXJzZV9wdWJsaWNfa2V5KHBheWxvYWQuZ2V0KCJv
d25lcktleSIpKQogICAgaWYgcmF3X2hleCBhbmQgcGF5bG9hZC5nZXQoImNvbmZpcm1QdWJsaWNI
ZXgiKSBpcyBub3QgVHJ1ZToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKAogICAgICAgICAgICAi
QSByYXcgNjQtY2hhcmFjdGVyIGhleCB2YWx1ZSBjYW4gYmUgZWl0aGVyIHB1YmxpYyBvciBwcml2
YXRlIG1hdGVyaWFsLiBDb25maXJtIHRoYXQgdGhpcyB2YWx1ZSBpcyBhIHB1YmxpYyBrZXkuIgog
ICAgICAgICkKICAgIGNvbW11bml0eV9tb2RlLCByZWxheV91cmwgPSBzZWxlY3RfY29tbXVuaXR5
X3VybChwYXlsb2FkKQogICAgbWVkaWFfdXJsLCBjb3JzX29yaWdpbnMgPSBkZXJpdmVfcnVudGlt
ZV91cmxzKHJlbGF5X3VybCkKCiAgICB3aXRoIFdSSVRFX0xPQ0s6CiAgICAgICAgaWYgcmVhZF9m
aXJzdF9saW5lKEJBQ0tVUF9SRVFVRVNUX0ZJTEUpOgogICAgICAgICAgICByZXR1cm4gSFRUUFN0
YXR1cy5DT05GTElDVCwgewogICAgICAgICAgICAgICAgImVycm9yIjogIldhaXQgZm9yIHRoZSBj
dXJyZW50IGJhY2t1cCB0byBmaW5pc2ggYmVmb3JlIGNoYW5naW5nIGNvbmZpZ3VyYXRpb24uIgog
ICAgICAgICAgICB9CiAgICAgICAgZXhpc3RpbmcgPSBjdXJyZW50X2tleSgpCiAgICAgICAgZXhp
c3RpbmdfaGV4ID0gZXhpc3RpbmdbMF0gaWYgZXhpc3RpbmcgZWxzZSAiIgogICAgICAgIGV4aXN0
aW5nX3JlbGF5X3VybCA9IHJlYWRfZmlyc3RfbGluZShSRUxBWV9VUkxfRklMRSkKICAgICAgICBp
ZiBleGlzdGluZ19oZXggYW5kIGV4aXN0aW5nX3JlbGF5X3VybCBhbmQgZXhpc3RpbmdfcmVsYXlf
dXJsICE9IHJlbGF5X3VybDoKICAgICAgICAgICAgcmV0dXJuIEhUVFBTdGF0dXMuQ09ORkxJQ1Qs
IHsKICAgICAgICAgICAgICAgICJlcnJvciI6ICgKICAgICAgICAgICAgICAgICAgICAiVGhlIGNh
bm9uaWNhbCBDb21tdW5pdHkgVVJMIGlzIGZpeGVkIGFmdGVyIGluaXRpYWxpemF0aW9uLiAiCiAg
ICAgICAgICAgICAgICAgICAgIkEgZGlmZmVyZW50IFVSTCBpcyBhIGRpZmZlcmVudCBCdXp6IGNv
bW11bml0eSBhbmQgcmVxdWlyZXMgYSBmdXR1cmUgIgogICAgICAgICAgICAgICAgICAgICJleHBs
aWNpdCBiYWNrdXAtYW5kLXJlc2V0IHdvcmtmbG93LiBObyBkYXRhIHdhcyBjaGFuZ2VkLiIKICAg
ICAgICAgICAgICAgICksCiAgICAgICAgICAgICAgICAicmVxdWlyZXNOZXdDb21tdW5pdHlSZXNl
dCI6IFRydWUsCiAgICAgICAgICAgICAgICAiY3VycmVudENvbW11bml0eVVybCI6IGV4aXN0aW5n
X3JlbGF5X3VybCwKICAgICAgICAgICAgfQogICAgICAgIG5ldHdvcmtfY2hhbmdlZCA9IGFueSgK
ICAgICAgICAgICAgKAogICAgICAgICAgICAgICAgZXhpc3RpbmdfcmVsYXlfdXJsICE9IHJlbGF5
X3VybCwKICAgICAgICAgICAgICAgIHJlYWRfZmlyc3RfbGluZShNRURJQV9VUkxfRklMRSkgIT0g
bWVkaWFfdXJsLAogICAgICAgICAgICAgICAgcmVhZF9maXJzdF9saW5lKENPUlNfRklMRSkgIT0g
Y29yc19vcmlnaW5zLAogICAgICAgICAgICAgICAgcmVhZF9maXJzdF9saW5lKENPTU1VTklUWV9N
T0RFX0ZJTEUpICE9IGNvbW11bml0eV9tb2RlLAogICAgICAgICAgICApCiAgICAgICAgKQoKICAg
ICAgICBpZiBleGlzdGluZ19oZXggYW5kIGV4aXN0aW5nX2hleCAhPSBwdWJsaWNfaGV4OgogICAg
ICAgICAgICBpZiBwYXlsb2FkLmdldCgiY29uZmlybVJlc2V0IikgaXMgbm90IFRydWUgb3IgcGF5
bG9hZC5nZXQoInJlc2V0UGhyYXNlIikgIT0gIlJFU0VUIjoKICAgICAgICAgICAgICAgIHJldHVy
biBIVFRQU3RhdHVzLkNPTkZMSUNULCB7CiAgICAgICAgICAgICAgICAgICAgImVycm9yIjogIkNo
YW5naW5nIHRoZSBvd25lciByZXF1aXJlcyBhIGZ1bGwgZGF0YSByZXNldCBhbmQgdGhlIGV4YWN0
IFJFU0VUIGNvbmZpcm1hdGlvbi4iLAogICAgICAgICAgICAgICAgICAgICJyZXF1aXJlc1Jlc2V0
IjogVHJ1ZSwKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgaWYgcmVhZF9maXJzdF9saW5l
KFJFU0VUX1JFUVVFU1RfRklMRSk6CiAgICAgICAgICAgICAgICByZXR1cm4gSFRUUFN0YXR1cy5D
T05GTElDVCwgeyJlcnJvciI6ICJBIGRhdGEgcmVzZXQgaXMgYWxyZWFkeSBpbiBwcm9ncmVzcy4i
fQogICAgICAgICAgICByZXF1ZXN0X2lkID0gdXVpZC51dWlkNCgpLmhleAogICAgICAgICAgICBh
dG9taWNfd3JpdGUoUEVORElOR19PV05FUl9GSUxFLCBwdWJsaWNfaGV4KQogICAgICAgICAgICBh
dG9taWNfd3JpdGUoUkVMQVlfVVJMX0ZJTEUsIHJlbGF5X3VybCkKICAgICAgICAgICAgYXRvbWlj
X3dyaXRlKE1FRElBX1VSTF9GSUxFLCBtZWRpYV91cmwpCiAgICAgICAgICAgIGF0b21pY193cml0
ZShDT1JTX0ZJTEUsIGNvcnNfb3JpZ2lucykKICAgICAgICAgICAgYXRvbWljX3dyaXRlKENPTU1V
TklUWV9NT0RFX0ZJTEUsIGNvbW11bml0eV9tb2RlKQogICAgICAgICAgICBSRVNFVF9FUlJPUl9G
SUxFLnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAgICAgIGF0b21pY193cml0ZShSRVNF
VF9SRVFVRVNUX0ZJTEUsIHJlcXVlc3RfaWQpCiAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVz
LkFDQ0VQVEVELCB7CiAgICAgICAgICAgICAgICAibWVzc2FnZSI6ICJGdWxsIGFwcGxpY2F0aW9u
IGRhdGEgcmVzZXQgc3RhcnRlZC4iLAogICAgICAgICAgICAgICAgInJlc2V0UmVxdWVzdElkIjog
cmVxdWVzdF9pZCwKICAgICAgICAgICAgICAgICJvd25lckhleCI6IHB1YmxpY19oZXgsCiAgICAg
ICAgICAgICAgICAib3duZXJOcHViIjogbnB1YiwKICAgICAgICAgICAgICAgICJjb21tdW5pdHlV
cmwiOiByZWxheV91cmwsCiAgICAgICAgICAgIH0KCiAgICAgICAgYXRvbWljX3dyaXRlKFJFTEFZ
X1VSTF9GSUxFLCByZWxheV91cmwpCiAgICAgICAgYXRvbWljX3dyaXRlKE1FRElBX1VSTF9GSUxF
LCBtZWRpYV91cmwpCiAgICAgICAgYXRvbWljX3dyaXRlKENPUlNfRklMRSwgY29yc19vcmlnaW5z
KQogICAgICAgIGF0b21pY193cml0ZShDT01NVU5JVFlfTU9ERV9GSUxFLCBjb21tdW5pdHlfbW9k
ZSkKCiAgICAgICAgaWYgbm90IGV4aXN0aW5nX2hleDoKICAgICAgICAgICAgYXRvbWljX3dyaXRl
KE9XTkVSX0ZJTEUsIHB1YmxpY19oZXgpCiAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVzLkFD
Q0VQVEVELCB7CiAgICAgICAgICAgICAgICAibWVzc2FnZSI6ICJDb25maWd1cmF0aW9uIHNhdmVk
LiBDdXJyZW50IHN0YXJ0dXAgc3RhdHVzIGlzIHNob3duIGFib3ZlLiIsCiAgICAgICAgICAgICAg
ICAib3duZXJIZXgiOiBwdWJsaWNfaGV4LAogICAgICAgICAgICAgICAgIm93bmVyTnB1YiI6IG5w
dWIsCiAgICAgICAgICAgICAgICAiY29tbXVuaXR5VXJsIjogcmVsYXlfdXJsLAogICAgICAgICAg
ICB9CgogICAgICAgIGlmIG5ldHdvcmtfY2hhbmdlZDoKICAgICAgICAgICAgcmVxdWVzdF9pZCA9
IHV1aWQudXVpZDQoKS5oZXgKICAgICAgICAgICAgYXRvbWljX3dyaXRlKFJFU1RBUlRfUkVRVUVT
VF9GSUxFLCByZXF1ZXN0X2lkKQogICAgICAgICAgICByZXR1cm4gSFRUUFN0YXR1cy5BQ0NFUFRF
RCwgewogICAgICAgICAgICAgICAgIm1lc3NhZ2UiOiAiTmV0d29yayBzZXR0aW5ncyBzYXZlZC4g
Q3VycmVudCByZXN0YXJ0IHN0YXR1cyBpcyBzaG93biBhYm92ZS4iLAogICAgICAgICAgICAgICAg
InJlc3RhcnRSZXF1ZXN0SWQiOiByZXF1ZXN0X2lkLAogICAgICAgICAgICAgICAgIm93bmVySGV4
IjogcHVibGljX2hleCwKICAgICAgICAgICAgICAgICJvd25lck5wdWIiOiBucHViLAogICAgICAg
ICAgICAgICAgImNvbW11bml0eVVybCI6IHJlbGF5X3VybCwKICAgICAgICAgICAgfQoKICAgICAg
ICByZXR1cm4gSFRUUFN0YXR1cy5PSywgewogICAgICAgICAgICAibWVzc2FnZSI6ICJDb25maWd1
cmF0aW9uIGlzIGFscmVhZHkgY3VycmVudC4iLAogICAgICAgICAgICAib3duZXJIZXgiOiBwdWJs
aWNfaGV4LAogICAgICAgICAgICAib3duZXJOcHViIjogbnB1YiwKICAgICAgICAgICAgImNvbW11
bml0eVVybCI6IHJlbGF5X3VybCwKICAgICAgICB9CgoKY2xhc3MgU2V0dXBIYW5kbGVyKEJhc2VI
VFRQUmVxdWVzdEhhbmRsZXIpOgogICAgc2VydmVyX3ZlcnNpb24gPSAiQnV6elNldHVwLzEuMCIK
CiAgICBkZWYgbG9nX21lc3NhZ2Uoc2VsZiwgZm9ybWF0X3N0cmluZzogc3RyLCAqYXJnczogb2Jq
ZWN0KSAtPiBOb25lOgogICAgICAgIHByaW50KGYiW2J1enotc2V0dXBdIHtzZWxmLmFkZHJlc3Nf
c3RyaW5nKCl9IHtmb3JtYXRfc3RyaW5nICUgYXJnc30iLCBmbHVzaD1UcnVlKQoKICAgIGRlZiBz
ZWN1cml0eV9oZWFkZXJzKHNlbGYsIGNvbnRlbnRfdHlwZTogc3RyKSAtPiBOb25lOgogICAgICAg
IHNlbGYuc2VuZF9oZWFkZXIoIkNvbnRlbnQtVHlwZSIsIGNvbnRlbnRfdHlwZSkKICAgICAgICBz
ZWxmLnNlbmRfaGVhZGVyKCJDYWNoZS1Db250cm9sIiwgIm5vLXN0b3JlIikKICAgICAgICBzZWxm
LnNlbmRfaGVhZGVyKCJYLUNvbnRlbnQtVHlwZS1PcHRpb25zIiwgIm5vc25pZmYiKQogICAgICAg
IHNlbGYuc2VuZF9oZWFkZXIoIlgtRnJhbWUtT3B0aW9ucyIsICJERU5ZIikKICAgICAgICBzZWxm
LnNlbmRfaGVhZGVyKCJSZWZlcnJlci1Qb2xpY3kiLCAibm8tcmVmZXJyZXIiKQogICAgICAgIHNl
bGYuc2VuZF9oZWFkZXIoCiAgICAgICAgICAgICJDb250ZW50LVNlY3VyaXR5LVBvbGljeSIsCiAg
ICAgICAgICAgICJkZWZhdWx0LXNyYyAnc2VsZic7IHNjcmlwdC1zcmMgJ3NlbGYnOyBzdHlsZS1z
cmMgJ3NlbGYnOyBjb25uZWN0LXNyYyAnc2VsZic7IGZyYW1lLWFuY2VzdG9ycyAnbm9uZSc7IGJh
c2UtdXJpICdub25lJzsgZm9ybS1hY3Rpb24gJ3NlbGYnIiwKICAgICAgICApCgogICAgZGVmIHNl
bmRfanNvbihzZWxmLCBzdGF0dXM6IGludCwgcGF5bG9hZDogZGljdFtzdHIsIG9iamVjdF0pIC0+
IE5vbmU6CiAgICAgICAgYm9keSA9IGpzb24uZHVtcHMocGF5bG9hZCwgc2VwYXJhdG9ycz0oIiwi
LCAiOiIpKS5lbmNvZGUoInV0Zi04IikKICAgICAgICBzZWxmLnNlbmRfcmVzcG9uc2Uoc3RhdHVz
KQogICAgICAgIHNlbGYuc2VjdXJpdHlfaGVhZGVycygiYXBwbGljYXRpb24vanNvbjsgY2hhcnNl
dD11dGYtOCIpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiQ29udGVudC1MZW5ndGgiLCBzdHIo
bGVuKGJvZHkpKSkKICAgICAgICBzZWxmLmVuZF9oZWFkZXJzKCkKICAgICAgICBzZWxmLndmaWxl
LndyaXRlKGJvZHkpCgogICAgZGVmIHNlbmRfYmFja3VwX2FyY2hpdmUoc2VsZikgLT4gTm9uZToK
ICAgICAgICBwYXRoID0gbGF0ZXN0X2JhY2t1cF9wYXRoKCkKICAgICAgICBpZiBwYXRoIGlzIE5v
bmU6CiAgICAgICAgICAgIHNlbGYuc2VuZF9qc29uKEhUVFBTdGF0dXMuTk9UX0ZPVU5ELCB7ImVy
cm9yIjogIk5vIGJhY2t1cCBhcmNoaXZlIGlzIGF2YWlsYWJsZS4ifSkKICAgICAgICAgICAgcmV0
dXJuCiAgICAgICAgZmxhZ3MgPSBvcy5PX1JET05MWSB8IGdldGF0dHIob3MsICJPX05PRk9MTE9X
IiwgMCkKICAgICAgICB0cnk6CiAgICAgICAgICAgIGRlc2NyaXB0b3IgPSBvcy5vcGVuKHBhdGgs
IGZsYWdzKQogICAgICAgIGV4Y2VwdCBPU0Vycm9yOgogICAgICAgICAgICBzZWxmLnNlbmRfanNv
bihIVFRQU3RhdHVzLk5PVF9GT1VORCwgeyJlcnJvciI6ICJCYWNrdXAgYXJjaGl2ZSBpcyB1bmF2
YWlsYWJsZS4ifSkKICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgd2l0aCBvcy5mZG9wZW4oZGVz
Y3JpcHRvciwgInJiIikgYXMgaGFuZGxlOgogICAgICAgICAgICBtZXRhZGF0YSA9IG9zLmZzdGF0
KGhhbmRsZS5maWxlbm8oKSkKICAgICAgICAgICAgaWYgbm90IHN0YXQuU19JU1JFRyhtZXRhZGF0
YS5zdF9tb2RlKToKICAgICAgICAgICAgICAgIHNlbGYuc2VuZF9qc29uKEhUVFBTdGF0dXMuTk9U
X0ZPVU5ELCB7ImVycm9yIjogIkJhY2t1cCBhcmNoaXZlIGlzIGludmFsaWQuIn0pCiAgICAgICAg
ICAgICAgICByZXR1cm4KICAgICAgICAgICAgc2VsZi5zZW5kX3Jlc3BvbnNlKEhUVFBTdGF0dXMu
T0spCiAgICAgICAgICAgIHNlbGYuc2VjdXJpdHlfaGVhZGVycygiYXBwbGljYXRpb24veC10YXIi
KQogICAgICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKCJDb250ZW50LURpc3Bvc2l0aW9uIiwgZidh
dHRhY2htZW50OyBmaWxlbmFtZT0ie3BhdGgubmFtZX0iJykKICAgICAgICAgICAgc2VsZi5zZW5k
X2hlYWRlcigiQ29udGVudC1MZW5ndGgiLCBzdHIobWV0YWRhdGEuc3Rfc2l6ZSkpCiAgICAgICAg
ICAgIHNlbGYuZW5kX2hlYWRlcnMoKQogICAgICAgICAgICB3aGlsZSBUcnVlOgogICAgICAgICAg
ICAgICAgY2h1bmsgPSBoYW5kbGUucmVhZCg2NCAqIDEwMjQpCiAgICAgICAgICAgICAgICBpZiBu
b3QgY2h1bms6CiAgICAgICAgICAgICAgICAgICAgYnJlYWsKICAgICAgICAgICAgICAgIHNlbGYu
d2ZpbGUud3JpdGUoY2h1bmspCgogICAgZGVmIGRvX0dFVChzZWxmKSAtPiBOb25lOiAgIyBub3Fh
OiBOODAyCiAgICAgICAgaWYgc2VsZi5wYXRoID09ICIvYXBpL3N0YXR1cyI6CiAgICAgICAgICAg
IHNlbGYuc2VuZF9qc29uKEhUVFBTdGF0dXMuT0ssIHN0YXR1c19wYXlsb2FkKCkpCiAgICAgICAg
ICAgIHJldHVybgogICAgICAgIGlmIHNlbGYucGF0aCA9PSAiL2FwaS9iYWNrdXBzL2Rvd25sb2Fk
IjoKICAgICAgICAgICAgc2VsZi5zZW5kX2JhY2t1cF9hcmNoaXZlKCkKICAgICAgICAgICAgcmV0
dXJuCiAgICAgICAgc3RhdGljX2ZpbGVzID0gewogICAgICAgICAgICAiLyI6ICJpbmRleC5odG1s
IiwKICAgICAgICAgICAgIi9pbmRleC5odG1sIjogImluZGV4Lmh0bWwiLAogICAgICAgICAgICAi
L2FwcC5qcyI6ICJhcHAuanMiLAogICAgICAgICAgICAiL3N0eWxlcy5jc3MiOiAic3R5bGVzLmNz
cyIsCiAgICAgICAgfQogICAgICAgIGZpbGVuYW1lID0gc3RhdGljX2ZpbGVzLmdldChzZWxmLnBh
dGgpCiAgICAgICAgaWYgbm90IGZpbGVuYW1lOgogICAgICAgICAgICBzZWxmLnNlbmRfZXJyb3Io
SFRUUFN0YXR1cy5OT1RfRk9VTkQpCiAgICAgICAgICAgIHJldHVybgogICAgICAgIHBhdGggPSBT
VEFUSUNfRElSIC8gZmlsZW5hbWUKICAgICAgICB0cnk6CiAgICAgICAgICAgIGJvZHkgPSBwYXRo
LnJlYWRfYnl0ZXMoKQogICAgICAgIGV4Y2VwdCBGaWxlTm90Rm91bmRFcnJvcjoKICAgICAgICAg
ICAgc2VsZi5zZW5kX2Vycm9yKEhUVFBTdGF0dXMuTk9UX0ZPVU5EKQogICAgICAgICAgICByZXR1
cm4KICAgICAgICBjb250ZW50X3R5cGUgPSBtaW1ldHlwZXMuZ3Vlc3NfdHlwZShwYXRoLm5hbWUp
WzBdIG9yICJhcHBsaWNhdGlvbi9vY3RldC1zdHJlYW0iCiAgICAgICAgc2VsZi5zZW5kX3Jlc3Bv
bnNlKEhUVFBTdGF0dXMuT0spCiAgICAgICAgc2VsZi5zZWN1cml0eV9oZWFkZXJzKGYie2NvbnRl
bnRfdHlwZX07IGNoYXJzZXQ9dXRmLTgiKQogICAgICAgIHNlbGYuc2VuZF9oZWFkZXIoIkVUYWci
LCBoYXNobGliLnNoYTI1Nihib2R5KS5oZXhkaWdlc3QoKSkKICAgICAgICBzZWxmLnNlbmRfaGVh
ZGVyKCJDb250ZW50LUxlbmd0aCIsIHN0cihsZW4oYm9keSkpKQogICAgICAgIHNlbGYuZW5kX2hl
YWRlcnMoKQogICAgICAgIHNlbGYud2ZpbGUud3JpdGUoYm9keSkKCiAgICBkZWYgZG9fUE9TVChz
ZWxmKSAtPiBOb25lOiAgIyBub3FhOiBOODAyCiAgICAgICAgaWYgc2VsZi5oZWFkZXJzLmdldCgi
WC1CdXp6LVNldHVwIikgIT0gIjEiOgogICAgICAgICAgICBzZWxmLnNlbmRfanNvbihIVFRQU3Rh
dHVzLkZPUkJJRERFTiwgeyJlcnJvciI6ICJNaXNzaW5nIGxvY2FsIHNldHVwIHJlcXVlc3QgaGVh
ZGVyLiJ9KQogICAgICAgICAgICByZXR1cm4KICAgICAgICBpZiBzZWxmLmhlYWRlcnMuZ2V0X2Nv
bnRlbnRfdHlwZSgpICE9ICJhcHBsaWNhdGlvbi9qc29uIjoKICAgICAgICAgICAgc2VsZi5zZW5k
X2pzb24oSFRUUFN0YXR1cy5VTlNVUFBPUlRFRF9NRURJQV9UWVBFLCB7ImVycm9yIjogIlVzZSBh
cHBsaWNhdGlvbi9qc29uLiJ9KQogICAgICAgICAgICByZXR1cm4KICAgICAgICB0cnk6CiAgICAg
ICAgICAgIGNvbnRlbnRfbGVuZ3RoID0gaW50KHNlbGYuaGVhZGVycy5nZXQoIkNvbnRlbnQtTGVu
Z3RoIiwgIjAiKSkKICAgICAgICBleGNlcHQgVmFsdWVFcnJvcjoKICAgICAgICAgICAgY29udGVu
dF9sZW5ndGggPSAwCiAgICAgICAgaWYgY29udGVudF9sZW5ndGggPD0gMCBvciBjb250ZW50X2xl
bmd0aCA+IDE2Mzg0OgogICAgICAgICAgICBzZWxmLnNlbmRfanNvbihIVFRQU3RhdHVzLlJFUVVF
U1RfRU5USVRZX1RPT19MQVJHRSwgeyJlcnJvciI6ICJJbnZhbGlkIHJlcXVlc3Qgc2l6ZS4ifSkK
ICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgdHJ5OgogICAgICAgICAgICBwYXlsb2FkID0ganNv
bi5sb2FkcyhzZWxmLnJmaWxlLnJlYWQoY29udGVudF9sZW5ndGgpKQogICAgICAgICAgICBpZiBu
b3QgaXNpbnN0YW5jZShwYXlsb2FkLCBkaWN0KToKICAgICAgICAgICAgICAgIHJhaXNlIElucHV0
RXJyb3IoIlJlcXVlc3QgYm9keSBtdXN0IGJlIGFuIG9iamVjdC4iKQogICAgICAgICAgICBpZiBz
ZWxmLnBhdGggPT0gIi9hcGkvcHJldmlldy1rZXkiOgogICAgICAgICAgICAgICAgcHVibGljX2hl
eCwgbnB1YiwgcmF3X2hleCA9IHBhcnNlX3B1YmxpY19rZXkocGF5bG9hZC5nZXQoIm93bmVyS2V5
IikpCiAgICAgICAgICAgICAgICBzZWxmLnNlbmRfanNvbigKICAgICAgICAgICAgICAgICAgICBI
VFRQU3RhdHVzLk9LLAogICAgICAgICAgICAgICAgICAgIHsib3duZXJIZXgiOiBwdWJsaWNfaGV4
LCAib3duZXJOcHViIjogbnB1YiwgInJhd0hleCI6IHJhd19oZXh9LAogICAgICAgICAgICAgICAg
KQogICAgICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgICAgIGlmIHNlbGYucGF0aCA9PSAiL2Fw
aS9hcHBseSI6CiAgICAgICAgICAgICAgICBzdGF0dXMsIHJlc3BvbnNlID0gYXBwbHlfY29uZmln
dXJhdGlvbihwYXlsb2FkKQogICAgICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oc3RhdHVzLCBy
ZXNwb25zZSkKICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICBpZiBzZWxmLnBhdGgg
PT0gIi9hcGkvYmFja3VwcyI6CiAgICAgICAgICAgICAgICBzdGF0dXMsIHJlc3BvbnNlID0gcmVx
dWVzdF9iYWNrdXAocGF5bG9hZCkKICAgICAgICAgICAgICAgIHNlbGYuc2VuZF9qc29uKHN0YXR1
cywgcmVzcG9uc2UpCiAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgc2VsZi5zZW5k
X2pzb24oSFRUUFN0YXR1cy5OT1RfRk9VTkQsIHsiZXJyb3IiOiAiTm90IGZvdW5kLiJ9KQogICAg
ICAgIGV4Y2VwdCAoanNvbi5KU09ORGVjb2RlRXJyb3IsIElucHV0RXJyb3IpIGFzIGV4YzoKICAg
ICAgICAgICAgc2VsZi5zZW5kX2pzb24oSFRUUFN0YXR1cy5CQURfUkVRVUVTVCwgeyJlcnJvciI6
IHN0cihleGMpfSkKCgpkZWYgbWFpbigpIC0+IE5vbmU6CiAgICBDT05GSUdfRElSLm1rZGlyKHBh
cmVudHM9VHJ1ZSwgZXhpc3Rfb2s9VHJ1ZSkKICAgIHNlcnZlciA9IFRocmVhZGluZ0hUVFBTZXJ2
ZXIoKCIwLjAuMC4wIiwgODA4MCksIFNldHVwSGFuZGxlcikKICAgIHByaW50KCJbYnV6ei1zZXR1
cF0gbGlzdGVuaW5nIG9uIDAuMC4wLjA6ODA4MCIsIGZsdXNoPVRydWUpCiAgICBzZXJ2ZXIuc2Vy
dmVfZm9yZXZlcigpCgoKaWYgX19uYW1lX18gPT0gIl9fbWFpbl9fIjoKICAgIG1haW4oKQo=
