IyEvYmluL3NoCnNldCAtZXUKCkNPTkZJR19ESVI9IiR7QlVaWl9DT05GSUdfRElSOi0vY29uZmln
fSIKUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiClJFTEFZX1NUT1BQ
RURfRklMRT0iJHtDT05GSUdfRElSfS9yZXNldC1yZWxheS1zdG9wcGVkIgpBQ0tfRElSPSIke0NP
TkZJR19ESVJ9L3Jlc2V0LWFja3MiClNFUlZJQ0U9IiR7QlVaWl9SRVNFVF9TRVJWSUNFOj9zZXQg
QlVaWl9SRVNFVF9TRVJWSUNFfSIKQ0hJTERfUElEPSIiCgpsb2coKSB7CiAgcHJpbnRmICdbdW1i
cmVsLWJ1enotJXNdICVzXG4nICIkU0VSVklDRSIgIiQqIiA+JjIKfQoKcmVhZF9tYXJrZXIoKSB7
CiAgaWYgWyAtZiAiJDEiIF07IHRoZW4KICAgIHNlZCAtbiAnL1teWzpzcGFjZTpdXS8geyBzL1tb
OnNwYWNlOl1dLy9nOyBwOyBxOyB9JyAiJDEiCiAgZmkKfQoKd3JpdGVfbWFya2VyKCkgewogIGRl
c3RpbmF0aW9uPSIkMSIKICB2YWx1ZT0iJDIiCiAgdGVtcG9yYXJ5PSIke2Rlc3RpbmF0aW9ufS50
bXAuJCQiCiAgcHJpbnRmICclc1xuJyAiJHZhbHVlIiA+ICIkdGVtcG9yYXJ5IgogIG12ICIkdGVt
cG9yYXJ5IiAiJGRlc3RpbmF0aW9uIgp9CgpzZXJ2aWNlX3BhdGhzKCkgewogIGNhc2UgIiRTRVJW
SUNFIiBpbgogICAgcG9zdGdyZXMpCiAgICAgIERBVEFfRElSPS92YXIvbGliL3Bvc3RncmVzcWwv
ZGF0YQogICAgICBBQ0tfRklMRT0iJHtBQ0tfRElSfS9wb3N0Z3Jlcy1yZWFkeSIKICAgICAgOzsK
ICAgIHJlZGlzKQogICAgICBEQVRBX0RJUj0vZGF0YQogICAgICBBQ0tfRklMRT0iJHtBQ0tfRElS
fS9yZWRpcy1yZWFkeSIKICAgICAgOzsKICAgIG1pbmlvKQogICAgICBEQVRBX0RJUj0vZGF0YQog
ICAgICBBQ0tfRklMRT0iJHtBQ0tfRElSfS9taW5pby1zdG9yYWdlLXJlYWR5IgogICAgICA7Owog
ICAgKikKICAgICAgbG9nICJVbnN1cHBvcnRlZCByZXNldCBzZXJ2aWNlOiAke1NFUlZJQ0V9Igog
ICAgICBleGl0IDY0CiAgICAgIDs7CiAgZXNhYwp9CgpzdGFydF9jaGlsZCgpIHsKICBjYXNlICIk
U0VSVklDRSIgaW4KICAgIHBvc3RncmVzKQogICAgICAvdXNyL2xvY2FsL2Jpbi9kb2NrZXItZW50
cnlwb2ludC5zaCBwb3N0Z3JlcyAmCiAgICAgIDs7CiAgICByZWRpcykKICAgICAgL3Vzci9sb2Nh
bC9iaW4vZG9ja2VyLWVudHJ5cG9pbnQuc2ggXAogICAgICAgIHJlZGlzLXNlcnZlciAtLWFwcGVu
ZG9ubHkgeWVzIC0tYXBwZW5kZnN5bmMgZXZlcnlzZWMgXAogICAgICAgIC0tcmVxdWlyZXBhc3Mg
IiRSRURJU19QQVNTV09SRCIgJgogICAgICA7OwogICAgbWluaW8pCiAgICAgIG1pbmlvIHNlcnZl
ciAvZGF0YSAtLWNvbnNvbGUtYWRkcmVzcyAiOjkwMDEiICYKICAgICAgOzsKICBlc2FjCiAgQ0hJ
TERfUElEPSQhCiAgbG9nICJTdGFydGVkIHByb2Nlc3MgJHtDSElMRF9QSUR9Igp9CgpzdG9wX2No
aWxkKCkgewogIGlmIFsgLW4gIiRDSElMRF9QSUQiIF0gJiYga2lsbCAtMCAiJENISUxEX1BJRCIg
Mj4vZGV2L251bGw7IHRoZW4KICAgIGxvZyAiU3RvcHBpbmcgcHJvY2VzcyAke0NISUxEX1BJRH0i
CiAgICBraWxsIC1URVJNICIkQ0hJTERfUElEIgogICAgd2FpdCAiJENISUxEX1BJRCIgfHwgdHJ1
ZQogIGZpCiAgQ0hJTERfUElEPSIiCn0KCnNlcnZpY2VfcmVhZHkoKSB7CiAgY2FzZSAiJFNFUlZJ
Q0UiIGluCiAgICBwb3N0Z3JlcykKICAgICAgcGdfaXNyZWFkeSAtVSAiJFBPU1RHUkVTX1VTRVIi
IC1kICIkUE9TVEdSRVNfREIiID4vZGV2L251bGwgMj4mMQogICAgICA7OwogICAgcmVkaXMpCiAg
ICAgIHJlZGlzLWNsaSAtYSAiJFJFRElTX1BBU1NXT1JEIiBwaW5nIDI+L2Rldi9udWxsIHwgZ3Jl
cCAtcSBQT05HCiAgICAgIDs7CiAgICBtaW5pbykKICAgICAgY3VybCAtZnNTIGh0dHA6Ly8xMjcu
MC4wLjE6OTAwMC9taW5pby9oZWFsdGgvcmVhZHkgPi9kZXYvbnVsbCAyPiYxCiAgICAgIDs7CiAg
ZXNhYwp9Cgp3YWl0X3VudGlsX3JlYWR5KCkgewogIGF0dGVtcHRzPTAKICB3aGlsZSBraWxsIC0w
ICIkQ0hJTERfUElEIiAyPi9kZXYvbnVsbDsgZG8KICAgIGlmIHNlcnZpY2VfcmVhZHk7IHRoZW4K
ICAgICAgcmV0dXJuIDAKICAgIGZpCiAgICBhdHRlbXB0cz0kKChhdHRlbXB0cyArIDEpKQogICAg
aWYgWyAiJGF0dGVtcHRzIiAtZ2UgMTIwIF07IHRoZW4KICAgICAgbG9nICJTZXJ2aWNlIGRpZCBu
b3QgYmVjb21lIHJlYWR5IGFmdGVyIHJlc2V0IgogICAgICByZXR1cm4gMQogICAgZmkKICAgIHNs
ZWVwIDIKICBkb25lCiAgcmV0dXJuIDEKfQoKY2xlYXJfZGF0YSgpIHsKICBjYXNlICIkREFUQV9E
SVIiIGluCiAgICAvdmFyL2xpYi9wb3N0Z3Jlc3FsL2RhdGF8L2RhdGEpIDs7CiAgICAqKQogICAg
ICBsb2cgIlJlZnVzaW5nIHRvIGNsZWFyIHVuZXhwZWN0ZWQgZGF0YSBkaXJlY3Rvcnk6ICR7REFU
QV9ESVJ9IgogICAgICBleGl0IDcwCiAgICAgIDs7CiAgZXNhYwogIGxvZyAiQ2xlYXJpbmcgYXBw
bGljYXRpb24gZGF0YSBpbiAke0RBVEFfRElSfSIKICBmaW5kICIkREFUQV9ESVIiIC1taW5kZXB0
aCAxIC1tYXhkZXB0aCAxIC1leGVjIHJtIC1yZiAtLSB7fSArCn0KCnBlcmZvcm1fcmVzZXQoKSB7
CiAgcmVxdWVzdF9pZD0iJDEiCiAgbG9nICJSZXNldCAke3JlcXVlc3RfaWR9IHdhaXRpbmcgZm9y
IHJlbGF5IHNodXRkb3duIgogIHdoaWxlIFsgIiQocmVhZF9tYXJrZXIgIiRSRUxBWV9TVE9QUEVE
X0ZJTEUiKSIgIT0gIiRyZXF1ZXN0X2lkIiBdOyBkbwogICAgaWYgWyAiJChyZWFkX21hcmtlciAi
JFJFUVVFU1RfRklMRSIpIiAhPSAiJHJlcXVlc3RfaWQiIF07IHRoZW4KICAgICAgbG9nICJSZXNl
dCByZXF1ZXN0IHdhcyBjYW5jZWxsZWQgYmVmb3JlIHJlbGF5IHNodXRkb3duIgogICAgICByZXR1
cm4gMAogICAgZmkKICAgIHNsZWVwIDEKICBkb25lCgogIHN0b3BfY2hpbGQKICBpZiAhIGNsZWFy
X2RhdGE7IHRoZW4KICAgIGxvZyAiUmVzZXQgJHtyZXF1ZXN0X2lkfSBjb3VsZCBub3QgY2xlYXIg
JHtEQVRBX0RJUn0iCiAgICByZXR1cm4gMQogIGZpCiAgc3RhcnRfY2hpbGQKICBpZiAhIHdhaXRf
dW50aWxfcmVhZHk7IHRoZW4KICAgIHN0b3BfY2hpbGQKICAgIHJldHVybiAxCiAgZmkKICB3cml0
ZV9tYXJrZXIgIiRBQ0tfRklMRSIgIiRyZXF1ZXN0X2lkIgogIGxvZyAiUmVzZXQgJHtyZXF1ZXN0
X2lkfSBjb21wbGV0ZSIKfQoKc2h1dGRvd24oKSB7CiAgc3RvcF9jaGlsZAogIGV4aXQgMAp9Cgp0
cmFwIHNodXRkb3duIElOVCBURVJNCnNlcnZpY2VfcGF0aHMKbWtkaXIgLXAgIiRBQ0tfRElSIiAi
JERBVEFfRElSIgpzdGFydF9jaGlsZAoKd2hpbGUgdHJ1ZTsgZG8KICBpZiAhIGtpbGwgLTAgIiRD
SElMRF9QSUQiIDI+L2Rldi9udWxsOyB0aGVuCiAgICB3YWl0ICIkQ0hJTERfUElEIiB8fCB0cnVl
CiAgICBsb2cgIlNlcnZpY2UgcHJvY2VzcyBleGl0ZWQ7IHJlc3RhcnRpbmciCiAgICBzbGVlcCAy
CiAgICBzdGFydF9jaGlsZAogIGZpCgogIHJlcXVlc3RfaWQ9IiQocmVhZF9tYXJrZXIgIiRSRVFV
RVNUX0ZJTEUiKSIKICBpZiBbIC1uICIkcmVxdWVzdF9pZCIgXSAmJiBbICIkKHJlYWRfbWFya2Vy
ICIkQUNLX0ZJTEUiKSIgIT0gIiRyZXF1ZXN0X2lkIiBdOyB0aGVuCiAgICBpZiAhIHBlcmZvcm1f
cmVzZXQgIiRyZXF1ZXN0X2lkIjsgdGhlbgogICAgICBsb2cgIlJlc2V0ICR7cmVxdWVzdF9pZH0g
ZmFpbGVkOyByZXRyeWluZyIKICAgICAgc2xlZXAgMwogICAgICBpZiBbIC16ICIkQ0hJTERfUElE
IiBdOyB0aGVuCiAgICAgICAgc3RhcnRfY2hpbGQKICAgICAgZmkKICAgIGZpCiAgZmkKICBzbGVl
cCAyCmRvbmUK
