Y29uc3QgZm9ybSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNzZXR1cC1mb3JtIik7CmNvbnN0
IG93bmVySW5wdXQgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjb3duZXIta2V5Iik7CmNvbnN0
IG93bmVyTWVzc2FnZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNvd25lci1tZXNzYWdlIik7
CmNvbnN0IG93bmVySGV4ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI293bmVyLWhleCIpOwpj
b25zdCBvd25lck5wdWIgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjb3duZXItbnB1YiIpOwpj
b25zdCBoZXhDb25maXJtUm93ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2hleC1jb25maXJt
LXJvdyIpOwpjb25zdCBjb25maXJtUHVibGljSGV4ID0gZG9jdW1lbnQucXVlcnlTZWxlY3Rvcigi
I2NvbmZpcm0tcHVibGljLWhleCIpOwpjb25zdCByZWxheVVybCA9IGRvY3VtZW50LnF1ZXJ5U2Vs
ZWN0b3IoIiNyZWxheS11cmwiKTsKY29uc3QgbWVkaWFVcmwgPSBkb2N1bWVudC5xdWVyeVNlbGVj
dG9yKCIjbWVkaWEtdXJsIik7CmNvbnN0IGNvcnNPcmlnaW5zID0gZG9jdW1lbnQucXVlcnlTZWxl
Y3RvcigiI2NvcnMtb3JpZ2lucyIpOwpjb25zdCByZXNldFBhbmVsID0gZG9jdW1lbnQucXVlcnlT
ZWxlY3RvcigiI3Jlc2V0LXBhbmVsIik7CmNvbnN0IGNvbmZpcm1SZXNldCA9IGRvY3VtZW50LnF1
ZXJ5U2VsZWN0b3IoIiNjb25maXJtLXJlc2V0Iik7CmNvbnN0IHJlc2V0UGhyYXNlID0gZG9jdW1l
bnQucXVlcnlTZWxlY3RvcigiI3Jlc2V0LXBocmFzZSIpOwpjb25zdCBzdWJtaXRCdXR0b24gPSBk
b2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjc3VibWl0LWJ1dHRvbiIpOwpjb25zdCBhY3Rpb25UaXRs
ZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNhY3Rpb24tdGl0bGUiKTsKY29uc3QgYWN0aW9u
RGV0YWlsID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2FjdGlvbi1kZXRhaWwiKTsKY29uc3Qg
cmVzdWx0ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI3Jlc3VsdCIpOwpjb25zdCBzdGF0dXNC
YWRnZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNyZWxheS1zdGF0dXMiKTsKY29uc3Qgc3Rh
dHVzVGV4dCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNyZWxheS1zdGF0dXMtdGV4dCIpOwoK
bGV0IHN0YXR1cyA9IG51bGw7CmxldCBwcmV2aWV3ID0gbnVsbDsKbGV0IHByZXZpZXdUaW1lciA9
IG51bGw7CmxldCBmb3JtVG91Y2hlZCA9IGZhbHNlOwoKYXN5bmMgZnVuY3Rpb24gYXBpKHBhdGgs
IG9wdGlvbnMgPSB7fSkgewogIGNvbnN0IHJlc3BvbnNlID0gYXdhaXQgZmV0Y2gocGF0aCwgewog
ICAgLi4ub3B0aW9ucywKICAgIGhlYWRlcnM6IHsKICAgICAgIkNvbnRlbnQtVHlwZSI6ICJhcHBs
aWNhdGlvbi9qc29uIiwKICAgICAgIlgtQnV6ei1TZXR1cCI6ICIxIiwKICAgICAgLi4uKG9wdGlv
bnMuaGVhZGVycyB8fCB7fSksCiAgICB9LAogIH0pOwogIGNvbnN0IHBheWxvYWQgPSBhd2FpdCBy
ZXNwb25zZS5qc29uKCk7CiAgaWYgKCFyZXNwb25zZS5vaykgewogICAgY29uc3QgZXJyb3IgPSBu
ZXcgRXJyb3IocGF5bG9hZC5lcnJvciB8fCBgUmVxdWVzdCBmYWlsZWQgKCR7cmVzcG9uc2Uuc3Rh
dHVzfSlgKTsKICAgIGVycm9yLnBheWxvYWQgPSBwYXlsb2FkOwogICAgdGhyb3cgZXJyb3I7CiAg
fQogIHJldHVybiBwYXlsb2FkOwp9CgpmdW5jdGlvbiBzZXRTdGF0dXMoc3RhdGUsIHRleHQpIHsK
ICBzdGF0dXNCYWRnZS5kYXRhc2V0LnN0YXRlID0gc3RhdGU7CiAgc3RhdHVzVGV4dC50ZXh0Q29u
dGVudCA9IHRleHQ7Cn0KCmZ1bmN0aW9uIHJlbmRlclN0YXR1cyhuZXh0U3RhdHVzKSB7CiAgc3Rh
dHVzID0gbmV4dFN0YXR1czsKICBpZiAoc3RhdHVzLnJlc2V0dGluZykgewogICAgc2V0U3RhdHVz
KCJ3b3JraW5nIiwgIlJlc2V0dGluZyBhcHBsaWNhdGlvbiBkYXRhIik7CiAgfSBlbHNlIGlmIChz
dGF0dXMucmVzdGFydGluZykgewogICAgc2V0U3RhdHVzKCJ3b3JraW5nIiwgIlJlc3RhcnRpbmcg
cmVsYXkiKTsKICB9IGVsc2UgaWYgKHN0YXR1cy5yZWxheVJlYWR5KSB7CiAgICBzZXRTdGF0dXMo
InJlYWR5IiwgIlJlbGF5IHJlYWR5Iik7CiAgfSBlbHNlIGlmICghc3RhdHVzLmNvbmZpZ3VyZWQp
IHsKICAgIHNldFN0YXR1cygid2FpdGluZyIsICJTZXR1cCByZXF1aXJlZCIpOwogIH0gZWxzZSBp
ZiAoc3RhdHVzLnJlbGF5U3RhdGUgPT09ICJyZXRyeWluZy1hZnRlci1leGl0IikgewogICAgc2V0
U3RhdHVzKCJlcnJvciIsICJSZWxheSBzdGFydCBmYWlsZWQ7IHJldHJ5aW5nIik7CiAgfSBlbHNl
IGlmIChzdGF0dXMucmVsYXlTdGF0ZSA9PT0gIndhaXRpbmctZm9yLXN0b3JhZ2UiKSB7CiAgICBz
ZXRTdGF0dXMoIndvcmtpbmciLCAiV2FpdGluZyBmb3Igb2JqZWN0IHN0b3JhZ2UiKTsKICB9IGVs
c2UgaWYgKHN0YXR1cy5yZWxheVN0YXRlID09PSAic3RvcHBpbmciKSB7CiAgICBzZXRTdGF0dXMo
IndvcmtpbmciLCAiUmVsYXkgc3RvcHBpbmciKTsKICB9IGVsc2UgewogICAgc2V0U3RhdHVzKCJ3
b3JraW5nIiwgIlJlbGF5IHN0YXJ0aW5nIik7CiAgfQoKICBpZiAoIWZvcm1Ub3VjaGVkKSB7CiAg
ICBvd25lcklucHV0LnZhbHVlID0gc3RhdHVzLm93bmVyTnB1YiB8fCAiIjsKICAgIHJlbGF5VXJs
LnZhbHVlID0gc3RhdHVzLnJlbGF5VXJsIHx8IGRlZmF1bHRSZWxheVVybCgpOwogICAgbWVkaWFV
cmwudmFsdWUgPSBzdGF0dXMubWVkaWFCYXNlVXJsIHx8IGRlcml2ZU1lZGlhVXJsKHJlbGF5VXJs
LnZhbHVlKTsKICAgIGNvcnNPcmlnaW5zLnZhbHVlID0gc3RhdHVzLmNvcnNPcmlnaW5zIHx8IGRl
cml2ZU9yaWdpbihyZWxheVVybC52YWx1ZSk7CiAgICBpZiAob3duZXJJbnB1dC52YWx1ZSkgewog
ICAgICBwcmV2aWV3T3duZXJLZXkoKTsKICAgIH0KICB9CiAgdXBkYXRlT3duZXJDaGFuZ2VTdGF0
ZSgpOwp9CgpmdW5jdGlvbiBkZWZhdWx0UmVsYXlVcmwoKSB7CiAgcmV0dXJuIHN0YXR1cz8uZGVm
YXVsdFJlbGF5VXJsIHx8ICIiOwp9CgpmdW5jdGlvbiBkZXJpdmVNZWRpYVVybCh2YWx1ZSkgewog
IHRyeSB7CiAgICBjb25zdCB1cmwgPSBuZXcgVVJMKHZhbHVlKTsKICAgIHVybC5wcm90b2NvbCA9
IHVybC5wcm90b2NvbCA9PT0gIndzczoiID8gImh0dHBzOiIgOiAiaHR0cDoiOwogICAgdXJsLnBh
dGhuYW1lID0gIi9tZWRpYSI7CiAgICB1cmwuc2VhcmNoID0gIiI7CiAgICB1cmwuaGFzaCA9ICIi
OwogICAgcmV0dXJuIHVybC50b1N0cmluZygpLnJlcGxhY2UoL1wvJC8sICIiKTsKICB9IGNhdGNo
IChfZXJyb3IpIHsKICAgIHJldHVybiAiIjsKICB9Cn0KCmZ1bmN0aW9uIGRlcml2ZU9yaWdpbih2
YWx1ZSkgewogIHRyeSB7CiAgICBjb25zdCB1cmwgPSBuZXcgVVJMKHZhbHVlKTsKICAgIHVybC5w
cm90b2NvbCA9IHVybC5wcm90b2NvbCA9PT0gIndzczoiID8gImh0dHBzOiIgOiAiaHR0cDoiOwog
ICAgcmV0dXJuIGAke3VybC5wcm90b2NvbH0vLyR7dXJsLmhvc3R9YDsKICB9IGNhdGNoIChfZXJy
b3IpIHsKICAgIHJldHVybiAiIjsKICB9Cn0KCmZ1bmN0aW9uIHNob3dSZXN1bHQoa2luZCwgbWVz
c2FnZSkgewogIHJlc3VsdC5jbGFzc05hbWUgPSBgcmVzdWx0ICR7a2luZH1gOwogIHJlc3VsdC50
ZXh0Q29udGVudCA9IG1lc3NhZ2U7Cn0KCmZ1bmN0aW9uIGNsZWFyUHJldmlldyhtZXNzYWdlID0g
IiIpIHsKICBwcmV2aWV3ID0gbnVsbDsKICBvd25lckhleC50ZXh0Q29udGVudCA9ICJOb3QgdmFs
aWRhdGVkIjsKICBvd25lck5wdWIudGV4dENvbnRlbnQgPSAiTm90IHZhbGlkYXRlZCI7CiAgb3du
ZXJNZXNzYWdlLnRleHRDb250ZW50ID0gbWVzc2FnZTsKICBvd25lck1lc3NhZ2UuZGF0YXNldC5r
aW5kID0gbWVzc2FnZSA/ICJlcnJvciIgOiAiIjsKICBoZXhDb25maXJtUm93LmNsYXNzTGlzdC5h
ZGQoImhpZGRlbiIpOwogIGNvbmZpcm1QdWJsaWNIZXguY2hlY2tlZCA9IGZhbHNlOwogIHVwZGF0
ZU93bmVyQ2hhbmdlU3RhdGUoKTsKfQoKYXN5bmMgZnVuY3Rpb24gcHJldmlld093bmVyS2V5KCkg
ewogIGNvbnN0IHZhbHVlID0gb3duZXJJbnB1dC52YWx1ZS50cmltKCk7CiAgaWYgKCF2YWx1ZSkg
ewogICAgY2xlYXJQcmV2aWV3KCk7CiAgICByZXR1cm47CiAgfQogIGlmICgvXihub3N0cjopP25z
ZWMvaS50ZXN0KHZhbHVlKSB8fCAvcHJpdmF0ZSBrZXkvaS50ZXN0KHZhbHVlKSkgewogICAgY2xl
YXJQcmV2aWV3KCJQcml2YXRlIGtleXMgYW5kIG5zZWMgdmFsdWVzIGFyZSByZWplY3RlZC4iKTsK
ICAgIHJldHVybjsKICB9CiAgdHJ5IHsKICAgIGNvbnN0IHJlc3BvbnNlID0gYXdhaXQgYXBpKCJh
cGkvcHJldmlldy1rZXkiLCB7CiAgICAgIG1ldGhvZDogIlBPU1QiLAogICAgICBib2R5OiBKU09O
LnN0cmluZ2lmeSh7IG93bmVyS2V5OiB2YWx1ZSB9KSwKICAgIH0pOwogICAgaWYgKG93bmVySW5w
dXQudmFsdWUudHJpbSgpICE9PSB2YWx1ZSkgewogICAgICByZXR1cm47CiAgICB9CiAgICBwcmV2
aWV3ID0gcmVzcG9uc2U7CiAgICBvd25lckhleC50ZXh0Q29udGVudCA9IHByZXZpZXcub3duZXJI
ZXg7CiAgICBvd25lck5wdWIudGV4dENvbnRlbnQgPSBwcmV2aWV3Lm93bmVyTnB1YjsKICAgIG93
bmVyTWVzc2FnZS50ZXh0Q29udGVudCA9ICJWYWxpZCBwdWJsaWMta2V5IGZvcm1hdC4iOwogICAg
b3duZXJNZXNzYWdlLmRhdGFzZXQua2luZCA9ICJzdWNjZXNzIjsKICAgIGhleENvbmZpcm1Sb3cu
Y2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIXByZXZpZXcucmF3SGV4KTsKICB9IGNhdGNoIChl
cnJvcikgewogICAgY2xlYXJQcmV2aWV3KGVycm9yLm1lc3NhZ2UpOwogIH0KICB1cGRhdGVPd25l
ckNoYW5nZVN0YXRlKCk7Cn0KCmZ1bmN0aW9uIHVwZGF0ZU93bmVyQ2hhbmdlU3RhdGUoKSB7CiAg
Y29uc3Qgb3duZXJDaGFuZ2VkID0gQm9vbGVhbigKICAgIHN0YXR1cz8ub3duZXJDb25maWd1cmVk
ICYmIHByZXZpZXc/Lm93bmVySGV4ICYmIHByZXZpZXcub3duZXJIZXggIT09IHN0YXR1cy5vd25l
ckhleAogICk7CiAgcmVzZXRQYW5lbC5jbGFzc0xpc3QudG9nZ2xlKCJoaWRkZW4iLCAhb3duZXJD
aGFuZ2VkKTsKICBpZiAob3duZXJDaGFuZ2VkKSB7CiAgICBzdWJtaXRCdXR0b24udGV4dENvbnRl
bnQgPSAiUmVzZXQgZGF0YSBhbmQgYXBwbHkgb3duZXIiOwogICAgc3VibWl0QnV0dG9uLmNsYXNz
TGlzdC5hZGQoImRhbmdlci1idXR0b24iKTsKICAgIGFjdGlvblRpdGxlLnRleHRDb250ZW50ID0g
IkRlc3RydWN0aXZlIG93bmVyIGNoYW5nZSI7CiAgICBhY3Rpb25EZXRhaWwudGV4dENvbnRlbnQg
PSAiQWxsIGFwcGxpY2F0aW9uIGRhdGEgYW5kIGdlbmVyYXRlZCByZWxheSBpZGVudGl0eSB3aWxs
IGJlIHJlc2V0LiI7CiAgfSBlbHNlIGlmIChzdGF0dXM/Lm93bmVyQ29uZmlndXJlZCkgewogICAg
c3VibWl0QnV0dG9uLnRleHRDb250ZW50ID0gIkFwcGx5IHNldHRpbmdzIjsKICAgIHN1Ym1pdEJ1
dHRvbi5jbGFzc0xpc3QucmVtb3ZlKCJkYW5nZXItYnV0dG9uIik7CiAgICBhY3Rpb25UaXRsZS50
ZXh0Q29udGVudCA9ICJSZWxheSBjb25maWd1cmVkIjsKICAgIGFjdGlvbkRldGFpbC50ZXh0Q29u
dGVudCA9ICJOZXR3b3JrLXNldHRpbmcgY2hhbmdlcyByZXN0YXJ0IHRoZSByZWxheSB3aXRob3V0
IGRlbGV0aW5nIGRhdGEuIjsKICB9IGVsc2UgewogICAgc3VibWl0QnV0dG9uLnRleHRDb250ZW50
ID0gIlNhdmUgYW5kIHN0YXJ0IHJlbGF5IjsKICAgIHN1Ym1pdEJ1dHRvbi5jbGFzc0xpc3QucmVt
b3ZlKCJkYW5nZXItYnV0dG9uIik7CiAgICBhY3Rpb25UaXRsZS50ZXh0Q29udGVudCA9ICJSZWFk
eSB0byBjb25maWd1cmUiOwogICAgYWN0aW9uRGV0YWlsLnRleHRDb250ZW50ID0gIk9ubHkgcHVi
bGljIGtleSBtYXRlcmlhbCBpcyB3cml0dGVuIHRvIHRoZSBvd25lciBmaWxlLiI7CiAgfQp9Cgpv
d25lcklucHV0LmFkZEV2ZW50TGlzdGVuZXIoImlucHV0IiwgKCkgPT4gewogIGZvcm1Ub3VjaGVk
ID0gdHJ1ZTsKICBwcmV2aWV3ID0gbnVsbDsKICBjb25maXJtUHVibGljSGV4LmNoZWNrZWQgPSBm
YWxzZTsKICBoZXhDb25maXJtUm93LmNsYXNzTGlzdC5hZGQoImhpZGRlbiIpOwogIG93bmVyTWVz
c2FnZS50ZXh0Q29udGVudCA9ICJWYWxpZGF0aW5nIHB1YmxpYy1rZXkgZm9ybWF0Li4uIjsKICBv
d25lck1lc3NhZ2UuZGF0YXNldC5raW5kID0gIiI7CiAgdXBkYXRlT3duZXJDaGFuZ2VTdGF0ZSgp
OwogIHdpbmRvdy5jbGVhclRpbWVvdXQocHJldmlld1RpbWVyKTsKICBwcmV2aWV3VGltZXIgPSB3
aW5kb3cuc2V0VGltZW91dChwcmV2aWV3T3duZXJLZXksIDI1MCk7Cn0pOwoKcmVsYXlVcmwuYWRk
RXZlbnRMaXN0ZW5lcigiaW5wdXQiLCAoKSA9PiB7CiAgZm9ybVRvdWNoZWQgPSB0cnVlOwp9KTsK
CnJlbGF5VXJsLmFkZEV2ZW50TGlzdGVuZXIoImNoYW5nZSIsICgpID0+IHsKICBpZiAoIW1lZGlh
VXJsLnZhbHVlIHx8IG1lZGlhVXJsLnZhbHVlID09PSBzdGF0dXM/Lm1lZGlhQmFzZVVybCkgewog
ICAgbWVkaWFVcmwudmFsdWUgPSBkZXJpdmVNZWRpYVVybChyZWxheVVybC52YWx1ZSk7CiAgfQog
IGlmICghY29yc09yaWdpbnMudmFsdWUgfHwgY29yc09yaWdpbnMudmFsdWUgPT09IHN0YXR1cz8u
Y29yc09yaWdpbnMpIHsKICAgIGNvcnNPcmlnaW5zLnZhbHVlID0gZGVyaXZlT3JpZ2luKHJlbGF5
VXJsLnZhbHVlKTsKICB9Cn0pOwoKW21lZGlhVXJsLCBjb3JzT3JpZ2lucywgY29uZmlybVB1Ymxp
Y0hleCwgY29uZmlybVJlc2V0LCByZXNldFBocmFzZV0uZm9yRWFjaCgoZWxlbWVudCkgPT4gewog
IGVsZW1lbnQuYWRkRXZlbnRMaXN0ZW5lcigiaW5wdXQiLCAoKSA9PiB7CiAgICBmb3JtVG91Y2hl
ZCA9IHRydWU7CiAgfSk7Cn0pOwoKZm9ybS5hZGRFdmVudExpc3RlbmVyKCJzdWJtaXQiLCBhc3lu
YyAoZXZlbnQpID0+IHsKICBldmVudC5wcmV2ZW50RGVmYXVsdCgpOwogIHNob3dSZXN1bHQoIndv
cmtpbmciLCAiVmFsaWRhdGluZyBhbmQgYXBwbHlpbmcgY29uZmlndXJhdGlvbi4uLiIpOwogIHN1
Ym1pdEJ1dHRvbi5kaXNhYmxlZCA9IHRydWU7CiAgdHJ5IHsKICAgIGF3YWl0IHByZXZpZXdPd25l
cktleSgpOwogICAgaWYgKCFwcmV2aWV3KSB7CiAgICAgIHRocm93IG5ldyBFcnJvcihvd25lck1l
c3NhZ2UudGV4dENvbnRlbnQgfHwgIkVudGVyIGEgdmFsaWQgcHVibGljIGtleS4iKTsKICAgIH0K
ICAgIGNvbnN0IHBheWxvYWQgPSB7CiAgICAgIG93bmVyS2V5OiBvd25lcklucHV0LnZhbHVlLAog
ICAgICBjb25maXJtUHVibGljSGV4OiBjb25maXJtUHVibGljSGV4LmNoZWNrZWQsCiAgICAgIHJl
bGF5VXJsOiByZWxheVVybC52YWx1ZSwKICAgICAgbWVkaWFCYXNlVXJsOiBtZWRpYVVybC52YWx1
ZSwKICAgICAgY29yc09yaWdpbnM6IGNvcnNPcmlnaW5zLnZhbHVlLAogICAgICBjb25maXJtUmVz
ZXQ6IGNvbmZpcm1SZXNldC5jaGVja2VkLAogICAgICByZXNldFBocmFzZTogcmVzZXRQaHJhc2Uu
dmFsdWUsCiAgICB9OwogICAgY29uc3QgcmVzcG9uc2UgPSBhd2FpdCBhcGkoImFwaS9hcHBseSIs
IHsKICAgICAgbWV0aG9kOiAiUE9TVCIsCiAgICAgIGJvZHk6IEpTT04uc3RyaW5naWZ5KHBheWxv
YWQpLAogICAgfSk7CiAgICBzaG93UmVzdWx0KCJzdWNjZXNzIiwgcmVzcG9uc2UubWVzc2FnZSk7
CiAgICByZXNldFBocmFzZS52YWx1ZSA9ICIiOwogICAgY29uZmlybVJlc2V0LmNoZWNrZWQgPSBm
YWxzZTsKICAgIGZvcm1Ub3VjaGVkID0gZmFsc2U7CiAgICBhd2FpdCByZWZyZXNoU3RhdHVzKCk7
CiAgfSBjYXRjaCAoZXJyb3IpIHsKICAgIHNob3dSZXN1bHQoImVycm9yIiwgZXJyb3IubWVzc2Fn
ZSk7CiAgfSBmaW5hbGx5IHsKICAgIHN1Ym1pdEJ1dHRvbi5kaXNhYmxlZCA9IGZhbHNlOwogIH0K
fSk7Cgphc3luYyBmdW5jdGlvbiByZWZyZXNoU3RhdHVzKCkgewogIHRyeSB7CiAgICBjb25zdCBy
ZXNwb25zZSA9IGF3YWl0IGZldGNoKCJhcGkvc3RhdHVzIiwgeyBjYWNoZTogIm5vLXN0b3JlIiB9
KTsKICAgIGlmICghcmVzcG9uc2Uub2spIHsKICAgICAgdGhyb3cgbmV3IEVycm9yKGBTdGF0dXMg
cmVxdWVzdCBmYWlsZWQgKCR7cmVzcG9uc2Uuc3RhdHVzfSlgKTsKICAgIH0KICAgIHJlbmRlclN0
YXR1cyhhd2FpdCByZXNwb25zZS5qc29uKCkpOwogIH0gY2F0Y2ggKF9lcnJvcikgewogICAgc2V0
U3RhdHVzKCJlcnJvciIsICJTZXR1cCBzZXJ2aWNlIHVuYXZhaWxhYmxlIik7CiAgfQp9CgpyZWZy
ZXNoU3RhdHVzKCk7CndpbmRvdy5zZXRJbnRlcnZhbChyZWZyZXNoU3RhdHVzLCAzMDAwKTsK
