IyEvYmluL3NoCnNldCAtZXUKCkNPTkZJR19ESVI9IiR7QlVaWl9DT05GSUdfRElSOi0vY29uZmln
fSIKUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiClJFTEFZX1NUT1BQ
RURfRklMRT0iJHtDT05GSUdfRElSfS9yZXNldC1yZWxheS1zdG9wcGVkIgpBQ0tfRElSPSIke0NP
TkZJR19ESVJ9L3Jlc2V0LWFja3MiClNFUlZJQ0U9IiR7QlVaWl9SRVNFVF9TRVJWSUNFOj9zZXQg
QlVaWl9SRVNFVF9TRVJWSUNFfSIKQ0hJTERfUElEPSIiCgpsb2coKSB7CiAgcHJpbnRmICdbdW1i
cmVsLWJ1enotJXNdICVzXG4nICIkU0VSVklDRSIgIiQqIiA+JjIKfQoKcmVhZF9tYXJrZXIoKSB7
CiAgaWYgWyAtZiAiJDEiIF07IHRoZW4KICAgIHNlZCAtbiAnL1teWzpzcGFjZTpdXS8geyBzL1tb
OnNwYWNlOl1dLy9nOyBwOyBxOyB9JyAiJDEiCiAgZmkKfQoKd3JpdGVfbWFya2VyKCkgewogIGRl
c3RpbmF0aW9uPSIkMSIKICB2YWx1ZT0iJDIiCiAgdGVtcG9yYXJ5PSIke2Rlc3RpbmF0aW9ufS50
bXAuJCQiCiAgcHJpbnRmICclc1xuJyAiJHZhbHVlIiA+ICIkdGVtcG9yYXJ5IgogIG12ICIkdGVt
cG9yYXJ5IiAiJGRlc3RpbmF0aW9uIgp9CgpzZXJ2aWNlX3BhdGhzKCkgewogIGNhc2UgIiRTRVJW
SUNFIiBpbgogICAgcG9zdGdyZXMpCiAgICAgIERBVEFfRElSPS92YXIvbGliL3Bvc3RncmVzcWwv
ZGF0YQogICAgICBBQ0tfRklMRT0iJHtBQ0tfRElSfS9wb3N0Z3Jlcy1yZWFkeSIKICAgICAgOzsK
ICAgIHJlZGlzKQogICAgICBEQVRBX0RJUj0vZGF0YQogICAgICBBQ0tfRklMRT0iJHtBQ0tfRElS
fS9yZWRpcy1yZWFkeSIKICAgICAgOzsKICAgIG1pbmlvKQogICAgICBEQVRBX0RJUj0vZGF0YQog
ICAgICBBQ0tfRklMRT0iJHtBQ0tfRElSfS9taW5pby1zdG9yYWdlLXJlYWR5IgogICAgICA7Owog
ICAgKikKICAgICAgbG9nICJVbnN1cHBvcnRlZCByZXNldCBzZXJ2aWNlOiAke1NFUlZJQ0V9Igog
ICAgICBleGl0IDY0CiAgICAgIDs7CiAgZXNhYwp9CgpzdGFydF9jaGlsZCgpIHsKICBjYXNlICIk
U0VSVklDRSIgaW4KICAgIHBvc3RncmVzKQogICAgICAvdXNyL2xvY2FsL2Jpbi9kb2NrZXItZW50
cnlwb2ludC5zaCBwb3N0Z3JlcyAmCiAgICAgIDs7CiAgICByZWRpcykKICAgICAgL3Vzci9sb2Nh
bC9iaW4vZG9ja2VyLWVudHJ5cG9pbnQuc2ggXAogICAgICAgIHJlZGlzLXNlcnZlciAtLWFwcGVu
ZG9ubHkgeWVzIC0tYXBwZW5kZnN5bmMgZXZlcnlzZWMgXAogICAgICAgIC0tcmVxdWlyZXBhc3Mg
IiRSRURJU19QQVNTV09SRCIgJgogICAgICA7OwogICAgbWluaW8pCiAgICAgIG1pbmlvIHNlcnZl
ciAvZGF0YSAtLWNvbnNvbGUtYWRkcmVzcyAiOjkwMDEiICYKICAgICAgOzsKICBlc2FjCiAgQ0hJ
TERfUElEPSQhCiAgbG9nICJTdGFydGVkIHByb2Nlc3MgJHtDSElMRF9QSUR9Igp9CgpzdG9wX2No
aWxkKCkgewogIGlmIFsgLW4gIiRDSElMRF9QSUQiIF0gJiYga2lsbCAtMCAiJENISUxEX1BJRCIg
Mj4vZGV2L251bGw7IHRoZW4KICAgIGxvZyAiU3RvcHBpbmcgcHJvY2VzcyAke0NISUxEX1BJRH0i
CiAgICBraWxsIC1URVJNICIkQ0hJTERfUElEIgogICAgd2FpdCAiJENISUxEX1BJRCIgfHwgdHJ1
ZQogIGZpCiAgQ0hJTERfUElEPSIiCn0KCnNlcnZpY2VfcmVhZHkoKSB7CiAgY2FzZSAiJFNFUlZJ
Q0UiIGluCiAgICBwb3N0Z3JlcykKICAgICAgUEdQQVNTV09SRD0iJFBPU1RHUkVTX1BBU1NXT1JE
IiBwc3FsIFwKICAgICAgICAtaCAxMjcuMC4wLjEgXAogICAgICAgIC1VICIkUE9TVEdSRVNfVVNF
UiIgXAogICAgICAgIC1kICIkUE9TVEdSRVNfREIiIFwKICAgICAgICAtQXRxYyAnU0VMRUNUIDEn
IDI+L2Rldi9udWxsIHwgZ3JlcCAtcXggMQogICAgICA7OwogICAgcmVkaXMpCiAgICAgIFJFRElT
Q0xJX0FVVEg9IiRSRURJU19QQVNTV09SRCIgcmVkaXMtY2xpIHBpbmcgMj4vZGV2L251bGwgfCBn
cmVwIC1xIFBPTkcKICAgICAgOzsKICAgIG1pbmlvKQogICAgICBjdXJsIC1mc1MgaHR0cDovLzEy
Ny4wLjAuMTo5MDAwL21pbmlvL2hlYWx0aC9yZWFkeSA+L2Rldi9udWxsIDI+JjEKICAgICAgOzsK
ICBlc2FjCn0KCndhaXRfdW50aWxfcmVhZHkoKSB7CiAgYXR0ZW1wdHM9MAogIHdoaWxlIGtpbGwg
LTAgIiRDSElMRF9QSUQiIDI+L2Rldi9udWxsOyBkbwogICAgaWYgc2VydmljZV9yZWFkeTsgdGhl
bgogICAgICByZXR1cm4gMAogICAgZmkKICAgIGF0dGVtcHRzPSQoKGF0dGVtcHRzICsgMSkpCiAg
ICBpZiBbICIkYXR0ZW1wdHMiIC1nZSAxMjAgXTsgdGhlbgogICAgICBsb2cgIlNlcnZpY2UgZGlk
IG5vdCBiZWNvbWUgcmVhZHkgYWZ0ZXIgcmVzZXQiCiAgICAgIHJldHVybiAxCiAgICBmaQogICAg
c2xlZXAgMgogIGRvbmUKICByZXR1cm4gMQp9CgpjbGVhcl9kYXRhKCkgewogIGNhc2UgIiREQVRB
X0RJUiIgaW4KICAgIC92YXIvbGliL3Bvc3RncmVzcWwvZGF0YXwvZGF0YSkgOzsKICAgICopCiAg
ICAgIGxvZyAiUmVmdXNpbmcgdG8gY2xlYXIgdW5leHBlY3RlZCBkYXRhIGRpcmVjdG9yeTogJHtE
QVRBX0RJUn0iCiAgICAgIGV4aXQgNzAKICAgICAgOzsKICBlc2FjCiAgbG9nICJDbGVhcmluZyBh
cHBsaWNhdGlvbiBkYXRhIGluICR7REFUQV9ESVJ9IgogIGZpbmQgIiREQVRBX0RJUiIgLW1pbmRl
cHRoIDEgLW1heGRlcHRoIDEgLWV4ZWMgcm0gLXJmIC0tIHt9ICsKfQoKcGVyZm9ybV9yZXNldCgp
IHsKICByZXF1ZXN0X2lkPSIkMSIKICBsb2cgIlJlc2V0ICR7cmVxdWVzdF9pZH0gd2FpdGluZyBm
b3IgcmVsYXkgc2h1dGRvd24iCiAgd2hpbGUgWyAiJChyZWFkX21hcmtlciAiJFJFTEFZX1NUT1BQ
RURfRklMRSIpIiAhPSAiJHJlcXVlc3RfaWQiIF07IGRvCiAgICBpZiBbICIkKHJlYWRfbWFya2Vy
ICIkUkVRVUVTVF9GSUxFIikiICE9ICIkcmVxdWVzdF9pZCIgXTsgdGhlbgogICAgICBsb2cgIlJl
c2V0IHJlcXVlc3Qgd2FzIGNhbmNlbGxlZCBiZWZvcmUgcmVsYXkgc2h1dGRvd24iCiAgICAgIHJl
dHVybiAwCiAgICBmaQogICAgc2xlZXAgMQogIGRvbmUKCiAgc3RvcF9jaGlsZAogIGlmICEgY2xl
YXJfZGF0YTsgdGhlbgogICAgbG9nICJSZXNldCAke3JlcXVlc3RfaWR9IGNvdWxkIG5vdCBjbGVh
ciAke0RBVEFfRElSfSIKICAgIHJldHVybiAxCiAgZmkKICBzdGFydF9jaGlsZAogIGlmICEgd2Fp
dF91bnRpbF9yZWFkeTsgdGhlbgogICAgc3RvcF9jaGlsZAogICAgcmV0dXJuIDEKICBmaQogIHdy
aXRlX21hcmtlciAiJEFDS19GSUxFIiAiJHJlcXVlc3RfaWQiCiAgbG9nICJSZXNldCAke3JlcXVl
c3RfaWR9IGNvbXBsZXRlIgp9CgpzaHV0ZG93bigpIHsKICBzdG9wX2NoaWxkCiAgZXhpdCAwCn0K
CnRyYXAgc2h1dGRvd24gSU5UIFRFUk0Kc2VydmljZV9wYXRocwpta2RpciAtcCAiJEFDS19ESVIi
ICIkREFUQV9ESVIiCnN0YXJ0X2NoaWxkCgp3aGlsZSB0cnVlOyBkbwogIGlmICEga2lsbCAtMCAi
JENISUxEX1BJRCIgMj4vZGV2L251bGw7IHRoZW4KICAgIHdhaXQgIiRDSElMRF9QSUQiIHx8IHRy
dWUKICAgIGxvZyAiU2VydmljZSBwcm9jZXNzIGV4aXRlZDsgcmVzdGFydGluZyIKICAgIHNsZWVw
IDIKICAgIHN0YXJ0X2NoaWxkCiAgZmkKCiAgcmVxdWVzdF9pZD0iJChyZWFkX21hcmtlciAiJFJF
UVVFU1RfRklMRSIpIgogIGlmIFsgLW4gIiRyZXF1ZXN0X2lkIiBdICYmIFsgIiQocmVhZF9tYXJr
ZXIgIiRBQ0tfRklMRSIpIiAhPSAiJHJlcXVlc3RfaWQiIF07IHRoZW4KICAgIGlmICEgcGVyZm9y
bV9yZXNldCAiJHJlcXVlc3RfaWQiOyB0aGVuCiAgICAgIGxvZyAiUmVzZXQgJHtyZXF1ZXN0X2lk
fSBmYWlsZWQ7IHJldHJ5aW5nIgogICAgICBzbGVlcCAzCiAgICAgIGlmIFsgLXogIiRDSElMRF9Q
SUQiIF07IHRoZW4KICAgICAgICBzdGFydF9jaGlsZAogICAgICBmaQogICAgZmkKICBmaQogIHNs
ZWVwIDIKZG9uZQo=
