IyEvdXNyL2Jpbi9lbnYgYmFzaAoKcGVyY2VudF9lbmNvZGVfdXJsX2NvbXBvbmVudCgpIHsKICBs
b2NhbCBpbnB1dD0iJDEiCiAgbG9jYWwgb3V0cHV0PSIiCiAgbG9jYWwgYnl0ZSBoZXggaW5kZXgK
CiAgbG9jYWwgTENfQUxMPUMKICBmb3IgKChpbmRleCA9IDA7IGluZGV4IDwgJHsjaW5wdXR9OyBp
bmRleCsrKSk7IGRvCiAgICBieXRlPSIke2lucHV0OmluZGV4OjF9IgogICAgY2FzZSAiJGJ5dGUi
IGluCiAgICAgIFthLXpBLVowLTkufl8tXSkgb3V0cHV0Kz0iJGJ5dGUiIDs7CiAgICAgICopCiAg
ICAgICAgcHJpbnRmIC12IGhleCAnJTAyWCcgIickYnl0ZSIKICAgICAgICBvdXRwdXQrPSIlJHto
ZXh9IgogICAgICAgIDs7CiAgICBlc2FjCiAgZG9uZQogIHByaW50ZiAnJXMnICIkb3V0cHV0Igp9
Cgp2YWxpZGF0ZV9zZXJ2aWNlX2hvc3QoKSB7CiAgbG9jYWwgbmFtZT0iJDEiCiAgbG9jYWwgdmFs
dWU9IiQyIgogIGlmIFtbICEgIiR2YWx1ZSIgPX4gXlthLXpBLVowLTkuXy1dKyQgXV07IHRoZW4K
ICAgIHByaW50ZiAnW3VtYnJlbC1idXp6XSBJbnZhbGlkIGludGVybmFsIHNlcnZpY2UgaG9zdCBp
biAlcy5cbicgIiRuYW1lIiA+JjIKICAgIHJldHVybiAxCiAgZmkKfQoKY29uZmlndXJlX2J1enpf
c2VydmljZV91cmxzKCkgewogIDogIiR7QlVaWl9TRVJWSUNFX1BBU1NXT1JEOj9CVVpaX1NFUlZJ
Q0VfUEFTU1dPUkQgaXMgcmVxdWlyZWR9IgogIDogIiR7QlVaWl9QT1NUR1JFU19IT1NUOj9CVVpa
X1BPU1RHUkVTX0hPU1QgaXMgcmVxdWlyZWR9IgogIDogIiR7QlVaWl9SRURJU19IT1NUOj9CVVpa
X1JFRElTX0hPU1QgaXMgcmVxdWlyZWR9IgoKICB2YWxpZGF0ZV9zZXJ2aWNlX2hvc3QgQlVaWl9Q
T1NUR1JFU19IT1NUICIkQlVaWl9QT1NUR1JFU19IT1NUIiB8fCByZXR1cm4gMQogIHZhbGlkYXRl
X3NlcnZpY2VfaG9zdCBCVVpaX1JFRElTX0hPU1QgIiRCVVpaX1JFRElTX0hPU1QiIHx8IHJldHVy
biAxCgogIGxvY2FsIGVuY29kZWRfcGFzc3dvcmQKICBlbmNvZGVkX3Bhc3N3b3JkPSIkKHBlcmNl
bnRfZW5jb2RlX3VybF9jb21wb25lbnQgIiRCVVpaX1NFUlZJQ0VfUEFTU1dPUkQiKSIKICBleHBv
cnQgREFUQUJBU0VfVVJMPSJwb3N0Z3JlczovL2J1eno6JHtlbmNvZGVkX3Bhc3N3b3JkfUAke0JV
WlpfUE9TVEdSRVNfSE9TVH06NTQzMi9idXp6IgogIGV4cG9ydCBSRURJU19VUkw9InJlZGlzOi8v
OiR7ZW5jb2RlZF9wYXNzd29yZH1AJHtCVVpaX1JFRElTX0hPU1R9OjYzNzkiCiAgdW5zZXQgQlVa
Wl9TRVJWSUNFX1BBU1NXT1JEIGVuY29kZWRfcGFzc3dvcmQKfQo=
