IyEvYmluL3NoCnNldCAtZXUKCkNPTkZJR19ESVI9IiR7QlVaWl9DT05GSUdfRElSOi0vY29uZmln
fSIKOiAiJHtCVVpaX1MzX0VORFBPSU5UOj9CVVpaX1MzX0VORFBPSU5UIGlzIHJlcXVpcmVkfSIK
UkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiCkFDS19ESVI9IiR7Q09O
RklHX0RJUn0vcmVzZXQtYWNrcyIKU1RPUkFHRV9SRUFEWV9GSUxFPSIke0FDS19ESVJ9L21pbmlv
LXN0b3JhZ2UtcmVhZHkiCk1JTklPX1JFQURZX0ZJTEU9IiR7QUNLX0RJUn0vbWluaW8tcmVhZHki
CklOSVRJQUxJWkVEX0ZJTEU9IiR7Q09ORklHX0RJUn0vbWluaW8taW5pdGlhbGl6ZWQiCgpsb2co
KSB7CiAgcHJpbnRmICdbdW1icmVsLWJ1enotbWluaW8taW5pdF0gJXNcbicgIiQqIiA+JjIKfQoK
cmVhZF9tYXJrZXIoKSB7CiAgaWYgWyAtZiAiJDEiIF07IHRoZW4KICAgIHNlZCAtbiAnL1teWzpz
cGFjZTpdXS8geyBzL1tbOnNwYWNlOl1dLy9nOyBwOyBxOyB9JyAiJDEiCiAgZmkKfQoKd3JpdGVf
bWFya2VyKCkgewogIGRlc3RpbmF0aW9uPSIkMSIKICB2YWx1ZT0iJDIiCiAgdGVtcG9yYXJ5PSIk
e2Rlc3RpbmF0aW9ufS50bXAuJCQiCiAgcHJpbnRmICclc1xuJyAiJHZhbHVlIiA+ICIkdGVtcG9y
YXJ5IgogIG12ICIkdGVtcG9yYXJ5IiAiJGRlc3RpbmF0aW9uIgp9CgplbnN1cmVfYnVja2V0KCkg
ewogIHVudGlsIG1jIGFsaWFzIHNldCBsb2NhbCAiJEJVWlpfUzNfRU5EUE9JTlQiICIkQlVaWl9T
M19BQ0NFU1NfS0VZIiAiJEJVWlpfUzNfU0VDUkVUX0tFWSIgPi9kZXYvbnVsbCAyPiYxOyBkbwog
ICAgc2xlZXAgMgogIGRvbmUKICBtYyBtYiAtLWlnbm9yZS1leGlzdGluZyAibG9jYWwvJHtCVVpa
X1MzX0JVQ0tFVH0iID4vZGV2L251bGwKICBtYyBhbm9ueW1vdXMgc2V0IG5vbmUgImxvY2FsLyR7
QlVaWl9TM19CVUNLRVR9IiA+L2Rldi9udWxsCn0KCm1rZGlyIC1wICIkQUNLX0RJUiIKZW5zdXJl
X2J1Y2tldAp3cml0ZV9tYXJrZXIgIiRJTklUSUFMSVpFRF9GSUxFIiByZWFkeQpsb2cgIk1lZGlh
IGJ1Y2tldCByZWFkeSIKCndoaWxlIHRydWU7IGRvCiAgcmVxdWVzdF9pZD0iJChyZWFkX21hcmtl
ciAiJFJFUVVFU1RfRklMRSIpIgogIGlmIFsgLW4gIiRyZXF1ZXN0X2lkIiBdICYmIFsgIiQocmVh
ZF9tYXJrZXIgIiRNSU5JT19SRUFEWV9GSUxFIikiICE9ICIkcmVxdWVzdF9pZCIgXTsgdGhlbgog
ICAgd2hpbGUgWyAiJChyZWFkX21hcmtlciAiJFNUT1JBR0VfUkVBRFlfRklMRSIpIiAhPSAiJHJl
cXVlc3RfaWQiIF07IGRvCiAgICAgIGlmIFsgIiQocmVhZF9tYXJrZXIgIiRSRVFVRVNUX0ZJTEUi
KSIgIT0gIiRyZXF1ZXN0X2lkIiBdOyB0aGVuCiAgICAgICAgcmVxdWVzdF9pZD0iIgogICAgICAg
IGJyZWFrCiAgICAgIGZpCiAgICAgIHNsZWVwIDEKICAgIGRvbmUKICAgIGlmIFsgLW4gIiRyZXF1
ZXN0X2lkIiBdOyB0aGVuCiAgICAgIGVuc3VyZV9idWNrZXQKICAgICAgd3JpdGVfbWFya2VyICIk
TUlOSU9fUkVBRFlfRklMRSIgIiRyZXF1ZXN0X2lkIgogICAgICBsb2cgIk1lZGlhIGJ1Y2tldCBy
ZXNldCAke3JlcXVlc3RfaWR9IGNvbXBsZXRlIgogICAgZmkKICBmaQogIHNsZWVwIDIKZG9uZQo=
