OnJvb3QgewogIGNvbG9yLXNjaGVtZTogbGlnaHQ7CiAgLS1wYWdlOiAjZjNmNWYyOwogIC0tc3Vy
ZmFjZTogI2ZmZmZmZjsKICAtLWluazogIzE3MWExODsKICAtLW11dGVkOiAjNjI2OTY1OwogIC0t
bGluZTogI2Q4ZGRkODsKICAtLXN0cm9uZy1saW5lOiAjYWViN2IwOwogIC0tYWNjZW50OiAjMTc2
YjUyOwogIC0tYWNjZW50LWRhcms6ICMwZDRhMzk7CiAgLS1hY2NlbnQtc29mdDogI2U4ZjRlZTsK
ICAtLXdhcm5pbmc6ICM4MDUzMTE7CiAgLS13YXJuaW5nLXNvZnQ6ICNmZmY0ZGM7CiAgLS1kYW5n
ZXI6ICNhNTJhMzI7CiAgLS1kYW5nZXItc29mdDogI2ZmZjBmMDsKICAtLWZvY3VzOiAjMTY2ZGEz
OwogIGZvbnQtZmFtaWx5OiBJbnRlciwgdWktc2Fucy1zZXJpZiwgc3lzdGVtLXVpLCAtYXBwbGUt
c3lzdGVtLCBCbGlua01hY1N5c3RlbUZvbnQsICJTZWdvZSBVSSIsIHNhbnMtc2VyaWY7CiAgZm9u
dC1zaXplOiAxNnB4OwogIGxldHRlci1zcGFjaW5nOiAwOwp9CgoqIHsKICBib3gtc2l6aW5nOiBi
b3JkZXItYm94Owp9Cgpib2R5IHsKICBtaW4td2lkdGg6IDMyMHB4OwogIG1hcmdpbjogMDsKICBi
YWNrZ3JvdW5kOiB2YXIoLS1wYWdlKTsKICBjb2xvcjogdmFyKC0taW5rKTsKfQoKYnV0dG9uLApp
bnB1dCB7CiAgZm9udDogaW5oZXJpdDsKICBsZXR0ZXItc3BhY2luZzogMDsKfQoKLnNoZWxsIHsK
ICB3aWR0aDogbWluKDc2MHB4LCBjYWxjKDEwMCUgLSAzMnB4KSk7CiAgbWFyZ2luOiAwIGF1dG87
CiAgcGFkZGluZzogMzRweCAwIDI4cHg7Cn0KCi5tYXN0aGVhZCwKLmZvcm0tYWN0aW9ucywKZm9v
dGVyIHsKICBkaXNwbGF5OiBmbGV4OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAganVzdGlmeS1j
b250ZW50OiBzcGFjZS1iZXR3ZWVuOwogIGdhcDogMjBweDsKfQoKLmV5ZWJyb3csCi5zdGVwIHsK
ICBtYXJnaW46IDAgMCA1cHg7CiAgY29sb3I6IHZhcigtLWFjY2VudCk7CiAgZm9udC1zaXplOiAw
LjcycmVtOwogIGZvbnQtd2VpZ2h0OiA3NjA7CiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTsK
fQoKaDEsCmgyLApwIHsKICBtYXJnaW4tdG9wOiAwOwp9CgpoMSB7CiAgbWFyZ2luLWJvdHRvbTog
MDsKICBmb250LXNpemU6IDIuMjVyZW07CiAgbGluZS1oZWlnaHQ6IDEuMDU7Cn0KCmgyIHsKICBt
YXJnaW4tYm90dG9tOiAwOwogIGZvbnQtc2l6ZTogMS4xcmVtOwogIGxpbmUtaGVpZ2h0OiAxLjM7
Cn0KCi5zdGF0dXMgewogIGRpc3BsYXk6IGlubGluZS1mbGV4OwogIG1pbi1oZWlnaHQ6IDM0cHg7
CiAgYWxpZ24taXRlbXM6IGNlbnRlcjsKICBnYXA6IDhweDsKICBwYWRkaW5nOiAwIDExcHg7CiAg
Ym9yZGVyOiAxcHggc29saWQgdmFyKC0tbGluZSk7CiAgYm9yZGVyLXJhZGl1czogNnB4OwogIGJh
Y2tncm91bmQ6IHZhcigtLXN1cmZhY2UpOwogIGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1z
aXplOiAwLjhyZW07CiAgZm9udC13ZWlnaHQ6IDcwMDsKfQoKLnN0YXR1cy1kb3QgewogIHdpZHRo
OiA4cHg7CiAgaGVpZ2h0OiA4cHg7CiAgZmxleDogMCAwIGF1dG87CiAgYm9yZGVyLXJhZGl1czog
NTAlOwogIGJhY2tncm91bmQ6ICM4NThiODc7Cn0KCi5zdGF0dXNbZGF0YS1zdGF0ZT0icmVhZHki
XSAuc3RhdHVzLWRvdCB7CiAgYmFja2dyb3VuZDogIzE4ODM1ZjsKfQoKLnN0YXR1c1tkYXRhLXN0
YXRlPSJ3b3JraW5nIl0gLnN0YXR1cy1kb3QgewogIGJhY2tncm91bmQ6ICNjNTdkMTk7Cn0KCi5z
dGF0dXNbZGF0YS1zdGF0ZT0iZXJyb3IiXSAuc3RhdHVzLWRvdCB7CiAgYmFja2dyb3VuZDogdmFy
KC0tZGFuZ2VyKTsKfQoKLm5vdGljZSB7CiAgZGlzcGxheTogZ3JpZDsKICBncmlkLXRlbXBsYXRl
LWNvbHVtbnM6IDMwcHggMWZyOwogIGdhcDogMTJweDsKICBtYXJnaW46IDI0cHggMCAxNHB4Owog
IHBhZGRpbmc6IDEzcHggMTRweDsKICBib3JkZXI6IDFweCBzb2xpZCAjZTJjNTg2OwogIGJvcmRl
ci1yYWRpdXM6IDZweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS13YXJuaW5nLXNvZnQpOwp9Cgoubm90
aWNlLW1hcmsgewogIGRpc3BsYXk6IGdyaWQ7CiAgd2lkdGg6IDI3cHg7CiAgaGVpZ2h0OiAyN3B4
OwogIHBsYWNlLWl0ZW1zOiBjZW50ZXI7CiAgYm9yZGVyOiAxcHggc29saWQgI2JlOGIzMjsKICBi
b3JkZXItcmFkaXVzOiA1MCU7CiAgY29sb3I6IHZhcigtLXdhcm5pbmcpOwogIGZvbnQtd2VpZ2h0
OiA4MDA7Cn0KCi5ub3RpY2UgaDIgewogIGNvbG9yOiAjNjM0MDBiOwogIGZvbnQtc2l6ZTogMC45
cmVtOwp9Cgoubm90aWNlIHAgewogIG1hcmdpbjogM3B4IDAgMDsKICBjb2xvcjogIzczNTMxZDsK
ICBmb250LXNpemU6IDAuOHJlbTsKICBsaW5lLWhlaWdodDogMS40NTsKfQoKZm9ybSwKLmNvbXBs
ZXRpb24gewogIG92ZXJmbG93OiBoaWRkZW47CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tbGlu
ZSk7CiAgYm9yZGVyLXJhZGl1czogOHB4OwogIGJhY2tncm91bmQ6IHZhcigtLXN1cmZhY2UpOwp9
CgouZm9ybS1zZWN0aW9uLAoucmVzZXQtcGFuZWwsCi5jb21wbGV0aW9uIHsKICBwYWRkaW5nOiAy
NHB4Owp9CgouZm9ybS1zZWN0aW9uICsgLmZvcm0tc2VjdGlvbiwKLnJlc2V0LXBhbmVsIHsKICBi
b3JkZXItdG9wOiAxcHggc29saWQgdmFyKC0tbGluZSk7Cn0KCi5zZWN0aW9uLWhlYWRpbmcgewog
IG1hcmdpbi1ib3R0b206IDE4cHg7Cn0KCmxhYmVsLAouZGV0YWlsLWxhYmVsIHsKICBkaXNwbGF5
OiBibG9jazsKICBtYXJnaW4tYm90dG9tOiA3cHg7CiAgZm9udC1zaXplOiAwLjgycmVtOwogIGZv
bnQtd2VpZ2h0OiA3MjA7Cn0KCmlucHV0W3R5cGU9InRleHQiXSwKaW5wdXRbdHlwZT0idXJsIl0g
ewogIHdpZHRoOiAxMDAlOwogIG1pbi1oZWlnaHQ6IDQ0cHg7CiAgcGFkZGluZzogOXB4IDExcHg7
CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tc3Ryb25nLWxpbmUpOwogIGJvcmRlci1yYWRpdXM6
IDVweDsKICBvdXRsaW5lOiBub25lOwogIGJhY2tncm91bmQ6ICNmZmY7CiAgY29sb3I6IHZhcigt
LWluayk7Cn0KCmlucHV0OmZvY3VzIHsKICBib3JkZXItY29sb3I6IHZhcigtLWZvY3VzKTsKICBi
b3gtc2hhZG93OiAwIDAgMCAzcHggcmdiYSgyMiwgMTA5LCAxNjMsIDAuMTMpOwp9CgouZmllbGQt
bWVzc2FnZSB7CiAgbWluLWhlaWdodDogMThweDsKICBtYXJnaW46IDZweCAwIDA7CiAgY29sb3I6
IHZhcigtLW11dGVkKTsKICBmb250LXNpemU6IDAuNzZyZW07CiAgbGluZS1oZWlnaHQ6IDEuNDsK
fQoKLmZpZWxkLW1lc3NhZ2VbZGF0YS1raW5kPSJlcnJvciJdIHsKICBjb2xvcjogdmFyKC0tZGFu
Z2VyKTsKfQoKLmZpZWxkLW1lc3NhZ2VbZGF0YS1raW5kPSJzdWNjZXNzIl0gewogIGNvbG9yOiB2
YXIoLS1hY2NlbnQpOwp9CgoudmVyaWZpZWQta2V5IHsKICBkaXNwbGF5OiBncmlkOwogIGdhcDog
NXB4OwogIG1hcmdpbi10b3A6IDEycHg7CiAgcGFkZGluZzogMTFweCAxMnB4OwogIGJvcmRlci1s
ZWZ0OiAzcHggc29saWQgdmFyKC0tYWNjZW50KTsKICBiYWNrZ3JvdW5kOiB2YXIoLS1hY2NlbnQt
c29mdCk7CiAgY29sb3I6IHZhcigtLWFjY2VudC1kYXJrKTsKICBmb250LXNpemU6IDAuNzdyZW07
Cn0KCi52ZXJpZmllZC1rZXkgc3BhbiB7CiAgb3ZlcmZsb3ctd3JhcDogYW55d2hlcmU7CiAgZm9u
dC1mYW1pbHk6IHVpLW1vbm9zcGFjZSwgU0ZNb25vLVJlZ3VsYXIsIE1lbmxvLCBDb25zb2xhcywg
bW9ub3NwYWNlOwp9CgoudmVyaWZpZWQta2V5IC5rZXktaGV4IHsKICBjb2xvcjogIzQ4NjE1OTsK
ICBmb250LXNpemU6IDAuN3JlbTsKfQoKLmNoZWNrLXJvdyB7CiAgZGlzcGxheTogZmxleDsKICBh
bGlnbi1pdGVtczogZmxleC1zdGFydDsKICBnYXA6IDlweDsKICBtYXJnaW46IDE0cHggMCAwOwog
IGNvbG9yOiAjNDc0ZTQ5OwogIGZvbnQtc2l6ZTogMC44cmVtOwogIGZvbnQtd2VpZ2h0OiA1NTA7
CiAgbGluZS1oZWlnaHQ6IDEuNDsKfQoKLmNoZWNrLXJvdyBpbnB1dCB7CiAgd2lkdGg6IDE4cHg7
CiAgaGVpZ2h0OiAxOHB4OwogIGZsZXg6IDAgMCBhdXRvOwogIG1hcmdpbjogMDsKICBhY2NlbnQt
Y29sb3I6IHZhcigtLWFjY2VudCk7Cn0KCi5tb2RlLW9wdGlvbnMgewogIGRpc3BsYXk6IGdyaWQ7
CiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnIgMWZyOwogIGdhcDogMTBweDsKICBtYXJnaW46
IDAgMCAxNHB4OwogIHBhZGRpbmc6IDA7CiAgYm9yZGVyOiAwOwp9CgoubW9kZS1vcHRpb24gewog
IGRpc3BsYXk6IGZsZXg7CiAgbWluLXdpZHRoOiAwOwogIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0
OwogIGdhcDogMTBweDsKICBtYXJnaW46IDA7CiAgcGFkZGluZzogMTNweDsKICBib3JkZXI6IDFw
eCBzb2xpZCB2YXIoLS1saW5lKTsKICBib3JkZXItcmFkaXVzOiA2cHg7CiAgY3Vyc29yOiBwb2lu
dGVyOwp9CgoubW9kZS1vcHRpb246aGFzKGlucHV0OmNoZWNrZWQpIHsKICBib3JkZXItY29sb3I6
IHZhcigtLWFjY2VudCk7CiAgYmFja2dyb3VuZDogdmFyKC0tYWNjZW50LXNvZnQpOwp9CgoubW9k
ZS1vcHRpb25zOmRpc2FibGVkIC5tb2RlLW9wdGlvbiB7CiAgY3Vyc29yOiBkZWZhdWx0Owp9Cgou
bW9kZS1vcHRpb25zOmRpc2FibGVkIC5tb2RlLW9wdGlvbjpub3QoOmhhcyhpbnB1dDpjaGVja2Vk
KSkgewogIG9wYWNpdHk6IDAuNTU7Cn0KCmlucHV0OmRpc2FibGVkIHsKICBiYWNrZ3JvdW5kOiAj
ZjFmM2YwOwogIGNvbG9yOiAjNGU1NTUxOwp9CgoubW9kZS1vcHRpb24gaW5wdXQgewogIHdpZHRo
OiAxN3B4OwogIGhlaWdodDogMTdweDsKICBmbGV4OiAwIDAgYXV0bzsKICBtYXJnaW46IDFweCAw
IDA7CiAgYWNjZW50LWNvbG9yOiB2YXIoLS1hY2NlbnQpOwp9CgoubW9kZS1vcHRpb24gc3Ryb25n
LAoubW9kZS1vcHRpb24gc21hbGwgewogIGRpc3BsYXk6IGJsb2NrOwp9CgoubW9kZS1vcHRpb24g
c3Ryb25nIHsKICBmb250LXNpemU6IDAuODRyZW07Cn0KCi5tb2RlLW9wdGlvbiBzbWFsbCB7CiAg
bWFyZ2luLXRvcDogM3B4OwogIGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjcz
cmVtOwogIGZvbnQtd2VpZ2h0OiA1MDA7CiAgbGluZS1oZWlnaHQ6IDEuMzU7Cn0KCi5jb25uZWN0
aW9uLWRldGFpbCB7CiAgcGFkZGluZzogMTNweCAxNHB4OwogIGJvcmRlcjogMXB4IHNvbGlkIHZh
cigtLWxpbmUpOwogIGJvcmRlci1yYWRpdXM6IDZweDsKICBiYWNrZ3JvdW5kOiAjZmFmYmY5Owp9
CgouY29ubmVjdGlvbi1kZXRhaWxbZGF0YS1zdGF0ZT0iZXJyb3IiXSB7CiAgYm9yZGVyLWNvbG9y
OiAjZGZhN2FiOwogIGJhY2tncm91bmQ6IHZhcigtLWRhbmdlci1zb2Z0KTsKfQoKLmNvbm5lY3Rp
b24tZGV0YWlsW2RhdGEtc3RhdGU9ImVycm9yIl0gY29kZSwKLmNvbm5lY3Rpb24tZGV0YWlsW2Rh
dGEtc3RhdGU9ImVycm9yIl0gcCB7CiAgY29sb3I6ICM3YjIwMjc7Cn0KCi5jb25uZWN0aW9uLWRl
dGFpbCBjb2RlLAouY29weS1maWVsZCBjb2RlIHsKICBkaXNwbGF5OiBibG9jazsKICBvdmVyZmxv
dy13cmFwOiBhbnl3aGVyZTsKICBjb2xvcjogIzJiMzYzMDsKICBmb250LWZhbWlseTogdWktbW9u
b3NwYWNlLCBTRk1vbm8tUmVndWxhciwgTWVubG8sIENvbnNvbGFzLCBtb25vc3BhY2U7CiAgZm9u
dC1zaXplOiAwLjhyZW07Cn0KCi5jb25uZWN0aW9uLWRldGFpbCBwIHsKICBtYXJnaW46IDdweCAw
IDA7CiAgY29sb3I6IHZhcigtLW11dGVkKTsKICBmb250LXNpemU6IDAuNzNyZW07CiAgbGluZS1o
ZWlnaHQ6IDEuNDsKfQoKLmNhbm9uaWNhbC1sb2NrIHsKICBtYXJnaW4tdG9wOiAxNHB4OwogIHBh
ZGRpbmc6IDEycHggMTNweDsKICBib3JkZXItbGVmdDogM3B4IHNvbGlkIHZhcigtLXdhcm5pbmcp
OwogIGJhY2tncm91bmQ6IHZhcigtLXdhcm5pbmctc29mdCk7CiAgY29sb3I6ICM2MjQyMGY7CiAg
Zm9udC1zaXplOiAwLjc4cmVtOwp9CgouY2Fub25pY2FsLWxvY2sgcCB7CiAgbWFyZ2luOiA0cHgg
MCAwOwogIGxpbmUtaGVpZ2h0OiAxLjQ4Owp9CgoucmV2aWV3LXNlY3Rpb24gewogIGJhY2tncm91
bmQ6ICNmYWZiZjk7Cn0KCi5zdW1tYXJ5LWxpc3QgewogIGRpc3BsYXk6IGdyaWQ7CiAgZ2FwOiAx
MHB4OwogIG1hcmdpbjogMDsKfQoKLnN1bW1hcnktbGlzdCA+IGRpdiB7CiAgZGlzcGxheTogZ3Jp
ZDsKICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IDEyNXB4IG1pbm1heCgwLCAxZnIpOwogIGdhcDog
MTRweDsKfQoKLnN1bW1hcnktbGlzdCBkdCB7CiAgY29sb3I6IHZhcigtLW11dGVkKTsKICBmb250
LXNpemU6IDAuNzVyZW07CiAgZm9udC13ZWlnaHQ6IDcwMDsKfQoKLnN1bW1hcnktbGlzdCBkZCB7
CiAgbWluLXdpZHRoOiAwOwogIG1hcmdpbjogMDsKICBvdmVyZmxvdy13cmFwOiBhbnl3aGVyZTsK
ICBmb250LWZhbWlseTogdWktbW9ub3NwYWNlLCBTRk1vbm8tUmVndWxhciwgTWVubG8sIENvbnNv
bGFzLCBtb25vc3BhY2U7CiAgZm9udC1zaXplOiAwLjc2cmVtOwp9CgoucmVzZXQtcGFuZWwgewog
IGJhY2tncm91bmQ6IHZhcigtLWRhbmdlci1zb2Z0KTsKfQoKLnJlc2V0LXBhbmVsIGgyIHsKICBj
b2xvcjogIzdjMWQyNDsKfQoKLnJlc2V0LXBhbmVsID4gcDpub3QoLnN0ZXApIHsKICBtYXJnaW46
IDdweCAwIDE1cHg7CiAgY29sb3I6ICM3NDM2M2E7CiAgZm9udC1zaXplOiAwLjhyZW07CiAgbGlu
ZS1oZWlnaHQ6IDEuNTsKfQoKLmRhbmdlci1zdGVwIHsKICBjb2xvcjogdmFyKC0tZGFuZ2VyKTsK
fQoKLnJlc2V0LXBhbmVsIC5jaGVjay1yb3cgewogIG1hcmdpbi1ib3R0b206IDE1cHg7Cn0KCi5m
b3JtLWFjdGlvbnMgewogIG1pbi1oZWlnaHQ6IDc4cHg7CiAgcGFkZGluZzogMTVweCAyNHB4Owog
IGJvcmRlci10b3A6IDFweCBzb2xpZCB2YXIoLS1saW5lKTsKICBiYWNrZ3JvdW5kOiAjZjZmOGY1
Owp9CgouYWN0aW9uLXRpdGxlIHsKICBtYXJnaW4tYm90dG9tOiAycHg7CiAgZm9udC1zaXplOiAw
Ljg0cmVtOwogIGZvbnQtd2VpZ2h0OiA3NTA7Cn0KCi5hY3Rpb24tZGV0YWlsIHsKICBtYXJnaW4t
Ym90dG9tOiAwOwogIGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjczcmVtOwog
IGxpbmUtaGVpZ2h0OiAxLjQ7Cn0KCmJ1dHRvbiB7CiAgbWluLWhlaWdodDogNDJweDsKICBwYWRk
aW5nOiAwIDE2cHg7CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tYWNjZW50LWRhcmspOwogIGJv
cmRlci1yYWRpdXM6IDVweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS1hY2NlbnQpOwogIGNvbG9yOiAj
ZmZmOwogIGN1cnNvcjogcG9pbnRlcjsKICBmb250LXdlaWdodDogNzQwOwp9CgpidXR0b246aG92
ZXIgewogIGJhY2tncm91bmQ6IHZhcigtLWFjY2VudC1kYXJrKTsKfQoKYnV0dG9uOmRpc2FibGVk
IHsKICBjdXJzb3I6IHdhaXQ7CiAgb3BhY2l0eTogMC41NTsKfQoKLnNlY29uZGFyeS1idXR0b24g
ewogIGJvcmRlci1jb2xvcjogdmFyKC0tc3Ryb25nLWxpbmUpOwogIGJhY2tncm91bmQ6ICNmZmY7
CiAgY29sb3I6IHZhcigtLWluayk7Cn0KCi5zZWNvbmRhcnktYnV0dG9uOmhvdmVyIHsKICBiYWNr
Z3JvdW5kOiAjZWRmMGVjOwp9CgouZGFuZ2VyLWJ1dHRvbiB7CiAgYm9yZGVyLWNvbG9yOiAjNzYx
YjIyOwogIGJhY2tncm91bmQ6IHZhcigtLWRhbmdlcik7Cn0KCi5kYW5nZXItYnV0dG9uOmhvdmVy
IHsKICBiYWNrZ3JvdW5kOiAjNzYxYjIyOwp9CgouY29tcGxldGlvbiBoMiB7CiAgZm9udC1zaXpl
OiAxLjM1cmVtOwp9CgouY29tcGxldGlvbi1jb3B5IHsKICBtYXgtd2lkdGg6IDY1MHB4OwogIG1h
cmdpbjogOHB4IDAgMThweDsKICBjb2xvcjogdmFyKC0tbXV0ZWQpOwogIGZvbnQtc2l6ZTogMC44
NHJlbTsKICBsaW5lLWhlaWdodDogMS41NTsKfQoKLmNvcHktZmllbGQgewogIGRpc3BsYXk6IGdy
aWQ7CiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiBtaW5tYXgoMCwgMWZyKSBhdXRvOwogIGFsaWdu
LWl0ZW1zOiBjZW50ZXI7CiAgZ2FwOiAxMnB4OwogIG1hcmdpbi1ib3R0b206IDE4cHg7CiAgcGFk
ZGluZzogMTBweCAxMHB4IDEwcHggMTNweDsKICBib3JkZXI6IDFweCBzb2xpZCAjOWFjNmI0Owog
IGJvcmRlci1yYWRpdXM6IDZweDsKICBiYWNrZ3JvdW5kOiB2YXIoLS1hY2NlbnQtc29mdCk7Cn0K
Ci5pZGVudGl0eS1ub3RlIHsKICBtYXJnaW46IDE3cHggMCAxNHB4OwogIGNvbG9yOiB2YXIoLS1t
dXRlZCk7CiAgZm9udC1zaXplOiAwLjc4cmVtOwogIGxpbmUtaGVpZ2h0OiAxLjQ1Owp9CgouY2Fu
b25pY2FsLW5vdGUgewogIG1hcmdpbjogMCAwIDE2cHg7CiAgcGFkZGluZzogMTBweCAxMnB4Owog
IGJvcmRlci1sZWZ0OiAzcHggc29saWQgdmFyKC0td2FybmluZyk7CiAgYmFja2dyb3VuZDogdmFy
KC0td2FybmluZy1zb2Z0KTsKICBjb2xvcjogIzYyNDIwZjsKICBmb250LXNpemU6IDAuNzhyZW07
CiAgbGluZS1oZWlnaHQ6IDEuNDg7Cn0KCi5hZG1pbi1zZWN0aW9uIHsKICBtYXJnaW4tdG9wOiAx
NHB4OwogIHBhZGRpbmc6IDI0cHg7CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tbGluZSk7CiAg
Ym9yZGVyLXJhZGl1czogOHB4OwogIGJhY2tncm91bmQ6IHZhcigtLXN1cmZhY2UpOwp9CgouYWRt
aW4taGVhZGluZyB7CiAgZGlzcGxheTogZmxleDsKICBhbGlnbi1pdGVtczogZmxleC1zdGFydDsK
ICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47CiAgZ2FwOiAxOHB4Owp9CgouZnJlc2hu
ZXNzIHsKICBtYXgtd2lkdGg6IDI2MHB4OwogIGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1z
aXplOiAwLjcycmVtOwogIGxpbmUtaGVpZ2h0OiAxLjQ7CiAgdGV4dC1hbGlnbjogcmlnaHQ7Cn0K
Ci5zZWN0aW9uLWNvcHkgewogIG1hcmdpbjogOXB4IDAgMThweDsKICBjb2xvcjogdmFyKC0tbXV0
ZWQpOwogIGZvbnQtc2l6ZTogMC44cmVtOwogIGxpbmUtaGVpZ2h0OiAxLjU7Cn0KCi5tZXRyaWMt
Z3JpZCB7CiAgZGlzcGxheTogZ3JpZDsKICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCg1
LCBtaW5tYXgoMCwgMWZyKSk7CiAgZ2FwOiA4cHg7Cn0KCi5tZXRyaWMgewogIG1pbi13aWR0aDog
MDsKICBtaW4taGVpZ2h0OiA3NHB4OwogIHBhZGRpbmc6IDEwcHg7CiAgYm9yZGVyOiAxcHggc29s
aWQgdmFyKC0tbGluZSk7CiAgYm9yZGVyLXJhZGl1czogNnB4OwogIGJhY2tncm91bmQ6ICNmYWZi
Zjk7Cn0KCi5tZXRyaWMgc3BhbiwKLm1ldHJpYyBzdHJvbmcgewogIGRpc3BsYXk6IGJsb2NrOwog
IG92ZXJmbG93LXdyYXA6IGFueXdoZXJlOwp9CgoubWV0cmljIHNwYW4gewogIGNvbG9yOiB2YXIo
LS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjY4cmVtOwogIGxpbmUtaGVpZ2h0OiAxLjI1Owp9Cgou
bWV0cmljIHN0cm9uZyB7CiAgbWFyZ2luLXRvcDogOHB4OwogIGZvbnQtc2l6ZTogMC45cmVtOwog
IGxpbmUtaGVpZ2h0OiAxLjI7Cn0KCi5kZXBlbmRlbmN5LXJvdyB7CiAgZGlzcGxheTogZmxleDsK
ICBmbGV4LXdyYXA6IHdyYXA7CiAgZ2FwOiA3cHg7CiAgbWFyZ2luLXRvcDogMTJweDsKfQoKLmRl
cGVuZGVuY3ktcm93IHNwYW4gewogIHBhZGRpbmc6IDZweCA4cHg7CiAgYm9yZGVyOiAxcHggc29s
aWQgdmFyKC0tbGluZSk7CiAgYm9yZGVyLXJhZGl1czogNXB4OwogIGNvbG9yOiB2YXIoLS1tdXRl
ZCk7CiAgZm9udC1zaXplOiAwLjdyZW07CiAgZm9udC13ZWlnaHQ6IDY4MDsKfQoKLmRlcGVuZGVu
Y3ktcm93IHNwYW5bZGF0YS1zdGF0ZT0icmVhZHkiXSB7CiAgYm9yZGVyLWNvbG9yOiAjOWFjNmI0
OwogIGJhY2tncm91bmQ6IHZhcigtLWFjY2VudC1zb2Z0KTsKICBjb2xvcjogdmFyKC0tYWNjZW50
LWRhcmspOwp9CgouZGVwZW5kZW5jeS1yb3cgc3BhbltkYXRhLXN0YXRlPSJlcnJvciJdIHsKICBi
b3JkZXItY29sb3I6ICNkZmE3YWI7CiAgYmFja2dyb3VuZDogdmFyKC0tZGFuZ2VyLXNvZnQpOwog
IGNvbG9yOiAjN2IyMDI3Owp9Cgouc2Vuc2l0aXZlLXdhcm5pbmcgewogIHBhZGRpbmc6IDEycHgg
MTNweDsKICBib3JkZXI6IDFweCBzb2xpZCAjZGZhN2FiOwogIGJvcmRlci1yYWRpdXM6IDZweDsK
ICBiYWNrZ3JvdW5kOiB2YXIoLS1kYW5nZXItc29mdCk7CiAgY29sb3I6ICM3NDI2MmM7CiAgZm9u
dC1zaXplOiAwLjc4cmVtOwp9Cgouc2Vuc2l0aXZlLXdhcm5pbmcgcCB7CiAgbWFyZ2luOiA0cHgg
MCAwOwogIGxpbmUtaGVpZ2h0OiAxLjQ4Owp9CgouYmFja3VwLWFjdGlvbnMgewogIGRpc3BsYXk6
IGZsZXg7CiAgYWxpZ24taXRlbXM6IGNlbnRlcjsKICBnYXA6IDEwcHg7CiAgbWFyZ2luLXRvcDog
MTZweDsKfQoKLmRvd25sb2FkLWxpbmsgewogIGRpc3BsYXk6IGlubGluZS1mbGV4OwogIG1pbi1o
ZWlnaHQ6IDQycHg7CiAgYWxpZ24taXRlbXM6IGNlbnRlcjsKICBwYWRkaW5nOiAwIDE2cHg7CiAg
Ym9yZGVyOiAxcHggc29saWQgdmFyKC0tc3Ryb25nLWxpbmUpOwogIGJvcmRlci1yYWRpdXM6IDVw
eDsKICBjb2xvcjogdmFyKC0taW5rKTsKICBmb250LXNpemU6IDAuODJyZW07CiAgZm9udC13ZWln
aHQ6IDc0MDsKICB0ZXh0LWRlY29yYXRpb246IG5vbmU7Cn0KCi5kb3dubG9hZC1saW5rOmhvdmVy
IHsKICBiYWNrZ3JvdW5kOiAjZWRmMGVjOwp9CgoucHJvZ3Jlc3MtdHJhY2sgewogIGhlaWdodDog
N3B4OwogIG1hcmdpbi10b3A6IDE2cHg7CiAgb3ZlcmZsb3c6IGhpZGRlbjsKICBib3JkZXItcmFk
aXVzOiA0cHg7CiAgYmFja2dyb3VuZDogI2UzZTdlMzsKfQoKLnByb2dyZXNzLXRyYWNrIHNwYW4g
ewogIGRpc3BsYXk6IGJsb2NrOwogIHdpZHRoOiAwOwogIGhlaWdodDogMTAwJTsKICBiYWNrZ3Jv
dW5kOiB2YXIoLS1hY2NlbnQpOwogIHRyYW5zaXRpb246IHdpZHRoIDE4MG1zIGVhc2U7Cn0KCi5i
YWNrdXAtbWVzc2FnZSB7CiAgbWluLWhlaWdodDogMThweDsKICBtYXJnaW46IDEwcHggMCAwOwog
IGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjc2cmVtOwp9CgouYXJjaGl2ZS1k
ZXRhaWxzIHsKICBkaXNwbGF5OiBncmlkOwogIGdhcDogOHB4OwogIG1hcmdpbjogMTVweCAwIDA7
CiAgcGFkZGluZy10b3A6IDE0cHg7CiAgYm9yZGVyLXRvcDogMXB4IHNvbGlkIHZhcigtLWxpbmUp
Owp9CgouYXJjaGl2ZS1kZXRhaWxzID4gZGl2IHsKICBkaXNwbGF5OiBncmlkOwogIGdyaWQtdGVt
cGxhdGUtY29sdW1uczogODBweCBtaW5tYXgoMCwgMWZyKTsKICBnYXA6IDEycHg7Cn0KCi5hcmNo
aXZlLWRldGFpbHMgZHQgewogIGNvbG9yOiB2YXIoLS1tdXRlZCk7CiAgZm9udC1zaXplOiAwLjcy
cmVtOwogIGZvbnQtd2VpZ2h0OiA3MDA7Cn0KCi5hcmNoaXZlLWRldGFpbHMgZGQgewogIG1pbi13
aWR0aDogMDsKICBtYXJnaW46IDA7CiAgb3ZlcmZsb3ctd3JhcDogYW55d2hlcmU7CiAgZm9udC1m
YW1pbHk6IHVpLW1vbm9zcGFjZSwgU0ZNb25vLVJlZ3VsYXIsIE1lbmxvLCBDb25zb2xhcywgbW9u
b3NwYWNlOwogIGZvbnQtc2l6ZTogMC43MnJlbTsKfQoKLnJlc3VsdCB7CiAgbWFyZ2luLXRvcDog
MTJweDsKICBwYWRkaW5nOiAxMXB4IDEzcHg7CiAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tbGlu
ZSk7CiAgYm9yZGVyLXJhZGl1czogNXB4OwogIGJhY2tncm91bmQ6IHZhcigtLXN1cmZhY2UpOwog
IGZvbnQtc2l6ZTogMC44cmVtOwp9CgoucmVzdWx0LnN1Y2Nlc3MgewogIGJvcmRlci1jb2xvcjog
IzlhYzZiNDsKICBiYWNrZ3JvdW5kOiB2YXIoLS1hY2NlbnQtc29mdCk7CiAgY29sb3I6IHZhcigt
LWFjY2VudC1kYXJrKTsKfQoKLnJlc3VsdC5lcnJvciB7CiAgYm9yZGVyLWNvbG9yOiAjZGZhN2Fi
OwogIGJhY2tncm91bmQ6IHZhcigtLWRhbmdlci1zb2Z0KTsKICBjb2xvcjogIzdiMjAyNzsKfQoK
LnJlc3VsdC53b3JraW5nIHsKICBib3JkZXItY29sb3I6ICNlMGMyOGQ7CiAgYmFja2dyb3VuZDog
dmFyKC0td2FybmluZy1zb2Z0KTsKICBjb2xvcjogIzZlNDgwZTsKfQoKZm9vdGVyIHsKICBqdXN0
aWZ5LWNvbnRlbnQ6IGZsZXgtc3RhcnQ7CiAgcGFkZGluZzogMTdweCAycHggMDsKICBjb2xvcjog
dmFyKC0tbXV0ZWQpOwogIGZvbnQtc2l6ZTogMC43NHJlbTsKfQoKZm9vdGVyICNwYWNrYWdlLXZl
cnNpb24gewogIG1hcmdpbi1sZWZ0OiBhdXRvOwogIHRleHQtYWxpZ246IHJpZ2h0Owp9Cgpjb2Rl
IHsKICBmb250LWZhbWlseTogdWktbW9ub3NwYWNlLCBTRk1vbm8tUmVndWxhciwgTWVubG8sIENv
bnNvbGFzLCBtb25vc3BhY2U7CiAgZm9udC1zaXplOiAwLjkyZW07Cn0KCi5oaWRkZW4gewogIGRp
c3BsYXk6IG5vbmUgIWltcG9ydGFudDsKfQoKLnZpc3VhbGx5LWhpZGRlbiB7CiAgcG9zaXRpb246
IGFic29sdXRlOwogIHdpZHRoOiAxcHg7CiAgaGVpZ2h0OiAxcHg7CiAgcGFkZGluZzogMDsKICBt
YXJnaW46IC0xcHg7CiAgb3ZlcmZsb3c6IGhpZGRlbjsKICBjbGlwOiByZWN0KDAsIDAsIDAsIDAp
OwogIHdoaXRlLXNwYWNlOiBub3dyYXA7CiAgYm9yZGVyOiAwOwp9CgpAbWVkaWEgKG1heC13aWR0
aDogNjIwcHgpIHsKICAuc2hlbGwgewogICAgd2lkdGg6IG1pbigxMDAlIC0gMjBweCwgNzYwcHgp
OwogICAgcGFkZGluZy10b3A6IDIycHg7CiAgfQoKICAubWFzdGhlYWQsCiAgLmZvcm0tYWN0aW9u
cyB7CiAgICBhbGlnbi1pdGVtczogZmxleC1zdGFydDsKICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1
bW47CiAgfQoKICBmb290ZXIgewogICAgYWxpZ24taXRlbXM6IGZsZXgtc3RhcnQ7CiAgICBmbGV4
LWRpcmVjdGlvbjogY29sdW1uOwogICAgZ2FwOiA1cHg7CiAgfQoKICBmb290ZXIgI3BhY2thZ2Ut
dmVyc2lvbiB7CiAgICBtYXJnaW4tbGVmdDogMDsKICAgIHRleHQtYWxpZ246IGxlZnQ7CiAgfQoK
ICAubWFzdGhlYWQgewogICAgZ2FwOiAxM3B4OwogIH0KCiAgaDEgewogICAgZm9udC1zaXplOiAx
Ljg1cmVtOwogIH0KCiAgLmZvcm0tc2VjdGlvbiwKICAucmVzZXQtcGFuZWwsCiAgLmNvbXBsZXRp
b24sCiAgLmZvcm0tYWN0aW9ucyB7CiAgICBwYWRkaW5nOiAxOXB4IDE2cHg7CiAgfQoKICAubW9k
ZS1vcHRpb25zIHsKICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMWZyOwogIH0KCiAgLnN1bW1h
cnktbGlzdCA+IGRpdiB7CiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IDFmcjsKICAgIGdhcDog
M3B4OwogIH0KCiAgLmNvcHktZmllbGQgewogICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnI7
CiAgfQoKICAuY29weS1maWVsZCBidXR0b24sCiAgLmZvcm0tYWN0aW9ucyBidXR0b24gewogICAg
d2lkdGg6IDEwMCU7CiAgfQoKICAuYWRtaW4tc2VjdGlvbiB7CiAgICBwYWRkaW5nOiAxOXB4IDE2
cHg7CiAgfQoKICAuYWRtaW4taGVhZGluZywKICAuYmFja3VwLWFjdGlvbnMgewogICAgYWxpZ24t
aXRlbXM6IHN0cmV0Y2g7CiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uOwogIH0KCiAgLmZyZXNo
bmVzcyB7CiAgICBtYXgtd2lkdGg6IG5vbmU7CiAgICB0ZXh0LWFsaWduOiBsZWZ0OwogIH0KCiAg
Lm1ldHJpYy1ncmlkIHsKICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDIsIG1pbm1h
eCgwLCAxZnIpKTsKICB9CgogIC5iYWNrdXAtYWN0aW9ucyBidXR0b24sCiAgLmRvd25sb2FkLWxp
bmsgewogICAgd2lkdGg6IDEwMCU7CiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjsKICB9Cn0K
