Y29uc3QgZm9ybSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNzZXR1cC1mb3JtIik7CmNvbnN0
IGNvbmZpZ3VyZWRWaWV3ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2NvbmZpZ3VyZWQtdmll
dyIpOwpjb25zdCBvd25lcklucHV0ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI293bmVyLWtl
eSIpOwpjb25zdCBvd25lck1lc3NhZ2UgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjb3duZXIt
bWVzc2FnZSIpOwpjb25zdCB2ZXJpZmllZEtleSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiN2
ZXJpZmllZC1rZXkiKTsKY29uc3Qgb3duZXJIZXggPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIj
b3duZXItaGV4Iik7CmNvbnN0IG93bmVyTnB1YiA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNv
d25lci1ucHViIik7CmNvbnN0IGhleENvbmZpcm1Sb3cgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9y
KCIjaGV4LWNvbmZpcm0tcm93Iik7CmNvbnN0IGNvbmZpcm1QdWJsaWNIZXggPSBkb2N1bWVudC5x
dWVyeVNlbGVjdG9yKCIjY29uZmlybS1wdWJsaWMtaGV4Iik7CmNvbnN0IG1vZGVJbnB1dHMgPSBb
Li4uZG9jdW1lbnQucXVlcnlTZWxlY3RvckFsbCgnaW5wdXRbbmFtZT0iY29tbXVuaXR5TW9kZSJd
JyldOwpjb25zdCBjb21tdW5pdHlDb250cm9scyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNj
b21tdW5pdHktY29udHJvbHMiKTsKY29uc3QgY2Fub25pY2FsTG9jayA9IGRvY3VtZW50LnF1ZXJ5
U2VsZWN0b3IoIiNjYW5vbmljYWwtbG9jayIpOwpjb25zdCBsb2NhbERldGFpbCA9IGRvY3VtZW50
LnF1ZXJ5U2VsZWN0b3IoIiNsb2NhbC1kZXRhaWwiKTsKY29uc3QgcHVibGljRGV0YWlsID0gZG9j
dW1lbnQucXVlcnlTZWxlY3RvcigiI3B1YmxpYy1kZXRhaWwiKTsKY29uc3QgbG9jYWxDb21tdW5p
dHlVcmwgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbG9jYWwtY29tbXVuaXR5LXVybCIpOwpj
b25zdCBsb2NhbERpc2NvdmVyeU1lc3NhZ2UgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbG9j
YWwtZGlzY292ZXJ5LW1lc3NhZ2UiKTsKY29uc3QgcHVibGljQ29tbXVuaXR5VXJsID0gZG9jdW1l
bnQucXVlcnlTZWxlY3RvcigiI3B1YmxpYy1jb21tdW5pdHktdXJsIik7CmNvbnN0IHJldmlld093
bmVyID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI3Jldmlldy1vd25lciIpOwpjb25zdCByZXZp
ZXdDb21tdW5pdHlVcmwgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjcmV2aWV3LWNvbW11bml0
eS11cmwiKTsKY29uc3QgcmVzZXRQYW5lbCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNyZXNl
dC1wYW5lbCIpOwpjb25zdCBjb25maXJtUmVzZXQgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIj
Y29uZmlybS1yZXNldCIpOwpjb25zdCByZXNldFBocmFzZSA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0
b3IoIiNyZXNldC1waHJhc2UiKTsKY29uc3Qgc3VibWl0QnV0dG9uID0gZG9jdW1lbnQucXVlcnlT
ZWxlY3RvcigiI3N1Ym1pdC1idXR0b24iKTsKY29uc3QgYWN0aW9uVGl0bGUgPSBkb2N1bWVudC5x
dWVyeVNlbGVjdG9yKCIjYWN0aW9uLXRpdGxlIik7CmNvbnN0IGFjdGlvbkRldGFpbCA9IGRvY3Vt
ZW50LnF1ZXJ5U2VsZWN0b3IoIiNhY3Rpb24tZGV0YWlsIik7CmNvbnN0IHJlc3VsdCA9IGRvY3Vt
ZW50LnF1ZXJ5U2VsZWN0b3IoIiNyZXN1bHQiKTsKY29uc3Qgc3RhdHVzQmFkZ2UgPSBkb2N1bWVu
dC5xdWVyeVNlbGVjdG9yKCIjcmVsYXktc3RhdHVzIik7CmNvbnN0IHN0YXR1c1RleHQgPSBkb2N1
bWVudC5xdWVyeVNlbGVjdG9yKCIjcmVsYXktc3RhdHVzLXRleHQiKTsKY29uc3QgY29uZmlndXJl
ZENvbW11bml0eVVybCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNjb25maWd1cmVkLWNvbW11
bml0eS11cmwiKTsKY29uc3QgY29uZmlndXJlZE93bmVyID0gZG9jdW1lbnQucXVlcnlTZWxlY3Rv
cigiI2NvbmZpZ3VyZWQtb3duZXIiKTsKY29uc3QgY29uZmlndXJlZE1vZGUgPSBkb2N1bWVudC5x
dWVyeVNlbGVjdG9yKCIjY29uZmlndXJlZC1tb2RlIik7CmNvbnN0IGVkaXRCdXR0b24gPSBkb2N1
bWVudC5xdWVyeVNlbGVjdG9yKCIjZWRpdC1idXR0b24iKTsKY29uc3QgY29weUNvbW11bml0eVVy
bCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNjb3B5LWNvbW11bml0eS11cmwiKTsKY29uc3Qg
b3BlcmF0aW9uc1BhbmVsID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI29wZXJhdGlvbnMtcGFu
ZWwiKTsKY29uc3QgYmFja3VwUGFuZWwgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjYmFja3Vw
LXBhbmVsIik7CmNvbnN0IHJlc3RvcmVQYW5lbCA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNy
ZXN0b3JlLXBhbmVsIik7CmNvbnN0IG1ldHJpY3NGcmVzaG5lc3MgPSBkb2N1bWVudC5xdWVyeVNl
bGVjdG9yKCIjbWV0cmljcy1mcmVzaG5lc3MiKTsKY29uc3QgbWV0cmljUmVsYXkgPSBkb2N1bWVu
dC5xdWVyeVNlbGVjdG9yKCIjbWV0cmljLXJlbGF5Iik7CmNvbnN0IG1ldHJpY1VwdGltZSA9IGRv
Y3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNtZXRyaWMtdXB0aW1lIik7CmNvbnN0IG1ldHJpY1ZlcnNp
b24gPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbWV0cmljLXZlcnNpb24iKTsKY29uc3QgbWV0
cmljQ29ubmVjdGlvbnMgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbWV0cmljLWNvbm5lY3Rp
b25zIik7CmNvbnN0IG1ldHJpY01lbWJlcnMgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbWV0
cmljLW1lbWJlcnMiKTsKY29uc3QgbWV0cmljQ2hhbm5lbHMgPSBkb2N1bWVudC5xdWVyeVNlbGVj
dG9yKCIjbWV0cmljLWNoYW5uZWxzIik7CmNvbnN0IG1ldHJpY01lc3NhZ2VzID0gZG9jdW1lbnQu
cXVlcnlTZWxlY3RvcigiI21ldHJpYy1tZXNzYWdlcyIpOwpjb25zdCBtZXRyaWNFdmVudHMgPSBk
b2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjbWV0cmljLWV2ZW50cyIpOwpjb25zdCBtZXRyaWNTdG9y
YWdlID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI21ldHJpYy1zdG9yYWdlIik7CmNvbnN0IG1l
dHJpY0FjdGl2aXR5ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI21ldHJpYy1hY3Rpdml0eSIp
Owpjb25zdCBoZWFsdGhQb3N0Z3JlcyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNoZWFsdGgt
cG9zdGdyZXMiKTsKY29uc3QgaGVhbHRoUmVkaXMgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIj
aGVhbHRoLXJlZGlzIik7CmNvbnN0IGhlYWx0aE1pbmlvID0gZG9jdW1lbnQucXVlcnlTZWxlY3Rv
cigiI2hlYWx0aC1taW5pbyIpOwpjb25zdCBoZWFsdGhXb3JrZXIgPSBkb2N1bWVudC5xdWVyeVNl
bGVjdG9yKCIjaGVhbHRoLXdvcmtlciIpOwpjb25zdCBhY2tub3dsZWRnZVNlbnNpdGl2ZSA9IGRv
Y3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNhY2tub3dsZWRnZS1zZW5zaXRpdmUiKTsKY29uc3QgY3Jl
YXRlQmFja3VwID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2NyZWF0ZS1iYWNrdXAiKTsKY29u
c3QgZG93bmxvYWRCYWNrdXAgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjZG93bmxvYWQtYmFj
a3VwIik7CmNvbnN0IGJhY2t1cFN0YXRlID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2JhY2t1
cC1zdGF0ZSIpOwpjb25zdCBiYWNrdXBQcm9ncmVzcyA9IGRvY3VtZW50LnF1ZXJ5U2VsZWN0b3Io
IiNiYWNrdXAtcHJvZ3Jlc3MiKTsKY29uc3QgYmFja3VwUHJvZ3Jlc3NCYXIgPSBkb2N1bWVudC5x
dWVyeVNlbGVjdG9yKCIjYmFja3VwLXByb2dyZXNzLWJhciIpOwpjb25zdCBiYWNrdXBNZXNzYWdl
ID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2JhY2t1cC1tZXNzYWdlIik7CmNvbnN0IGFyY2hp
dmVEZXRhaWxzID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2FyY2hpdmUtZGV0YWlscyIpOwpj
b25zdCBiYWNrdXBDcmVhdGVkID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2JhY2t1cC1jcmVh
dGVkIik7CmNvbnN0IGJhY2t1cFNpemUgPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjYmFja3Vw
LXNpemUiKTsKY29uc3QgYmFja3VwU2hhID0gZG9jdW1lbnQucXVlcnlTZWxlY3RvcigiI2JhY2t1
cC1zaGEiKTsKY29uc3QgcGFja2FnZVZlcnNpb24gPSBkb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIj
cGFja2FnZS12ZXJzaW9uIik7CgpsZXQgc3RhdHVzID0gbnVsbDsKbGV0IHByZXZpZXcgPSBudWxs
OwpsZXQgcHJldmlld1RpbWVyID0gbnVsbDsKbGV0IGZvcm1Ub3VjaGVkID0gZmFsc2U7CmxldCBl
ZGl0aW5nID0gZmFsc2U7Cgphc3luYyBmdW5jdGlvbiBhcGkocGF0aCwgb3B0aW9ucyA9IHt9KSB7
CiAgY29uc3QgcmVzcG9uc2UgPSBhd2FpdCBmZXRjaChwYXRoLCB7CiAgICAuLi5vcHRpb25zLAog
ICAgaGVhZGVyczogewogICAgICAiQ29udGVudC1UeXBlIjogImFwcGxpY2F0aW9uL2pzb24iLAog
ICAgICAiWC1CdXp6LVNldHVwIjogIjEiLAogICAgICAuLi4ob3B0aW9ucy5oZWFkZXJzIHx8IHt9
KSwKICAgIH0sCiAgfSk7CiAgY29uc3QgcGF5bG9hZCA9IGF3YWl0IHJlc3BvbnNlLmpzb24oKTsK
ICBpZiAoIXJlc3BvbnNlLm9rKSB7CiAgICBjb25zdCBlcnJvciA9IG5ldyBFcnJvcihwYXlsb2Fk
LmVycm9yIHx8IGBSZXF1ZXN0IGZhaWxlZCAoJHtyZXNwb25zZS5zdGF0dXN9KWApOwogICAgZXJy
b3IucGF5bG9hZCA9IHBheWxvYWQ7CiAgICB0aHJvdyBlcnJvcjsKICB9CiAgcmV0dXJuIHBheWxv
YWQ7Cn0KCmZ1bmN0aW9uIHNldFN0YXR1cyhzdGF0ZSwgdGV4dCkgewogIHN0YXR1c0JhZGdlLmRh
dGFzZXQuc3RhdGUgPSBzdGF0ZTsKICBzdGF0dXNUZXh0LnRleHRDb250ZW50ID0gdGV4dDsKfQoK
ZnVuY3Rpb24gc2VsZWN0ZWRNb2RlKCkgewogIHJldHVybiBtb2RlSW5wdXRzLmZpbmQoKGlucHV0
KSA9PiBpbnB1dC5jaGVja2VkKT8udmFsdWUgfHwgImxvY2FsIjsKfQoKZnVuY3Rpb24gc2VsZWN0
ZWRDb21tdW5pdHlVcmwoKSB7CiAgaWYgKHN0YXR1cz8uY29uZmlndXJlZCkgewogICAgcmV0dXJu
IHN0YXR1cy5jb21tdW5pdHlVcmwgfHwgIiI7CiAgfQogIHJldHVybiBzZWxlY3RlZE1vZGUoKSA9
PT0gImxvY2FsIgogICAgPyBzdGF0dXM/LmxvY2FsQ29tbXVuaXR5VXJsIHx8ICIiCiAgICA6IHB1
YmxpY0NvbW11bml0eVVybC52YWx1ZS50cmltKCk7Cn0KCmZ1bmN0aW9uIHNldFNlbGVjdGVkTW9k
ZShtb2RlKSB7CiAgY29uc3Qgc2VsZWN0ZWQgPSBtb2RlSW5wdXRzLmZpbmQoKGlucHV0KSA9PiBp
bnB1dC52YWx1ZSA9PT0gbW9kZSkgfHwgbW9kZUlucHV0c1swXTsKICBzZWxlY3RlZC5jaGVja2Vk
ID0gdHJ1ZTsKfQoKZnVuY3Rpb24gcmVuZGVyTW9kZSgpIHsKICBjb25zdCBsb2NhbCA9IHNlbGVj
dGVkTW9kZSgpID09PSAibG9jYWwiOwogIGxvY2FsRGV0YWlsLmNsYXNzTGlzdC50b2dnbGUoImhp
ZGRlbiIsICFsb2NhbCk7CiAgcHVibGljRGV0YWlsLmNsYXNzTGlzdC50b2dnbGUoImhpZGRlbiIs
IGxvY2FsKTsKICBwdWJsaWNDb21tdW5pdHlVcmwucmVxdWlyZWQgPSAhbG9jYWw7CiAgc3luY1Jl
dmlldygpOwp9CgpmdW5jdGlvbiByZW5kZXJDb21tdW5pdHlMb2NrKCkgewogIGNvbnN0IGxvY2tl
ZCA9IEJvb2xlYW4oc3RhdHVzPy5jb25maWd1cmVkKTsKICBjb21tdW5pdHlDb250cm9scy5kaXNh
YmxlZCA9IGxvY2tlZDsKICBwdWJsaWNDb21tdW5pdHlVcmwuZGlzYWJsZWQgPSBsb2NrZWQ7CiAg
Y2Fub25pY2FsTG9jay5jbGFzc0xpc3QudG9nZ2xlKCJoaWRkZW4iLCAhbG9ja2VkKTsKfQoKZnVu
Y3Rpb24gcmVuZGVyTG9jYWxEaXNjb3ZlcnkoKSB7CiAgY29uc3QgbG9jYWxVcmwgPSBzdGF0dXM/
LmxvY2FsQ29tbXVuaXR5VXJsIHx8ICIiOwogIGxvY2FsQ29tbXVuaXR5VXJsLnRleHRDb250ZW50
ID0gbG9jYWxVcmwgfHwgIkxvY2FsIGFkZHJlc3MgdW5hdmFpbGFibGUiOwogIGxvY2FsRGV0YWls
LmRhdGFzZXQuc3RhdGUgPSBsb2NhbFVybCA/ICJyZWFkeSIgOiAiZXJyb3IiOwogIGxvY2FsRGlz
Y292ZXJ5TWVzc2FnZS50ZXh0Q29udGVudCA9IGxvY2FsVXJsCiAgICA/ICJVc2UgdGhpcyBvbmx5
IGZyb20gbG9jYWxob3N0IG9yIGEgdHJ1c3RlZCBsb2NhbCBuZXR3b3JrLiIKICAgIDogc3RhdHVz
Py5sb2NhbENvbW11bml0eVVybEVycm9yIHx8CiAgICAgICJSZXN0YXJ0IEJ1enogUmVsYXkgZnJv
bSBVbWJyZWwuIE5vIG1hbnVhbCB0ZWNobmljYWwgVVJMIGVudHJ5IGlzIHJlcXVpcmVkLiI7Cn0K
CmZ1bmN0aW9uIHN5bmNSZXZpZXcoKSB7CiAgcmV2aWV3T3duZXIudGV4dENvbnRlbnQgPSBwcmV2
aWV3Py5vd25lck5wdWIgfHwgIk5vdCB2ZXJpZmllZCI7CiAgcmV2aWV3Q29tbXVuaXR5VXJsLnRl
eHRDb250ZW50ID0gc2VsZWN0ZWRDb21tdW5pdHlVcmwoKSB8fCAiTm90IHNlbGVjdGVkIjsKfQoK
ZnVuY3Rpb24gcG9wdWxhdGVDb25maWd1cmVkVmlldygpIHsKICBjb25maWd1cmVkQ29tbXVuaXR5
VXJsLnRleHRDb250ZW50ID0gc3RhdHVzPy5jb21tdW5pdHlVcmwgfHwgIlVuYXZhaWxhYmxlIjsK
ICBjb25maWd1cmVkT3duZXIudGV4dENvbnRlbnQgPSBzdGF0dXM/Lm93bmVyTnB1YiB8fCAiVW5h
dmFpbGFibGUiOwogIGNvbmZpZ3VyZWRNb2RlLnRleHRDb250ZW50ID0gc3RhdHVzPy5jb21tdW5p
dHlNb2RlID09PSAicHVibGljIgogICAgPyAiUHVibGljIGNvbW11bml0eSIKICAgIDogIkxvY2Fs
IHRlc3RpbmciOwp9CgpmdW5jdGlvbiBoeWRyYXRlRm9ybSgpIHsKICBvd25lcklucHV0LnZhbHVl
ID0gc3RhdHVzPy5vd25lck5wdWIgfHwgIiI7CiAgc2V0U2VsZWN0ZWRNb2RlKHN0YXR1cz8uY29t
bXVuaXR5TW9kZSB8fCAibG9jYWwiKTsKICBwdWJsaWNDb21tdW5pdHlVcmwudmFsdWUgPSBzdGF0
dXM/LmNvbW11bml0eU1vZGUgPT09ICJwdWJsaWMiCiAgICA/IHN0YXR1cy5jb21tdW5pdHlVcmwg
fHwgIiIKICAgIDogIiI7CiAgcmVuZGVyTG9jYWxEaXNjb3ZlcnkoKTsKICByZW5kZXJNb2RlKCk7
CiAgcmVuZGVyQ29tbXVuaXR5TG9jaygpOwogIGlmIChvd25lcklucHV0LnZhbHVlKSB7CiAgICB2
b2lkIHByZXZpZXdPd25lcktleSgpOwogIH0gZWxzZSB7CiAgICBjbGVhclByZXZpZXcoKTsKICB9
Cn0KCmZ1bmN0aW9uIHJlbmRlclN0YXR1cyhuZXh0U3RhdHVzKSB7CiAgc3RhdHVzID0gbmV4dFN0
YXR1czsKICBpZiAoc3RhdHVzLnJlc2V0dGluZykgewogICAgc2V0U3RhdHVzKCJ3b3JraW5nIiwg
IlJlc2V0dGluZyBhcHBsaWNhdGlvbiBkYXRhIik7CiAgfSBlbHNlIGlmIChzdGF0dXMuYmFja3Vw
Py5ydW5uaW5nIHx8IHN0YXR1cy5yZWxheVN0YXRlID09PSAiYmFja3VwLXBhdXNlZCIpIHsKICAg
IHNldFN0YXR1cygid29ya2luZyIsICJDcmVhdGluZyBiYWNrdXAiKTsKICB9IGVsc2UgaWYgKHN0
YXR1cy5yZXN0YXJ0aW5nKSB7CiAgICBzZXRTdGF0dXMoIndvcmtpbmciLCAiUmVzdGFydGluZyBy
ZWxheSIpOwogIH0gZWxzZSBpZiAoc3RhdHVzLnJlbGF5UmVhZHkpIHsKICAgIHNldFN0YXR1cygi
cmVhZHkiLCAiUmVsYXkgcmVhZHkiKTsKICB9IGVsc2UgaWYgKCFzdGF0dXMuY29uZmlndXJlZCkg
ewogICAgc2V0U3RhdHVzKCJ3YWl0aW5nIiwgIlNldHVwIHJlcXVpcmVkIik7CiAgfSBlbHNlIGlm
IChzdGF0dXMucmVsYXlTdGF0ZSA9PT0gInJldHJ5aW5nLWFmdGVyLWV4aXQiKSB7CiAgICBzZXRT
dGF0dXMoImVycm9yIiwgIlJlbGF5IHN0YXJ0IGZhaWxlZDsgcmV0cnlpbmciKTsKICB9IGVsc2Ug
aWYgKHN0YXR1cy5yZWxheVN0YXRlID09PSAid2FpdGluZy1mb3Itc3RvcmFnZSIpIHsKICAgIHNl
dFN0YXR1cygid29ya2luZyIsICJXYWl0aW5nIGZvciBvYmplY3Qgc3RvcmFnZSIpOwogIH0gZWxz
ZSBpZiAoc3RhdHVzLnJlbGF5U3RhdGUgPT09ICJzdG9wcGluZyIpIHsKICAgIHNldFN0YXR1cygi
d29ya2luZyIsICJSZWxheSBzdG9wcGluZyIpOwogIH0gZWxzZSB7CiAgICBzZXRTdGF0dXMoIndv
cmtpbmciLCAiUmVsYXkgc3RhcnRpbmciKTsKICB9CgogIHJlbmRlckxvY2FsRGlzY292ZXJ5KCk7
CiAgY29uc3QgcnVudGltZVZlcnNpb24gPSBzdGF0dXMucnVudGltZUFzc2V0VmVyc2lvbiB8fCAi
IjsKICBwYWNrYWdlVmVyc2lvbi50ZXh0Q29udGVudCA9IHJ1bnRpbWVWZXJzaW9uICYmIHJ1bnRp
bWVWZXJzaW9uICE9PSBzdGF0dXMucGFja2FnZVZlcnNpb24KICAgID8gYFBhY2thZ2UgJHtzdGF0
dXMucGFja2FnZVZlcnNpb24gfHwgInVua25vd24ifTsgcnVudGltZSBhc3NldHMgJHtydW50aW1l
VmVyc2lvbn1gCiAgICA6IGBQYWNrYWdlICR7c3RhdHVzLnBhY2thZ2VWZXJzaW9uIHx8IHJ1bnRp
bWVWZXJzaW9uIHx8ICJ1bmtub3duIn1gOwogIGNvbnN0IHNob3dDb25maWd1cmVkID0gc3RhdHVz
LmNvbmZpZ3VyZWQgJiYgIWVkaXRpbmc7CiAgY29uZmlndXJlZFZpZXcuY2xhc3NMaXN0LnRvZ2ds
ZSgiaGlkZGVuIiwgIXNob3dDb25maWd1cmVkKTsKICBmb3JtLmNsYXNzTGlzdC50b2dnbGUoImhp
ZGRlbiIsIHNob3dDb25maWd1cmVkKTsKICBvcGVyYXRpb25zUGFuZWwuY2xhc3NMaXN0LnRvZ2ds
ZSgiaGlkZGVuIiwgIXN0YXR1cy5jb25maWd1cmVkKTsKICBiYWNrdXBQYW5lbC5jbGFzc0xpc3Qu
dG9nZ2xlKCJoaWRkZW4iLCAhc3RhdHVzLmNvbmZpZ3VyZWQpOwogIHJlc3RvcmVQYW5lbC5jbGFz
c0xpc3QudG9nZ2xlKCJoaWRkZW4iLCAhc3RhdHVzLmNvbmZpZ3VyZWQpOwogIGlmIChzaG93Q29u
ZmlndXJlZCkgewogICAgcG9wdWxhdGVDb25maWd1cmVkVmlldygpOwogIH0gZWxzZSBpZiAoIWZv
cm1Ub3VjaGVkKSB7CiAgICBoeWRyYXRlRm9ybSgpOwogIH0KICByZW5kZXJDb21tdW5pdHlMb2Nr
KCk7CiAgcmVuZGVyT3BlcmF0aW9ucygpOwogIHJlbmRlckJhY2t1cCgpOwogIHVwZGF0ZU93bmVy
Q2hhbmdlU3RhdGUoKTsKfQoKZnVuY3Rpb24gZm9ybWF0TnVtYmVyKHZhbHVlKSB7CiAgcmV0dXJu
IE51bWJlci5pc0Zpbml0ZSh2YWx1ZSkgPyBuZXcgSW50bC5OdW1iZXJGb3JtYXQoKS5mb3JtYXQo
dmFsdWUpIDogIi0tIjsKfQoKZnVuY3Rpb24gZm9ybWF0Qnl0ZXModmFsdWUpIHsKICBpZiAoIU51
bWJlci5pc0Zpbml0ZSh2YWx1ZSkpIHJldHVybiAiLS0iOwogIGNvbnN0IHVuaXRzID0gWyJCIiwg
IktCIiwgIk1CIiwgIkdCIiwgIlRCIl07CiAgbGV0IGFtb3VudCA9IE1hdGgubWF4KDAsIHZhbHVl
KTsKICBsZXQgaW5kZXggPSAwOwogIHdoaWxlIChhbW91bnQgPj0gMTAyNCAmJiBpbmRleCA8IHVu
aXRzLmxlbmd0aCAtIDEpIHsKICAgIGFtb3VudCAvPSAxMDI0OwogICAgaW5kZXggKz0gMTsKICB9
CiAgcmV0dXJuIGAke2Ftb3VudCA+PSAxMCB8fCBpbmRleCA9PT0gMCA/IGFtb3VudC50b0ZpeGVk
KDApIDogYW1vdW50LnRvRml4ZWQoMSl9ICR7dW5pdHNbaW5kZXhdfWA7Cn0KCmZ1bmN0aW9uIGZv
cm1hdER1cmF0aW9uKHZhbHVlKSB7CiAgaWYgKCFOdW1iZXIuaXNGaW5pdGUodmFsdWUpKSByZXR1
cm4gIi0tIjsKICBjb25zdCBzZWNvbmRzID0gTWF0aC5tYXgoMCwgTWF0aC5mbG9vcih2YWx1ZSkp
OwogIGNvbnN0IGRheXMgPSBNYXRoLmZsb29yKHNlY29uZHMgLyA4NjQwMCk7CiAgY29uc3QgaG91
cnMgPSBNYXRoLmZsb29yKChzZWNvbmRzICUgODY0MDApIC8gMzYwMCk7CiAgY29uc3QgbWludXRl
cyA9IE1hdGguZmxvb3IoKHNlY29uZHMgJSAzNjAwKSAvIDYwKTsKICBpZiAoZGF5cykgcmV0dXJu
IGAke2RheXN9ZCAke2hvdXJzfWhgOwogIGlmIChob3VycykgcmV0dXJuIGAke2hvdXJzfWggJHtt
aW51dGVzfW1gOwogIHJldHVybiBgJHttaW51dGVzfW1gOwp9CgpmdW5jdGlvbiBmb3JtYXRUaW1l
c3RhbXAodmFsdWUpIHsKICBpZiAoIXZhbHVlKSByZXR1cm4gIk5vdCBvYnNlcnZlZCI7CiAgY29u
c3QgcGFyc2VkID0gbmV3IERhdGUodmFsdWUpOwogIHJldHVybiBOdW1iZXIuaXNOYU4ocGFyc2Vk
LmdldFRpbWUoKSkgPyAiVW5hdmFpbGFibGUiIDogcGFyc2VkLnRvTG9jYWxlU3RyaW5nKCk7Cn0K
CmZ1bmN0aW9uIHJlbmRlckhlYWx0aChlbGVtZW50LCBsYWJlbCwgdmFsdWUpIHsKICBlbGVtZW50
LmRhdGFzZXQuc3RhdGUgPSB2YWx1ZSA9PT0gdHJ1ZSA/ICJyZWFkeSIgOiB2YWx1ZSA9PT0gZmFs
c2UgPyAiZXJyb3IiIDogInVua25vd24iOwogIGVsZW1lbnQudGV4dENvbnRlbnQgPSBgJHtsYWJl
bH06ICR7dmFsdWUgPT09IHRydWUgPyAiY29ubmVjdGVkIiA6IHZhbHVlID09PSBmYWxzZSA/ICJ1
bmF2YWlsYWJsZSIgOiAidW5rbm93biJ9YDsKfQoKZnVuY3Rpb24gcmVuZGVyT3BlcmF0aW9ucygp
IHsKICBpZiAoIXN0YXR1cz8uY29uZmlndXJlZCkgcmV0dXJuOwogIGNvbnN0IG9wZXJhdGlvbnMg
PSBzdGF0dXMub3BlcmF0aW9ucyB8fCB7fTsKICBjb25zdCBjb3VudHMgPSBvcGVyYXRpb25zLmNv
dW50cyB8fCB7fTsKICBjb25zdCBjb25uZWN0aXZpdHkgPSBvcGVyYXRpb25zLmNvbm5lY3Rpdml0
eSB8fCB7fTsKICBtZXRyaWNSZWxheS50ZXh0Q29udGVudCA9IG9wZXJhdGlvbnMucmVsYXlSZWFk
eSA/ICJSZWFkeSIgOiBvcGVyYXRpb25zLnJlbGF5UmVhY2hhYmxlID8gIk5vdCByZWFkeSIgOiAi
U3RvcHBlZCI7CiAgbWV0cmljVXB0aW1lLnRleHRDb250ZW50ID0gZm9ybWF0RHVyYXRpb24ob3Bl
cmF0aW9ucy51cHRpbWVTZWNvbmRzKTsKICBtZXRyaWNWZXJzaW9uLnRleHRDb250ZW50ID0gb3Bl
cmF0aW9ucy5yZWxheVZlcnNpb24gfHwgb3BlcmF0aW9ucy5wYWNrYWdlVmVyc2lvbiB8fCAiLS0i
OwogIG1ldHJpY0Nvbm5lY3Rpb25zLnRleHRDb250ZW50ID0gZm9ybWF0TnVtYmVyKGNvdW50cy5h
Y3RpdmVDb25uZWN0aW9ucyk7CiAgbWV0cmljTWVtYmVycy50ZXh0Q29udGVudCA9IGZvcm1hdE51
bWJlcihjb3VudHMubWVtYmVyQ291bnQpOwogIG1ldHJpY0NoYW5uZWxzLnRleHRDb250ZW50ID0g
Zm9ybWF0TnVtYmVyKGNvdW50cy5jaGFubmVsQ291bnQpOwogIG1ldHJpY01lc3NhZ2VzLnRleHRD
b250ZW50ID0gZm9ybWF0TnVtYmVyKGNvdW50cy5tZXNzYWdlQ291bnQpOwogIG1ldHJpY0V2ZW50
cy50ZXh0Q29udGVudCA9IGZvcm1hdE51bWJlcihjb3VudHMuZXZlbnRzUmVjZWl2ZWRTaW5jZVN0
YXJ0KTsKICBtZXRyaWNTdG9yYWdlLnRleHRDb250ZW50ID0gZm9ybWF0Qnl0ZXMob3BlcmF0aW9u
cy5zdG9yYWdlPy5kYXRhQnl0ZXMpOwogIG1ldHJpY0FjdGl2aXR5LnRleHRDb250ZW50ID0gZm9y
bWF0VGltZXN0YW1wKG9wZXJhdGlvbnMubGFzdE9ic2VydmVkQWN0aXZpdHlBdCk7CiAgbWV0cmlj
c0ZyZXNobmVzcy50ZXh0Q29udGVudCA9IG9wZXJhdGlvbnMuc3RvcmFnZT8ubWVhc3VyZWRBdAog
ICAgPyBgU3RvcmFnZSBtZWFzdXJlZCAke2Zvcm1hdFRpbWVzdGFtcChvcGVyYXRpb25zLnN0b3Jh
Z2UubWVhc3VyZWRBdCl9YAogICAgOiAiTGl2ZSBoZWFsdGgiOwogIHJlbmRlckhlYWx0aChoZWFs
dGhQb3N0Z3JlcywgIlBvc3RncmVzIiwgY29ubmVjdGl2aXR5LnBvc3RncmVzKTsKICByZW5kZXJI
ZWFsdGgoaGVhbHRoUmVkaXMsICJSZWRpcyIsIGNvbm5lY3Rpdml0eS5yZWRpcyk7CiAgcmVuZGVy
SGVhbHRoKGhlYWx0aE1pbmlvLCAiTWluSU8iLCBjb25uZWN0aXZpdHkub2JqZWN0U3RvcmFnZSk7
CiAgcmVuZGVySGVhbHRoKGhlYWx0aFdvcmtlciwgIkJhY2t1cCB3b3JrZXIiLCBjb25uZWN0aXZp
dHkub3BlcmF0aW9uc1dvcmtlcik7Cn0KCmZ1bmN0aW9uIHJlbmRlckJhY2t1cCgpIHsKICBpZiAo
IXN0YXR1cz8uY29uZmlndXJlZCkgcmV0dXJuOwogIGNvbnN0IGJhY2t1cCA9IHN0YXR1cy5iYWNr
dXAgfHwge307CiAgY29uc3QgbGF0ZXN0ID0gYmFja3VwLmxhdGVzdCB8fCB7fTsKICBiYWNrdXBT
dGF0ZS50ZXh0Q29udGVudCA9IGJhY2t1cC5ydW5uaW5nID8gYCR7YmFja3VwLnByb2dyZXNzIHx8
IDB9JWAgOiBiYWNrdXAuc3RhdGUgfHwgIklkbGUiOwogIGJhY2t1cFByb2dyZXNzLmNsYXNzTGlz
dC50b2dnbGUoImhpZGRlbiIsICFiYWNrdXAucnVubmluZyk7CiAgYmFja3VwUHJvZ3Jlc3NCYXIu
c3R5bGUud2lkdGggPSBgJHtiYWNrdXAucHJvZ3Jlc3MgfHwgMH0lYDsKICBiYWNrdXBNZXNzYWdl
LnRleHRDb250ZW50ID0gYmFja3VwLm1lc3NhZ2UgfHwgIk5vIGJhY2t1cCBpcyBydW5uaW5nLiI7
CiAgY3JlYXRlQmFja3VwLmRpc2FibGVkID0gQm9vbGVhbihiYWNrdXAucnVubmluZyB8fCAhYmFj
a3VwLndvcmtlck9ubGluZSk7CiAgYWNrbm93bGVkZ2VTZW5zaXRpdmUuZGlzYWJsZWQgPSBCb29s
ZWFuKGJhY2t1cC5ydW5uaW5nKTsKICBkb3dubG9hZEJhY2t1cC5jbGFzc0xpc3QudG9nZ2xlKCJo
aWRkZW4iLCAhbGF0ZXN0LmF2YWlsYWJsZSk7CiAgYXJjaGl2ZURldGFpbHMuY2xhc3NMaXN0LnRv
Z2dsZSgiaGlkZGVuIiwgIWxhdGVzdC5hdmFpbGFibGUpOwogIGlmIChsYXRlc3QuYXZhaWxhYmxl
KSB7CiAgICBkb3dubG9hZEJhY2t1cC5ocmVmID0gbGF0ZXN0LmRvd25sb2FkVXJsOwogICAgZG93
bmxvYWRCYWNrdXAuZG93bmxvYWQgPSBsYXRlc3QubmFtZTsKICAgIGJhY2t1cENyZWF0ZWQudGV4
dENvbnRlbnQgPSBmb3JtYXRUaW1lc3RhbXAobGF0ZXN0LmNyZWF0ZWRBdCk7CiAgICBiYWNrdXBT
aXplLnRleHRDb250ZW50ID0gZm9ybWF0Qnl0ZXMobGF0ZXN0LnNpemVCeXRlcyk7CiAgICBiYWNr
dXBTaGEudGV4dENvbnRlbnQgPSBsYXRlc3Quc2hhMjU2IHx8ICJVbmF2YWlsYWJsZSI7CiAgfQp9
CgpmdW5jdGlvbiBzaG93UmVzdWx0KGtpbmQsIG1lc3NhZ2UpIHsKICByZXN1bHQuY2xhc3NOYW1l
ID0gYHJlc3VsdCAke2tpbmR9YDsKICByZXN1bHQudGV4dENvbnRlbnQgPSBtZXNzYWdlOwp9Cgpm
dW5jdGlvbiBoaWRlUmVzdWx0KCkgewogIHJlc3VsdC5jbGFzc05hbWUgPSAicmVzdWx0IGhpZGRl
biI7CiAgcmVzdWx0LnRleHRDb250ZW50ID0gIiI7Cn0KCmZ1bmN0aW9uIGNsZWFyUHJldmlldyht
ZXNzYWdlID0gIiIpIHsKICBwcmV2aWV3ID0gbnVsbDsKICB2ZXJpZmllZEtleS5jbGFzc0xpc3Qu
YWRkKCJoaWRkZW4iKTsKICBvd25lckhleC50ZXh0Q29udGVudCA9ICIiOwogIG93bmVyTnB1Yi50
ZXh0Q29udGVudCA9ICIiOwogIG93bmVyTWVzc2FnZS50ZXh0Q29udGVudCA9IG1lc3NhZ2U7CiAg
b3duZXJNZXNzYWdlLmRhdGFzZXQua2luZCA9IG1lc3NhZ2UgPyAiZXJyb3IiIDogIiI7CiAgaGV4
Q29uZmlybVJvdy5jbGFzc0xpc3QuYWRkKCJoaWRkZW4iKTsKICBjb25maXJtUHVibGljSGV4LmNo
ZWNrZWQgPSBmYWxzZTsKICBzeW5jUmV2aWV3KCk7CiAgdXBkYXRlT3duZXJDaGFuZ2VTdGF0ZSgp
Owp9Cgphc3luYyBmdW5jdGlvbiBwcmV2aWV3T3duZXJLZXkoKSB7CiAgY29uc3QgdmFsdWUgPSBv
d25lcklucHV0LnZhbHVlLnRyaW0oKTsKICBpZiAoIXZhbHVlKSB7CiAgICBjbGVhclByZXZpZXco
KTsKICAgIHJldHVybjsKICB9CiAgaWYgKC9eKG5vc3RyOik/bnNlYy9pLnRlc3QodmFsdWUpIHx8
IC9wcml2YXRlIGtleS9pLnRlc3QodmFsdWUpKSB7CiAgICBjbGVhclByZXZpZXcoIlByaXZhdGUg
a2V5cyBhbmQgbnNlYyB2YWx1ZXMgYXJlIHJlamVjdGVkLiIpOwogICAgcmV0dXJuOwogIH0KICB0
cnkgewogICAgY29uc3QgcmVzcG9uc2UgPSBhd2FpdCBhcGkoImFwaS9wcmV2aWV3LWtleSIsIHsK
ICAgICAgbWV0aG9kOiAiUE9TVCIsCiAgICAgIGJvZHk6IEpTT04uc3RyaW5naWZ5KHsgb3duZXJL
ZXk6IHZhbHVlIH0pLAogICAgfSk7CiAgICBpZiAob3duZXJJbnB1dC52YWx1ZS50cmltKCkgIT09
IHZhbHVlKSB7CiAgICAgIHJldHVybjsKICAgIH0KICAgIHByZXZpZXcgPSByZXNwb25zZTsKICAg
IG93bmVySGV4LnRleHRDb250ZW50ID0gcHJldmlldy5vd25lckhleDsKICAgIG93bmVyTnB1Yi50
ZXh0Q29udGVudCA9IHByZXZpZXcub3duZXJOcHViOwogICAgb3duZXJNZXNzYWdlLnRleHRDb250
ZW50ID0gIk93bmVyIHB1YmxpYyBrZXkgdmVyaWZpZWQuIjsKICAgIG93bmVyTWVzc2FnZS5kYXRh
c2V0LmtpbmQgPSAic3VjY2VzcyI7CiAgICB2ZXJpZmllZEtleS5jbGFzc0xpc3QucmVtb3ZlKCJo
aWRkZW4iKTsKICAgIGhleENvbmZpcm1Sb3cuY2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIXBy
ZXZpZXcucmF3SGV4KTsKICB9IGNhdGNoIChlcnJvcikgewogICAgY2xlYXJQcmV2aWV3KGVycm9y
Lm1lc3NhZ2UpOwogIH0KICBzeW5jUmV2aWV3KCk7CiAgdXBkYXRlT3duZXJDaGFuZ2VTdGF0ZSgp
Owp9CgpmdW5jdGlvbiB1cGRhdGVPd25lckNoYW5nZVN0YXRlKCkgewogIGNvbnN0IG93bmVyQ2hh
bmdlZCA9IEJvb2xlYW4oCiAgICBzdGF0dXM/Lm93bmVyQ29uZmlndXJlZCAmJiBwcmV2aWV3Py5v
d25lckhleCAmJiBwcmV2aWV3Lm93bmVySGV4ICE9PSBzdGF0dXMub3duZXJIZXgKICApOwogIHJl
c2V0UGFuZWwuY2xhc3NMaXN0LnRvZ2dsZSgiaGlkZGVuIiwgIW93bmVyQ2hhbmdlZCk7CiAgaWYg
KG93bmVyQ2hhbmdlZCkgewogICAgc3VibWl0QnV0dG9uLnRleHRDb250ZW50ID0gIlJlc2V0IGRh
dGEgYW5kIGNoYW5nZSBvd25lciI7CiAgICBzdWJtaXRCdXR0b24uY2xhc3NMaXN0LmFkZCgiZGFu
Z2VyLWJ1dHRvbiIpOwogICAgYWN0aW9uVGl0bGUudGV4dENvbnRlbnQgPSAiRGVzdHJ1Y3RpdmUg
b3duZXIgY2hhbmdlIjsKICAgIGFjdGlvbkRldGFpbC50ZXh0Q29udGVudCA9ICJBIGZ1bGwgYXBw
bGljYXRpb24gZGF0YSByZXNldCBpcyByZXF1aXJlZC4iOwogIH0gZWxzZSBpZiAoc3RhdHVzPy5v
d25lckNvbmZpZ3VyZWQpIHsKICAgIHN1Ym1pdEJ1dHRvbi50ZXh0Q29udGVudCA9ICJTYXZlIGNv
bmZpZ3VyYXRpb24iOwogICAgc3VibWl0QnV0dG9uLmNsYXNzTGlzdC5yZW1vdmUoImRhbmdlci1i
dXR0b24iKTsKICAgIGFjdGlvblRpdGxlLnRleHRDb250ZW50ID0gIlJldmlldyBjaGFuZ2VzIjsK
ICAgIGFjdGlvbkRldGFpbC50ZXh0Q29udGVudCA9ICJUaGUgY2Fub25pY2FsIENvbW11bml0eSBV
UkwgaXMgbG9ja2VkIGFmdGVyIGluaXRpYWxpemF0aW9uLiI7CiAgfSBlbHNlIHsKICAgIHN1Ym1p
dEJ1dHRvbi50ZXh0Q29udGVudCA9ICJTYXZlIGFuZCBzdGFydCByZWxheSI7CiAgICBzdWJtaXRC
dXR0b24uY2xhc3NMaXN0LnJlbW92ZSgiZGFuZ2VyLWJ1dHRvbiIpOwogICAgYWN0aW9uVGl0bGUu
dGV4dENvbnRlbnQgPSAiUmVhZHkgdG8gY29uZmlndXJlIjsKICAgIGFjdGlvbkRldGFpbC50ZXh0
Q29udGVudCA9ICJPbmx5IHRoZSB2ZXJpZmllZCBwdWJsaWMga2V5IGlzIHNhdmVkLiI7CiAgfQp9
Cgpvd25lcklucHV0LmFkZEV2ZW50TGlzdGVuZXIoImlucHV0IiwgKCkgPT4gewogIGZvcm1Ub3Vj
aGVkID0gdHJ1ZTsKICBwcmV2aWV3ID0gbnVsbDsKICB2ZXJpZmllZEtleS5jbGFzc0xpc3QuYWRk
KCJoaWRkZW4iKTsKICBjb25maXJtUHVibGljSGV4LmNoZWNrZWQgPSBmYWxzZTsKICBoZXhDb25m
aXJtUm93LmNsYXNzTGlzdC5hZGQoImhpZGRlbiIpOwogIG93bmVyTWVzc2FnZS50ZXh0Q29udGVu
dCA9ICJWZXJpZnlpbmcgcHVibGljIGtleS4uLiI7CiAgb3duZXJNZXNzYWdlLmRhdGFzZXQua2lu
ZCA9ICIiOwogIHN5bmNSZXZpZXcoKTsKICB1cGRhdGVPd25lckNoYW5nZVN0YXRlKCk7CiAgd2lu
ZG93LmNsZWFyVGltZW91dChwcmV2aWV3VGltZXIpOwogIHByZXZpZXdUaW1lciA9IHdpbmRvdy5z
ZXRUaW1lb3V0KHByZXZpZXdPd25lcktleSwgMjUwKTsKfSk7Cgptb2RlSW5wdXRzLmZvckVhY2go
KGlucHV0KSA9PiB7CiAgaW5wdXQuYWRkRXZlbnRMaXN0ZW5lcigiY2hhbmdlIiwgKCkgPT4gewog
ICAgZm9ybVRvdWNoZWQgPSB0cnVlOwogICAgcmVuZGVyTW9kZSgpOwogIH0pOwp9KTsKCnB1Ymxp
Y0NvbW11bml0eVVybC5hZGRFdmVudExpc3RlbmVyKCJpbnB1dCIsICgpID0+IHsKICBmb3JtVG91
Y2hlZCA9IHRydWU7CiAgc3luY1JldmlldygpOwp9KTsKCltjb25maXJtUHVibGljSGV4LCBjb25m
aXJtUmVzZXQsIHJlc2V0UGhyYXNlXS5mb3JFYWNoKChlbGVtZW50KSA9PiB7CiAgZWxlbWVudC5h
ZGRFdmVudExpc3RlbmVyKCJpbnB1dCIsICgpID0+IHsKICAgIGZvcm1Ub3VjaGVkID0gdHJ1ZTsK
ICB9KTsKfSk7CgplZGl0QnV0dG9uLmFkZEV2ZW50TGlzdGVuZXIoImNsaWNrIiwgKCkgPT4gewog
IGVkaXRpbmcgPSB0cnVlOwogIGZvcm1Ub3VjaGVkID0gZmFsc2U7CiAgaGlkZVJlc3VsdCgpOwog
IHJlbmRlclN0YXR1cyhzdGF0dXMpOwogIG93bmVySW5wdXQuZm9jdXMoKTsKfSk7Cgpjb3B5Q29t
bXVuaXR5VXJsLmFkZEV2ZW50TGlzdGVuZXIoImNsaWNrIiwgYXN5bmMgKCkgPT4gewogIGNvbnN0
IHZhbHVlID0gc3RhdHVzPy5jb21tdW5pdHlVcmwgfHwgIiI7CiAgaWYgKCF2YWx1ZSkgcmV0dXJu
OwogIHRyeSB7CiAgICBhd2FpdCBuYXZpZ2F0b3IuY2xpcGJvYXJkLndyaXRlVGV4dCh2YWx1ZSk7
CiAgICBjb3B5Q29tbXVuaXR5VXJsLnRleHRDb250ZW50ID0gIkNvcGllZCI7CiAgICB3aW5kb3cu
c2V0VGltZW91dCgoKSA9PiB7CiAgICAgIGNvcHlDb21tdW5pdHlVcmwudGV4dENvbnRlbnQgPSAi
Q29weSBjb21tdW5pdHkgVVJMIjsKICAgIH0sIDE2MDApOwogIH0gY2F0Y2ggKF9lcnJvcikgewog
ICAgc2hvd1Jlc3VsdCgiZXJyb3IiLCAiQ29weSBmYWlsZWQuIFNlbGVjdCBhbmQgY29weSB0aGUg
Q29tbXVuaXR5IFVSTCBtYW51YWxseS4iKTsKICB9Cn0pOwoKY3JlYXRlQmFja3VwLmFkZEV2ZW50
TGlzdGVuZXIoImNsaWNrIiwgYXN5bmMgKCkgPT4gewogIGlmICghYWNrbm93bGVkZ2VTZW5zaXRp
dmUuY2hlY2tlZCkgewogICAgc2hvd1Jlc3VsdCgiZXJyb3IiLCAiQ29uZmlybSB0aGF0IHRoZSBh
cmNoaXZlIGNvbnRhaW5zIHNlbnNpdGl2ZSBwcml2YXRlIGRhdGEuIik7CiAgICByZXR1cm47CiAg
fQogIGNyZWF0ZUJhY2t1cC5kaXNhYmxlZCA9IHRydWU7CiAgc2hvd1Jlc3VsdCgid29ya2luZyIs
ICJTdGFydGluZyBiYWNrdXAuLi4iKTsKICB0cnkgewogICAgY29uc3QgcmVzcG9uc2UgPSBhd2Fp
dCBhcGkoImFwaS9iYWNrdXBzIiwgewogICAgICBtZXRob2Q6ICJQT1NUIiwKICAgICAgYm9keTog
SlNPTi5zdHJpbmdpZnkoeyBhY2tub3dsZWRnZVNlbnNpdGl2ZTogdHJ1ZSB9KSwKICAgIH0pOwog
ICAgc2hvd1Jlc3VsdCgic3VjY2VzcyIsIHJlc3BvbnNlLm1lc3NhZ2UpOwogICAgYXdhaXQgcmVm
cmVzaFN0YXR1cygpOwogIH0gY2F0Y2ggKGVycm9yKSB7CiAgICBzaG93UmVzdWx0KCJlcnJvciIs
IGVycm9yLm1lc3NhZ2UpOwogIH0gZmluYWxseSB7CiAgICBjcmVhdGVCYWNrdXAuZGlzYWJsZWQg
PSBCb29sZWFuKHN0YXR1cz8uYmFja3VwPy5ydW5uaW5nIHx8ICFzdGF0dXM/LmJhY2t1cD8ud29y
a2VyT25saW5lKTsKICB9Cn0pOwoKZm9ybS5hZGRFdmVudExpc3RlbmVyKCJzdWJtaXQiLCBhc3lu
YyAoZXZlbnQpID0+IHsKICBldmVudC5wcmV2ZW50RGVmYXVsdCgpOwogIHNob3dSZXN1bHQoIndv
cmtpbmciLCAiU2F2aW5nIGNvbmZpZ3VyYXRpb24uLi4iKTsKICBzdWJtaXRCdXR0b24uZGlzYWJs
ZWQgPSB0cnVlOwogIHRyeSB7CiAgICBhd2FpdCBwcmV2aWV3T3duZXJLZXkoKTsKICAgIGlmICgh
cHJldmlldykgewogICAgICB0aHJvdyBuZXcgRXJyb3Iob3duZXJNZXNzYWdlLnRleHRDb250ZW50
IHx8ICJFbnRlciBhIHZhbGlkIHB1YmxpYyBrZXkuIik7CiAgICB9CiAgICBjb25zdCBjb21tdW5p
dHlNb2RlID0gc2VsZWN0ZWRNb2RlKCk7CiAgICBjb25zdCBjb21tdW5pdHlVcmwgPSBzZWxlY3Rl
ZENvbW11bml0eVVybCgpOwogICAgaWYgKCFjb21tdW5pdHlVcmwpIHsKICAgICAgdGhyb3cgbmV3
IEVycm9yKAogICAgICAgIHNlbGVjdGVkTW9kZSgpID09PSAibG9jYWwiCiAgICAgICAgICA/ICJU
aGUgbG9jYWwgQ29tbXVuaXR5IFVSTCBpcyB1bmF2YWlsYWJsZS4gUmVzdGFydCBCdXp6IFJlbGF5
IGZyb20gVW1icmVsIGFuZCB0cnkgYWdhaW4uIgogICAgICAgICAgOiAiRW50ZXIgYSBDb21tdW5p
dHkgVVJMLiIKICAgICAgKTsKICAgIH0KICAgIGNvbnN0IHJlc3BvbnNlID0gYXdhaXQgYXBpKCJh
cGkvYXBwbHkiLCB7CiAgICAgIG1ldGhvZDogIlBPU1QiLAogICAgICBib2R5OiBKU09OLnN0cmlu
Z2lmeSh7CiAgICAgICAgb3duZXJLZXk6IG93bmVySW5wdXQudmFsdWUsCiAgICAgICAgY29uZmly
bVB1YmxpY0hleDogY29uZmlybVB1YmxpY0hleC5jaGVja2VkLAogICAgICAgIGNvbW11bml0eU1v
ZGUsCiAgICAgICAgY29tbXVuaXR5VXJsOiBjb21tdW5pdHlNb2RlID09PSAicHVibGljIiA/IGNv
bW11bml0eVVybCA6ICIiLAogICAgICAgIGNvbmZpcm1SZXNldDogY29uZmlybVJlc2V0LmNoZWNr
ZWQsCiAgICAgICAgcmVzZXRQaHJhc2U6IHJlc2V0UGhyYXNlLnZhbHVlLAogICAgICB9KSwKICAg
IH0pOwogICAgc2hvd1Jlc3VsdCgic3VjY2VzcyIsIHJlc3BvbnNlLm1lc3NhZ2UpOwogICAgcmVz
ZXRQaHJhc2UudmFsdWUgPSAiIjsKICAgIGNvbmZpcm1SZXNldC5jaGVja2VkID0gZmFsc2U7CiAg
ICBmb3JtVG91Y2hlZCA9IGZhbHNlOwogICAgZWRpdGluZyA9IGZhbHNlOwogICAgYXdhaXQgcmVm
cmVzaFN0YXR1cygpOwogIH0gY2F0Y2ggKGVycm9yKSB7CiAgICBzaG93UmVzdWx0KCJlcnJvciIs
IGVycm9yLm1lc3NhZ2UpOwogIH0gZmluYWxseSB7CiAgICBzdWJtaXRCdXR0b24uZGlzYWJsZWQg
PSBmYWxzZTsKICB9Cn0pOwoKYXN5bmMgZnVuY3Rpb24gcmVmcmVzaFN0YXR1cygpIHsKICB0cnkg
ewogICAgY29uc3QgcmVzcG9uc2UgPSBhd2FpdCBmZXRjaCgiYXBpL3N0YXR1cyIsIHsgY2FjaGU6
ICJuby1zdG9yZSIgfSk7CiAgICBpZiAoIXJlc3BvbnNlLm9rKSB7CiAgICAgIHRocm93IG5ldyBF
cnJvcihgU3RhdHVzIHJlcXVlc3QgZmFpbGVkICgke3Jlc3BvbnNlLnN0YXR1c30pYCk7CiAgICB9
CiAgICByZW5kZXJTdGF0dXMoYXdhaXQgcmVzcG9uc2UuanNvbigpKTsKICB9IGNhdGNoIChfZXJy
b3IpIHsKICAgIHNldFN0YXR1cygiZXJyb3IiLCAiU2V0dXAgc2VydmljZSB1bmF2YWlsYWJsZSIp
OwogICAgbG9jYWxDb21tdW5pdHlVcmwudGV4dENvbnRlbnQgPSAiU3RhdHVzIHVuYXZhaWxhYmxl
IjsKICAgIGxvY2FsRGV0YWlsLmRhdGFzZXQuc3RhdGUgPSAiZXJyb3IiOwogICAgbG9jYWxEaXNj
b3ZlcnlNZXNzYWdlLnRleHRDb250ZW50ID0KICAgICAgIlJlc3RhcnQgQnV6eiBSZWxheSBmcm9t
IFVtYnJlbC4gTm8gbWFudWFsIHRlY2huaWNhbCBVUkwgZW50cnkgaXMgcmVxdWlyZWQuIjsKICAg
IHBhY2thZ2VWZXJzaW9uLnRleHRDb250ZW50ID0gIlBhY2thZ2Ugc3RhdHVzIHVuYXZhaWxhYmxl
IjsKICB9Cn0KCnJlZnJlc2hTdGF0dXMoKTsKd2luZG93LnNldEludGVydmFsKHJlZnJlc2hTdGF0
dXMsIDMwMDApOwo=
