IyEvdXNyL2Jpbi9lbnYgYmFzaApzZXQgLWV1byBwaXBlZmFpbAoKc291cmNlIC9vcHQvdW1icmVs
LWJ1enovc2VydmljZS11cmxzLnNoCgpDT05GSUdfRElSPSIke0JVWlpfQ09ORklHX0RJUjotL2Nv
bmZpZ30iClNFQ1JFVFNfRklMRT0iJHtDT05GSUdfRElSfS9nZW5lcmF0ZWQuZW52IgpSVU5USU1F
X0ZJTEU9IiR7Q09ORklHX0RJUn0vcnVudGltZS5lbnYiCk9XTkVSX0ZJTEU9IiR7Q09ORklHX0RJ
Un0vcmVsYXktb3duZXItcHVia2V5IgpQRU5ESU5HX09XTkVSX0ZJTEU9IiR7Q09ORklHX0RJUn0v
cGVuZGluZy1vd25lci1wdWJrZXkiClJFTEFZX1VSTF9GSUxFPSIke0NPTkZJR19ESVJ9L3JlbGF5
LXVybCIKUkVTRVRfUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiClJF
U0VUX0NPTVBMRVRFRF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LWNvbXBsZXRlZCIKUkVTRVRf
RVJST1JfRklMRT0iJHtDT05GSUdfRElSfS9yZXNldC1lcnJvciIKUkVMQVlfU1RPUFBFRF9GSUxF
PSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlbGF5LXN0b3BwZWQiClJFU0VUX0FDS19ESVI9IiR7Q09O
RklHX0RJUn0vcmVzZXQtYWNrcyIKUkVTVEFSVF9SRVFVRVNUX0ZJTEU9IiR7Q09ORklHX0RJUn0v
cmVzdGFydC1yZXF1ZXN0IgpSRVNUQVJUX0NPTVBMRVRFRF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jl
c3RhcnQtY29tcGxldGVkIgpCQUNLVVBfUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L2JhY2t1
cC1yZXF1ZXN0IgpCQUNLVVBfQUNLX0RJUj0iJHtDT05GSUdfRElSfS9iYWNrdXAtYWNrcyIKQkFD
S1VQX0FDS19GSUxFPSIke0JBQ0tVUF9BQ0tfRElSfS9yZWxheS1zdG9wcGVkIgpNSU5JT19JTklU
SUFMSVpFRF9GSUxFPSIke0NPTkZJR19ESVJ9L21pbmlvLWluaXRpYWxpemVkIgpTVEFURV9GSUxF
PSIke0NPTkZJR19ESVJ9L3JlbGF5LXN0YXRlIgpHSVRfRElSPSIke0JVWlpfR0lUX1JFUE9fUEFU
SDotL2RhdGEvZ2l0fSIKR0lUX0NBQ0hFX0RJUj0iJHtCVVpaX0dJVF9QQUNLX0NBQ0hFX1BBVEg6
LS9kYXRhL2dpdC1jYWNoZX0iClJFTEFZX1BJRD0iIgoKbG9nKCkgewogIHByaW50ZiAnW3VtYnJl
bC1idXp6XSAlc1xuJyAiJCoiID4mMgp9CgpmaXJzdF9saW5lKCkgewogIGxvY2FsIGZpbGU9IiQx
IgogIGlmIFtbIC1mICIkZmlsZSIgXV07IHRoZW4KICAgIGF3ayAnTkYgJiYgJDEgIX4gL14jLyB7
IGdzdWIoL1xyLywgIiIpOyBnc3ViKC9bWzpzcGFjZTpdXS8sICIiKTsgcHJpbnQ7IGV4aXQgfScg
IiRmaWxlIgogIGZpCn0KCndyaXRlX21hcmtlcigpIHsKICBsb2NhbCBkZXN0aW5hdGlvbj0iJDEi
CiAgbG9jYWwgdmFsdWU9IiQyIgogIGxvY2FsIHRlbXBvcmFyeT0iJHtkZXN0aW5hdGlvbn0udG1w
LiQkIgogIHByaW50ZiAnJXNcbicgIiR2YWx1ZSIgPiAiJHRlbXBvcmFyeSIKICBtdiAiJHRlbXBv
cmFyeSIgIiRkZXN0aW5hdGlvbiIKfQoKd3JpdGVfc3RhdGUoKSB7CiAgd3JpdGVfbWFya2VyICIk
U1RBVEVfRklMRSIgIiQxIgp9Cgp3cml0ZV9zaGVsbF92YXIoKSB7CiAgbG9jYWwgbmFtZT0iJDEi
CiAgbG9jYWwgdmFsdWU9IiQyIgogIHByaW50ZiAnJXM9JXFcbicgIiRuYW1lIiAiJHZhbHVlIgp9
CgplbnN1cmVfaGV4X3NlY3JldCgpIHsKICBsb2NhbCBuYW1lPSIkMSIKICBpZiAhIGdyZXAgLUVx
ICJeJHtuYW1lfT1bMC05YS1mQS1GXXs2NH0kIiAiJFNFQ1JFVFNfRklMRSIgMj4vZGV2L251bGw7
IHRoZW4KICAgIHdyaXRlX3NoZWxsX3ZhciAiJG5hbWUiICIkKG9wZW5zc2wgcmFuZCAtaGV4IDMy
KSIgPj4gIiRTRUNSRVRTX0ZJTEUiCiAgZmkKfQoKZW5zdXJlX3NlY3JldHMoKSB7CiAgdW1hc2sg
MDc3CiAgdG91Y2ggIiRTRUNSRVRTX0ZJTEUiCiAgY2htb2QgNjAwICIkU0VDUkVUU19GSUxFIgog
IGVuc3VyZV9oZXhfc2VjcmV0IEJVWlpfUkVMQVlfUFJJVkFURV9LRVkKICBlbnN1cmVfaGV4X3Nl
Y3JldCBCVVpaX0dJVF9IT09LX0hNQUNfU0VDUkVUCn0KCmRlcml2ZV9tZWRpYV9iYXNlX3VybCgp
IHsKICBsb2NhbCByZWxheV91cmw9IiQxIgogIGNhc2UgIiRyZWxheV91cmwiIGluCiAgICB3c3M6
Ly8qKSBwcmludGYgJ2h0dHBzOi8vJXMvbWVkaWFcbicgIiR7cmVsYXlfdXJsI3dzczovL30iIDs7
CiAgICB3czovLyopIHByaW50ZiAnaHR0cDovLyVzL21lZGlhXG4nICIke3JlbGF5X3VybCN3czov
L30iIDs7CiAgICAqKSBwcmludGYgJ2h0dHA6Ly9sb2NhbGhvc3Q6MzAwMC9tZWRpYVxuJyA7Owog
IGVzYWMKfQoKZGVyaXZlX2NvcnNfb3JpZ2lucygpIHsKICBsb2NhbCByZWxheV91cmw9IiQxIgog
IGNhc2UgIiRyZWxheV91cmwiIGluCiAgICB3c3M6Ly8qKSBwcmludGYgJ2h0dHBzOi8vJXMsdGF1
cmk6Ly9sb2NhbGhvc3QsaHR0cDovL3RhdXJpLmxvY2FsaG9zdFxuJyAiJHtyZWxheV91cmwjd3Nz
Oi8vfSIgOzsKICAgIHdzOi8vKikgcHJpbnRmICdodHRwOi8vJXMsdGF1cmk6Ly9sb2NhbGhvc3Qs
aHR0cDovL3RhdXJpLmxvY2FsaG9zdFxuJyAiJHtyZWxheV91cmwjd3M6Ly99IiA7OwogICAgKikg
cHJpbnRmICdodHRwOi8vbG9jYWxob3N0OjMwMDAsdGF1cmk6Ly9sb2NhbGhvc3QsaHR0cDovL3Rh
dXJpLmxvY2FsaG9zdFxuJyA7OwogIGVzYWMKfQoKbG9hZF9vd25lcigpIHsKICBsb2NhbCBvd25l
cl9wdWJrZXk9IiR7UkVMQVlfT1dORVJfUFVCS0VZOi19IgogIGlmIFtbIC16ICIkb3duZXJfcHVi
a2V5IiBdXTsgdGhlbgogICAgb3duZXJfcHVia2V5PSIkKGZpcnN0X2xpbmUgIiRPV05FUl9GSUxF
IikiCiAgZmkKICBvd25lcl9wdWJrZXk9IiQocHJpbnRmICclcycgIiRvd25lcl9wdWJrZXkiIHwg
dHIgJ0EtRicgJ2EtZicpIgogIGlmIFtbICIkb3duZXJfcHVia2V5IiA9fiBeWzAtOWEtZl17NjR9
JCBdXTsgdGhlbgogICAgcHJpbnRmICclc1xuJyAiJG93bmVyX3B1YmtleSIKICAgIHJldHVybiAw
CiAgZmkKICByZXR1cm4gMQp9Cgp3cml0ZV9ydW50aW1lKCkgewogIGxvY2FsIG93bmVyX3B1Ymtl
eT0iJDEiCiAgbG9jYWwgcmVsYXlfdXJsPSIkMiIKICBsb2NhbCBtZWRpYV9iYXNlX3VybCBjb3Jz
X29yaWdpbnMKCiAgbWVkaWFfYmFzZV91cmw9IiR7QlVaWl9NRURJQV9CQVNFX1VSTDotJChkZXJp
dmVfbWVkaWFfYmFzZV91cmwgIiRyZWxheV91cmwiKX0iCiAgY29yc19vcmlnaW5zPSIke0JVWlpf
Q09SU19PUklHSU5TOi0kKGRlcml2ZV9jb3JzX29yaWdpbnMgIiRyZWxheV91cmwiKX0iCgogIHsK
ICAgIHdyaXRlX3NoZWxsX3ZhciBSRUxBWV9VUkwgIiRyZWxheV91cmwiCiAgICB3cml0ZV9zaGVs
bF92YXIgQlVaWl9NRURJQV9CQVNFX1VSTCAiJG1lZGlhX2Jhc2VfdXJsIgogICAgd3JpdGVfc2hl
bGxfdmFyIEJVWlpfQ09SU19PUklHSU5TICIkY29yc19vcmlnaW5zIgogICAgd3JpdGVfc2hlbGxf
dmFyIFJFTEFZX09XTkVSX1BVQktFWSAiJG93bmVyX3B1YmtleSIKICB9ID4gIiR7UlVOVElNRV9G
SUxFfS50bXAiCiAgbXYgIiR7UlVOVElNRV9GSUxFfS50bXAiICIkUlVOVElNRV9GSUxFIgogIGNo
bW9kIDYwMCAiJFJVTlRJTUVfRklMRSIKfQoKbG9hZF9yZWxheV91cmwoKSB7CiAgbG9jYWwgcmVs
YXlfdXJsCiAgcmVsYXlfdXJsPSIke1JFTEFZX1VSTDotJChmaXJzdF9saW5lICIkUkVMQVlfVVJM
X0ZJTEUiKX0iCiAgaWYgW1sgLXogIiRyZWxheV91cmwiIF1dOyB0aGVuCiAgICByZXR1cm4gMQog
IGZpCiAgaWYgW1sgISAiJHJlbGF5X3VybCIgPX4gXndzcz86Ly9bXi9bOnNwYWNlOl1dKy8/JCBd
XTsgdGhlbgogICAgbG9nICJJbnZhbGlkIHJlbGF5IFVSTCAnJHtyZWxheV91cmx9Jy4gVXNlIGEg
cm9vdCB3czovLyBvciB3c3M6Ly8gVVJMLiIKICAgIHJldHVybiAxCiAgZmkKICBwcmludGYgJyVz
XG4nICIke3JlbGF5X3VybCUvfSIKfQoKc3RhcnRfcmVsYXkoKSB7CiAgbG9jYWwgb3duZXJfcHVi
a2V5PSIkMSIKICBsb2NhbCByZWxheV91cmw9IiQyIgogIGVuc3VyZV9zZWNyZXRzCiAgd3JpdGVf
cnVudGltZSAiJG93bmVyX3B1YmtleSIgIiRyZWxheV91cmwiCiAgc2V0IC1hCiAgIyBzaGVsbGNo
ZWNrIGRpc2FibGU9U0MxMDkwCiAgLiAiJFNFQ1JFVFNfRklMRSIKICAjIHNoZWxsY2hlY2sgZGlz
YWJsZT1TQzEwOTAKICAuICIkUlVOVElNRV9GSUxFIgogIHNldCArYQogIHdyaXRlX3N0YXRlIHN0
YXJ0aW5nCiAgbG9nICJTdGFydGluZyBCdXp6IHJlbGF5IGZvciAke1JFTEFZX1VSTH0iCiAgL3Vz
ci9sb2NhbC9iaW4vYnV6ei1yZWxheSAmCiAgUkVMQVlfUElEPSQhCn0KCnN0b3BfcmVsYXkoKSB7
CiAgaWYgW1sgLW4gIiRSRUxBWV9QSUQiIF1dICYmIGtpbGwgLTAgIiRSRUxBWV9QSUQiIDI+L2Rl
di9udWxsOyB0aGVuCiAgICB3cml0ZV9zdGF0ZSBzdG9wcGluZwogICAgbG9nICJTdG9wcGluZyBC
dXp6IHJlbGF5IgogICAga2lsbCAtVEVSTSAiJFJFTEFZX1BJRCIKICAgIHdhaXQgIiRSRUxBWV9Q
SUQiIHx8IHRydWUKICBmaQogIFJFTEFZX1BJRD0iIgp9CgpwYXVzZV9mb3JfYmFja3VwKCkgewog
IGxvY2FsIHJlcXVlc3RfaWQ9IiQxIgogIHN0b3BfcmVsYXkKICB3cml0ZV9zdGF0ZSBiYWNrdXAt
cGF1c2VkCiAgd3JpdGVfbWFya2VyICIkQkFDS1VQX0FDS19GSUxFIiAiJHJlcXVlc3RfaWQiCiAg
bG9nICJSZWxheSB3cml0ZXMgcGF1c2VkIGZvciBiYWNrdXAgJHtyZXF1ZXN0X2lkfSIKICB3aGls
ZSBbWyAiJChmaXJzdF9saW5lICIkQkFDS1VQX1JFUVVFU1RfRklMRSIpIiA9PSAiJHJlcXVlc3Rf
aWQiIF1dOyBkbwogICAgc2xlZXAgMQogIGRvbmUKICBsb2cgIkJhY2t1cCAke3JlcXVlc3RfaWR9
IHJlbGVhc2VkOyByZXN0YXJ0aW5nIHJlbGF5Igp9CgpjbGVhcl9kaXJlY3RvcnkoKSB7CiAgbG9j
YWwgZGlyZWN0b3J5PSIkMSIKICBjYXNlICIkZGlyZWN0b3J5IiBpbgogICAgL2RhdGEvZ2l0fC9k
YXRhL2dpdC1jYWNoZSkgOzsKICAgICopCiAgICAgIGxvZyAiUmVmdXNpbmcgdG8gY2xlYXIgdW5l
eHBlY3RlZCBkaXJlY3Rvcnk6ICR7ZGlyZWN0b3J5fSIKICAgICAgcmV0dXJuIDEKICAgICAgOzsK
ICBlc2FjCiAgZmluZCAiJGRpcmVjdG9yeSIgLW1pbmRlcHRoIDEgLW1heGRlcHRoIDEgLWV4ZWMg
cm0gLXJmIC0tIHt9ICsKfQoKd2FpdF9mb3JfcmVzZXRfYWNrKCkgewogIGxvY2FsIHJlcXVlc3Rf
aWQ9IiQxIgogIGxvY2FsIG5hbWU9IiQyIgogIGxvY2FsIHBhdGg9IiR7UkVTRVRfQUNLX0RJUn0v
JHtuYW1lfS1yZWFkeSIKICB3aGlsZSBbWyAiJChmaXJzdF9saW5lICIkcGF0aCIpIiAhPSAiJHJl
cXVlc3RfaWQiIF1dOyBkbwogICAgaWYgW1sgIiQoZmlyc3RfbGluZSAiJFJFU0VUX1JFUVVFU1Rf
RklMRSIpIiAhPSAiJHJlcXVlc3RfaWQiIF1dOyB0aGVuCiAgICAgIHJldHVybiAxCiAgICBmaQog
ICAgc2xlZXAgMQogIGRvbmUKfQoKcGVyZm9ybV9yZXNldCgpIHsKICBsb2NhbCByZXF1ZXN0X2lk
PSIkMSIKICBsb2NhbCBwZW5kaW5nX293bmVyCiAgcGVuZGluZ19vd25lcj0iJChmaXJzdF9saW5l
ICIkUEVORElOR19PV05FUl9GSUxFIikiCiAgcGVuZGluZ19vd25lcj0iJChwcmludGYgJyVzJyAi
JHBlbmRpbmdfb3duZXIiIHwgdHIgJ0EtRicgJ2EtZicpIgogIGlmIFtbICEgIiRwZW5kaW5nX293
bmVyIiA9fiBeWzAtOWEtZl17NjR9JCBdXTsgdGhlbgogICAgd3JpdGVfbWFya2VyICIkUkVTRVRf
RVJST1JfRklMRSIgIlJlc2V0IHJlamVjdGVkIGJlY2F1c2UgdGhlIHBlbmRpbmcgb3duZXIgcHVi
bGljIGtleSBpcyBpbnZhbGlkLiIKICAgIHJtIC1mICIkUkVTRVRfUkVRVUVTVF9GSUxFIiAiJFBF
TkRJTkdfT1dORVJfRklMRSIKICAgIHJldHVybiAxCiAgZmkKCiAgc3RvcF9yZWxheQogIHdyaXRl
X3N0YXRlIHJlc2V0dGluZwogIHdyaXRlX21hcmtlciAiJFJFTEFZX1NUT1BQRURfRklMRSIgIiRy
ZXF1ZXN0X2lkIgogIGxvZyAiV2FpdGluZyBmb3IgZGF0YWJhc2UsIGNhY2hlLCBhbmQgb2JqZWN0
IHN0b3JhZ2UgcmVzZXQgJHtyZXF1ZXN0X2lkfSIKICBpZiAhIHdhaXRfZm9yX3Jlc2V0X2FjayAi
JHJlcXVlc3RfaWQiIHBvc3RncmVzIHx8CiAgICAgISB3YWl0X2Zvcl9yZXNldF9hY2sgIiRyZXF1
ZXN0X2lkIiByZWRpcyB8fAogICAgICEgd2FpdF9mb3JfcmVzZXRfYWNrICIkcmVxdWVzdF9pZCIg
bWluaW87IHRoZW4KICAgIHdyaXRlX21hcmtlciAiJFJFU0VUX0VSUk9SX0ZJTEUiICJSZXNldCBj
b29yZGluYXRpb24gd2FzIGludGVycnVwdGVkIGJlZm9yZSBzdG9yYWdlIHNlcnZpY2VzIHdlcmUg
cmVhZHkuIgogICAgcmV0dXJuIDEKICBmaQoKICBpZiAhIGNsZWFyX2RpcmVjdG9yeSAiJEdJVF9E
SVIiIHx8ICEgY2xlYXJfZGlyZWN0b3J5ICIkR0lUX0NBQ0hFX0RJUiI7IHRoZW4KICAgIHdyaXRl
X21hcmtlciAiJFJFU0VUX0VSUk9SX0ZJTEUiICJSZXNldCBzdG9wcGVkIGJlY2F1c2UgcmVwb3Np
dG9yeSBzdG9yYWdlIGNvdWxkIG5vdCBiZSBjbGVhcmVkLiIKICAgIHJldHVybiAxCiAgZmkKICBy
bSAtZiAiJFNFQ1JFVFNfRklMRSIgIiRSVU5USU1FX0ZJTEUiCiAgaWYgISBtdiAiJFBFTkRJTkdf
T1dORVJfRklMRSIgIiRPV05FUl9GSUxFIjsgdGhlbgogICAgd3JpdGVfbWFya2VyICIkUkVTRVRf
RVJST1JfRklMRSIgIlJlc2V0IHN0b3BwZWQgYmVjYXVzZSB0aGUgcGVuZGluZyBvd25lciBrZXkg
Y291bGQgbm90IGJlIHByb21vdGVkLiIKICAgIHJldHVybiAxCiAgZmkKICBjaG1vZCA2MDAgIiRP
V05FUl9GSUxFIgogIHdyaXRlX21hcmtlciAiJFJFU0VUX0NPTVBMRVRFRF9GSUxFIiAiJHJlcXVl
c3RfaWQiCiAgcm0gLWYgIiRSRVNFVF9SRVFVRVNUX0ZJTEUiICIkUkVTRVRfRVJST1JfRklMRSIg
IiRSRUxBWV9TVE9QUEVEX0ZJTEUiCiAgbG9nICJGdWxsIGFwcGxpY2F0aW9uIGRhdGEgcmVzZXQg
JHtyZXF1ZXN0X2lkfSBjb21wbGV0ZSIKfQoKc2h1dGRvd24oKSB7CiAgc3RvcF9yZWxheQogIGV4
aXQgMAp9Cgp0cmFwIHNodXRkb3duIElOVCBURVJNCm1rZGlyIC1wICIkQ09ORklHX0RJUiIgIiRS
RVNFVF9BQ0tfRElSIiAiJEJBQ0tVUF9BQ0tfRElSIiAiJEdJVF9ESVIiICIkR0lUX0NBQ0hFX0RJ
UiIKdW1hc2sgMDc3CmNvbmZpZ3VyZV9idXp6X3NlcnZpY2VfdXJscwoKd2hpbGUgdHJ1ZTsgZG8K
ICBiYWNrdXBfaWQ9IiQoZmlyc3RfbGluZSAiJEJBQ0tVUF9SRVFVRVNUX0ZJTEUiKSIKICBpZiBb
WyAtbiAiJGJhY2t1cF9pZCIgXV07IHRoZW4KICAgIHBhdXNlX2Zvcl9iYWNrdXAgIiRiYWNrdXBf
aWQiCiAgICBjb250aW51ZQogIGZpCgogIHJlc2V0X2lkPSIkKGZpcnN0X2xpbmUgIiRSRVNFVF9S
RVFVRVNUX0ZJTEUiKSIKICBpZiBbWyAtbiAiJHJlc2V0X2lkIiAmJiAiJChmaXJzdF9saW5lICIk
UkVTRVRfQ09NUExFVEVEX0ZJTEUiKSIgIT0gIiRyZXNldF9pZCIgXV07IHRoZW4KICAgIHBlcmZv
cm1fcmVzZXQgIiRyZXNldF9pZCIgfHwgdHJ1ZQogICAgc2xlZXAgMQogICAgY29udGludWUKICBm
aQoKICByZXN0YXJ0X2lkPSIkKGZpcnN0X2xpbmUgIiRSRVNUQVJUX1JFUVVFU1RfRklMRSIpIgog
IGlmIFtbIC1uICIkcmVzdGFydF9pZCIgXV07IHRoZW4KICAgIHdyaXRlX21hcmtlciAiJFJFU1RB
UlRfQ09NUExFVEVEX0ZJTEUiICIkcmVzdGFydF9pZCIKICAgIHJtIC1mICIkUkVTVEFSVF9SRVFV
RVNUX0ZJTEUiCiAgZmkKCiAgaWYgISBvd25lcl9wdWJrZXk9IiQobG9hZF9vd25lcikiOyB0aGVu
CiAgICB3cml0ZV9zdGF0ZSB3YWl0aW5nLWZvci1jb25maWd1cmF0aW9uCiAgICBzbGVlcCAyCiAg
ICBjb250aW51ZQogIGZpCgogIGlmICEgcmVsYXlfdXJsPSIkKGxvYWRfcmVsYXlfdXJsKSI7IHRo
ZW4KICAgIHdyaXRlX3N0YXRlIHdhaXRpbmctZm9yLWNhbm9uaWNhbC11cmwKICAgIHNsZWVwIDIK
ICAgIGNvbnRpbnVlCiAgZmkKCiAgaWYgW1sgIiQoZmlyc3RfbGluZSAiJE1JTklPX0lOSVRJQUxJ
WkVEX0ZJTEUiKSIgIT0gcmVhZHkgXV07IHRoZW4KICAgIHdyaXRlX3N0YXRlIHdhaXRpbmctZm9y
LXN0b3JhZ2UKICAgIHNsZWVwIDIKICAgIGNvbnRpbnVlCiAgZmkKCiAgc3RhcnRfcmVsYXkgIiRv
d25lcl9wdWJrZXkiICIkcmVsYXlfdXJsIgogIGFjdGlvbj0iIgogIHdoaWxlIGtpbGwgLTAgIiRS
RUxBWV9QSUQiIDI+L2Rldi9udWxsOyBkbwogICAgYmFja3VwX2lkPSIkKGZpcnN0X2xpbmUgIiRC
QUNLVVBfUkVRVUVTVF9GSUxFIikiCiAgICByZXNldF9pZD0iJChmaXJzdF9saW5lICIkUkVTRVRf
UkVRVUVTVF9GSUxFIikiCiAgICByZXN0YXJ0X2lkPSIkKGZpcnN0X2xpbmUgIiRSRVNUQVJUX1JF
UVVFU1RfRklMRSIpIgogICAgaWYgW1sgLW4gIiRiYWNrdXBfaWQiIF1dOyB0aGVuCiAgICAgIGFj
dGlvbj1iYWNrdXAKICAgICAgYnJlYWsKICAgIGZpCiAgICBpZiBbWyAtbiAiJHJlc2V0X2lkIiBd
XTsgdGhlbgogICAgICBhY3Rpb249cmVzZXQKICAgICAgYnJlYWsKICAgIGZpCiAgICBpZiBbWyAt
biAiJHJlc3RhcnRfaWQiIF1dOyB0aGVuCiAgICAgIGFjdGlvbj1yZXN0YXJ0CiAgICAgIGJyZWFr
CiAgICBmaQogICAgc2xlZXAgMgogIGRvbmUKCiAgaWYgW1sgIiRhY3Rpb24iID09IGJhY2t1cCBd
XTsgdGhlbgogICAgcGF1c2VfZm9yX2JhY2t1cCAiJGJhY2t1cF9pZCIKICAgIGNvbnRpbnVlCiAg
ZmkKCiAgaWYgW1sgIiRhY3Rpb24iID09IHJlc2V0IF1dOyB0aGVuCiAgICBwZXJmb3JtX3Jlc2V0
ICIkcmVzZXRfaWQiIHx8IHRydWUKICAgIGNvbnRpbnVlCiAgZmkKICBpZiBbWyAiJGFjdGlvbiIg
PT0gcmVzdGFydCBdXTsgdGhlbgogICAgc3RvcF9yZWxheQogICAgd3JpdGVfbWFya2VyICIkUkVT
VEFSVF9DT01QTEVURURfRklMRSIgIiRyZXN0YXJ0X2lkIgogICAgcm0gLWYgIiRSRVNUQVJUX1JF
UVVFU1RfRklMRSIKICAgIGxvZyAiTmV0d29yayBzZXR0aW5ncyBhcHBsaWVkOyByZXN0YXJ0aW5n
IHJlbGF5IgogICAgY29udGludWUKICBmaQoKICB3YWl0ICIkUkVMQVlfUElEIiB8fCB0cnVlCiAg
UkVMQVlfUElEPSIiCiAgd3JpdGVfc3RhdGUgcmV0cnlpbmctYWZ0ZXItZXhpdAogIGxvZyAiUmVs
YXkgcHJvY2VzcyBleGl0ZWQ7IHJldHJ5aW5nIgogIHNsZWVwIDMKZG9uZQo=
