IyEvYmluL3NoCnNldCAtZXUKCkNPTkZJR19ESVI9IiR7QlVaWl9DT05GSUdfRElSOi0vY29uZmln
fSIKUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiClJFTEFZX1NUT1BQ
RURfRklMRT0iJHtDT05GSUdfRElSfS9yZXNldC1yZWxheS1zdG9wcGVkIgpBQ0tfRElSPSIke0NP
TkZJR19ESVJ9L3Jlc2V0LWFja3MiCkJBQ0tVUF9SRVFVRVNUX0ZJTEU9IiR7Q09ORklHX0RJUn0v
YmFja3VwLXJlcXVlc3QiCkJBQ0tVUF9BQ0tfRElSPSIke0NPTkZJR19ESVJ9L2JhY2t1cC1hY2tz
IgpTRVJWSUNFPSIke0JVWlpfUkVTRVRfU0VSVklDRTo/c2V0IEJVWlpfUkVTRVRfU0VSVklDRX0i
CkNISUxEX1BJRD0iIgoKbG9nKCkgewogIHByaW50ZiAnW3VtYnJlbC1idXp6LSVzXSAlc1xuJyAi
JFNFUlZJQ0UiICIkKiIgPiYyCn0KCnJlYWRfbWFya2VyKCkgewogIGlmIFsgLWYgIiQxIiBdOyB0
aGVuCiAgICBzZWQgLW4gJy9bXls6c3BhY2U6XV0vIHsgcy9bWzpzcGFjZTpdXS8vZzsgcDsgcTsg
fScgIiQxIgogIGZpCn0KCndyaXRlX21hcmtlcigpIHsKICBkZXN0aW5hdGlvbj0iJDEiCiAgdmFs
dWU9IiQyIgogIHRlbXBvcmFyeT0iJHtkZXN0aW5hdGlvbn0udG1wLiQkIgogIHByaW50ZiAnJXNc
bicgIiR2YWx1ZSIgPiAiJHRlbXBvcmFyeSIKICBtdiAiJHRlbXBvcmFyeSIgIiRkZXN0aW5hdGlv
biIKfQoKc2VydmljZV9wYXRocygpIHsKICBjYXNlICIkU0VSVklDRSIgaW4KICAgIHBvc3RncmVz
KQogICAgICBEQVRBX0RJUj0vdmFyL2xpYi9wb3N0Z3Jlc3FsL2RhdGEKICAgICAgQUNLX0ZJTEU9
IiR7QUNLX0RJUn0vcG9zdGdyZXMtcmVhZHkiCiAgICAgIDs7CiAgICByZWRpcykKICAgICAgREFU
QV9ESVI9L2RhdGEKICAgICAgQUNLX0ZJTEU9IiR7QUNLX0RJUn0vcmVkaXMtcmVhZHkiCiAgICAg
IDs7CiAgICBtaW5pbykKICAgICAgREFUQV9ESVI9L2RhdGEKICAgICAgQUNLX0ZJTEU9IiR7QUNL
X0RJUn0vbWluaW8tc3RvcmFnZS1yZWFkeSIKICAgICAgOzsKICAgICopCiAgICAgIGxvZyAiVW5z
dXBwb3J0ZWQgcmVzZXQgc2VydmljZTogJHtTRVJWSUNFfSIKICAgICAgZXhpdCA2NAogICAgICA7
OwogIGVzYWMKfQoKc3RhcnRfY2hpbGQoKSB7CiAgY2FzZSAiJFNFUlZJQ0UiIGluCiAgICBwb3N0
Z3JlcykKICAgICAgL3Vzci9sb2NhbC9iaW4vZG9ja2VyLWVudHJ5cG9pbnQuc2ggcG9zdGdyZXMg
JgogICAgICA7OwogICAgcmVkaXMpCiAgICAgIC91c3IvbG9jYWwvYmluL2RvY2tlci1lbnRyeXBv
aW50LnNoIFwKICAgICAgICByZWRpcy1zZXJ2ZXIgLS1hcHBlbmRvbmx5IHllcyAtLWFwcGVuZGZz
eW5jIGV2ZXJ5c2VjIFwKICAgICAgICAtLXJlcXVpcmVwYXNzICIkUkVESVNfUEFTU1dPUkQiICYK
ICAgICAgOzsKICAgIG1pbmlvKQogICAgICBtaW5pbyBzZXJ2ZXIgL2RhdGEgLS1jb25zb2xlLWFk
ZHJlc3MgIjo5MDAxIiAmCiAgICAgIDs7CiAgZXNhYwogIENISUxEX1BJRD0kIQogIGxvZyAiU3Rh
cnRlZCBwcm9jZXNzICR7Q0hJTERfUElEfSIKfQoKc3RvcF9jaGlsZCgpIHsKICBpZiBbIC1uICIk
Q0hJTERfUElEIiBdICYmIGtpbGwgLTAgIiRDSElMRF9QSUQiIDI+L2Rldi9udWxsOyB0aGVuCiAg
ICBsb2cgIlN0b3BwaW5nIHByb2Nlc3MgJHtDSElMRF9QSUR9IgogICAga2lsbCAtVEVSTSAiJENI
SUxEX1BJRCIKICAgIHdhaXQgIiRDSElMRF9QSUQiIHx8IHRydWUKICBmaQogIENISUxEX1BJRD0i
Igp9CgpzZXJ2aWNlX3JlYWR5KCkgewogIGNhc2UgIiRTRVJWSUNFIiBpbgogICAgcG9zdGdyZXMp
CiAgICAgIFBHUEFTU1dPUkQ9IiRQT1NUR1JFU19QQVNTV09SRCIgcHNxbCBcCiAgICAgICAgLWgg
MTI3LjAuMC4xIFwKICAgICAgICAtVSAiJFBPU1RHUkVTX1VTRVIiIFwKICAgICAgICAtZCAiJFBP
U1RHUkVTX0RCIiBcCiAgICAgICAgLUF0cWMgJ1NFTEVDVCAxJyAyPi9kZXYvbnVsbCB8IGdyZXAg
LXF4IDEKICAgICAgOzsKICAgIHJlZGlzKQogICAgICBSRURJU0NMSV9BVVRIPSIkUkVESVNfUEFT
U1dPUkQiIHJlZGlzLWNsaSBwaW5nIDI+L2Rldi9udWxsIHwgZ3JlcCAtcSBQT05HCiAgICAgIDs7
CiAgICBtaW5pbykKICAgICAgY3VybCAtZnNTIGh0dHA6Ly8xMjcuMC4wLjE6OTAwMC9taW5pby9o
ZWFsdGgvcmVhZHkgPi9kZXYvbnVsbCAyPiYxCiAgICAgIDs7CiAgZXNhYwp9Cgp3YWl0X3VudGls
X3JlYWR5KCkgewogIGF0dGVtcHRzPTAKICB3aGlsZSBraWxsIC0wICIkQ0hJTERfUElEIiAyPi9k
ZXYvbnVsbDsgZG8KICAgIGlmIHNlcnZpY2VfcmVhZHk7IHRoZW4KICAgICAgcmV0dXJuIDAKICAg
IGZpCiAgICBhdHRlbXB0cz0kKChhdHRlbXB0cyArIDEpKQogICAgaWYgWyAiJGF0dGVtcHRzIiAt
Z2UgMTIwIF07IHRoZW4KICAgICAgbG9nICJTZXJ2aWNlIGRpZCBub3QgYmVjb21lIHJlYWR5IGFm
dGVyIHJlc2V0IgogICAgICByZXR1cm4gMQogICAgZmkKICAgIHNsZWVwIDIKICBkb25lCiAgcmV0
dXJuIDEKfQoKY2xlYXJfZGF0YSgpIHsKICBjYXNlICIkREFUQV9ESVIiIGluCiAgICAvdmFyL2xp
Yi9wb3N0Z3Jlc3FsL2RhdGF8L2RhdGEpIDs7CiAgICAqKQogICAgICBsb2cgIlJlZnVzaW5nIHRv
IGNsZWFyIHVuZXhwZWN0ZWQgZGF0YSBkaXJlY3Rvcnk6ICR7REFUQV9ESVJ9IgogICAgICBleGl0
IDcwCiAgICAgIDs7CiAgZXNhYwogIGxvZyAiQ2xlYXJpbmcgYXBwbGljYXRpb24gZGF0YSBpbiAk
e0RBVEFfRElSfSIKICBmaW5kICIkREFUQV9ESVIiIC1taW5kZXB0aCAxIC1tYXhkZXB0aCAxIC1l
eGVjIHJtIC1yZiAtLSB7fSArCn0KCnBlcmZvcm1fcmVzZXQoKSB7CiAgcmVxdWVzdF9pZD0iJDEi
CiAgbG9nICJSZXNldCAke3JlcXVlc3RfaWR9IHdhaXRpbmcgZm9yIHJlbGF5IHNodXRkb3duIgog
IHdoaWxlIFsgIiQocmVhZF9tYXJrZXIgIiRSRUxBWV9TVE9QUEVEX0ZJTEUiKSIgIT0gIiRyZXF1
ZXN0X2lkIiBdOyBkbwogICAgaWYgWyAiJChyZWFkX21hcmtlciAiJFJFUVVFU1RfRklMRSIpIiAh
PSAiJHJlcXVlc3RfaWQiIF07IHRoZW4KICAgICAgbG9nICJSZXNldCByZXF1ZXN0IHdhcyBjYW5j
ZWxsZWQgYmVmb3JlIHJlbGF5IHNodXRkb3duIgogICAgICByZXR1cm4gMAogICAgZmkKICAgIHNs
ZWVwIDEKICBkb25lCgogIHN0b3BfY2hpbGQKICBpZiAhIGNsZWFyX2RhdGE7IHRoZW4KICAgIGxv
ZyAiUmVzZXQgJHtyZXF1ZXN0X2lkfSBjb3VsZCBub3QgY2xlYXIgJHtEQVRBX0RJUn0iCiAgICBy
ZXR1cm4gMQogIGZpCiAgc3RhcnRfY2hpbGQKICBpZiAhIHdhaXRfdW50aWxfcmVhZHk7IHRoZW4K
ICAgIHN0b3BfY2hpbGQKICAgIHJldHVybiAxCiAgZmkKICB3cml0ZV9tYXJrZXIgIiRBQ0tfRklM
RSIgIiRyZXF1ZXN0X2lkIgogIGxvZyAiUmVzZXQgJHtyZXF1ZXN0X2lkfSBjb21wbGV0ZSIKfQoK
cGF1c2VfZm9yX2JhY2t1cCgpIHsKICByZXF1ZXN0X2lkPSIkMSIKICBiYWNrdXBfYWNrX2ZpbGU9
IiR7QkFDS1VQX0FDS19ESVJ9LyR7U0VSVklDRX0tc3RvcHBlZCIKICBzdG9wX2NoaWxkCiAgd3Jp
dGVfbWFya2VyICIkYmFja3VwX2Fja19maWxlIiAiJHJlcXVlc3RfaWQiCiAgbG9nICJQYXVzZWQg
Zm9yIGJhY2t1cCAke3JlcXVlc3RfaWR9IgogIHdoaWxlIFsgIiQocmVhZF9tYXJrZXIgIiRCQUNL
VVBfUkVRVUVTVF9GSUxFIikiID0gIiRyZXF1ZXN0X2lkIiBdOyBkbwogICAgc2xlZXAgMQogIGRv
bmUKICBzdGFydF9jaGlsZAogIGlmICEgd2FpdF91bnRpbF9yZWFkeTsgdGhlbgogICAgc3RvcF9j
aGlsZAogICAgcmV0dXJuIDEKICBmaQogIGxvZyAiUmVzdW1lZCBhZnRlciBiYWNrdXAgJHtyZXF1
ZXN0X2lkfSIKfQoKc2h1dGRvd24oKSB7CiAgc3RvcF9jaGlsZAogIGV4aXQgMAp9Cgp0cmFwIHNo
dXRkb3duIElOVCBURVJNCnNlcnZpY2VfcGF0aHMKbWtkaXIgLXAgIiRBQ0tfRElSIiAiJEJBQ0tV
UF9BQ0tfRElSIiAiJERBVEFfRElSIgpzdGFydF9jaGlsZAoKd2hpbGUgdHJ1ZTsgZG8KICBpZiAh
IGtpbGwgLTAgIiRDSElMRF9QSUQiIDI+L2Rldi9udWxsOyB0aGVuCiAgICB3YWl0ICIkQ0hJTERf
UElEIiB8fCB0cnVlCiAgICBsb2cgIlNlcnZpY2UgcHJvY2VzcyBleGl0ZWQ7IHJlc3RhcnRpbmci
CiAgICBzbGVlcCAyCiAgICBzdGFydF9jaGlsZAogIGZpCgogIHJlcXVlc3RfaWQ9IiQocmVhZF9t
YXJrZXIgIiRSRVFVRVNUX0ZJTEUiKSIKICBpZiBbIC1uICIkcmVxdWVzdF9pZCIgXSAmJiBbICIk
KHJlYWRfbWFya2VyICIkQUNLX0ZJTEUiKSIgIT0gIiRyZXF1ZXN0X2lkIiBdOyB0aGVuCiAgICBp
ZiAhIHBlcmZvcm1fcmVzZXQgIiRyZXF1ZXN0X2lkIjsgdGhlbgogICAgICBsb2cgIlJlc2V0ICR7
cmVxdWVzdF9pZH0gZmFpbGVkOyByZXRyeWluZyIKICAgICAgc2xlZXAgMwogICAgICBpZiBbIC16
ICIkQ0hJTERfUElEIiBdOyB0aGVuCiAgICAgICAgc3RhcnRfY2hpbGQKICAgICAgZmkKICAgIGZp
CiAgZmkKCiAgYmFja3VwX2lkPSIkKHJlYWRfbWFya2VyICIkQkFDS1VQX1JFUVVFU1RfRklMRSIp
IgogIGlmIFsgIiRTRVJWSUNFIiA9IG1pbmlvIF0gJiYgWyAtbiAiJGJhY2t1cF9pZCIgXSAmJiBb
ICIkKHJlYWRfbWFya2VyICIke0JBQ0tVUF9BQ0tfRElSfS8ke1NFUlZJQ0V9LXN0b3BwZWQiKSIg
IT0gIiRiYWNrdXBfaWQiIF07IHRoZW4KICAgIGlmICEgcGF1c2VfZm9yX2JhY2t1cCAiJGJhY2t1
cF9pZCI7IHRoZW4KICAgICAgbG9nICJCYWNrdXAgcGF1c2UgJHtiYWNrdXBfaWR9IGZhaWxlZDsg
cmV0cnlpbmcgc2VydmljZSBzdGFydCIKICAgICAgc2xlZXAgMwogICAgICBpZiBbIC16ICIkQ0hJ
TERfUElEIiBdOyB0aGVuCiAgICAgICAgc3RhcnRfY2hpbGQKICAgICAgZmkKICAgIGZpCiAgZmkK
ICBzbGVlcCAyCmRvbmUK
