IyEvdXNyL2Jpbi9lbnYgcHl0aG9uMwoiIiJMb2NhbCBjb25maWd1cmF0aW9uIFVJIGZvciB0aGUg
VW1icmVsIEJ1enogcmVsYXkgcGFja2FnZS4iIiIKCmZyb20gX19mdXR1cmVfXyBpbXBvcnQgYW5u
b3RhdGlvbnMKCmltcG9ydCBoYXNobGliCmltcG9ydCBodHRwLmNsaWVudAppbXBvcnQganNvbgpp
bXBvcnQgbWltZXR5cGVzCmltcG9ydCBvcwppbXBvcnQgcmUKaW1wb3J0IHRlbXBmaWxlCmltcG9y
dCB0aHJlYWRpbmcKaW1wb3J0IHV1aWQKZnJvbSBodHRwIGltcG9ydCBIVFRQU3RhdHVzCmZyb20g
aHR0cC5zZXJ2ZXIgaW1wb3J0IEJhc2VIVFRQUmVxdWVzdEhhbmRsZXIsIFRocmVhZGluZ0hUVFBT
ZXJ2ZXIKZnJvbSBwYXRobGliIGltcG9ydCBQYXRoCmZyb20gdXJsbGliLnBhcnNlIGltcG9ydCB1
cmxzcGxpdAoKCkNPTkZJR19ESVIgPSBQYXRoKG9zLmVudmlyb24uZ2V0KCJCVVpaX0NPTkZJR19E
SVIiLCAiL2NvbmZpZyIpKQpTVEFUSUNfRElSID0gUGF0aChvcy5lbnZpcm9uLmdldCgiQlVaWl9T
RVRVUF9TVEFUSUNfRElSIiwgIi9hcHAvc3RhdGljIikpClJFTEFZX0hFQUxUSF9IT1NUID0gb3Mu
ZW52aXJvbi5nZXQoIkJVWlpfUkVMQVlfSEVBTFRIX0hPU1QiLCAiYnV6ei1yZWxheV9yZWxheV8x
IikKUkVMQVlfSEVBTFRIX1BPUlQgPSBpbnQob3MuZW52aXJvbi5nZXQoIkJVWlpfUkVMQVlfSEVB
TFRIX1BPUlQiLCAiODA4MCIpKQpERUZBVUxUX1JFTEFZX1VSTCA9IG9zLmVudmlyb24uZ2V0KCJC
VVpaX0RFRkFVTFRfUkVMQVlfVVJMIiwgIiIpCgpPV05FUl9GSUxFID0gQ09ORklHX0RJUiAvICJy
ZWxheS1vd25lci1wdWJrZXkiClBFTkRJTkdfT1dORVJfRklMRSA9IENPTkZJR19ESVIgLyAicGVu
ZGluZy1vd25lci1wdWJrZXkiClJFTEFZX1VSTF9GSUxFID0gQ09ORklHX0RJUiAvICJyZWxheS11
cmwiCk1FRElBX1VSTF9GSUxFID0gQ09ORklHX0RJUiAvICJtZWRpYS1iYXNlLXVybCIKQ09SU19G
SUxFID0gQ09ORklHX0RJUiAvICJjb3JzLW9yaWdpbnMiCkNPTU1VTklUWV9NT0RFX0ZJTEUgPSBD
T05GSUdfRElSIC8gImNvbW11bml0eS1tb2RlIgpSRVNFVF9SRVFVRVNUX0ZJTEUgPSBDT05GSUdf
RElSIC8gInJlc2V0LXJlcXVlc3QiClJFU0VUX0NPTVBMRVRFRF9GSUxFID0gQ09ORklHX0RJUiAv
ICJyZXNldC1jb21wbGV0ZWQiClJFU0VUX0VSUk9SX0ZJTEUgPSBDT05GSUdfRElSIC8gInJlc2V0
LWVycm9yIgpSRVNUQVJUX1JFUVVFU1RfRklMRSA9IENPTkZJR19ESVIgLyAicmVzdGFydC1yZXF1
ZXN0IgpSRVNUQVJUX0NPTVBMRVRFRF9GSUxFID0gQ09ORklHX0RJUiAvICJyZXN0YXJ0LWNvbXBs
ZXRlZCIKUkVMQVlfU1RBVEVfRklMRSA9IENPTkZJR19ESVIgLyAicmVsYXktc3RhdGUiCgpIRVhf
S0VZX1JFID0gcmUuY29tcGlsZShyIl5bMC05YS1mQS1GXXs2NH0kIikKQkVDSDMyX0NIQVJTRVQg
PSAicXB6cnk5eDhnZjJ0dmR3MHMzam41NGtoY2U2bXVhN2wiCkJFQ0gzMl9MT09LVVAgPSB7Y2hh
cjogaW5kZXggZm9yIGluZGV4LCBjaGFyIGluIGVudW1lcmF0ZShCRUNIMzJfQ0hBUlNFVCl9CldS
SVRFX0xPQ0sgPSB0aHJlYWRpbmcuTG9jaygpCkRFU0tUT1BfT1JJR0lOUyA9ICgidGF1cmk6Ly9s
b2NhbGhvc3QiLCAiaHR0cDovL3RhdXJpLmxvY2FsaG9zdCIpCgoKY2xhc3MgSW5wdXRFcnJvcihW
YWx1ZUVycm9yKToKICAgICIiIkEgc2FmZSB2YWxpZGF0aW9uIGVycm9yIHRoYXQgY2FuIGJlIHJl
dHVybmVkIHRvIHRoZSBVSS4iIiIKCgpkZWYgcmVhZF9maXJzdF9saW5lKHBhdGg6IFBhdGgpIC0+
IHN0cjoKICAgIHRyeToKICAgICAgICBmb3IgbGluZSBpbiBwYXRoLnJlYWRfdGV4dChlbmNvZGlu
Zz0idXRmLTgiKS5zcGxpdGxpbmVzKCk6CiAgICAgICAgICAgIHZhbHVlID0gbGluZS5zdHJpcCgp
CiAgICAgICAgICAgIGlmIHZhbHVlIGFuZCBub3QgdmFsdWUuc3RhcnRzd2l0aCgiIyIpOgogICAg
ICAgICAgICAgICAgcmV0dXJuIHZhbHVlCiAgICBleGNlcHQgRmlsZU5vdEZvdW5kRXJyb3I6CiAg
ICAgICAgcGFzcwogICAgcmV0dXJuICIiCgoKZGVmIGF0b21pY193cml0ZShwYXRoOiBQYXRoLCB2
YWx1ZTogc3RyLCBtb2RlOiBpbnQgPSAwbzYwMCkgLT4gTm9uZToKICAgIHBhdGgucGFyZW50Lm1r
ZGlyKHBhcmVudHM9VHJ1ZSwgZXhpc3Rfb2s9VHJ1ZSkKICAgIGRlc2NyaXB0b3IsIHRlbXBvcmFy
eSA9IHRlbXBmaWxlLm1rc3RlbXAocHJlZml4PWYiLntwYXRoLm5hbWV9LiIsIGRpcj1wYXRoLnBh
cmVudCkKICAgIHRyeToKICAgICAgICB3aXRoIG9zLmZkb3BlbihkZXNjcmlwdG9yLCAidyIsIGVu
Y29kaW5nPSJ1dGYtOCIpIGFzIGhhbmRsZToKICAgICAgICAgICAgaGFuZGxlLndyaXRlKHZhbHVl
LnJzdHJpcCgiXG4iKSArICJcbiIpCiAgICAgICAgICAgIGhhbmRsZS5mbHVzaCgpCiAgICAgICAg
ICAgIG9zLmZzeW5jKGhhbmRsZS5maWxlbm8oKSkKICAgICAgICBvcy5jaG1vZCh0ZW1wb3Jhcnks
IG1vZGUpCiAgICAgICAgb3MucmVwbGFjZSh0ZW1wb3JhcnksIHBhdGgpCiAgICBmaW5hbGx5Ogog
ICAgICAgIHRyeToKICAgICAgICAgICAgb3MudW5saW5rKHRlbXBvcmFyeSkKICAgICAgICBleGNl
cHQgRmlsZU5vdEZvdW5kRXJyb3I6CiAgICAgICAgICAgIHBhc3MKCgpkZWYgYmVjaDMyX3BvbHlt
b2QodmFsdWVzOiBsaXN0W2ludF0pIC0+IGludDoKICAgIGdlbmVyYXRvcnMgPSAoMHgzQjZBNTdC
MiwgMHgyNjUwOEU2RCwgMHgxRUExMTlGQSwgMHgzRDQyMzNERCwgMHgyQTE0NjJCMykKICAgIGNo
ZWNrc3VtID0gMQogICAgZm9yIHZhbHVlIGluIHZhbHVlczoKICAgICAgICB0b3AgPSBjaGVja3N1
bSA+PiAyNQogICAgICAgIGNoZWNrc3VtID0gKChjaGVja3N1bSAmIDB4MUZGRkZGRikgPDwgNSkg
XiB2YWx1ZQogICAgICAgIGZvciBpbmRleCwgZ2VuZXJhdG9yIGluIGVudW1lcmF0ZShnZW5lcmF0
b3JzKToKICAgICAgICAgICAgaWYgKHRvcCA+PiBpbmRleCkgJiAxOgogICAgICAgICAgICAgICAg
Y2hlY2tzdW0gXj0gZ2VuZXJhdG9yCiAgICByZXR1cm4gY2hlY2tzdW0KCgpkZWYgYmVjaDMyX2hy
cF9leHBhbmQoaHJwOiBzdHIpIC0+IGxpc3RbaW50XToKICAgIHJldHVybiBbb3JkKGNoYXIpID4+
IDUgZm9yIGNoYXIgaW4gaHJwXSArIFswXSArIFtvcmQoY2hhcikgJiAzMSBmb3IgY2hhciBpbiBo
cnBdCgoKZGVmIGJlY2gzMl9jaGVja3N1bShocnA6IHN0ciwgZGF0YTogbGlzdFtpbnRdKSAtPiBs
aXN0W2ludF06CiAgICB2YWx1ZXMgPSBiZWNoMzJfaHJwX2V4cGFuZChocnApICsgZGF0YSArIFsw
XSAqIDYKICAgIHBvbHltb2QgPSBiZWNoMzJfcG9seW1vZCh2YWx1ZXMpIF4gMQogICAgcmV0dXJu
IFsocG9seW1vZCA+PiAoNSAqICg1IC0gaW5kZXgpKSkgJiAzMSBmb3IgaW5kZXggaW4gcmFuZ2Uo
NildCgoKZGVmIGNvbnZlcnRfYml0cygKICAgIHZhbHVlczogYnl0ZXMgfCBsaXN0W2ludF0sIGZy
b21fYml0czogaW50LCB0b19iaXRzOiBpbnQsIHBhZDogYm9vbAopIC0+IGxpc3RbaW50XToKICAg
IGFjY3VtdWxhdG9yID0gMAogICAgYml0X2NvdW50ID0gMAogICAgcmVzdWx0OiBsaXN0W2ludF0g
PSBbXQogICAgbWF4aW11bV92YWx1ZSA9ICgxIDw8IHRvX2JpdHMpIC0gMQogICAgbWF4aW11bV9h
Y2N1bXVsYXRvciA9ICgxIDw8IChmcm9tX2JpdHMgKyB0b19iaXRzIC0gMSkpIC0gMQogICAgZm9y
IHZhbHVlIGluIHZhbHVlczoKICAgICAgICBpZiB2YWx1ZSA8IDAgb3IgdmFsdWUgPj4gZnJvbV9i
aXRzOgogICAgICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJJbnZhbGlkIEJlY2gzMiBkYXRhLiIp
CiAgICAgICAgYWNjdW11bGF0b3IgPSAoKGFjY3VtdWxhdG9yIDw8IGZyb21fYml0cykgfCB2YWx1
ZSkgJiBtYXhpbXVtX2FjY3VtdWxhdG9yCiAgICAgICAgYml0X2NvdW50ICs9IGZyb21fYml0cwog
ICAgICAgIHdoaWxlIGJpdF9jb3VudCA+PSB0b19iaXRzOgogICAgICAgICAgICBiaXRfY291bnQg
LT0gdG9fYml0cwogICAgICAgICAgICByZXN1bHQuYXBwZW5kKChhY2N1bXVsYXRvciA+PiBiaXRf
Y291bnQpICYgbWF4aW11bV92YWx1ZSkKICAgIGlmIHBhZDoKICAgICAgICBpZiBiaXRfY291bnQ6
CiAgICAgICAgICAgIHJlc3VsdC5hcHBlbmQoKGFjY3VtdWxhdG9yIDw8ICh0b19iaXRzIC0gYml0
X2NvdW50KSkgJiBtYXhpbXVtX3ZhbHVlKQogICAgZWxpZiBiaXRfY291bnQgPj0gZnJvbV9iaXRz
IG9yICgoYWNjdW11bGF0b3IgPDwgKHRvX2JpdHMgLSBiaXRfY291bnQpKSAmIG1heGltdW1fdmFs
dWUpOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoIkludmFsaWQgQmVjaDMyIHBhZGRpbmcuIikK
ICAgIHJldHVybiByZXN1bHQKCgpkZWYgYmVjaDMyX2VuY29kZShocnA6IHN0ciwgcGF5bG9hZDog
Ynl0ZXMpIC0+IHN0cjoKICAgIGRhdGEgPSBjb252ZXJ0X2JpdHMocGF5bG9hZCwgOCwgNSwgVHJ1
ZSkKICAgIGNvbWJpbmVkID0gZGF0YSArIGJlY2gzMl9jaGVja3N1bShocnAsIGRhdGEpCiAgICBy
ZXR1cm4gaHJwICsgIjEiICsgIiIuam9pbihCRUNIMzJfQ0hBUlNFVFt2YWx1ZV0gZm9yIHZhbHVl
IGluIGNvbWJpbmVkKQoKCmRlZiBiZWNoMzJfZGVjb2RlKHZhbHVlOiBzdHIpIC0+IHR1cGxlW3N0
ciwgYnl0ZXNdOgogICAgaWYgbm90IHZhbHVlIG9yICh2YWx1ZS5sb3dlcigpICE9IHZhbHVlIGFu
ZCB2YWx1ZS51cHBlcigpICE9IHZhbHVlKToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJUaGUg
bnB1YiBtdXN0IG5vdCBtaXggdXBwZXJjYXNlIGFuZCBsb3dlcmNhc2UgY2hhcmFjdGVycy4iKQog
ICAgbm9ybWFsaXplZCA9IHZhbHVlLmxvd2VyKCkKICAgIHNlcGFyYXRvciA9IG5vcm1hbGl6ZWQu
cmZpbmQoIjEiKQogICAgaWYgc2VwYXJhdG9yIDwgMSBvciBzZXBhcmF0b3IgKyA3ID4gbGVuKG5v
cm1hbGl6ZWQpOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoIkludmFsaWQgQmVjaDMyIHB1Ymxp
YyBrZXkuIikKICAgIGhycCA9IG5vcm1hbGl6ZWRbOnNlcGFyYXRvcl0KICAgIHRyeToKICAgICAg
ICBkYXRhID0gW0JFQ0gzMl9MT09LVVBbY2hhcl0gZm9yIGNoYXIgaW4gbm9ybWFsaXplZFtzZXBh
cmF0b3IgKyAxIDpdXQogICAgZXhjZXB0IEtleUVycm9yIGFzIGV4YzoKICAgICAgICByYWlzZSBJ
bnB1dEVycm9yKCJJbnZhbGlkIEJlY2gzMiBwdWJsaWMga2V5LiIpIGZyb20gZXhjCiAgICBpZiBi
ZWNoMzJfcG9seW1vZChiZWNoMzJfaHJwX2V4cGFuZChocnApICsgZGF0YSkgIT0gMToKICAgICAg
ICByYWlzZSBJbnB1dEVycm9yKCJUaGUgbnB1YiBjaGVja3N1bSBpcyBpbnZhbGlkLiIpCiAgICBw
YXlsb2FkID0gYnl0ZXMoY29udmVydF9iaXRzKGRhdGFbOi02XSwgNSwgOCwgRmFsc2UpKQogICAg
cmV0dXJuIGhycCwgcGF5bG9hZAoKCmRlZiBwYXJzZV9wdWJsaWNfa2V5KHJhd192YWx1ZTogb2Jq
ZWN0KSAtPiB0dXBsZVtzdHIsIHN0ciwgYm9vbF06CiAgICBpZiBub3QgaXNpbnN0YW5jZShyYXdf
dmFsdWUsIHN0cik6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiRW50ZXIgYSBOb3N0ciBwdWJs
aWMga2V5LiIpCiAgICB2YWx1ZSA9IHJhd192YWx1ZS5zdHJpcCgpCiAgICBpZiB2YWx1ZS5sb3dl
cigpLnN0YXJ0c3dpdGgoIm5vc3RyOiIpOgogICAgICAgIHZhbHVlID0gdmFsdWVbNjpdCiAgICBs
b3dlcmVkID0gdmFsdWUubG93ZXIoKQogICAgaWYgbG93ZXJlZC5zdGFydHN3aXRoKCJuc2VjIikg
b3IgInByaXZhdGUga2V5IiBpbiBsb3dlcmVkOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlBy
aXZhdGUga2V5cyBhbmQgbnNlYyB2YWx1ZXMgYXJlIHJlamVjdGVkLiBFbnRlciBhbiBucHViIG9y
IHB1YmxpYy1rZXkgaGV4LiIpCiAgICBpZiBIRVhfS0VZX1JFLmZ1bGxtYXRjaCh2YWx1ZSk6CiAg
ICAgICAgcHVibGljX2hleCA9IHZhbHVlLmxvd2VyKCkKICAgICAgICByZXR1cm4gcHVibGljX2hl
eCwgYmVjaDMyX2VuY29kZSgibnB1YiIsIGJ5dGVzLmZyb21oZXgocHVibGljX2hleCkpLCBUcnVl
CiAgICBpZiBsb3dlcmVkLnN0YXJ0c3dpdGgoIm5wdWIxIik6CiAgICAgICAgaHJwLCBwYXlsb2Fk
ID0gYmVjaDMyX2RlY29kZSh2YWx1ZSkKICAgICAgICBpZiBocnAgIT0gIm5wdWIiIG9yIGxlbihw
YXlsb2FkKSAhPSAzMjoKICAgICAgICAgICAgcmFpc2UgSW5wdXRFcnJvcigiRW50ZXIgYSB2YWxp
ZCAzMi1ieXRlIG5wdWIuIikKICAgICAgICByZXR1cm4gcGF5bG9hZC5oZXgoKSwgYmVjaDMyX2Vu
Y29kZSgibnB1YiIsIHBheWxvYWQpLCBGYWxzZQogICAgcmFpc2UgSW5wdXRFcnJvcigiRW50ZXIg
YW4gbnB1YiBvciBhIDY0LWNoYXJhY3RlciBoZXhhZGVjaW1hbCBOb3N0ciBwdWJsaWMga2V5LiIp
CgoKZGVmIHZhbGlkYXRlX3JlbGF5X3VybChyYXdfdmFsdWU6IG9iamVjdCkgLT4gc3RyOgogICAg
aWYgbm90IGlzaW5zdGFuY2UocmF3X3ZhbHVlLCBzdHIpIG9yIG5vdCByYXdfdmFsdWUuc3RyaXAo
KToKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJSZWxheSBVUkwgaXMgcmVxdWlyZWQuIikKICAg
IHZhbHVlID0gcmF3X3ZhbHVlLnN0cmlwKCkKICAgIHRyeToKICAgICAgICBwYXJzZWQgPSB1cmxz
cGxpdCh2YWx1ZSkKICAgICAgICBfID0gcGFyc2VkLnBvcnQKICAgIGV4Y2VwdCBWYWx1ZUVycm9y
IGFzIGV4YzoKICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJSZWxheSBVUkwgaGFzIGFuIGludmFs
aWQgaG9zdCBvciBwb3J0LiIpIGZyb20gZXhjCiAgICBpZiBwYXJzZWQuc2NoZW1lIG5vdCBpbiB7
IndzIiwgIndzcyJ9IG9yIG5vdCBwYXJzZWQuaG9zdG5hbWU6CiAgICAgICAgcmFpc2UgSW5wdXRF
cnJvcigiUmVsYXkgVVJMIG11c3Qgc3RhcnQgd2l0aCB3czovLyBvciB3c3M6Ly8gYW5kIGluY2x1
ZGUgYSBob3N0LiIpCiAgICBpZiBwYXJzZWQudXNlcm5hbWUgb3IgcGFyc2VkLnBhc3N3b3JkIG9y
IHBhcnNlZC5xdWVyeSBvciBwYXJzZWQuZnJhZ21lbnQ6CiAgICAgICAgcmFpc2UgSW5wdXRFcnJv
cigiUmVsYXkgVVJMIGNhbm5vdCBjb250YWluIGNyZWRlbnRpYWxzLCBhIHF1ZXJ5LCBvciBhIGZy
YWdtZW50LiIpCiAgICBpZiBwYXJzZWQucGF0aCBub3QgaW4geyIiLCAiLyJ9OgogICAgICAgIHJh
aXNlIElucHV0RXJyb3IoIlRoaXMgcGFja2FnZSBleHBvc2VzIEJ1enogYXQgdGhlIGhvc3RuYW1l
IHJvb3Q7IHJlbW92ZSB0aGUgVVJMIHBhdGguIikKICAgIHJldHVybiBmIntwYXJzZWQuc2NoZW1l
fTovL3twYXJzZWQubmV0bG9jfSIKCgpkZWYgZGVyaXZlX3J1bnRpbWVfdXJscyhyZWxheV91cmw6
IHN0cikgLT4gdHVwbGVbc3RyLCBzdHJdOgogICAgcGFyc2VkID0gdXJsc3BsaXQodmFsaWRhdGVf
cmVsYXlfdXJsKHJlbGF5X3VybCkpCiAgICBodHRwX3NjaGVtZSA9ICJodHRwcyIgaWYgcGFyc2Vk
LnNjaGVtZSA9PSAid3NzIiBlbHNlICJodHRwIgogICAgb3JpZ2luID0gZiJ7aHR0cF9zY2hlbWV9
Oi8ve3BhcnNlZC5uZXRsb2N9IgogICAgY29yc19vcmlnaW5zID0gIiwiLmpvaW4oKG9yaWdpbiwg
KkRFU0tUT1BfT1JJR0lOUykpCiAgICByZXR1cm4gZiJ7b3JpZ2lufS9tZWRpYSIsIGNvcnNfb3Jp
Z2lucwoKCmRlZiBzZWxlY3RfY29tbXVuaXR5X3VybChwYXlsb2FkOiBkaWN0W3N0ciwgb2JqZWN0
XSkgLT4gdHVwbGVbc3RyLCBzdHJdOgogICAgbW9kZSA9IHBheWxvYWQuZ2V0KCJjb21tdW5pdHlN
b2RlIikKICAgIGlmIG1vZGUgPT0gImxvY2FsIjoKICAgICAgICBpZiBub3QgREVGQVVMVF9SRUxB
WV9VUkw6CiAgICAgICAgICAgIHJhaXNlIElucHV0RXJyb3IoIlRoZSBsb2NhbCBDb21tdW5pdHkg
VVJMIGNvdWxkIG5vdCBiZSBkaXNjb3ZlcmVkLiIpCiAgICAgICAgcmV0dXJuIG1vZGUsIHZhbGlk
YXRlX3JlbGF5X3VybChERUZBVUxUX1JFTEFZX1VSTCkKICAgIGlmIG1vZGUgPT0gInB1YmxpYyI6
CiAgICAgICAgcmVsYXlfdXJsID0gdmFsaWRhdGVfcmVsYXlfdXJsKHBheWxvYWQuZ2V0KCJjb21t
dW5pdHlVcmwiKSkKICAgICAgICBpZiBub3QgcmVsYXlfdXJsLnN0YXJ0c3dpdGgoIndzczovLyIp
OgogICAgICAgICAgICByYWlzZSBJbnB1dEVycm9yKCJBIHB1YmxpYyBDb21tdW5pdHkgVVJMIG11
c3Qgc3RhcnQgd2l0aCB3c3M6Ly8uIikKICAgICAgICByZXR1cm4gbW9kZSwgcmVsYXlfdXJsCiAg
ICByYWlzZSBJbnB1dEVycm9yKCJDaG9vc2UgTG9jYWwgdGVzdGluZyBvciBQdWJsaWMgY29tbXVu
aXR5LiIpCgoKZGVmIHJlbGF5X2lzX3JlYWR5KCkgLT4gYm9vbDoKICAgIGNvbm5lY3Rpb246IGh0
dHAuY2xpZW50LkhUVFBDb25uZWN0aW9uIHwgTm9uZSA9IE5vbmUKICAgIHRyeToKICAgICAgICBj
b25uZWN0aW9uID0gaHR0cC5jbGllbnQuSFRUUENvbm5lY3Rpb24oCiAgICAgICAgICAgIFJFTEFZ
X0hFQUxUSF9IT1NULCBSRUxBWV9IRUFMVEhfUE9SVCwgdGltZW91dD0wLjc1CiAgICAgICAgKQog
ICAgICAgIGNvbm5lY3Rpb24ucmVxdWVzdCgiR0VUIiwgIi9fcmVhZGluZXNzIikKICAgICAgICBy
ZXR1cm4gY29ubmVjdGlvbi5nZXRyZXNwb25zZSgpLnN0YXR1cyA9PSBIVFRQU3RhdHVzLk9LCiAg
ICBleGNlcHQgKE9TRXJyb3IsIGh0dHAuY2xpZW50LkhUVFBFeGNlcHRpb24pOgogICAgICAgIHJl
dHVybiBGYWxzZQogICAgZmluYWxseToKICAgICAgICBpZiBjb25uZWN0aW9uOgogICAgICAgICAg
ICBjb25uZWN0aW9uLmNsb3NlKCkKCgpkZWYgY3VycmVudF9rZXkoKSAtPiB0dXBsZVtzdHIsIHN0
cl0gfCBOb25lOgogICAgdmFsdWUgPSByZWFkX2ZpcnN0X2xpbmUoT1dORVJfRklMRSkKICAgIHRy
eToKICAgICAgICBwdWJsaWNfaGV4LCBucHViLCBfID0gcGFyc2VfcHVibGljX2tleSh2YWx1ZSkK
ICAgICAgICByZXR1cm4gcHVibGljX2hleCwgbnB1YgogICAgZXhjZXB0IElucHV0RXJyb3I6CiAg
ICAgICAgcmV0dXJuIE5vbmUKCgpkZWYgc3RhdHVzX3BheWxvYWQoKSAtPiBkaWN0W3N0ciwgb2Jq
ZWN0XToKICAgIGtleSA9IGN1cnJlbnRfa2V5KCkKICAgIHJlbGF5X3VybCA9IHJlYWRfZmlyc3Rf
bGluZShSRUxBWV9VUkxfRklMRSkKICAgIHN0b3JlZF9tb2RlID0gcmVhZF9maXJzdF9saW5lKENP
TU1VTklUWV9NT0RFX0ZJTEUpCiAgICB0cnk6CiAgICAgICAgbG9jYWxfdXJsID0gdmFsaWRhdGVf
cmVsYXlfdXJsKERFRkFVTFRfUkVMQVlfVVJMKSBpZiBERUZBVUxUX1JFTEFZX1VSTCBlbHNlICIi
CiAgICBleGNlcHQgSW5wdXRFcnJvcjoKICAgICAgICBsb2NhbF91cmwgPSAiIgogICAgaWYgc3Rv
cmVkX21vZGUgbm90IGluIHsibG9jYWwiLCAicHVibGljIn06CiAgICAgICAgc3RvcmVkX21vZGUg
PSAibG9jYWwiIGlmIG5vdCByZWxheV91cmwgb3IgcmVsYXlfdXJsID09IGxvY2FsX3VybCBlbHNl
ICJwdWJsaWMiCiAgICByZXNldF9pZCA9IHJlYWRfZmlyc3RfbGluZShSRVNFVF9SRVFVRVNUX0ZJ
TEUpCiAgICByZXN0YXJ0X2lkID0gcmVhZF9maXJzdF9saW5lKFJFU1RBUlRfUkVRVUVTVF9GSUxF
KQogICAgc3RhdGUgPSByZWFkX2ZpcnN0X2xpbmUoUkVMQVlfU1RBVEVfRklMRSkgb3IgKCJ3YWl0
aW5nLWZvci1jb25maWd1cmF0aW9uIiBpZiBub3Qga2V5IGVsc2UgInN0YXJ0aW5nIikKICAgIHJl
dHVybiB7CiAgICAgICAgImNvbmZpZ3VyZWQiOiBrZXkgaXMgbm90IE5vbmUgYW5kIGJvb2wocmVs
YXlfdXJsKSwKICAgICAgICAib3duZXJDb25maWd1cmVkIjoga2V5IGlzIG5vdCBOb25lLAogICAg
ICAgICJvd25lckhleCI6IGtleVswXSBpZiBrZXkgZWxzZSAiIiwKICAgICAgICAib3duZXJOcHVi
Ijoga2V5WzFdIGlmIGtleSBlbHNlICIiLAogICAgICAgICJsb2NhbENvbW11bml0eVVybCI6IGxv
Y2FsX3VybCwKICAgICAgICAiY29tbXVuaXR5TW9kZSI6IHN0b3JlZF9tb2RlLAogICAgICAgICJj
b21tdW5pdHlVcmwiOiByZWxheV91cmwsCiAgICAgICAgInJlbGF5UmVhZHkiOiBib29sKGtleSkg
YW5kIGJvb2wocmVsYXlfdXJsKSBhbmQgcmVsYXlfaXNfcmVhZHkoKSwKICAgICAgICAicmVsYXlT
dGF0ZSI6IHN0YXRlLAogICAgICAgICJyZXNldHRpbmciOiBib29sKHJlc2V0X2lkKSwKICAgICAg
ICAicmVzZXRSZXF1ZXN0SWQiOiByZXNldF9pZCwKICAgICAgICAibGFzdFJlc2V0SWQiOiByZWFk
X2ZpcnN0X2xpbmUoUkVTRVRfQ09NUExFVEVEX0ZJTEUpLAogICAgICAgICJyZXNldEVycm9yIjog
cmVhZF9maXJzdF9saW5lKFJFU0VUX0VSUk9SX0ZJTEUpLAogICAgICAgICJyZXN0YXJ0aW5nIjog
Ym9vbChyZXN0YXJ0X2lkKSwKICAgICAgICAicmVzdGFydFJlcXVlc3RJZCI6IHJlc3RhcnRfaWQs
CiAgICAgICAgImxhc3RSZXN0YXJ0SWQiOiByZWFkX2ZpcnN0X2xpbmUoUkVTVEFSVF9DT01QTEVU
RURfRklMRSksCiAgICB9CgoKZGVmIGFwcGx5X2NvbmZpZ3VyYXRpb24ocGF5bG9hZDogZGljdFtz
dHIsIG9iamVjdF0pIC0+IHR1cGxlW2ludCwgZGljdFtzdHIsIG9iamVjdF1dOgogICAgcHVibGlj
X2hleCwgbnB1YiwgcmF3X2hleCA9IHBhcnNlX3B1YmxpY19rZXkocGF5bG9hZC5nZXQoIm93bmVy
S2V5IikpCiAgICBpZiByYXdfaGV4IGFuZCBwYXlsb2FkLmdldCgiY29uZmlybVB1YmxpY0hleCIp
IGlzIG5vdCBUcnVlOgogICAgICAgIHJhaXNlIElucHV0RXJyb3IoCiAgICAgICAgICAgICJBIHJh
dyA2NC1jaGFyYWN0ZXIgaGV4IHZhbHVlIGNhbiBiZSBlaXRoZXIgcHVibGljIG9yIHByaXZhdGUg
bWF0ZXJpYWwuIENvbmZpcm0gdGhhdCB0aGlzIHZhbHVlIGlzIGEgcHVibGljIGtleS4iCiAgICAg
ICAgKQogICAgY29tbXVuaXR5X21vZGUsIHJlbGF5X3VybCA9IHNlbGVjdF9jb21tdW5pdHlfdXJs
KHBheWxvYWQpCiAgICBtZWRpYV91cmwsIGNvcnNfb3JpZ2lucyA9IGRlcml2ZV9ydW50aW1lX3Vy
bHMocmVsYXlfdXJsKQoKICAgIHdpdGggV1JJVEVfTE9DSzoKICAgICAgICBleGlzdGluZyA9IGN1
cnJlbnRfa2V5KCkKICAgICAgICBleGlzdGluZ19oZXggPSBleGlzdGluZ1swXSBpZiBleGlzdGlu
ZyBlbHNlICIiCiAgICAgICAgbmV0d29ya19jaGFuZ2VkID0gYW55KAogICAgICAgICAgICAoCiAg
ICAgICAgICAgICAgICByZWFkX2ZpcnN0X2xpbmUoUkVMQVlfVVJMX0ZJTEUpICE9IHJlbGF5X3Vy
bCwKICAgICAgICAgICAgICAgIHJlYWRfZmlyc3RfbGluZShNRURJQV9VUkxfRklMRSkgIT0gbWVk
aWFfdXJsLAogICAgICAgICAgICAgICAgcmVhZF9maXJzdF9saW5lKENPUlNfRklMRSkgIT0gY29y
c19vcmlnaW5zLAogICAgICAgICAgICAgICAgcmVhZF9maXJzdF9saW5lKENPTU1VTklUWV9NT0RF
X0ZJTEUpICE9IGNvbW11bml0eV9tb2RlLAogICAgICAgICAgICApCiAgICAgICAgKQoKICAgICAg
ICBpZiBleGlzdGluZ19oZXggYW5kIGV4aXN0aW5nX2hleCAhPSBwdWJsaWNfaGV4OgogICAgICAg
ICAgICBpZiBwYXlsb2FkLmdldCgiY29uZmlybVJlc2V0IikgaXMgbm90IFRydWUgb3IgcGF5bG9h
ZC5nZXQoInJlc2V0UGhyYXNlIikgIT0gIlJFU0VUIjoKICAgICAgICAgICAgICAgIHJldHVybiBI
VFRQU3RhdHVzLkNPTkZMSUNULCB7CiAgICAgICAgICAgICAgICAgICAgImVycm9yIjogIkNoYW5n
aW5nIHRoZSBvd25lciByZXF1aXJlcyBhIGZ1bGwgZGF0YSByZXNldCBhbmQgdGhlIGV4YWN0IFJF
U0VUIGNvbmZpcm1hdGlvbi4iLAogICAgICAgICAgICAgICAgICAgICJyZXF1aXJlc1Jlc2V0Ijog
VHJ1ZSwKICAgICAgICAgICAgICAgIH0KICAgICAgICAgICAgaWYgcmVhZF9maXJzdF9saW5lKFJF
U0VUX1JFUVVFU1RfRklMRSk6CiAgICAgICAgICAgICAgICByZXR1cm4gSFRUUFN0YXR1cy5DT05G
TElDVCwgeyJlcnJvciI6ICJBIGRhdGEgcmVzZXQgaXMgYWxyZWFkeSBpbiBwcm9ncmVzcy4ifQog
ICAgICAgICAgICByZXF1ZXN0X2lkID0gdXVpZC51dWlkNCgpLmhleAogICAgICAgICAgICBhdG9t
aWNfd3JpdGUoUEVORElOR19PV05FUl9GSUxFLCBwdWJsaWNfaGV4KQogICAgICAgICAgICBhdG9t
aWNfd3JpdGUoUkVMQVlfVVJMX0ZJTEUsIHJlbGF5X3VybCkKICAgICAgICAgICAgYXRvbWljX3dy
aXRlKE1FRElBX1VSTF9GSUxFLCBtZWRpYV91cmwpCiAgICAgICAgICAgIGF0b21pY193cml0ZShD
T1JTX0ZJTEUsIGNvcnNfb3JpZ2lucykKICAgICAgICAgICAgYXRvbWljX3dyaXRlKENPTU1VTklU
WV9NT0RFX0ZJTEUsIGNvbW11bml0eV9tb2RlKQogICAgICAgICAgICBSRVNFVF9FUlJPUl9GSUxF
LnVubGluayhtaXNzaW5nX29rPVRydWUpCiAgICAgICAgICAgIGF0b21pY193cml0ZShSRVNFVF9S
RVFVRVNUX0ZJTEUsIHJlcXVlc3RfaWQpCiAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVzLkFD
Q0VQVEVELCB7CiAgICAgICAgICAgICAgICAibWVzc2FnZSI6ICJGdWxsIGFwcGxpY2F0aW9uIGRh
dGEgcmVzZXQgc3RhcnRlZC4iLAogICAgICAgICAgICAgICAgInJlc2V0UmVxdWVzdElkIjogcmVx
dWVzdF9pZCwKICAgICAgICAgICAgICAgICJvd25lckhleCI6IHB1YmxpY19oZXgsCiAgICAgICAg
ICAgICAgICAib3duZXJOcHViIjogbnB1YiwKICAgICAgICAgICAgICAgICJjb21tdW5pdHlVcmwi
OiByZWxheV91cmwsCiAgICAgICAgICAgIH0KCiAgICAgICAgYXRvbWljX3dyaXRlKFJFTEFZX1VS
TF9GSUxFLCByZWxheV91cmwpCiAgICAgICAgYXRvbWljX3dyaXRlKE1FRElBX1VSTF9GSUxFLCBt
ZWRpYV91cmwpCiAgICAgICAgYXRvbWljX3dyaXRlKENPUlNfRklMRSwgY29yc19vcmlnaW5zKQog
ICAgICAgIGF0b21pY193cml0ZShDT01NVU5JVFlfTU9ERV9GSUxFLCBjb21tdW5pdHlfbW9kZSkK
CiAgICAgICAgaWYgbm90IGV4aXN0aW5nX2hleDoKICAgICAgICAgICAgYXRvbWljX3dyaXRlKE9X
TkVSX0ZJTEUsIHB1YmxpY19oZXgpCiAgICAgICAgICAgIHJldHVybiBIVFRQU3RhdHVzLkFDQ0VQ
VEVELCB7CiAgICAgICAgICAgICAgICAibWVzc2FnZSI6ICJDb25maWd1cmF0aW9uIHNhdmVkLiBD
dXJyZW50IHN0YXJ0dXAgc3RhdHVzIGlzIHNob3duIGFib3ZlLiIsCiAgICAgICAgICAgICAgICAi
b3duZXJIZXgiOiBwdWJsaWNfaGV4LAogICAgICAgICAgICAgICAgIm93bmVyTnB1YiI6IG5wdWIs
CiAgICAgICAgICAgICAgICAiY29tbXVuaXR5VXJsIjogcmVsYXlfdXJsLAogICAgICAgICAgICB9
CgogICAgICAgIGlmIG5ldHdvcmtfY2hhbmdlZDoKICAgICAgICAgICAgcmVxdWVzdF9pZCA9IHV1
aWQudXVpZDQoKS5oZXgKICAgICAgICAgICAgYXRvbWljX3dyaXRlKFJFU1RBUlRfUkVRVUVTVF9G
SUxFLCByZXF1ZXN0X2lkKQogICAgICAgICAgICByZXR1cm4gSFRUUFN0YXR1cy5BQ0NFUFRFRCwg
ewogICAgICAgICAgICAgICAgIm1lc3NhZ2UiOiAiTmV0d29yayBzZXR0aW5ncyBzYXZlZC4gQ3Vy
cmVudCByZXN0YXJ0IHN0YXR1cyBpcyBzaG93biBhYm92ZS4iLAogICAgICAgICAgICAgICAgInJl
c3RhcnRSZXF1ZXN0SWQiOiByZXF1ZXN0X2lkLAogICAgICAgICAgICAgICAgIm93bmVySGV4Ijog
cHVibGljX2hleCwKICAgICAgICAgICAgICAgICJvd25lck5wdWIiOiBucHViLAogICAgICAgICAg
ICAgICAgImNvbW11bml0eVVybCI6IHJlbGF5X3VybCwKICAgICAgICAgICAgfQoKICAgICAgICBy
ZXR1cm4gSFRUUFN0YXR1cy5PSywgewogICAgICAgICAgICAibWVzc2FnZSI6ICJDb25maWd1cmF0
aW9uIGlzIGFscmVhZHkgY3VycmVudC4iLAogICAgICAgICAgICAib3duZXJIZXgiOiBwdWJsaWNf
aGV4LAogICAgICAgICAgICAib3duZXJOcHViIjogbnB1YiwKICAgICAgICAgICAgImNvbW11bml0
eVVybCI6IHJlbGF5X3VybCwKICAgICAgICB9CgoKY2xhc3MgU2V0dXBIYW5kbGVyKEJhc2VIVFRQ
UmVxdWVzdEhhbmRsZXIpOgogICAgc2VydmVyX3ZlcnNpb24gPSAiQnV6elNldHVwLzEuMCIKCiAg
ICBkZWYgbG9nX21lc3NhZ2Uoc2VsZiwgZm9ybWF0X3N0cmluZzogc3RyLCAqYXJnczogb2JqZWN0
KSAtPiBOb25lOgogICAgICAgIHByaW50KGYiW2J1enotc2V0dXBdIHtzZWxmLmFkZHJlc3Nfc3Ry
aW5nKCl9IHtmb3JtYXRfc3RyaW5nICUgYXJnc30iLCBmbHVzaD1UcnVlKQoKICAgIGRlZiBzZWN1
cml0eV9oZWFkZXJzKHNlbGYsIGNvbnRlbnRfdHlwZTogc3RyKSAtPiBOb25lOgogICAgICAgIHNl
bGYuc2VuZF9oZWFkZXIoIkNvbnRlbnQtVHlwZSIsIGNvbnRlbnRfdHlwZSkKICAgICAgICBzZWxm
LnNlbmRfaGVhZGVyKCJDYWNoZS1Db250cm9sIiwgIm5vLXN0b3JlIikKICAgICAgICBzZWxmLnNl
bmRfaGVhZGVyKCJYLUNvbnRlbnQtVHlwZS1PcHRpb25zIiwgIm5vc25pZmYiKQogICAgICAgIHNl
bGYuc2VuZF9oZWFkZXIoIlgtRnJhbWUtT3B0aW9ucyIsICJERU5ZIikKICAgICAgICBzZWxmLnNl
bmRfaGVhZGVyKCJSZWZlcnJlci1Qb2xpY3kiLCAibm8tcmVmZXJyZXIiKQogICAgICAgIHNlbGYu
c2VuZF9oZWFkZXIoCiAgICAgICAgICAgICJDb250ZW50LVNlY3VyaXR5LVBvbGljeSIsCiAgICAg
ICAgICAgICJkZWZhdWx0LXNyYyAnc2VsZic7IHNjcmlwdC1zcmMgJ3NlbGYnOyBzdHlsZS1zcmMg
J3NlbGYnOyBjb25uZWN0LXNyYyAnc2VsZic7IGZyYW1lLWFuY2VzdG9ycyAnbm9uZSc7IGJhc2Ut
dXJpICdub25lJzsgZm9ybS1hY3Rpb24gJ3NlbGYnIiwKICAgICAgICApCgogICAgZGVmIHNlbmRf
anNvbihzZWxmLCBzdGF0dXM6IGludCwgcGF5bG9hZDogZGljdFtzdHIsIG9iamVjdF0pIC0+IE5v
bmU6CiAgICAgICAgYm9keSA9IGpzb24uZHVtcHMocGF5bG9hZCwgc2VwYXJhdG9ycz0oIiwiLCAi
OiIpKS5lbmNvZGUoInV0Zi04IikKICAgICAgICBzZWxmLnNlbmRfcmVzcG9uc2Uoc3RhdHVzKQog
ICAgICAgIHNlbGYuc2VjdXJpdHlfaGVhZGVycygiYXBwbGljYXRpb24vanNvbjsgY2hhcnNldD11
dGYtOCIpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRlcigiQ29udGVudC1MZW5ndGgiLCBzdHIobGVu
KGJvZHkpKSkKICAgICAgICBzZWxmLmVuZF9oZWFkZXJzKCkKICAgICAgICBzZWxmLndmaWxlLndy
aXRlKGJvZHkpCgogICAgZGVmIGRvX0dFVChzZWxmKSAtPiBOb25lOiAgIyBub3FhOiBOODAyCiAg
ICAgICAgaWYgc2VsZi5wYXRoID09ICIvYXBpL3N0YXR1cyI6CiAgICAgICAgICAgIHNlbGYuc2Vu
ZF9qc29uKEhUVFBTdGF0dXMuT0ssIHN0YXR1c19wYXlsb2FkKCkpCiAgICAgICAgICAgIHJldHVy
bgogICAgICAgIHN0YXRpY19maWxlcyA9IHsKICAgICAgICAgICAgIi8iOiAiaW5kZXguaHRtbCIs
CiAgICAgICAgICAgICIvaW5kZXguaHRtbCI6ICJpbmRleC5odG1sIiwKICAgICAgICAgICAgIi9h
cHAuanMiOiAiYXBwLmpzIiwKICAgICAgICAgICAgIi9zdHlsZXMuY3NzIjogInN0eWxlcy5jc3Mi
LAogICAgICAgIH0KICAgICAgICBmaWxlbmFtZSA9IHN0YXRpY19maWxlcy5nZXQoc2VsZi5wYXRo
KQogICAgICAgIGlmIG5vdCBmaWxlbmFtZToKICAgICAgICAgICAgc2VsZi5zZW5kX2Vycm9yKEhU
VFBTdGF0dXMuTk9UX0ZPVU5EKQogICAgICAgICAgICByZXR1cm4KICAgICAgICBwYXRoID0gU1RB
VElDX0RJUiAvIGZpbGVuYW1lCiAgICAgICAgdHJ5OgogICAgICAgICAgICBib2R5ID0gcGF0aC5y
ZWFkX2J5dGVzKCkKICAgICAgICBleGNlcHQgRmlsZU5vdEZvdW5kRXJyb3I6CiAgICAgICAgICAg
IHNlbGYuc2VuZF9lcnJvcihIVFRQU3RhdHVzLk5PVF9GT1VORCkKICAgICAgICAgICAgcmV0dXJu
CiAgICAgICAgY29udGVudF90eXBlID0gbWltZXR5cGVzLmd1ZXNzX3R5cGUocGF0aC5uYW1lKVsw
XSBvciAiYXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtIgogICAgICAgIHNlbGYuc2VuZF9yZXNwb25z
ZShIVFRQU3RhdHVzLk9LKQogICAgICAgIHNlbGYuc2VjdXJpdHlfaGVhZGVycyhmIntjb250ZW50
X3R5cGV9OyBjaGFyc2V0PXV0Zi04IikKICAgICAgICBzZWxmLnNlbmRfaGVhZGVyKCJFVGFnIiwg
aGFzaGxpYi5zaGEyNTYoYm9keSkuaGV4ZGlnZXN0KCkpCiAgICAgICAgc2VsZi5zZW5kX2hlYWRl
cigiQ29udGVudC1MZW5ndGgiLCBzdHIobGVuKGJvZHkpKSkKICAgICAgICBzZWxmLmVuZF9oZWFk
ZXJzKCkKICAgICAgICBzZWxmLndmaWxlLndyaXRlKGJvZHkpCgogICAgZGVmIGRvX1BPU1Qoc2Vs
ZikgLT4gTm9uZTogICMgbm9xYTogTjgwMgogICAgICAgIGlmIHNlbGYuaGVhZGVycy5nZXQoIlgt
QnV6ei1TZXR1cCIpICE9ICIxIjoKICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oSFRUUFN0YXR1
cy5GT1JCSURERU4sIHsiZXJyb3IiOiAiTWlzc2luZyBsb2NhbCBzZXR1cCByZXF1ZXN0IGhlYWRl
ci4ifSkKICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgaWYgc2VsZi5oZWFkZXJzLmdldF9jb250
ZW50X3R5cGUoKSAhPSAiYXBwbGljYXRpb24vanNvbiI6CiAgICAgICAgICAgIHNlbGYuc2VuZF9q
c29uKEhUVFBTdGF0dXMuVU5TVVBQT1JURURfTUVESUFfVFlQRSwgeyJlcnJvciI6ICJVc2UgYXBw
bGljYXRpb24vanNvbi4ifSkKICAgICAgICAgICAgcmV0dXJuCiAgICAgICAgdHJ5OgogICAgICAg
ICAgICBjb250ZW50X2xlbmd0aCA9IGludChzZWxmLmhlYWRlcnMuZ2V0KCJDb250ZW50LUxlbmd0
aCIsICIwIikpCiAgICAgICAgZXhjZXB0IFZhbHVlRXJyb3I6CiAgICAgICAgICAgIGNvbnRlbnRf
bGVuZ3RoID0gMAogICAgICAgIGlmIGNvbnRlbnRfbGVuZ3RoIDw9IDAgb3IgY29udGVudF9sZW5n
dGggPiAxNjM4NDoKICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oSFRUUFN0YXR1cy5SRVFVRVNU
X0VOVElUWV9UT09fTEFSR0UsIHsiZXJyb3IiOiAiSW52YWxpZCByZXF1ZXN0IHNpemUuIn0pCiAg
ICAgICAgICAgIHJldHVybgogICAgICAgIHRyeToKICAgICAgICAgICAgcGF5bG9hZCA9IGpzb24u
bG9hZHMoc2VsZi5yZmlsZS5yZWFkKGNvbnRlbnRfbGVuZ3RoKSkKICAgICAgICAgICAgaWYgbm90
IGlzaW5zdGFuY2UocGF5bG9hZCwgZGljdCk6CiAgICAgICAgICAgICAgICByYWlzZSBJbnB1dEVy
cm9yKCJSZXF1ZXN0IGJvZHkgbXVzdCBiZSBhbiBvYmplY3QuIikKICAgICAgICAgICAgaWYgc2Vs
Zi5wYXRoID09ICIvYXBpL3ByZXZpZXcta2V5IjoKICAgICAgICAgICAgICAgIHB1YmxpY19oZXgs
IG5wdWIsIHJhd19oZXggPSBwYXJzZV9wdWJsaWNfa2V5KHBheWxvYWQuZ2V0KCJvd25lcktleSIp
KQogICAgICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24oCiAgICAgICAgICAgICAgICAgICAgSFRU
UFN0YXR1cy5PSywKICAgICAgICAgICAgICAgICAgICB7Im93bmVySGV4IjogcHVibGljX2hleCwg
Im93bmVyTnB1YiI6IG5wdWIsICJyYXdIZXgiOiByYXdfaGV4fSwKICAgICAgICAgICAgICAgICkK
ICAgICAgICAgICAgICAgIHJldHVybgogICAgICAgICAgICBpZiBzZWxmLnBhdGggPT0gIi9hcGkv
YXBwbHkiOgogICAgICAgICAgICAgICAgc3RhdHVzLCByZXNwb25zZSA9IGFwcGx5X2NvbmZpZ3Vy
YXRpb24ocGF5bG9hZCkKICAgICAgICAgICAgICAgIHNlbGYuc2VuZF9qc29uKHN0YXR1cywgcmVz
cG9uc2UpCiAgICAgICAgICAgICAgICByZXR1cm4KICAgICAgICAgICAgc2VsZi5zZW5kX2pzb24o
SFRUUFN0YXR1cy5OT1RfRk9VTkQsIHsiZXJyb3IiOiAiTm90IGZvdW5kLiJ9KQogICAgICAgIGV4
Y2VwdCAoanNvbi5KU09ORGVjb2RlRXJyb3IsIElucHV0RXJyb3IpIGFzIGV4YzoKICAgICAgICAg
ICAgc2VsZi5zZW5kX2pzb24oSFRUUFN0YXR1cy5CQURfUkVRVUVTVCwgeyJlcnJvciI6IHN0cihl
eGMpfSkKCgpkZWYgbWFpbigpIC0+IE5vbmU6CiAgICBDT05GSUdfRElSLm1rZGlyKHBhcmVudHM9
VHJ1ZSwgZXhpc3Rfb2s9VHJ1ZSkKICAgIHNlcnZlciA9IFRocmVhZGluZ0hUVFBTZXJ2ZXIoKCIw
LjAuMC4wIiwgODA4MCksIFNldHVwSGFuZGxlcikKICAgIHByaW50KCJbYnV6ei1zZXR1cF0gbGlz
dGVuaW5nIG9uIDAuMC4wLjA6ODA4MCIsIGZsdXNoPVRydWUpCiAgICBzZXJ2ZXIuc2VydmVfZm9y
ZXZlcigpCgoKaWYgX19uYW1lX18gPT0gIl9fbWFpbl9fIjoKICAgIG1haW4oKQo=
