IyEvYmluL3NoCnNldCAtZXUKCkNPTkZJR19ESVI9IiR7QlVaWl9DT05GSUdfRElSOi0vY29uZmln
fSIKUkVRVUVTVF9GSUxFPSIke0NPTkZJR19ESVJ9L3Jlc2V0LXJlcXVlc3QiCkFDS19ESVI9IiR7
Q09ORklHX0RJUn0vcmVzZXQtYWNrcyIKU1RPUkFHRV9SRUFEWV9GSUxFPSIke0FDS19ESVJ9L21p
bmlvLXN0b3JhZ2UtcmVhZHkiCk1JTklPX1JFQURZX0ZJTEU9IiR7QUNLX0RJUn0vbWluaW8tcmVh
ZHkiCklOSVRJQUxJWkVEX0ZJTEU9IiR7Q09ORklHX0RJUn0vbWluaW8taW5pdGlhbGl6ZWQiCgps
b2coKSB7CiAgcHJpbnRmICdbdW1icmVsLWJ1enotbWluaW8taW5pdF0gJXNcbicgIiQqIiA+JjIK
fQoKcmVhZF9tYXJrZXIoKSB7CiAgaWYgWyAtZiAiJDEiIF07IHRoZW4KICAgIHNlZCAtbiAnL1te
WzpzcGFjZTpdXS8geyBzL1tbOnNwYWNlOl1dLy9nOyBwOyBxOyB9JyAiJDEiCiAgZmkKfQoKd3Jp
dGVfbWFya2VyKCkgewogIGRlc3RpbmF0aW9uPSIkMSIKICB2YWx1ZT0iJDIiCiAgdGVtcG9yYXJ5
PSIke2Rlc3RpbmF0aW9ufS50bXAuJCQiCiAgcHJpbnRmICclc1xuJyAiJHZhbHVlIiA+ICIkdGVt
cG9yYXJ5IgogIG12ICIkdGVtcG9yYXJ5IiAiJGRlc3RpbmF0aW9uIgp9CgplbnN1cmVfYnVja2V0
KCkgewogIHVudGlsIG1jIGFsaWFzIHNldCBsb2NhbCBodHRwOi8vbWluaW86OTAwMCAiJEJVWlpf
UzNfQUNDRVNTX0tFWSIgIiRCVVpaX1MzX1NFQ1JFVF9LRVkiID4vZGV2L251bGwgMj4mMTsgZG8K
ICAgIHNsZWVwIDIKICBkb25lCiAgbWMgbWIgLS1pZ25vcmUtZXhpc3RpbmcgImxvY2FsLyR7QlVa
Wl9TM19CVUNLRVR9IiA+L2Rldi9udWxsCiAgbWMgYW5vbnltb3VzIHNldCBub25lICJsb2NhbC8k
e0JVWlpfUzNfQlVDS0VUfSIgPi9kZXYvbnVsbAp9Cgpta2RpciAtcCAiJEFDS19ESVIiCmVuc3Vy
ZV9idWNrZXQKd3JpdGVfbWFya2VyICIkSU5JVElBTElaRURfRklMRSIgcmVhZHkKbG9nICJNZWRp
YSBidWNrZXQgcmVhZHkiCgp3aGlsZSB0cnVlOyBkbwogIHJlcXVlc3RfaWQ9IiQocmVhZF9tYXJr
ZXIgIiRSRVFVRVNUX0ZJTEUiKSIKICBpZiBbIC1uICIkcmVxdWVzdF9pZCIgXSAmJiBbICIkKHJl
YWRfbWFya2VyICIkTUlOSU9fUkVBRFlfRklMRSIpIiAhPSAiJHJlcXVlc3RfaWQiIF07IHRoZW4K
ICAgIHdoaWxlIFsgIiQocmVhZF9tYXJrZXIgIiRTVE9SQUdFX1JFQURZX0ZJTEUiKSIgIT0gIiRy
ZXF1ZXN0X2lkIiBdOyBkbwogICAgICBpZiBbICIkKHJlYWRfbWFya2VyICIkUkVRVUVTVF9GSUxF
IikiICE9ICIkcmVxdWVzdF9pZCIgXTsgdGhlbgogICAgICAgIHJlcXVlc3RfaWQ9IiIKICAgICAg
ICBicmVhawogICAgICBmaQogICAgICBzbGVlcCAxCiAgICBkb25lCiAgICBpZiBbIC1uICIkcmVx
dWVzdF9pZCIgXTsgdGhlbgogICAgICBlbnN1cmVfYnVja2V0CiAgICAgIHdyaXRlX21hcmtlciAi
JE1JTklPX1JFQURZX0ZJTEUiICIkcmVxdWVzdF9pZCIKICAgICAgbG9nICJNZWRpYSBidWNrZXQg
cmVzZXQgJHtyZXF1ZXN0X2lkfSBjb21wbGV0ZSIKICAgIGZpCiAgZmkKICBzbGVlcCAyCmRvbmUK
